-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.modal-dialog
  .modal-content
    = form_for ([:dashboard, document]), {format: :js, remote: true, multipart: true, authenticity_token: form_authenticity_token, html: {class: "form-horizontal", role: "form"}} do |form|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only &times;
        %h4.modal-title.text-center
          = header_text
      .modal-body
        #modal_errors
        .row
          .col-md-12
            = hidden_field_tag :protocol_id, form.object.protocol.id
            .form-group
              = form.label "doc_type", t(:dashboard)[:documents][:form][:document_type], class: "col-sm-4 control-label"
              .col-sm-7
                = form.select "doc_type", options_for_select(DOCUMENT_TYPES, document.doc_type), {prompt: "Select Type"}, class: "form-control selectpicker"
            .form-group#doc_type_other_field{ display_if(document.doc_type == 'other') }
              = form.label "doc_type_other", t(:dashboard)[:documents][:form][:specify_doc_type], class: "col-sm-4 control-label"
              .col-sm-7
                = form.text_field "doc_type_other", {class: 'form-control'}
            .form-group
              = form.label "document", t(:dashboard)[:documents][:form][:document], class: "col-sm-4 control-label"
              .col-sm-7
                %p.help-block
                  = document.document_file_name
                = form.file_field "document"
            .form-group
              = form.label "org_ids", t(:dashboard)[:documents][:form][:access], class: "col-sm-4 control-label"
              .col-sm-7
                = select_tag "org_ids", document_org_access_collection(document, action), class: "form-control selectpicker", multiple: true
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:actions)[:upload]}
