-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.container-fluid.protocol-list
  .panel-group#protocol-accordion2
    - protocols.each do |protocol|
      .panel.panel-default{ class: "protocol-information-panel-#{protocol.id}" }
        .panel-heading.container-fluid.accordion-heading{ data: { parent: '#protocol-accordion2', toggle: 'collapse', target: "#collapse-#{protocol.id}", protocol_id: protocol.id } }
          .row
            .col-lg-8
              %ul.list-unstyled
                %li= "#{protocol.type.capitalize}: #{protocol.id} - #{protocol.short_title}"
                - if protocol.principal_investigators
                  %li= "PI(s): #{protocol.principal_investigators.map(&:display_name).join(', ')}"
            .col-lg-4
              %button.btn.btn-warning.protocol-archive-button.pull-right{ data: { protocol_id: protocol.id } }= "#{protocol.archived ? 'Unarchive' : 'Archive'} #{protocol.type.capitalize}"

        .panel-collapse.collapse{ id: "collapse-#{protocol.id}" }
          .panel-body
            .container-fluid{ class: "protocol-information-container-#{protocol.id}"}
.modal.fade#modal-area{ tabindex: -1, role: 'dialog', 'aria-hidden' => true }
