-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- line_items_visits = []
= javascript_include_tag 'service_calendar_logic'
= hidden_field_tag :indirect_rate, @service_request.protocol.indirect_cost_rate
%table.service_calendar{:class => "arm_id_#{arm.id}", :style => @study_tracker ? "width:917px" : ''}
  %thead.default_calendar
    %tr.table_header
      %th.services_header{:rowspan => 2}= t("calendar_page.headers.services")
      %th.unit_costs_header{:colspan => 2}= t("calendar_page.headers.unit_costs")
      - unless @portal
        %th.qty_type_header{:rowspan => 2}= t("calendar_page.headers.clinical_qty")
      %th.number_of_subjects_header{:rowspan => 2}= t("calendar_page.headers.subjects")
      %th
        -#= select_tag "jump_to_visit_#{arm.id}", select_visits(arm, @pages)
        -#= text_field_tag "jump_to_visit_#{arm.id}", nil, :class => 'jump_to_visit', :url => table_service_request_service_calendars_path(@service_request, :pages => @pages, :tab => @tab, :portal => @portal, :arm_id => arm.id), :visit_count => arm.visit_count
      %th{:colspan => 5, :height => 40, :width => 375}
        = generate_visit_navigation arm, service_request, @pages, @tab, @portal if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?)
      %th{:colspan => 2}= image_tag 'spinner.gif', :class => 'service_calendar_spinner'
    %tr.table_header
      %th.service_rate_header= t("calendar_page.headers.service_rate")
      %th.your_cost_header= t("calendar_page.headers.your_cost")
      %th &nbsp;
      - if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?)
        = generate_visit_header_row arm, service_request, @pages[arm.id].to_i, @portal
      - else
        %th{:colspan => 5} &nbsp;
      - if @portal
        %th &nbsp;
      - else
        %th= t("calendar_page.headers.total_per_patient")
        %th.total_per_study= t("calendar_page.headers.total_per_study")

  %tbody.cell-border
    - if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?)
      %tr.section_header
        %th{:colspan => @portal ? 11 : 13}= t("calendar_page.per_patient") + " -- " + arm.name
      - service_request.service_list(false).each do |key, value| # get only per patient/per visit services and group them
        - next unless @sub_service_request.nil? or @sub_service_request.organization.name == value[:process_ssr_organization_name]
        - if @tab == 'billing_strategy'
          %tr.sub_section_header
            %th{:colspan => @portal ? 3 : 6}= value[:name]
            -if @portal
              %th{:colspan => 1}
            -5.times do
              %th.billing_type_list{:style => "text-align:center"}
                %span.billing_type R
                %span.billing_type T
                %span.billing_type %
            - unless @portal
              %th &nbsp;
            %th &nbsp;
        - else
          %tr.sub_section_header
            %th{:colspan => 13}= value[:name]

        - arm.line_items_visits.each do |line_items_visit|
          - line_item = line_items_visit.line_item
          - next unless value[:line_items].include?(line_item)
          - line_items_visits << line_items_visit
          - pricing_map = line_item.service.displayed_pricing_map
          %tr.line_item{:'data-line_items_visit_id' => line_items_visit.id, :class => cycle('odd', '', :name => 'pppvs')}
            - if @portal
              - if line_item.service.is_available
                %td= select_tag "line_item_service_id", options_for_select(candidate_service_options(@candidate_per_patient_per_visit, true), line_item.try(:service).try(:id)), :'data-line_item_id' => line_item.id, :class => 'fulfillment_data fulfillment_selecter'
              - else
                %td= line_item.service.name + ' (Disabled)'
              %td.service_rate{:class => "service_rate_#{line_items_visit.id}"}= display_service_rate line_item
              - if @study_tracker
                %td.your_cost= currency_converter line_item.applicable_rate
              -else
                %td.your_cost{:style => "white-space:nowrap;overflow:hidden;"}
                  %span= "$"
                  = text_field_tag 'line_item_displayed_cost', number_with_precision(Service.cents_to_dollars(line_item.applicable_rate), :precision => 2), :'data-line_item_id' => line_item.id, :class => 'fulfillment_data fulfillment_your_cost'
            - else
              %td.service_name= line_item.service.display_service_name
              %td.service_rate{:class => "service_rate_#{line_items_visit.id}"}= display_service_rate line_item
              %td.your_cost= display_your_cost line_item
              %td.unit_type= pricing_map.unit_type
            %td.subject_count= select_tag "line_items_visit_#{line_items_visit.id}_count", options_for_select((1..arm.subject_count), line_items_visit.subject_count), :class => 'line_items_visit_subject_count', :update => "/service_requests/#{line_item.service_request_id}/service_calendars?line_items_visit=#{line_items_visit.id}&tab=template&portal=#{@portal}"
            %td= select_row line_items_visit, @tab
            - visits = line_items_visit.visits.paginate(:page => @pages[arm.id].to_i, :per_page => 5)
            - unit_minimum = pricing_map.unit_minimum
            - totals_hash = line_items_visit.try(:per_subject_subtotals, visits)
            - visits.each_with_index do |v, index|
              %td.visit{:visit_column => index + 1, :class => "visit_column_#{index + 1} arm_#{arm.id}", :'data-cents' => (totals_hash["#{v.id}"] || 0), :style => (['template', 'billing_strategy'].include?(@tab) ? "text-align:center" : '')}= line_item_visit_input arm, line_item, v, @tab, totals_hash, unit_minimum, @portal
            - (5 - visits.size).times do
              %td &nbsp;
            - if @portal
              %td= link_to(image_tag('portal/cancel.png'), 'javascript:void(0);', :'data-line_items_visit_id' => line_items_visit.id, :'data-has_popup' => "true", :class => "delete_data")
            - else
              %td.pp_line_item_total{:class => "total_#{line_items_visit.id}"}= display_visit_based_direct_cost(line_items_visit)
              %td.pp_line_item_study_total{:class => "total_#{line_items_visit.id}_per_study"}= display_visit_based_direct_cost_per_study(line_items_visit)

      - unless @portal
        %tr.totals_section.begin_totals{:class => cycle('odd', '', :name => 'pppvs')}
          %td{:colspan => 5}= t("calendar_page.labels.maximum_direct")
          %td &nbsp;
          - 5.times do |i|
            %td{:class => "visit_column_#{i + 1} max_direct_per_patient arm_#{arm.id}"}
          %td{:class => "pp_max_total_direct_cost arm_#{arm.id}"}= display_max_total_direct_cost_per_patient arm, line_items_visits

        - if USE_INDIRECT_COST
          %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.maximum_indirect")
            %td &nbsp;
            - 5.times do |i|
              %td{:class => "visit_column_#{i + 1} max_indirect_per_patient arm_#{arm.id}"}
            %td{:class => "pp_max_total_indirect_cost arm_#{arm.id}"}= display_max_total_indirect_cost_per_patient arm, line_items_visits

          %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.maximum_per")
            %td &nbsp;
            - 5.times do |i|
              %td{:class => "visit_column_#{i + 1} max_total_per_patient arm_#{arm.id}"}
            %td{:class => "pp_max_total arm_#{arm.id}"}= display_max_total_cost_per_patient arm, line_items_visits

        %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'pppvs')}
          %td{:colspan => 5}= t("calendar_page.labels.total_costs") + " -- " + arm.name
          %td &nbsp;
          %td{:colspan => 6}
          %td{:class => "pp_total arm_#{arm.id}"}= display_total_cost_per_arm arm, line_items_visits
