= hidden_field_tag :indirect_rate, @service_request.protocol.indirect_cost_rate
%table.service_calendar{:class => "arm_id_#{arm.id}", :style => @study_tracker ? "width:917px" : ''}
  %thead.ui-widget-header
    %tr.table_header
      %th.services_header{:rowspan => 2}= t("calendar_page.headers.services")
      - unless @portal 
        %th.unit_costs_header{:colspan => 2}= t("calendar_page.headers.unit_costs")
        %th.qty_type_header{:rowspan => 2}= t("calendar_page.headers.qty_type")
      %th.number_of_subjects_header{:rowspan => 2}= t("calendar_page.headers.subjects")
      %th &nbsp;
      %th{:colspan => 5, :height => 40, :width => 375} 
        = generate_visit_navigation arm, service_request, @pages, @tab, @portal if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?)
      %th{:colspan => 2}= image_tag 'spinner.gif', :class => 'service_calendar_spinner'

    %tr.table_header
      - unless @portal
        %th.service_rate_header= t("calendar_page.headers.service_rate")
        %th.your_cost_header= t("calendar_page.headers.your_cost")
      %th &nbsp;
      - if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?) 
        = generate_visit_header_row arm, service_request, @pages[arm.id].to_i
      - else
        %th{:colspan => 5} &nbsp;
      - if @portal
        %th &nbsp;
      - else
        %th= t("calendar_page.headers.total_per_patient")
        %th.total_per_study= t("calendar_page.headers.total_per_study")

  %tbody.cell-border
    - if (@sub_service_request.nil? ? service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?) 
      %tr.section_header
        %th{:colspan => @portal ? 11 : 13}= t("calendar_page.per_patient") + " -- " + arm.name
      - service_request.service_list(false).each do |key, value| # get only per patient/per visit services and group them
        - next unless @sub_service_request.nil? or @sub_service_request.organization.name == value[:process_ssr_organization_name]
        - if @tab == 'billing_strategy'
          %tr.sub_section_header
            %th{:colspan => @portal ? 3 : 6}= value[:name]
            -5.times do
              %th.billing_type_list
                %span.billing_type R
                %span.billing_type T
                %span.billing_type %
            %th &nbsp;
            %th &nbsp;
        - else
          %tr.sub_section_header
            %th{:colspan => 13}= value[:name]

        - arm.line_items_visits.each do |line_items_visit|
          - line_item = line_items_visit.line_item
          - next unless value[:line_items].include?(line_item)
          %tr.line_item{:class => cycle('odd', '', :name => 'pppvs')}
            - if @portal
              - if line_item.service.is_available
                %td= select_tag "line_item_service_id", options_for_select(candidate_service_options(@candidate_per_patient_per_visit, true), line_item.try(:service).try(:id)), :'data-line_item_id' => line_item.id, :class => 'fulfillment_data fulfillment_selecter'
              - else
                %td= line_item.service.name + ' (Disabled)'
            - else
              %td.service_name= line_item.service.display_service_name
            - unless @portal
              %td{:class => "service_rate_#{line_items_visit.id}"}= display_service_rate line_item
              %td.your_cost= display_your_cost line_item
              %td.unit_type= line_item.service.displayed_pricing_map.unit_type
            %td.subject_count= select_tag "line_items_visit_#{line_items_visit.id}_count", options_for_select((1..arm.subject_count), line_items_visit.subject_count), :class => 'line_items_visit_subject_count', :update => "/service_requests/#{line_item.service_request_id}/service_calendars?line_items_visit=#{line_items_visit.id}&tab=template&portal=#{@portal}"
            %td= select_row line_items_visit, @tab
            - visits = line_items_visit.visits.paginate(:page => @pages[arm.id].to_i, :per_page => 5)
            - unit_minimum = line_item.service.displayed_pricing_map.unit_minimum
            - totals_hash = line_items_visit.try(:per_subject_subtotals)
            - visits.each_with_index do |v, index|
              %td.visit{:visit_column => index + 1, :class => "visit_column_#{index + 1} arm_#{arm.id}", :'data-cents' => (totals_hash["#{v.id}"] || 0), :style => (@tab == 'template' ? "text-align:center" : '')}= line_item_visit_input arm, line_item, v, @tab, totals_hash, unit_minimum, @portal
            - (5 - visits.size).times do
              %td &nbsp;
            - if @portal
              %td= link_to(image_tag('portal/cancel.png'), 'javascript:void(0);', :'data-line_items_visit_id' => line_items_visit.id, :'data-has_popup' => "true", :class => "delete_data")
            - else
              %td{:class => "total_#{line_items_visit.id}"}= display_visit_based_direct_cost(line_items_visit)
              %td{:class => "total_#{line_items_visit.id}_per_study"}= display_visit_based_direct_cost_per_study(line_items_visit)
      - unless @portal
        %tr.totals_section.begin_totals{:class => cycle('odd', '', :name => 'pppvs')}
          %td{:colspan => 5}= t("calendar_page.labels.maximum_direct")
          %td &nbsp;
          - 5.times do |i|
            %td{:class => "visit_column_#{i + 1} max_direct_per_patient arm_#{arm.id}"}
          %td{:class => "pp_max_total_direct_cost arm_#{arm.id}"}= display_max_total_direct_cost_per_patient arm
        
        - if USE_INDIRECT_COST
          %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.maximum_indirect")
            %td &nbsp;
            - 5.times do |i|
              %td{:class => "visit_column_#{i + 1} max_indirect_per_patient arm_#{arm.id}"}
            %td{:class => "pp_max_total_indirect_cost arm_#{arm.id}"}= display_max_total_indirect_cost_per_patient arm

          %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.maximum_per")
            %td &nbsp;
            - 5.times do |i|
              %td{:class => "visit_column_#{i + 1} max_total_per_patient arm_#{arm.id}"}
            %td{:class => "pp_max_total arm_#{arm.id}"}= display_max_total_cost_per_patient arm

        %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'pppvs')}
          %td{:colspan => 5}= t("calendar_page.labels.total_costs") + " -- " + arm.name
          %td &nbsp;
          %td{:colspan => 6}
          %td{:class => "pp_total arm_#{arm.id}"}= display_total_cost_per_arm arm
