-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- hide_calendar = !(sub_service_request ? sub_service_request : service_request).has_per_patient_per_visit_services?

.col-12.mb-3#serviceCalendarHeader
  - if in_dashboard?
    = new_clinical_line_item_button(ssrid: sub_service_request.id, tab: tab)
    - unless hide_calendar
      = delete_clinical_line_item_button(ssrid: sub_service_request.id, tab: tab)
  - unless hide_calendar || service_request.protocol.locked?
    = new_arm_button(srid: service_request.try(:id), ssrid: sub_service_request.try(:id), tab: tab)
  - unless in_dashboard?
    .w-100.mt-3#billingLabels{ class: tab == 'billing_strategy' ? '' : 'd-none' }
      %ul.list-unstyled.mb-0
        %li.font-weight-bold
          = t('proper.service_details.legend.research')
        %li.font-weight-bold
          = t('proper.service_details.legend.third_party')
        %li.font-weight-bold
          = t('proper.service_details.legend.effort')
