-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table.service_calendar.merged_grand_totals
  %thead.default_calendar
    %tr.table_header
      %th.services_header{:rowspan => 2, :colspan => @portal ? 10 : 12, :style => "height: 88px"}= t(:calendar_page)[:headers][:total_study]

  %tbody.cell-border
    - @protocol.arms.each do |arm|
      - line_items_visits = []
      - arm.service_list.each do |key, value| # get only per patient/per visit services and group them
        - arm.line_items_visits.each do |line_items_visit|
          - line_item = line_items_visit.line_item
          - if ['first_draft', 'draft'].include?(line_item.sub_service_request.status)
            - next if @portal
            - next if line_item.service_request != @service_request
          - next unless value[:line_items].include?(line_item)
          - line_items_visits << line_items_visit

      %tr.totals_section.begin_totals{:class => cycle('odd', '', :name => 'grand')}
        %td{:colspan => 9}= t("calendar_page.labels.total_costs") + " -- " + arm.name
        %td{:class => "pp_total arm_#{arm.id}"}= display_total_cost_per_arm arm, line_items_visits

    %tr.totals_section.begin_totals{:class => cycle('odd', '', :name => 'grand')}
      %td{:colspan => 9}= t("calendar_page.labels.total_costs_other")
      %td.otf_total_direct_cost= display_protocol_total_otfs @protocol, service_request, @portal

    %tr.totals_section{:class => cycle('odd', '', :name => 'grand')}
      %td{:colspan => 9} &nbsp;
      %td

    - if USE_INDIRECT_COST
      %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'grand')}
        %td{:colspan => 9}= t("calendar_page.labels.grand_total_direct")
        %td.otf_total_direct_cost= display_study_grand_total_direct_costs @protocol, service_request

      %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'grand')}
        %td{:colspan => 9}= t("calendar_page.labels.grand_total_indirect")
        %td.otf_total_direct_cost= display_study_grand_total_indirect_costs @protocol, service_request

    %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'grand')}
      %td{:colspan => 9}= t("calendar_page.labels.grand_total")
      %td.otf_total_direct_cost= display_study_grand_total @protocol, service_request