-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-2x#consolidatedRequestModal{ role: 'document'}
  .modal-content
    .modal-header
      %h4.modal-title
        = t(:dashboard)[:service_calendars][:consolidated_request][:header]
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body#serviceCalendar
      = hidden_field_tag :srid, service_request.id, disabled: true
      .d-flex.justify-content-between.mb-1
        - if service_request.protocol.is_study? && service_request.protocol.has_clinical_services?
          = link_to dashboard_protocol_path(service_request.protocol, format: :pdf), target: :_blank, class: 'btn btn-lg btn-success' do
            = succeed t('dashboard.protocols.service_requests.cost_analysis_report') do
              = icon('fas', 'file-pdf mr-2')
        = render 'service_calendars/master_calendar/pppv/services_toggle'
      = render 'service_calendars/fields', merged: merged, consolidated: consolidated, tab: tab

      - if has_pppv = service_request.has_per_patient_per_visit_services?
        - service_request.arms.select{ |arm| arm.visit_groups.any? }.each do |arm|
          = render 'service_calendars/master_calendar/pppv/pppv_calendar', tab: tab, arm: arm, service_request: service_request, sub_service_request: sub_service_request, page: pages[arm.id], pages: pages, merged: merged, consolidated: consolidated

      - if has_otf = service_request.has_one_time_fee_services? 
        = render 'service_calendars/master_calendar/otf/otf_calendar', service_request: service_request, sub_service_request: sub_service_request, merged: merged, consolidated: consolidated

      - if has_pppv || has_otf
        = render 'service_calendars/master_calendar/merged_grand_totals', service_request: service_request
      - else
        %alert.alert-warning.mb-0
          = t(:dashboard)[:service_calendars][:consolidated_request][:services][:none]

    .modal-footer
      %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
        = t('actions.close')
