- visit_groups.each_with_index do |visit_group, index|
  %th.visit_group_box.col-sm-1
    .row.text-center
      .col-xs-4.text-center
        %span{ id: "visit-before-display-#{visit_group.id}" }= visit_group.window_before || 0
      .col-xs-4.text-center
        %span{ id: "visit-day-display-#{visit_group.id}" }= visit_group.day
      .col-xs-4.text-center
        %span{ id: "visit-after-display-#{visit_group.id}" }= visit_group.window_after || 0
    .row.visit_group_names.text-center
      .col-sm-12.text-center{ data: { visit_group_id: visit_group.id } }
        %span= visit_group.name
- (visit_groups.size...Visit.per_page).each do |index|
  %th.col-sm-1.text-center{ class: "visit_group_#{index}" }
