%table.service_calendar
  %thead.ui-widget-header
    %tr.table_header
      %th{:rowspan => 2} Services
      %th{:colspan => 2} Unit Costs
      %th{:rowspan => 2} Qty Type
      %th{:rowspan => 2} # Subjects
      %th &nbsp;
      %th{:colspan => 5} Number per Visit
      %th &nbsp;
    %tr.table_header
      %th Service Rate
      %th Your Cost
      %th &nbsp;
      %th Visit 1
      %th Visit 2
      %th Visit 3
      %th Visit 4
      %th Visit 5
      %th Total

  %tbody
    - if @service_request.has_per_patient_per_visit_services?
      %tr.section_header
        %th{:colspan => 12} Per Patient/Visit Services
      - @service_request.service_list(false).each do |key, value| # get only per patient/per visit services and group them
        %tr.sub_section_header
          %th{:colspan => 12}= value[:name]
          - value[:line_items].each do |line_item|
            %tr.line_item{:class => cycle('odd', '', :name => 'pppvs')}
              %td.service_name= line_item.service.name
              %td.service_rate $25.00
              %td.your_cost $20.00
              %td.unit_type= line_item.service.displayed_pricing_map.unit_type
              %td.subject_count= select_tag :count, options_for_select((0..@service_request.subject_count))
              %td &nbsp;
              %td.visit_1= line_item_visit_input line_item, line_item.visits.first, 'template'
              %td.visit_2= check_box_tag :thiss
              %td.visit_3= check_box_tag :thats
              %td.visit_4= check_box_tag :thisss
              %td.visit_5= check_box_tag :thatss
              %td.total $1000.00
      
      %th{:colspan => 12}
        %hr
      
      %tr.totals_section.begin_totals
        %td{:colspan => 5} Maximum Total Direct Costs Per Patient
        %td &nbsp;
        - 5.times do
          %td $0.00
        %td $2000.00
      
      %tr.totals_section
        %td{:colspan => 5} Maximum Total Indirect Costs Per Patient
        %td &nbsp;
        - 5.times do
          %td $0.00
        %td $2000.00

      %tr.totals_section
        %td{:colspan => 5} Maximum Total Per Patient
        %td &nbsp;
        - 5.times do
          %td $0.00
        %td $2000.00
      
      %tr.totals_section
        %td{:colspan => 5} Total Direct Costs (Per Patient/Visit Services) Per Study
        %td{:colspan => 6}
        %td $2000.00
      
      %tr.totals_section
        %td{:colspan => 5} Total Indirect Costs (Per Patient/Visit Services) Per Study
        %td{:colspan => 6}
        %td $2000.00
      
      %tr.totals_section
        %td{:colspan => 5} Total Costs (Per Patient/Visit Services) Per Study
        %td{:colspan => 6}
        %td $2000.00

      %th.totals_section{:colspan => 12} &nbsp;

    - if @service_request.has_one_time_fee_services?
      %tr.section_header
        %th{:colspan => 12} Other Services
      - @service_request.service_list(true).each do |key, value| # get only one time fee services and group them
        %tr.sub_section_header
          %th{:colspan => 12}= value[:name]
          - value[:line_items].each do |line_item|
            %tr.line_item{:class => cycle('odd', '', :name => 'otfs')}
              %td.service_name= line_item.service.name
              %td.service_rate $25.00
              %td.your_cost $20.00
              %td{:colspan => 8}
              %td $2000.00

      %th{:colspan => 12}
        %hr
      
      %tr.totals_section.begin_totals
        %td{:colspan => 5} Total Direct Costs (other) Per Study
        %td{:colspan => 6}
        %td $2000.00

      %tr.totals_section
        %td{:colspan => 5} Total Indirect Costs (other) Per Study
        %td{:colspan => 6}
        %td $2000.00

      %tr.totals_section
        %td{:colspan => 5} Total Costs (other) Per Study
        %td{:colspan => 6}
        %td $2000.00

      %th.totals_section{:colspan => 12} &nbsp;

    %tr.section_header
      %th{:colspan => 12} Total Study Costs

      %tr.totals_section
        %td{:colspan => 5} Grand Total: Direct Costs
        %td{:colspan => 6}
        %td $2000.00

      %tr.totals_section
        %td{:colspan => 5} Grand Total: Indirect Costs
        %td{:colspan => 6}
        %td $2000.00

      %tr.totals_section
        %td{:colspan => 5} Grand Total:
        %td{:colspan => 6}
        %td $2000.00

