#appTableToolbar
- url = documents_funding_service_path(id: service.id, table: 'application', format: :json )
%table.table-no-bordered#appCocTable{ data: {pagination: 'true', 'page-size' => 25, 'show-columns' => 'true', show-refresh' => 'true, 'show-export' => 'true', toggle: 'table', search: "true", url: url, 'sort-name' => 'srid', 'sort-order' => 'asc', toolbar: "#appTableToolbar"}}
  %thead.bg-light
    %tr
      %th{data: {class: 'srid', align: "left", sortable: "true", field: "srid"}}
        = t(:funding)[:download][:table][:srid]
      %th{data: {class: 'pi', align: "left", sortable: "true", field: "pi"}}
        = t(:funding)[:download][:table][:pi]
      %th{data: {class: 'institution', align: "left", sortable: "true", field: "institution"}}
        = t(:funding)[:download][:table][:institution]
      %th{data: {class: 'short_title', align: "left", sortable: "false", field: "short_title"}}
        = t(:funding)[:download][:table][:short_title]
      %th{data: {class: 'doc_title', align: "left", sortable: "false", field: "doc_title"}}
        = t(:funding)[:download][:table][:doc_title]
      %th{data: {class: 'uploaded', align: "left", sortable: "true", field: "uploaded", sorter: "dateSorter"}}
        = t(:funding)[:download][:table][:uploaded]
      %th{data: {class: 'status', align: "left", sortable: "true", field: "status"}}
        = t(:funding)[:download][:table][:status]
      %th{data: {class: 'actions', align: "center", sortable: "false", field: "actions"}}
        = t(:funding)[:download][:table][:actions][:label]
