-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table.table
  %tr
    %th= t(:ssr_dialog)[:calendar][:headers][:services]
    %th= t(:ssr_dialog)[:calendar][:headers][:cost]
    %th= t(:ssr_dialog)[:calendar][:headers][:subjects]
    -# %th.visits_header= generate_review_visit_navigation arm, service_request, @pages, @tab if service_request.has_per_patient_per_visit_services?
    %th= t(:ssr_dialog)[:calendar][:headers][:total]

  %tr.table_header
    = ServiceCalendar.generate_visit_header_row arm, service_request, @pages[arm.id].to_i

  %tr.section_header
    %th= t('calendar_page.per_patient') + ' -- ' + arm.name
  - service_request.service_list(false).each do |_, value| # get only per patient/per visit services and group them
    %tr.sub_section_header
      %th= value[:name]

    - arm.line_items_visits.each do |line_items_visit|
      - line_item = line_items_visit.line_item
      - next unless value[:line_items].include?(line_item)
      %tr.line_item
        %td.service_name= line_item.service.name
        %td.your_cost= display_your_cost line_item
        %td.subject_count= line_items_visit.subject_count
        - visits = line_items_visit.visits.paginate(page: @pages[arm.id].to_i, per_page: 5)
        - totals_hash = line_items_visit.try(:per_subject_subtotals, visits)
        - visits.each_with_index do |v, index|
          %td.visit{ visit_column: index + 1, class: "visit_column_#{index + 1}", data: { cents: (totals_hash["#{v.id}"] || 0) }, style: (@tab == 'template' ? 'text-align:center' : '') }= line_item_visit_input arm, line_item, v, @tab, totals_hash
        - (5 - visits.size).times do
          %td &nbsp;
        %td{ class: "total_#{line_item.id}"}= display_visit_based_direct_cost line_items_visit
