-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.milestones-panel.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:dashboard)[:protocols][:milestones][:title]
  .panel-body
    .date-details
      = form_for(protocol, url: dashboard_protocol_milestones_path(protocol), method: :patch, remote: true, html: { class: 'milestone-form' }) do |f|
        .form-group.col-lg-12
          = f.label :start_date,
            t('dashboard.protocols.milestones.start_date', type: protocol.type),
            class: 'col-lg-2 control-label required',
            data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' },
            title: t('dashboard.protocols.milestones.tooltips.start_date')
          .col-lg-10
            = text_field_tag 'start_date', nil,
              class: 'datetimepicker form-control start-date-picker',
              value: (protocol.start_date.strftime('%_m/%d/%Y') rescue nil)
            = f.hidden_field :start_date, class: 'start-date-setter'
        .form-group.col-lg-12
          = f.label :end_date,
            t('dashboard.protocols.milestones.end_date', type: protocol.type),
            class: 'col-lg-2 control-label required',
            data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' },
            title: t('dashboard.protocols.milestones.tooltips.end_date')
          .col-lg-10
            = text_field_tag 'end_date', nil,
              class: 'datetimepicker form-control end-date-picker',
              value: (protocol.end_date.strftime('%_m/%d/%Y') rescue nil)
            = f.hidden_field :end_date, class: 'end-date-setter'

        - if protocol.has_clinical_services?
          .form-group.col-lg-12#recruitment-start
            = f.label :recruitment_start_date,
              t('dashboard.protocols.milestones.recruitment_start', type: protocol.type),
              class: 'col-lg-2 control-label',
              data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' },
              title: t('dashboard.protocols.milestones.tooltips.recruitment_start_date')
            .col-lg-10
              = text_field_tag 'recruitment_start_date', nil,
                class: 'datetimepicker form-control recruitment-start-date-picker',
                value: (protocol.recruitment_start_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :recruitment_start_date, value: nil, class: 'recruitment-start-date-setter'
          .form-group.col-lg-12#recruitment-end
            = f.label :recruitment_end_date,
              t('dashboard.protocols.milestones.recruitment_end', type: protocol.type),
              class: 'col-lg-2 control-label',
              data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' },
              title: t('dashboard.protocols.milestones.tooltips.recruitment_end_date')
            .col-lg-10
              = text_field_tag 'recruitment_end_date', nil,
                class: 'datetimepicker form-control recruitment-end-date-picker',
                value: (protocol.recruitment_end_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :recruitment_end_date, value: nil,
                class: 'recruitment-end-date-setter'
        - if protocol.funding_source == 'industry'
          .form-group.col-lg-12#initial-budget-sponsor-received-date
            = f.label :initial_budget_sponsor_received_date,
              t(:proper)[:service_details][:initial_budget_sponsor_received_date],
              class: 'col-lg-2 control-label'
            .col-lg-2
              = text_field_tag 'initial_budget_sponsor_received_date', nil,
                class: 'datetimepicker form-control initial-budget-sponsor-received-date-picker',
                value: (protocol.initial_budget_sponsor_received_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :initial_budget_sponsor_received_date, value: nil,
                class: 'initial-budget-sponsor-received-date-setter'
            - if protocol.has_clinical_services?
              .initial-amount-cs.hide
                = f.label :initial_amount_clinical_services,
                  t(:proper)[:service_details][:initial_amount_clinical_services],
                  class: 'col-lg-2 control-label'
                .col-lg-2
                  .input-group
                    .input-group-addon $
                    = f.text_field :initial_amount_clinical_services, class: 'form-control', onkeydown: "validateMonetaryInput(event)", value: f.object.initial_amount_clinical_services ? "%.2f" % f.object.initial_amount_clinical_services : ""
            .initial-amount.hide
              = f.label :initial_amount,
                t(:proper)[:service_details][:initial_amount_non_clinical_services],
                class: 'col-lg-2 control-label'
              .col-lg-2
                .input-group
                  .input-group-addon $
                  = f.text_field :initial_amount, class: 'form-control', onkeydown: "validateMonetaryInput(event)", value: f.object.initial_amount ? "%.2f" % f.object.initial_amount : ""
          .form-group.col-lg-12#budget-agreed-upon-date
            = f.label :budget_agreed_upon_date,
              t(:proper)[:service_details][:budget_agreed_upon_date],
              class: 'col-lg-2 control-label'
            .col-lg-2
              = text_field_tag 'budget_agreed_upon_date', nil,
                class: 'datetimepicker form-control budget-agreed-upon-date-picker',
                value: (protocol.budget_agreed_upon_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :budget_agreed_upon_date, value: nil,
                class: 'budget-agreed-upon-setter'
            - if protocol.has_clinical_services?
              .negotiated-amount-cs.hide
                = f.label :negotiated_amount_clinical_services,
                  t(:proper)[:service_details][:negotiated_amount_clinical_services],
                  class: 'col-lg-2 control-label'
                .col-lg-2
                  .input-group
                    .input-group-addon $
                    = f.text_field :negotiated_amount_clinical_services, class: 'form-control', onkeydown: "validateMonetaryInput(event)", value: f.object.negotiated_amount_clinical_services ? "%.2f" % f.object.negotiated_amount_clinical_services : ""
            .negotiated-amount.hide
              = f.label :negotiated_amount,
                t(:proper)[:service_details][:negotiated_amount_non_clinical_services],
                class: 'col-lg-2 control-label'
              .col-lg-2
                .input-group
                  .input-group-addon $
                  = f.text_field :negotiated_amount, class: 'form-control', onkeydown: "validateMonetaryInput(event)", value: f.object.negotiated_amount ? "%.2f" % f.object.negotiated_amount : ""
