-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%main#protocolsList
  .card
    .card-header.bg-light
      .mr-auto
        %h4.mb-0
          = t('dashboard.protocols.table.header')
        .text-muted
      = link_to t('dashboard.protocols.table.export'), dashboard_protocols_path(format: :csv, filterrific: filterrific.to_hash), title: t('dashboard.protocols.table.tooltips.export'), class: 'btn btn-info mr-1', data: { toggle: 'tooltip', placement: 'left' }
      .dropdown.no-caret
        %button.btn.btn-success.dropdown-toggle#newProtocolButton{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
          = icon('fas', 'plus')
          = t('dashboard.protocols.table.new_protocol')
        .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'newProtocolButton' } }
          = link_to t('dashboard.protocols.table.new_study'), new_dashboard_protocol_path(protocol_type: 'study'), class: 'dropdown-item'
          = link_to t('dashboard.protocols.table.new_project'), new_dashboard_protocol_path(protocol_type: 'project'), class: 'dropdown-item'
    .bootstrap-table-dropdown-overflow
      %table#protocolsTable{ data: { toggle: 'table', url: dashboard_protocols_path(filterrific: filterrific.to_hash, format: :json), pagination: 'true', side_pagination: 'server', page_size: '25', sort_name: 'id', sort_order: 'desc' } }
        %thead.bg-light
          %tr
            %th.col-2{ data: { field: 'id', align: 'center', sortable: 'true' } }
              = t('dashboard.protocols.table.id')
            %th.col-4{ data: { field: 'short_title', sortable: 'true' } }
              = t('dashboard.protocols.table.short_title')
            %th.col-3{ data: { field: 'pis', sortable: 'true' } }
              = t('dashboard.protocols.table.pis')
            %th.col-2{ data: { field: 'requests', align: 'center', sortable: 'true' } }
              = t('dashboard.protocols.table.requests')
