.panel.panel-primary#summary-panel
  .panel-heading
    %h4.panel-title.pull-left
      = protocol_type + t(:dashboard)[:protocols][:summary][:header]
    .pull-right
      %button.btn.btn-sm.btn-success.notes.list{ data: { notable_type: "Protocol", notable_id: protocol.id } }
        = protocol_type + t(:dashboard)[:protocols][:summary][:notes]
        %span.badge{id: "protocol_#{protocol.id}_notes"}
          = protocol.notes.count
      %button.btn.btn-sm.btn-info.view-protocol-details-button{ data: { protocol_id: protocol.id } }
        = t(:dashboard)[:protocols][:summary][:view_details1] + protocol_type + t(:dashboard)[:protocols][:summary][:view_details2]
      = edit_protocol_button_display(protocol, permission_to_edit)
    .clearfix
  .panel-body#protocol-summary
    %dl.dl-horizontal.pull-left
      %dt #{protocol_type.capitalize} ID:
      %dd
        = protocol.try(:id)

      %dt
        = t(:dashboard)[:protocols][:summary][:title]
      %dd
        = protocol.try(:title)

      %dt
        = t(:dashboard)[:protocols][:summary][:short_title]
      %dd
        = protocol.try(:short_title)

      - if protocol_type == 'Study'
        %dt
          = t(:dashboard)[:protocols][:summary][:sponsor]
        %dd
          = protocol.try(:sponsor_name)

      %dt
        = display_funding_source_title(protocol)
      %dd
        = display_funding_source(protocol)
