-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.pl-3.w-80#protocolsList
  %main.card
    .card-header.bg-primary.text-white
      %h3.mb-0
        = t('dashboard.protocols.table.header')
    #protocolsTableToolbar
      .dropdown.no-caret
        %button.btn.btn-success.dropdown-toggle#newProtocolButton{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }<
          = icon('fas', 'plus mr-2')
          = t('dashboard.protocols.new')
        .dropdown-menu{ aria: { labelledby: 'newProtocolButton' } }
          = link_to new_dashboard_protocol_path(type: Study.name), class: 'dropdown-item' do
            = icon('fas', 'info-circle text-primary mr-1', '', title: t('protocols.tooltips.new_study'), data: { toggle: 'tooltip', placement: 'left' })
            = t('protocols.new', protocol_type: Study.model_name.human)
          = link_to new_dashboard_protocol_path(type: Project.name), class: 'dropdown-item' do
            = icon('fas', 'info-circle text-primary mr-1', '', title: t('protocols.tooltips.new_project'), data: { toggle: 'tooltip', placement: 'left' })
            = t('protocols.new', protocol_type: Project.model_name.human)
    %table.table-interactive#protocolsTable{ data: { toggle: 'table', url: dashboard_protocols_path(filterrific: filterrific.to_hash, format: :json), show_columns: 'true', show_refresh: 'true', show_export: 'true', pagination: 'true', side_pagination: 'server', page_size: '25', sort_name: 'id', sort_order: 'desc', toolbar: '#protocolsTableToolbar' } }
      %thead.bg-light
        %tr
          %th.w-10{ data: { field: 'id', align: 'center', sortable: 'true' } }
            = Protocol.human_attribute_name(:id)
          %th.w-40{ data: { field: 'short_title', sortable: 'true' } }
            = Protocol.human_attribute_name(:short_title)
          %th.w-40{ data: { field: 'pis', sortable: 'true' } }
            = Protocol.human_attribute_name(:principal_investigators)
          %th.w-10{ data: { field: 'requests', align: 'center', sortable: 'true' } }
            = Protocol.human_attribute_name(:requests)
