-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- line_items = Dashboard::ServiceCalendars.otf_line_items_to_display(service_request, sub_service_request, merged: merged, consolidated: consolidated, show_draft: @show_draft)

- if line_items.empty? && merged 
  %tr
    %td.alert-warning.text-center{ colspan: 11 }
      = t('calendars.no_line_items')

- line_items.each do |ssr, line_items|
  - complete      = ssr.is_complete? && !in_admin?
  - locked        = ssr.is_locked? && !in_admin?
  - editable      = !(complete || locked)
  - text_context  = complete ? 'success' : locked ? 'danger' : ''
  - bg_context    = complete ? 'success' : locked ? 'danger' : 'primary'

  -# SSR Header Row
  %tr{ class: "alert-#{bg_context}" }
    %th{ colspan: 11 }
      = display_org_name(line_items[0].service.organization_hierarchy, ssr, locked, complete)

  -# Line Items
  - line_items.each do |line_item|
    %tr{ class: ["line-item-#{line_item.id}", "text-#{text_context}"] }
      %td.service-name{ colspan: 2, title: calendar_service(line_item), data: { toggle: 'tooltip', html: 'true' } }
        = calendar_service(line_item)
      %td.notes.editable.text-center{ title: "#{Service.model_name.human} #{Note.model_name.plural.capitalize}", data: { toggle: 'tooltip' } }
        = notes_button(line_item, srid: service_request.id, disabled: !editable)
      %td.status.text-center{ title: PermissibleValue.get_value('status', ssr.status), data: { toggle: 'tooltip' } }
        = PermissibleValue.get_value('status', ssr.status)
      %td.service-rate.text-center{ title: display_service_rate(line_item), data: { toggle: 'tooltip' } }
        = display_service_rate(line_item)
      = render 'service_calendars/displayed_cost', service_request: service_request, sub_service_request: sub_service_request, line_item: line_item, merged: merged
      - if line_item.otf_unit_type == 'N/A'
        %td.unit-type.text-center{ colspan: 2, title: line_item.otf_unit_type, data: { toggle: 'tooltip' } }
          = line_item.otf_unit_type
      - else
        = render 'service_calendars/units_per_quantity', line_item: line_item, service_request: service_request, editable: editable, merged: merged
        %td.unit-type.text-center{ title: line_item.otf_unit_type, data: { toggle: 'tooltip' } }
          = line_item.otf_unit_type

      = render 'service_calendars/quantity', line_item: line_item, service_request: service_request, editable: editable, merged: merged

      %td.quantity-type.text-center{ title: line_item.quantity_type, data: { toggle: 'tooltip' } }
        = line_item.quantity_type

      = render 'service_calendars/master_calendar/otf/total_per_study', line_item: line_item

- unless in_review?
  = render 'service_calendars/master_calendar/otf/totals/otf_totals', service_request: service_request
