-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.catalog-calendar{ class: Setting.get_value('use_news_feed') ? 'col-sm-6' : 'col-sm-12' }
  .panel.panel-info
    .panel-heading
      %h1.panel-title
        %span.glyphicon.glyphicon-calendar
        = t(:proper)[:catalog][:center][:calendar][:header]
    .panel-body
      - if @events.empty?
        = t(:proper)[:catalog][:center][:calendar][:none]
      - @events.first(Setting.get_value("calendar_event_limit")).each_with_index do |event, index|
        .calendar-event.col-sm-12.no-padding-x
          .event-date-container.no-padding{ class: Setting.get_value('use_news_feed') ? 'col-sm-3' : 'col-sm-2' }
            .event-date.bg-primary.text-center
              %span.month
                %strong
                  = event[:month]
              %span.day
                %strong
                  = event[:day]
          .event-details-container{ class: Setting.get_value('use_news_feed') ? 'col-sm-9' : 'col-sm-10' }
            .event-details
              %span.event-title
                %strong
                  = event[:title]
              %small.event-time
                %em
                  - if event[:all_day]
                    = t(:proper)[:catalog][:center][:calendar][:all_day]
                  - else
                    = [event[:start_time], event[:end_time]].join(' - ')
                  = " - #{event[:where]}" unless event[:where].blank?
              .collapse.event-description{ id: "event#{index}Description" }
                %small
                  = raw event[:description]
            .expand-event
              %small
                = link_to t(:constants)[:show], "#event#{index}Description", class: 'collapsed', alt: t(:constants)[:hide], data: { toggle: 'collapse' }, aria: { expanded: 'false', controls: "event#{index}Description" }
