-# Copyright © 2011-2017 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.catalog-calendar{ class: USE_NEWS_FEED ? 'col-sm-6' : 'col-sm-12' }
  .panel.panel-info
    .panel-heading
      %h1.panel-title
        = t(:proper)[:catalog][:center][:calendar][:header]
    .panel-body
      - if @events.empty?
        = t(:proper)[:catalog][:center][:calendar][:none]
      - @events.each do |event|
        .calendar-event
          %strong.date.col-sm-3.bg-primary.text-center
            = event[:month]
            .day
              = event[:day]
          .location.col-sm-9
            %strong.title.col-sm-12
              = event[:title]
            %em.time.col-sm-12
              - if event[:all_day]
                = t(:proper)[:catalog][:center][:calendar][:all_day]
              - else
                = [event[:start_time], event[:end_time]].join(' - ')
              = " - #{event[:where]}" unless event[:where].blank?
