.line-items
  = hidden_field_tag :line_item_count, @line_items.size
  = hidden_field_tag :user_portal_link, USER_PORTAL_LINK
  - @line_items.each do |line_item|
    .line_item{:class => cycle('', 'odd')}
      %div= line_item.service.display_service_abbreviation
      = link_to(image_tag('cancel.png'), 'javascript:void(0);', :class => 'remove-button', :id => "line_item-#{line_item.id}", :sr_id => "#{@service_request.id}", :ssr_id => "#{@sub_service_request.nil? ? '' : @sub_service_request.id}") if line_item.optional?
