- if organization
  .provider-details-view
    .provider-name{:class => css_class(organization)}= organization.name
    .provider-description.description.ui-widget.ui-widget-content.ui-corner-all= organization.description

  - if organization.type == "Program"
    - unless organization.services.empty?
      .program-services
        - organization.services.order('`order`').each do |service|
          = display_service_in_catalog service, service_request
    %br
    - unless organization.cores.empty?
      .core-accordion
        - organization.cores.order('`order`').each do |core|
          %h3{:class => "#{css_class(organization)} core-tab"}
            = link_to core.name, "#"
          .core_view
            - core.services.order('`order`').each do |service|
              = display_service_in_catalog service, service_request

- else
  %h1= t(:rails_root)[:welcome]
  .section
    = t(:rails_root)[:message1]
  .section
    = t(:rails_root)[:message4]
    %br
    %br
    %br
  .section
    %strong= t(:rails_root)[:message9]
    = link_to(t(:rails_root)[:message9link], t(:rails_root)[:message9link])
    %br
    %strong= t(:rails_root)[:message10]
    = link_to(t(:rails_root)[:message10link], t(:rails_root)[:message10link])

    #red_description.section
    #blue_description.section 

