- if organization
  .provider-details-view
    .provider-name{:class => css_class(organization)}= organization.name
    .provider-description.description.ui-widget.ui-widget-content.ui-corner-all= organization.description

  - if organization.type == "Program"
    - if organization.cores.empty?
      .program-services
        - organization.services.order('`order`').each do |service|
          = render :partial => 'service', :locals => {:service => service, :service_request => service_request}
    - else
      .core-accordion
        - organization.cores.order('`order`').each do |core|
          %h3{:class => css_class(organization)}
            = link_to core.name, "#"
          .core_view
            - core.services.order('`order`').each do |service|
              = render :partial => 'service', :locals => {:service => service, :service_request => service_request}


- else
  %h1 Welcome to the SPARC Services Catalog
  .section
    Please browse through the SPARC Services Catalog to view all available SPARC services.  Service providers are located on the left-hand side of the page.
    Click on a provider to see available services.
  .section
    Click "Add Services" at the bottom of any service description to add it to your "My Services."
  .section
    To delete a service from "My Services," use the red X beside any service.
  .section
    ** Please Note: You may only select services applicable to ONE research study/project at a time.  Should you need to select services for multiple studies/projects you need to submit multiple "Requests."
    %br
    %br
    %br
    %br
    #blue_description.section 
      Please note that any studies/projects previously entered into SCTR SPARK (sctr.musc.edu/spark) have been migrated to the new SPARC system and are available on your new SPARC User Dashboard. To access, please visit
      = link_to portal_link, portal_link
      \.
      %span Any service requests previously entered into SPARK have been archived and will continue to be fulfilled by SCTR staff as approved. You may continue to request new services under any existing study/project through SPARC.
