-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_for note, remote: true, html: { class: '' } do |f|
  - if @service_request
    = hidden_field_tag :srid, @service_request.id
  - if @sub_service_request
    = hidden_field_tag :ssrid, @sub_service_request.id
  - if @protocol
    = hidden_field_tag :protocol_id, @protocol.id
  .form-group
    = f.text_area :body, class: 'form-control', rows: 3, placeholder: t('notes.placeholder')
  .d-flex.justify-content-between.align-items-center
    = note_date(note)
    %div<
      %button.btn.btn-xs.btn-primary.mb-0.mr-1{ type: 'submit', title: t('notes.update'), data: { toggle: 'tooltip' } }
        = icon('fas', 'check')
      = link_to icon('fas', 'times'), notes_path(note: { notable_id: notable.id, notable_type: notable.class.name }, protocol_id: @protocol.try(:id), srid: @service_request.try(:id), ssrid: @sub_service_request.try(:id)), remote: true, class: 'btn btn-xs btn-secondary', title: t('actions.cancel'), data: { toggle: 'tooltip' }
