-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-lg#note-form-modal
  .modal-content
    = form_for note, remote: true, html: { class: 'form', role: 'form' } do |f|
      - if params[:cancel]
        = hidden_field_tag :cancel, params[:cancel]
      - if params[:review]
        = hidden_field_tag :review, params[:review]
      = f.hidden_field :notable_id
      = f.hidden_field :notable_type
      = f.hidden_field :identity_id
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ aria: { hidden:'true' } } &times;
        %h4.modal-title.text-center
          = note_header(note.notable)
      .modal-body
        #modal_errors
        .form-group.row
          = f.label :body, t(:notes)[:form_fields][:note], class: 'col-sm-3 control-label text-right'
          .col-sm-6
            = f.text_area :body, { class: 'form-control', rows: 6 }
      .modal-footer
        - if params[:cancel]
          = link_to t(:actions)[:cancel], notes_path(note: { notable_id: notable_id, notable_type: notable_type }), remote: true, class: 'btn btn-default'
        - else
          %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
            = t(:actions)[:close]
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
