-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-lg{ role: 'document' }
  .modal-content
    .modal-header
      %h3.modal-title
        = note_header(notable)
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body
      - notes.order(updated_at: :desc).each do |note|
        .card-callout.callout-warning.callout-condensed{ id: "note#{note.id}" }
          .card-body.d-flex
            .justify-content-start.pr-2
              %h5.mb-0
                = icon('far', 'sticky-note text-warning')
            .flex-fill
              %h5.card-title.d-flex.text-dark.mb-2
                = note.identity.full_name
                .ml-auto<
                  - if note.identity == current_user && !disabled
                    = edit_note_button(note, srid: @service_request.try(:id), ssrid: @sub_service_request.try(:id), protocol_id: @protocol.try(:id))
                    = delete_note_button(note, srid: @service_request.try(:id), ssrid: @sub_service_request.try(:id), protocol_id: @protocol.try(:id))
              .note-body.text-break
                = simple_format(note.body)
                = note_date(note)
      - if notes.empty?
        .alert.alert-warning.mb-0
          = t('notes.none', notable_type: notable.try(:friendly_notable_type) || notable.model_name.human)
    .modal-footer
      - if disabled
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t('actions.close')
      - else
        = form_for note, remote: true, html: { class: 'w-100' } do |f|
          - if @service_request
            = hidden_field_tag :srid, @service_request.id
          - if @sub_service_request
            = hidden_field_tag :ssrid, @sub_service_request.id
          - if @protocol
            = hidden_field_tag :protocol_id, @protocol.id
          = f.hidden_field :notable_id
          = f.hidden_field :notable_type
          = f.hidden_field :identity_id
          .form-group
            = f.text_area :body, class: 'form-control', rows: 3, placeholder: t('notes.placeholder')
          .text-right
            - if notable.is_a?(Fulfillment)
              = link_to t('actions.back'), dashboard_fulfillments_path(line_item_id: notable.line_item_id, ssrid: @sub_service_request.id), remote: true, class: 'btn btn-secondary'
            - else
              %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
                = t('actions.close')
            = f.submit t('notes.add'), class: 'btn btn-primary'
