-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= fields_for sub_service_request do |f|
  .form-row
    .form-group.col-3
      .custom-control.custom-checkbox.custom-control-lg.custom-control-inline<>
        = f.check_box :nursing_nutrition_approved, { class: 'custom-control-input approval-check', disabled: sub_service_request.nursing_nutrition_approved? }
        = f.label :nursing_nutrition_approved, class: 'custom-control-label'
    .form-group.col-3
      .custom-control.custom-checkbox.custom-control-lg.custom-control-inline<>
        = f.check_box :lab_approved, { class: 'custom-control-input approval-check', disabled: sub_service_request.lab_approved? }
        = f.label :lab_approved, class: 'custom-control-label'
    .form-group.col-3
      .custom-control.custom-checkbox.custom-control-lg.custom-control-inline<>
        = f.check_box :imaging_approved, { class: 'custom-control-input approval-check', disabled: sub_service_request.imaging_approved? }
        = f.label :imaging_approved, class: 'custom-control-label'
    .form-group.col-3
      .custom-control.custom-checkbox.custom-control-lg.custom-control-inline.mr-0<>
        = f.check_box :committee_approved, { class: 'custom-control-input approval-check', disabled: sub_service_request.committee_approved? }
        = f.label :committee_approved, class: 'custom-control-label'