-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- unless @review
  - if @merged #display merged calendar otf totals
    %tr.totals_section.grand-totals{ class: cycle('odd', '', :name => 'otfs') }
      %td{ colspan: 3 }
        %strong= t(:calendar_page)[:labels][:total_costs_other]
      %td{ colspan: (@portal or @study_tracker) ? 6 : 9 }
      %td.otf_total_direct_cost= display_protocol_total_otfs @protocol, current_request, @portal


  - elsif @review #display review calendar otf totals
    %tr.section_header
      %tr.totals_section
        %td{ colspan: 7 }
        %td.total_cell
          %strong= t(:calendar_page)[:labels][:direct_cost]
        %td.total_cell{:id => 'grand_total_direct'}= display_grand_total_direct_costs @service_request, @line_items

      - if USE_INDIRECT_COST
        %tr.totals_section
          %td{ colspan: 7 }
          %td.total_cell
            %strong= t(:calendar_page)[:labels][:indirect_cost]
          %td.total_cell{:id => 'grand_total_indirect'}= display_grand_total_indirect_costs @service_request, @line_items

      %tr.totals_section
        %td{ colspan: 7 }
        %td.total_cell
          %strong= t(:calendar_page)[:labels][:grand_total]
        %td.total_cell{:id => 'grand_total'}= display_grand_total @service_request, @line_items


  - else #display default calendar otf totals
    %tr.totals_section.begin_totals{ class: cycle('odd', '', :name => 'otfs') }
      %td{ colspan: 5 }
        %strong= t(:calendar_page)[:labels][:total_direct_other]
      %td{ colspan: 7 }
      %td.otf_total_direct_cost= display_total_direct_cost_per_study_otfs @service_request, (@line_items.nil? ? @service_request.line_items : @line_items)
      - if @study_tracker
        %td
