-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only &times;
      %h4#line_item.modal-title.text-center
        = t(:dashboard)[:approvals][:header]
    .modal-body
      #modal_errors
      .row
        .col-sm-12
          .form-group.approval
            = label_tag "nursing_nutrition_approved", t(:dashboard)[:approvals][:nursing], class: "col-sm-10 control-label"
            .col-sm-2
              = check_box_tag "nursing_nutrition_approved", true, sub_service_request.nursing_nutrition_approved, :'data-sub_service_request_id' => sub_service_request.id, :class => 'admin_approval_checkbox form-control', :disabled => sub_service_request.nursing_nutrition_approved?
          .form-group.approval
            = label_tag "lab_approved", t(:dashboard)[:approvals][:lab], class: "col-sm-10 control-label"
            .col-sm-2
              = check_box_tag "lab_approved", true, sub_service_request.lab_approved, :'data-sub_service_request_id' => sub_service_request.id, :class => 'admin_approval_checkbox form-control', :disabled => sub_service_request.lab_approved?
          .form-group.approval
            = label_tag "imaging_approved", t(:dashboard)[:approvals][:imaging], class: "col-sm-10 control-label"
            .col-sm-2
              = check_box_tag "imaging_approved", true, sub_service_request.imaging_approved, :'data-sub_service_request_id' => sub_service_request.id, :class => 'admin_approval_checkbox form-control', :disabled => sub_service_request.imaging_approved?
          .form-group.approval
            = label_tag "committee_approved", t(:dashboard)[:approvals][:committee], class: "col-sm-10 control-label"
            .col-sm-2
              = check_box_tag "committee_approved", true, sub_service_request.committee_approved, :'data-sub_service_request_id' => sub_service_request.id, :class => 'admin_approval_checkbox form-control', :disabled => sub_service_request.committee_approved?
    .modal-footer
      .center-block
        %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
          = t(:actions)[:close]
