-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if subsidy.present?
  .panel.panel-default
    .panel-heading
      %h4.panel-title.pull-left
        = t(:dashboard)[:subsidies][:subsidy_information][:approved][:header]
      .pull-right
        %button.btn.btn-sm.btn-success.notes.list{data: { notable_type: "Subsidy", notable_id: subsidy.id }}
          = t(:models)[:note][:plural]
          %span.badge{id: "subsidy_#{subsidy.id}_notes"}
            = subsidy.notes.count
      .clearfix
    %table.table.table-condensed#approved_subsidy_table
      %thead
        %tr.default
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:request_cost]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:percent]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:pi_contribution]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:cost]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:approved_by]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:approved][:approved_at]
          - if admin
            %th.text-center
              = t(:actions)[:delete]
      %tbody
        %tr
          %td.request_cost
            = number_to_currency(subsidy.total_at_approval/100.0)
          %td.subsidy_percent
            = display_as_percent(subsidy.percent_subsidy)
          %td.subsidy_contribution
            = number_to_currency(subsidy.pi_contribution/100.0)
          %td.subsidy_effective_current_cost
            = number_to_currency(subsidy.approved_cost)
          %td.approved_by
            = subsidy.approver.try(:full_name)
          %td.approved_at
            = format_datetime(subsidy.approved_at)
          - if admin
            %td.text-center.delete_subsidy
              %button.btn.btn-sm.btn-danger.delete_subsidy_button{data: { subsidy_id: subsidy.id }}
                %span.glyphicon.glyphicon-remove
- else
  %span
    = t(:dashboard)[:subsidies][:subsidy_information][:approved][:none]
  %hr
