-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if subsidy.present?
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        = t(:dashboard)[:subsidies][:subsidy_information][:pending][:header]
    %table.table.table-condensed#pending_subsidy_table
      %thead
        %tr.default
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:pending][:request_cost]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:pending][:percent]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:pending][:pi_contribution]
          %th
            = t(:dashboard)[:subsidies][:subsidy_information][:pending][:cost]
          - if admin
            %th.text-center
              = t(:dashboard)[:subsidies][:subsidy_information][:pending][:approve]
          %th.text-center
            = t(:actions)[:edit]
          - if admin
            %th.text-center
              = t(:actions)[:delete]
      %tbody
        %tr
          %td.request_cost
            = number_to_currency(subsidy.total_request_cost/100.0)
          %td.subsidy_percent
            = display_as_percent(subsidy.percent_subsidy)
          %td.subsidy_contribution
            = number_to_currency(subsidy.pi_contribution/100.0)
          %td.subsidy_effective_current_cost
            = number_to_currency(subsidy.current_cost)
          - if admin
            %td.text-center.approve_subsidy
              %button.btn.btn-sm.btn-success#approve_subsidy_button{data: { subsidy_id: subsidy.id }}
                %span.glyphicon.glyphicon-ok
          %td.text-center.edit_subsidy
            .btn.btn-warning.btn-sm#edit_subsidy_button{data: { subsidy_id: subsidy.id, admin: admin.to_s }}
              %span.glyphicon.glyphicon-edit
          - if admin
            %td.text-center.delete_subsidy
              %button.btn.btn-sm.btn-danger.delete_subsidy_button{data: { subsidy_id: subsidy.id }}
                %span.glyphicon.glyphicon-remove
- else
  .col-xs-12
    %button.btn.btn-sm.btn-success#add_subsidy_button{data: { sub_service_request_id: sub_service_request.id, admin: admin.to_s }}
      %span
        = t(:dashboard)[:subsidies][:subsidy_information][:add]