:javascript
  $(document).ready( function() {
    Sparc.admin.ready();
  });

.admin-right-dashboard
  .user-information-title.ui-corner-all
    %h3= t(:admin_root)[:title]
  .user-information-body.ui-corner-bottom
    %p
      %strong= @user.display_name
      .admin-buttons
        = link_to root_path do
          = image_tag 'portal/create_new_request.png', :class => 'create_new_request'
        = link_to "Billing Report", billing_report_setup_portal_admin_index_path

= render :partial => 'ssr_list'
