:javascript
  $(document).ready( function() {
    Sparc.admin.ready();
  });

.admin-right-dashboard
  .user-information-body
    %p
      = @user.full_name
      |
      = @user.email
    .admin-buttons
      = link_to "Create A Request", root_path, :class => 'create_new_request header_button'
      - if @user.is_super_user?
        = link_to "Reporting", reports_path, :class => 'reporting header_button'

= render :partial => 'ssr_list'
