-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if Setting.get_value("use_shibboleth_only")
  %h4
    = t(:devise)[:registrations][:not_allowed]
- else
  #sign-up-form
    = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
      - if service_request
        = hidden_field_tag :srid, service_request.id
      - if resource.errors.any?
        = render 'shared/modal_errors', errors: resource.errors
      .form-group.field
        = f.label :last_name, t(:devise)[:registrations][:last_name], class: 'col-sm-3 required'
        .col-sm-9
          = f.text_field :last_name, class: 'form-control'
      .form-group.field
        = f.label :first_name, t(:devise)[:registrations][:first_name], class: 'col-sm-3 required'
        .col-sm-9
          = f.text_field :first_name, class: 'form-control'
      .form-group.field
        = f.label :company, t(:devise)[:registrations][:company], class: 'col-sm-3'
        .col-sm-9
          = f.text_field :company, class: 'form-control'
      .form-group.field
        = f.label :email, t(:devise)[:registrations][:email], class: 'col-sm-3 required'
        .col-sm-9
          = f.text_field :email, class: 'form-control'
      .form-group.field
        = f.label :phone, t(:devise)[:registrations][:phone], class: 'col-sm-3'
        .col-sm-9
          = f.text_field :phone, class: 'form-control'
      .form-group.field
        = f.label :ldap_uid, t(:devise)[:registrations][:login], class: 'col-sm-3 required'
        .col-sm-9
          = f.text_field :ldap_uid, class: 'form-control'
      .form-group.field
        = f.label :password, t(:devise)[:registrations][:password], class: 'col-sm-3 required'
        .col-sm-9
          = f.password_field :password, class: 'form-control'
      .form-group.field
        = f.label :password_confirmation, t(:devise)[:registrations][:confirmation], class: 'col-sm-3 required'
        .col-sm-9
          = f.password_field :password_confirmation, class: 'form-control'
      .form-group.field.last
        = f.label :reason, t(:devise)[:registrations][:reason], class: 'col-sm-3'
        .col-sm-9
          = f.text_area :reason, class: 'form-control', rows: 5
      .form-group
        = f.submit t(:devise)[:registrations][:submit], class: 'btn btn-primary'
        = link_to t(:actions)[:cancel], new_identity_session_path, class: 'btn btn-primary'
