.edit-user-view
  .devise_form#new

    .description= t :signup_message

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| 
      = devise_error_messages!

      %br
      .grid_7.box
        .info
          .field
            = f.label(:last_name, t(:signup_lname))
            = f.text_field :last_name

          .field
            = f.label(:first_name, t(:signup_fname))
            = f.text_field :first_name

          .field
            = f.label(:company, t(:signup_company))
            = f.text_field :company

          .field
            = f.label(:email, t(:signup_mail))
            = f.text_field :email

          .field
            = f.label(:phone, t(:signup_phone))
            = f.text_field :phone

          .field
            = f.label(:ldap_uid, t(:login_name))
            = f.text_field :ldap_uid
          
          .field
            = f.label(:password, t(:login_password))
            = f.password_field :password
          
          .field
            = f.label(:password_confirmation, t(:signup_confirm))
            = f.password_field :password_confirmation

          .field
            = f.label(:reason, t(:signup_reason))
            = f.text_area :reason

          .create_user#button
            = f.submit "Create New User", {:class => 'btn ui-button ui-widget ui-state-default ui-corner-all'}
          .clear
      .links.grid_7
        = render "devise/shared/links"
