%p= "Dear #{@user.identity.try(:full_name)},"
%p
  Authorized Users have been edited or added in
  = link_to('SPARC', SPARC_RAILS_URL)
  for your
  = @protocol.try(:type).try(:humanize)
  listed below.
%p
  To VIEW and/or MAKE any changes to this request,
  / Development:
  / %strong= link_to 'please click here.', root_url(:host => "localhost:3000", :default_protocol => @protocol.id)
  / Staging:
  %strong= link_to 'please click here.', root_url(:host => @portal_host, :default_protocol => @protocol.id)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %td{:colspan => 2, :style => 'border: 1px solid #000'}
        %strong Protocol Information
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong Protocol ID:
      %td{:style => 'border: 1px solid #000'}= @protocol.id
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong Short Title:
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:short_title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong Project Title:
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong Sponsor Name
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:sponsor_name)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= @protocol.funding_status == "funded" ? "Funding Source:" : "Potential Funding Source:"
      %td{:style => 'border: 1px solid #000'}= @protocol.funding_status == "funded" ? @protocol.try(:funding_source) : @protocol.try(:potential_funding_source)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %th{:colspan => 3, :style => 'border: 1px solid #000'}
        %strong User Information:
    %tr
      %th{:style => 'border: 1px solid #000'}
        %strong Name:
      %th{:style => 'border: 1px solid #000'}
        %strong Role:
      %th{:style => 'border: 1px solid #000'}
        %strong Proxy Rights
    - @protocol.project_roles.each do |user|
      %tr
        %td{:style => 'border: 1px solid #000'}= user.identity.try(:full_name)
        %td{:style => 'border: 1px solid #000; text-align: center'}= USER_ROLES.detect{|k,v| v == user.role}.try(:first)
        %td{:style => 'border: 1px solid #000; text-align: center'}= user.try(:display_rights)
