-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- line_items_visits = []
- Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: merged, statuses_hidden: statuses_hidden).each do |sub_service_request_id, livs|
  - line_items_visits << livs
  - ssr    = SubServiceRequest.find(sub_service_request_id)
  - locked = !ssr.can_be_edited? && !admin

  -# SSR Header Row
  %tr.organization-header{ class: locked ? 'text-danger' : '' }
    %th{ colspan: 15 }
      = display_org_name(Dashboard::ServiceCalendars.display_organization_hierarchy(livs[0]), ssr, locked)

  -# Line Items Visits
  - livs.each do |liv|
    %tr.pppv-line-item-row{ class: locked ? 'bg-danger text-danger' : '' }
      %td.service-name{ colspan: 2 }
        = liv.service.display_service_name
        - unless liv.service.is_available
          = inactive_tag
      %td.notes.text-center.notes-width
        = display_liv_notes(liv, @portal)
      %td.status.text-center.status-width
        = AVAILABLE_STATUSES[ssr.status]
      %td.service-rate.text-center.sm-col-width
        = display_service_rate(liv.line_item)
      %td.your-cost.text-center.sm-col-width
        = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"
      %td.unit-type.text-center.unit-type-width
        = display_unit_type(liv)
      %td.subject-count.text-center.xs-col-width
        = liv.subject_count
      - visits      = liv.ordered_visits.paginate(page: page.to_i, per_page: Visit.per_page)
      - totals_hash = liv.try(:per_subject_subtotals, visits)
      - visits.each_with_index do |v, index|
        %td.text-center.visit.visit-width{ class: "visit-#{v.id}" }
          = render "service_calendars/master_calendar/pppv/#{tab}/#{tab}_visit_input", visit: v, totals_hash: totals_hash
      - (Visit.per_page - visits.size).times do
        %td.visit-width &nbsp;
      %td.text-center.pppv-per-patient-line-item-total.total-width
        %strong
          = display_visit_based_direct_cost(liv)
      %td.text-center.pppv-per-study-line-item-total.total-width
        %strong
          = Dashboard::ServiceCalendars.display_visit_based_direct_cost_per_study(liv)

- unless review or portal
  = render 'service_calendars/master_calendar/pppv/totals/pppv_totals', service_request: service_request, arm: arm, tab: tab, line_items_visits: line_items_visits.flatten, page: page
