-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- line_items_visits = []
- Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: merged, statuses_hidden: statuses_hidden, display_all_services: display_all_services).each do |ssr, livs|
  - line_items_visits << livs
  - locked = !ssr.can_be_edited? && !admin

  -# SSR Header Row
  %tr.organization-header{ class: locked ? 'text-danger' : '' }
    %th{ colspan: 15 }
      = display_org_name(livs[0].line_item.service.organization_hierarchy, ssr, locked)

  -# Line Items Visits
  - livs.each do |liv|
    %tr.pppv-line-item-row{ class: locked ? 'bg-danger text-danger' : '' }
      %td.service-name{ colspan: 2 }
        = liv.line_item.service.display_service_name
        - unless liv.line_item.service.is_available
          = inactive_tag
      %td.notes.text-center.notes-width
        = notes_button(liv)
      %td.status.text-center.status-width
        = PermissibleValue.get_value('status', ssr.status)
      %td.service-rate.text-center.sm-col-width
        = display_service_rate(liv.line_item)
      %td.text-center.sm-col-width
        - if portal && (tab != 'calendar')
          %a.edit-your-cost{ href: 'javascript:void(0)', data: { name: 'displayed_cost', title: liv.line_item.admin_rates.present? ? t(:dashboard)[:study_level_activities][:tooltips][:modified_rate] : t(:dashboard)[:study_level_activities][:tooltips][:change_rate], value: number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2), id: liv.line_item.id, url: dashboard_line_item_path(liv.line_item) }, class: (liv.line_item.admin_rates.present? ? 'text-danger' : '') }
        - else
          - if liv.line_item.admin_rates.present?
            %span.text-danger{data: {toggle: 'tooltip', title: t(:dashboard)[:study_level_activities][:tooltips][:modified_rate]}}
              = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"
          - else
            = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"
      %td.unit-type.text-center.unit-type-width
        = display_unit_type(liv)
      %td.subject-count.text-center.xs-col-width
        = liv.subject_count
      - visits      = liv.ordered_visits.page(page).eager_load(line_items_visit: { line_item: [:admin_rates, service_request: :protocol, service: [:pricing_maps, organization: [:pricing_setups, parent: [:pricing_setups, parent: [:pricing_setups, :parent]]]]] })
      - visits.each do |v|
        %td.text-center.visit.visit-width{ class: "visit-#{v.id}" }
          = render "service_calendars/master_calendar/pppv/#{tab}/#{tab}_visit_input", visit: v
      - (Visit.per_page - visits.size).times do
        %td.visit-width &nbsp;
      %td.text-center.pppv-per-patient-line-item-total.total-width
        %strong
          = display_visit_based_direct_cost(liv)
      %td.text-center.pppv-per-study-line-item-total.total-width
        %strong
          = Dashboard::ServiceCalendars.display_visit_based_direct_cost_per_study(liv)

- unless review or portal
  = render 'service_calendars/master_calendar/pppv/totals/pppv_totals', service_request: service_request, arm: arm, tab: tab, visit_groups: visit_groups, line_items_visits: line_items_visits.flatten, page: page
