-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- line_items_visits = []
- line_items = Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: merged, consolidated: consolidated, show_draft: @show_draft, show_unchecked: @show_unchecked)

- if line_items.empty?
  %tr
    %td.alert-warning.text-center{ colspan: 48 }
      = t('calendars.no_line_items')

- line_items.each do |ssr, livs|
  - line_items_visits << livs
  - complete      = ssr.is_complete? && !in_admin?
  - locked        = ssr.is_locked? && !in_admin?
  - editable      = !(complete || locked)
  - text_context  = complete ? 'success' : locked ? 'danger' : ''
  - bg_context    = complete ? 'success' : locked ? 'danger' : 'primary'

  -# SSR Header Row
  %tr.organization-header{ class: "alert-#{bg_context}" }
    %th{ colspan: 48 }
      = display_org_name(livs[0].line_item.service.organization_hierarchy, ssr, locked, complete)

  -# Line Items Visits
  - livs.each do |liv|
    %tr{ class: ["line-item-#{liv.line_item.id}", "line-items-visit-#{liv.id}", "text-#{text_context}"] }
      %td.service-name{ colspan: 9, title: calendar_service(liv), data: { toggle: 'tooltip', html: 'true' } }
        = calendar_service(liv)
      %td.notes.editable.text-center{ colspan: 2, title: "#{Service.model_name.human} #{Note.model_name.plural.capitalize}", data: { toggle: 'tooltip' } }
        = notes_button(liv, disabled: !editable, srid: service_request.try(:id), ssrid: sub_service_request.try(:id))
      %td.status.text-center{ colspan: 3, title: PermissibleValue.get_value('status', ssr.status), data: { toggle: 'tooltip' } }
        = PermissibleValue.get_value('status', ssr.status)
      %td.service-rate.text-center{ colspan: 3, title: display_service_rate(liv.line_item), data: { toggle: 'tooltip' } }
        = display_service_rate(liv.line_item)
      = render 'service_calendars/displayed_cost', service_request: service_request, sub_service_request: sub_service_request, line_item: liv.line_item, merged: merged, page: page, tab: tab
      %td.unit-type.text-center{ colspan: 4, title: display_unit_type(liv), data: { toggle: 'tooltip' } }
        = display_unit_type(liv)
      = render 'service_calendars/subject_count', liv: liv, service_request: service_request, sub_service_request: sub_service_request, page: page, tab: tab, merged: merged, editable: editable
      - visits      = liv.ordered_visits.page(page).eager_load(line_items_visit: { line_item: [:admin_rates, service_request: :protocol, service: [:pricing_maps, organization: [:pricing_setups, parent: [:pricing_setups, parent: [:pricing_setups, :parent]]]]] })
      - visits.each do |v|
        %td.visit.calendar-visit.text-center{ class: ["visit-#{v.id}", editable ? 'editable' : ''], colspan: 3 }
          = render "service_calendars/master_calendar/pppv/#{tab}/#{tab}_visit_input", visit: v
      - (Visit.per_page - visits.size).times do
        %td{ colspan: 3 }

      = render 'service_calendars/master_calendar/pppv/total_per_patient', liv: liv
      = render 'service_calendars/master_calendar/pppv/total_per_study', liv: liv

- unless in_review? || in_dashboard?
  = render 'service_calendars/master_calendar/pppv/totals/pppv_totals', service_request: service_request, arm: arm, tab: tab, visit_groups: visit_groups, line_items_visits: line_items_visits.flatten, page: page
