-# Copyright © 2011-2022 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%main.card#identitiesCard
  .card-header.bg-primary.text-white
    %h3.mb-0
      = t('admin.identities.table.header')
  #identitiesTableToolbar
  %table.table#identitiesTable{ data: { toggle: 'table', url: admin_identities_path(format: :json), search: 'true', show_columns: 'true', show_refresh: 'true',  pagination: 'true', page_size: '25', side_pagination: 'server', sort_name: 'name', sort_order: 'asc', toolbar: '#identitiesTableToolbar' } }
    %thead.bg-light
      %tr
        %th{ data: { field: 'name', sortable: 'true' } }
          = Identity.human_attribute_name(:name)
        %th{ data: { field: 'institution', sortable: 'true' } }
          = Identity.human_attribute_name(:institution)
        %th{ data: { field: 'email' } }
          = Identity.human_attribute_name(:email)
        %th.w-10{ data: { field: 'created_at', align: 'center', sortable: 'true', sorter: 'dateSorter' } }
          = Identity.human_attribute_name(:created_at)
        %th.w-10{ data: { field: 'last_sign_in_at', align: 'center', sortable: 'true', sorter: 'dateSorter' } }
          = Identity.human_attribute_name(:current_sign_in_at)
        %th{ data: { field: 'sign_in_count', sortable: 'true' } }
          = Identity.human_attribute_name(:sign_in_count)
        %th{ data: { class: 'actions', align: 'center', field: 'actions' } }
          = t('actions.actions')
