-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%div{"ng-controller" => "AdminUserSearchController"}
  .modal.fade{:id=>"identityModal", :role=>"dialog", :tabindex=>"-1", "aria-labelledby"=>"myModalLabel"}
    .modal-dialog.modal-sm{:role=>"document"}
      .modal-content
        .modal-header
          %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
            %span{"aria-hidden"=>"true"} &times;
          %h4.modal-title= t(:admin_identities)[:edit_user_modal_title] + "{{currentIdentity.ldap_uid}}"
        .modal-body
          %form{"name"=>"identityForm"}
            .form-group{"ng-class"=> "{'has-error': identityForm.email.$invalid}"}
              %label.control-label{"for"=>"email"}= t(:admin_identities)[:edit_user_email]
              %input.form-control{"name"=>"email","type"=>"email", "id"=>"email", "required"=>"required", "ng-model" => "currentIdentity.email"}
              %span.help-block{"ng-show"=>"identityForm.email.$invalid"}= t(:admin_identities)[:edit_user_valid_email_required] 
            .form-group{"ng-class"=> "{'has-error': identityForm.firstName.$invalid}"}
              %label.control-label{"for"=>"firstName"}= t(:admin_identities)[:edit_user_first_name]
              %input.form-control{"name"=>"firstName","type"=>"text", "id"=>"firstName", "required"=>"required", "ng-model" => "currentIdentity.first_name"}
              %span.help-block{"ng-show"=>"identityForm.firstName.$invalid"}= t(:admin_identities)[:edit_user_required] 
            .form-group{"ng-class"=> "{'has-error': identityForm.lastName.$invalid}"}
              %label.control-label{"for"=>"lastName"}= t(:admin_identities)[:edit_user_last_name]
              %input.form-control{"name"=>"lastName","type"=>"text", "id"=>"lastName", "required"=>"required", "ng-model" => "currentIdentity.last_name"}
              %span.help-block{"ng-show"=>"identityForm.lastName.$invalid"}= t(:admin_identities)[:edit_user_required]            
        .modal-footer
          %a.btn.btn-default{"data-dismiss"=>"modal"}=t(:admin_identities)[:button_cancel]
          %button.btn.btn-success{"data-dismiss"=>"modal", "ng-click"=> "updateUser()", "ng-disabled"=>"!identityForm.$valid"}=t(:admin_identities)[:button_update_user]
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %label{:for=>"search_term"}= t(:admin_identities)[:page_title]
    .panel-body
      .alert{"ng-show"=>"alertMessageUpdate", "ng-cloak"=>"true", "ng-class"=>"{ 'alert-success' : resourceSuccessful, 'alert-danger' : !resourceSuccessful }", :role=>"alert"} {{alertMessageUpdate}}
      .alert{"ng-show"=>"alertMessage", "ng-cloak"=>"true", "ng-class"=>"{ 'alert-success' : resourceSuccessful, 'alert-danger' : !resourceSuccessful }", :role=>"alert"} {{alertMessage}}
      .row
        .col-sm-6
          %form{"ng-submit"=>"search()"}
            .form-group
              %input.form-control{:id=>"search_term",:type=>"text", :placeholder=> t(:admin_identities)[:search_placeholder], "ng-model"=>"search_term"}
              %span.help-block=t(:admin_identities)[:search_help_block] 
        .col-sm-4
          %button.btn.btn-primary{"ng-click"=>"search()", "ng-disabled"=>"search_in_progress"}=t(:admin_identities)[:button_search]
      .row
        .col-md-12
          %div{"ng-show"=>"gridModel.data.length > 0", "ng-cloak"=>"true","ui-grid"=>"gridModel", "ui-grid-edit"=>"true", "ui-grid-auto-resize"=>"true", "ui-grid-selection"=>"true", "external-scopes"=>"$scope",:style=>"height: 450px;"}
    .panel-footer=t(:admin_identities)[:footer]