%table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
  %thead
    %tr{:style => 'border: 1px solid black;'}
      %td{:colspan => 5}
        %strong= t(:notifier)[:u_info]
    %tr
      %th{:style => 'border: 1px solid black;'}= t(:mailer)[:user_modification]
      %th{:style => 'border: 1px solid black;'}= t(:notifier)[:contact_info]
      %th{:style => 'border: 1px solid black;'}= t(:notifier)[:role]
      %th{:style => 'border: 1px solid black;'}= t(:mailer)[:proxy]
      - if !@protocol.selected_for_epic.nil?
        %th{:style => 'border: 1px solid black;'}= t(:notifier)[:epic_access]
  %tbody
    %tr{:style => 'border: 1px solid black;'}
      %td{:style => 'border: 1px solid black; text-align: center;'}= @modified_user.full_name
      %td{:style => 'border: 1px solid black; text-align: center;'}= @modified_user.email
      %td{:style => 'border: 1px solid black; text-align: center;'}= @modified_user.project_roles.first.role.upcase
      %td{:style => 'border: 1px solid black; text-align: center;'}= @modified_user.project_roles.first.display_rights
      - if !@protocol.selected_for_epic.nil?
        %td{:style => 'border: 1px solid black; text-align: center;'}= @modified_user.project_roles.first.epic_access == true ? "Yes" : "No"