-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%p= "Dear #{@send_to.try(:full_name)},"
%p
  = t(:mailer)[:header1]
  = link_to(t(:mailer)[:link1], root_url)
  = t(:mailer)[:header2]
  = @protocol.try(:type).try(:humanize)
  = t(:mailer)[:header3]
%p
  = t(:mailer)[:body1]
  %strong= link_to t(:mailer)[:link2], dashboard_root_url(:protocol => 'https', :default_protocol => @protocol.id)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %td{:colspan => 2, :style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:p_info]
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:p_id]
      %td{:style => 'border: 1px solid #000'}= @protocol.id
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:title1]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:short_title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:title2]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:s_name]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:sponsor_name)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= @protocol.funding_status == "funded" ? "Funding Source:" : "Potential Funding Source:"
      %td{:style => 'border: 1px solid #000'}= @protocol.funding_status == "funded" ? @protocol.try(:funding_source) : @protocol.try(:potential_funding_source)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %th{:colspan => 3, :style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:user_info]
    %tr
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:name]
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:role]
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:proxy]
    - @protocol.project_roles(true).each do |user|
      %tr
        %td{:style => 'border: 1px solid #000'}= user.identity.try(:full_name)
        %td{:style => 'border: 1px solid #000; text-align: center'}= USER_ROLES.detect{|k,v| v == user.role}.try(:first)
        %td{:style => 'border: 1px solid #000; text-align: center'}= user.try(:display_rights)
