!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en" }
  %head
    = stylesheet_link_tag 'notification_email'
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
  %body
    = render "intro"
    %br
    %br
    = render "notifier/protocol_information", protocol: @protocol
    = render "user_info_table"
    = render 'notifier/issue_contact'
    = render "notifier/acknowledgments"