.documents
  %table
    %thead
      %tr
        %th{:colspan => 6} All Documents
      %tr
        %th Document Type
        %th Document Name
        %th Date Last Modified
        %th.delete Update
        %th.delete Delete
    %tbody
      / this should be service requests instead of @project.documents
      - sleep(2) #alfresco isn't ready so let's wait
      - @documents = @sub_service_request.try(:documents) || []
      - @documents.each do |document|
        %tr
          %td
            = document.display_document_type
          %td.document_link= link_to("#{document.title}", portal_document_download_path(document.id))
          %td.document_date= document.updated_at.strftime("%D")
          %td.delete.update_document
            = form_tag(override_portal_documents_path, :method => :post, :multipart => true) do |u|
              = hidden_friendly_id(controller)
              = hidden_ssr_id(controller)
              = hidden_field_tag 'document_id', document.id
              = select_tag('document_type', options_for_select(DOCUMENT_TYPES, document.document_type))
              = file_field_tag('document', :size => 8)
              = submit_tag 'Save'
          %td.delete= link_to(image_tag('portal/delete.png'), portal_document_path(document.id, :ssr_id => @sub_service_request.sub_service_request_id, :friendly_id => @service_request.friendly_id), :method => :delete, :confirm => 'Are you sure you want to remove this document?')
      %tr
        %td{:colspan => 6}
      %tr
        %td{:colspan => 6}
          = form_tag(upload_portal_documents_path, :method => :post, :multipart => true) do |u|
            = hidden_field_tag 'service_request_id', @service_request.id
            = hidden_field_tag 'organization_id', @sub_service_request.try(:organization_id)
            = hidden_friendly_id(controller)
            = hidden_ssr_id(controller)
            = file_field_tag('document', :size => 52)
            = select_tag('document_type', options_for_select(DOCUMENT_TYPES), :prompt => 'Select a type')
            = submit_tag 'Upload', :class => 'upload-document'
            = image_tag 'portal/spinner.gif', :id => 'upload-spinner', :style => 'display:none'
