-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- permission_to_edit = permission_to_edit || current_user.catalog_overlord?

%div{ class: "service-requests-table-toolbar-#{service_request.id}" }
  - if permission_to_edit
    = link_to catalog_service_request_path(srid: service_request.id), title: t('dashboard.service_requests.tooltips.modify_request'), class: 'btn btn-success', data: { toggle: 'tooltip' } do
      = succeed t('dashboard.service_requests.modify_request') do
        = icon('fas', 'plus mr-2')
%table.service-requests-table{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', url: dashboard_sub_service_requests_path(format: :json, srid: service_request.id), striped: 'true', toolbar: ".service-requests-table-toolbar-#{service_request.id}", sort_name: 'srid', sort_order: 'ASC' } }
  %thead.bg-light
    %tr
      %th{ data: { field: 'srid', align: 'left', sortable: 'true' } }
        = ServiceRequest.human_attribute_name(:id)
      %th{ data: { field: 'organization', align: 'left', sortable: 'true' } }
        = ServiceRequest.human_attribute_name(:organization)
      %th{ data: { field: 'owner', align: 'left', sortable: 'true' } }
        = ServiceRequest.human_attribute_name(:owner)
      %th{ data: { field: 'status', align: 'left', sortable: 'true' } }
        = ServiceRequest.human_attribute_name(:status)
      %th{ data: { field: 'surveys', align: 'center', visible: (!protocol.all_forms_completed?).to_s, switchable: 'false' } }
        = ServiceRequest.human_attribute_name(:forms)
      %th{ data: { field: 'actions', align: 'center' } }
        = t('actions.actions')
