-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- protocol.service_requests.each do |sr|
  .panel.panel-default#service-requests-panel
    .panel-heading.justify-content-between
      %h4.panel-title
        = "#{t(:dashboard)[:protocols][:service_requests][:header]} - #{protocol_panel_header_line(sr)}"
      .service-request-links-container
        .dropdown>
          %button.btn.btn-primary.btn-sm.dropdown-toggle.view-consolidated{ data: { placement: 'top', delay: '{"show":"500"}', toggle: 'dropdown' }, title: t(:dashboard)[:protocols][:service_requests][:tooltips][:consolidated_request] }<
            = t(:dashboard)[:protocols][:service_requests][:view_consolidated]
          %ul.dropdown-menu
            %li
              %a.view-full-calendar-button{ data: { protocol_id: protocol.id, statuses_hidden: ['first_draft'] } }
                = t(:dashboard)[:protocols][:service_requests][:consolidated_all]
            %li
              %a.view-full-calendar-button{ data: { protocol_id: protocol.id, statuses_hidden: %w(draft first_draft) } }
                = t(:dashboard)[:protocols][:service_requests][:consolidated_exclude_drafts]
        .dropdown.export-consolidated-request>
          %button.btn.btn-primary.btn-sm.dropdown-toggle.export-consolidated{ data: { protocol_id: protocol.id, toggle: 'dropdown', placement: 'top', delay: '{"show":"500"}' }, title: t(:dashboard)[:protocols][:service_requests][:tooltips][:export_consolidated_request] }<
            = t(:dashboard)[:protocols][:service_requests][:export_consolidated]
          %ul.dropdown-menu
            %li
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_all],
                dashboard_protocol_path(protocol, statuses_hidden: ['first_draft'], format: :xlsx)
            %li
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_exclude_drafts],
                dashboard_protocol_path(protocol, statuses_hidden: %w(draft first_draft), format: :xlsx)
        .dropdown>
          %button.btn.btn-success.btn-sm.dropdown-toggle.coverage-analysis-report{ data: { protocol_id: protocol.id, toggle: 'dropdown', placement: 'top', delay: '{"show":"500"}' }, title: t(:dashboard)[:service_requests][:tooltips][:coverage_report] }<
            = t(:dashboard)[:protocols][:service_requests][:coverage_report]
          %ul.dropdown-menu
            %li
              = link_to t(:calendars)[:show_chosen_services], service_request_path(srid: sr.id, display_all_services: false, format: :xlsx, report_type: 'coverage_analysis', show_signature_section: 1)
            %li
              = link_to t(:calendars)[:show_all_services], service_request_path(srid: sr.id, display_all_services: true, format: :xlsx, report_type: 'coverage_analysis', show_signature_section: 1)

            - if protocol.is_study?
              %a.btn.btn-success.btn-sm.cost-analysis-report{ href: dashboard_protocol_path(protocol, format: :pdf), target: '_blank' } 
                = t(:dashboard)[:protocols][:service_requests][:cost_analysis_report]
    .panel-body
      = render 'dashboard/service_requests/protocol_service_request_show',
        service_request: sr,
        protocol: protocol,
        user: user,
        permission_to_edit: permission_to_edit,
        view_only: view_only,
        show_view_ssr_back: show_view_ssr_back
