-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- protocol.service_requests.each do |sr|
  .card.service-request-card.w-100
    .card-header.justify-content-between.bg-primary.text-white{ data: { toggle: 'collapse', target: ".service-request-#{sr.id}" } }
      %h3.mb-0<
        = icon('fas', 'caret-down pr-1 mr-2')
        = raw(t('dashboard.protocols.service_requests.header', status: PermissibleValue.get_value('status', sr.status), date: format_date(sr.submitted? ? sr.submitted_at : sr.updated_at)))
      .service-request-links-container.d-flex
        .tooltip-wrapper{ title: t(:dashboard)[:protocols][:service_requests][:tooltips][:consolidated_request], data: { toggle: 'tooltip' } }
          .dropdown.no-caret.mr-1>
            %button.btn.btn-info.dropdown-toggle.view-consolidated-request{ id: "viewConsolidated#{sr.id}", data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }<
              = icon('fas', 'eye mr-2')
              = t(:dashboard)[:protocols][:service_requests][:view_consolidated]
            .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "viewConsolidated#{sr.id}" } }
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_all], view_full_calendar_service_calendars_path(protocol_id: protocol.id, show_draft: true), remote: true, class: 'dropdown-item'
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_exclude_drafts], view_full_calendar_service_calendars_path(protocol_id: protocol.id, show_draft: false), remote: true, class: 'dropdown-item'
        .tooltip-wrapper{ title: t(:dashboard)[:protocols][:service_requests][:tooltips][:export_consolidated_request], data: { toggle: 'tooltip' } }
          .dropdown.no-caret.mr-1>
            %button.btn.btn-secondary.dropdown-toggle.export-consolidated-request{ id: "exportConsolidated#{sr.id}", data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }<
              = icon('fas', 'download mr-2')
              = t(:dashboard)[:protocols][:service_requests][:export_consolidated]
            .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "exportConsolidated#{sr.id}" } }
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_all], dashboard_protocol_path(protocol, show_draft: true, format: :xlsx), class: 'dropdown-item'
              = link_to t(:dashboard)[:protocols][:service_requests][:consolidated_exclude_drafts], dashboard_protocol_path(protocol, show_draft: false, format: :xlsx), class: 'dropdown-item'
        .tooltip-wrapper{ title: t(:dashboard)[:service_requests][:tooltips][:coverage_report], data: { toggle: 'tooltip' } }
          .dropdown.no-caret.mr-1>
            %button.btn.btn-success.dropdown-toggle.coverage-analysis{ id: "coverageAnalysis#{sr.id}", data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }<
              = icon('fas', 'file-excel mr-2')
              = t(:dashboard)[:protocols][:service_requests][:coverage_report]
            .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "coverageAnalysis#{sr.id}" } }
              = link_to t(:calendars)[:show_chosen_services], service_request_path(srid: sr.id, display_all_services: false, format: :xlsx, report_type: 'coverage_analysis', show_signature_section: true), class: 'dropdown-item'
              = link_to t(:calendars)[:show_all_services], service_request_path(srid: sr.id, display_all_services: true, format: :xlsx, report_type: 'coverage_analysis', show_signature_section: true), class: 'dropdown-item'
        = link_to dashboard_protocol_path(protocol, format: :pdf), target: :_blank, class: 'btn btn-success cost-analysis' do
          = succeed t('dashboard.protocols.service_requests.cost_analysis_report') do
            = icon('fas', 'file-pdf mr-2')
    .collapse.show{ class: "service-request-#{sr.id}" }
      = render 'dashboard/service_requests/protocol_service_request_show', service_request: sr, protocol: protocol, permission_to_edit: permission_to_edit
