%tr{:id => "user_#{user.id}"}
  %td= user.try(:display_name)
  %td= project_role.try(:role)
  %td= mail_to user.try(:email)
  %td= user.try(:phone_number)
  %td.rights= PROXY_RIGHTS.key(project_role.try(:project_rights))
  %td.edit
    %a.edit-associated-user-button{:href => "javascript:void(0)", :style => 'font-size:10px', :'data-protocol_id' => project_role.protocol_id, :'data-user_id' => user.id, :'data-permission' => "true"}
      = image_tag('portal/application_form_edit.png')
  %td.delete
    %a.delete-associated-user-button{:href => "javascript:void(0)", :'data-protocol_id' => project_role.protocol_id, :'data-user_id' => user.id, :'data-pr_id' => project_role.id, :'data-permission' => "true"}
      = image_tag('portal/delete.png')
