= hidden_field_tag "protocol_id", protocol_role.protocol_id
= f.hidden_field :identity_id
- if @sub_service_request
  = hidden_field_tag :sub_service_request_id, @sub_service_request.id
%br
.details
  .errorExplanation#errorExplanation{:style => 'display:none;'}
  %br
  %fieldset.user_info
    %legend#edit_legend 
      - if type == "add"
        = t(:portal_user_form)[:add_user]
      - else
        = t(:portal_user_form)[:edit_user]
    .left_info
      .user_name
        %strong= t(:portal_user_form)[:name]
        %br
        = text_field_tag "full_name", "#{identity.first_name} #{identity.last_name}", {:disabled => true}
        %br
      .user_email
        %strong= t(:portal_user_form)[:email]
        %br
        = text_field_tag "email", identity.email, {:disabled => true}
        %br
      .user_phone
        %strong
          = label_tag "identity[phone]", t(:portal_user_form)[:phone]
        %br
        = text_field_tag "identity[phone]", identity.phone, {:disabled => true}
        %br
      .user_role
        %strong
          = f.label :role, t(:portal_user_form)[:role]
        %br
        = f.select :role, options_for_select(USER_ROLES, f.object.role), :prompt => t(:portal_user_form)[:role_prompt]
        %br
      .role_other
        = f.text_field :role_other
        %br

      - if USE_EPIC
        #epic_access
          %strong= f.label :epic_access, t(:portal_user_form)[:epic_access]
          %br
          No
          = f.radio_button :epic_access, false, :class => 'epic_access'
          Yes
          = f.radio_button :epic_access, true, :class => 'epic_access'

        .epic_access_rights
          Check All That Apply:
          = f.fields_for :epic_rights do |fer|
            .pair
              = fer.check_box "_destroy", {:checked => !fer.object.new, :class => 'epic_access_check_box'}, false, true
              = fer.hidden_field :right, :value => fer.object.right
              = fer.label "_destroy", EPIC_RIGHTS[fer.object.right]


      .era_commons_name
        %strong
          = label_tag "identity[era_commons_name]", t(:portal_user_form)[:era]
        %br
        = text_field_tag "identity[era_commons_name]", identity.era_commons_name
        %br
      .user_credentials
        %strong
          = label_tag "identity[credentials]", t(:portal_user_form)[:credentials]
        %br
        = select_tag "identity[credentials]", options_for_select(USER_CREDENTIALS, identity.credentials), :prompt => t(:portal_user_form)[:credential_prompt]
        %br
      .credentials_other
        = text_field_tag "identity[credentials_other]", identity.credentials_other
        %br
    .right_info
      .user_institution
        %strong
          = label_tag "identity[institution]", t(:portal_user_form)[:institution]
        %br
        = select_tag "identity[institution]", options_for_select((INSTITUTIONS.sort), identity.institution), :prompt => t(:portal_user_form)[:institution_prompt]
        %br
      .user_college
        %strong
          = label_tag "identity[college]", t(:portal_user_form)[:college]
        %br
        = select_tag "identity[college]", options_for_select(COLLEGES, identity.college), :prompt => t(:portal_user_form)[:college_prompt]
        %br
      .user_department
        %strong
          = label_tag "identity[department]", t(:portal_user_form)[:department]
        %br
        = select_tag "identity[department]", options_for_select(DEPARTMENTS, identity.department), :prompt => t(:portal_user_form)[:department_prompt]
        %br
      .subspecialty
        %strong
          = label_tag "identity[subspecialty]", t(:portal_user_form)[:subspecialty]
        %br
        = select_tag "identity[subspecialty]", options_for_select((SUBSPECIALTIES.sort), identity.subspecialty), :prompt => t(:portal_user_form)[:subspecialty_prompt]
        %br
      #project_rights
        %strong= t(:portal_user_form)[:rights][:header]
        %br
          %ul.rights_labels
            %li= f.label :project_rights_none, t(:portal_user_form)[:rights][:none]
            %li= f.label :project_rights_view, t(:portal_user_form)[:rights][:view]
            %li= f.label :project_rights_request, t(:portal_user_form)[:rights][:request]
            %li= f.label :project_rights_approve, t(:portal_user_form)[:rights][:approve]
          %ul.rights_radios
            %li= f.radio_button :project_rights, 'none'
            %li= f.radio_button :project_rights, 'view'
            %li= f.radio_button :project_rights, 'request'
            %li= f.radio_button :project_rights, 'approve'
