!!!
%html
  %head
    %title= t(:portal_title)
    = stylesheet_link_tag 'portal/application'
    = javascript_include_tag 'portal/application'
    = csrf_meta_tags

  %body
    #container.container
      #header
        = render :partial => 'layouts/portal/header'
        %input#current_user_id{:type => 'hidden', :value => @user.try(:id)}
      #main
        #title
          %h1= render :partial => 'portal/home/title'
        #content
          = yield
  %footer
    :plain
      <script type="text/javascript">
      <!-- Piwik --> 
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://sctrweb2.musc.edu/piwik/" : "http://sctrweb2.musc.edu/piwik/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 10);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
      </script>
      <noscript><p><img src="http://sctrweb2.musc.edu/piwik/piwik.php?idsite=10" style="border:0" alt="" /></p></noscript>
      <!-- End Piwik Tracking Code -->
