!!!
%html
  %head
    %title= t(:portal_title)
    = stylesheet_link_tag 'portal/application'
    = stylesheet_link_tag 'study_tracker'
    = javascript_include_tag 'portal/application'
    = csrf_meta_tags

  %body
    #container.container
      #header
        = render :partial => 'layouts/portal/header'
        %input#current_user_id{:type => 'hidden', :value => @user.try(:id)}
      #main
        #title
          %h1= render :partial => 'portal/home/title'
        #content
          = yield
  %footer
    = render :partial => 'shared/piwik_tracking' if Rails.env == 'production'
