-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%nav.navbar.navbar-default.portal-nav
  .container-fluid
    .navbar-header
      - if @show_navbar
        %ul.nav.navbar-nav
          - NAVBAR_LINKS.each do |identifier, details|
            = navbar_link(identifier, details, @highlighted_link)
      - else
        %ol.breadcrumb
          = session[:breadcrumbs].breadcrumbs

    %ul.nav.navbar-nav.navbar-right
      - if QUEUE_EPIC_EDIT_LDAP_UIDS.include?(user.ldap_uid)
        %li
          %button.btn.btn-info.navbar-btn#epic-queue-btn{ type: 'button'}
            = link_to t(:dashboard)[:navbar][:epic_queue], dashboard_epic_queues_path
      - if @show_messages
        %li
          %button.btn.btn-danger.navbar-btn#messages-btn{ type: 'button'}
            = t(:dashboard)[:navbar][:messages]
            %span.badge
              = user.unread_notification_count

    %p#welcome_nav.navbar-text.navbar-right
      = show_welcome_message(user, bootstrap = true)
