-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

!!!
%html
  %head
    %title SPARC Request Dashboard
    = stylesheet_link_tag "#{CUSTOM_ASSET_PATH}dashboard/application"
    = javascript_include_tag 'dashboard/application'
    = javascript_include_tag 'jquery.qtip.min.js'
    /[if IE]
      = stylesheet_link_tag 'ie'
    /[if gt IE 7]
      = stylesheet_link_tag 'ie8_plus'
    /[if lt IE 8]
      = javascript_include_tag "ie7_warning"
    = csrf_meta_tags
    :javascript
      window.I18n = #{current_translations.to_json.html_safe};

  %body#body
    #ie7_warning{style: 'display: none'}
      %p
        = t('ie_warning.text1')
      %br
      %p
        = t('ie_warning.text2')

    #container
      #processing_request.ui-corner-all{style: 'display:none'}
        %br
        = t(:cm_index)[:processing]
        %br
        = image_tag 'spinner.gif'
      #header
        = render 'shared/header_logos', in_dashboard: true
        %input#current_user_id{type: 'hidden', value: @user.try(:id)}
      = render 'layouts/dashboard/dashboard_header', user: @user

      .notification_dialog
      .flash
        = render "shared/flash"
      #inner-content
        = yield
  %footer
    = render 'shared/piwik_tracking' if Rails.env == 'production'
    = render 'shared/modal'
