-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_for @institution, :url => catalog_manager_institution_path, :remote => true, :id => 'entity_form' do |f|
  .errorExplanation#errorExplanation{:style => 'display:none;'}
  
  = hidden_field_tag 'org_unit[id]', @institution.id # added for autocomplete to use
  = hidden_field_tag 'institution[id]', @institution.id

  #entity_description
    %fieldset.actions
      .legend= t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'btn save_button'
      %img.spinner{:src => '/assets/catalog_manager/spinner_small.gif'}
    %br
  
    %fieldset#gen_info.parent.active
      .legend= t(:organization_form)[:gen_info]
      %fieldset.single_fieldset{:style => "display:block;"}
        %table
          %tr
            %th= f.label :name, t(:organization_form)[:name]
            %td= f.text_field :name
          %tr
            %th= f.label :abbreviation, t(:organization_form)[:abbreviation]
            %td= f.text_field :abbreviation
          %tr
            %th= f.label :description, t(:organization_form)[:description]
            %td= f.text_area :description, :rows => 8
          %tr
            %th= f.label :ack_language, t(:organization_form)[:ack_language]
            %td= f.text_area :ack_language, :rows => 8
          %tr
            %th= f.label :order, t(:organization_form)[:order]
            %td= f.text_field :order
          
          - if @user.is_overlord?
            %tr
              %th= f.label :css_class, t(:organization_form)[:css_class]
              %td= f.select :css_class, ACCORDION_COLOR_OPTIONS, :include_blank => t(:organization_form)[:color_blank]
          
          %tr
            %th= f.label :disabled, t(:organization_form)[:disabled]
            %td= f.check_box :is_available, {:checked => (@institution.is_available.nil? ? false : !@institution.is_available) }, false, true
          %tr
            %th= t(:organization_form)[:tag_list]
            %td
              - Tag.all.each do |tag|
                %span{:style => "margin-right:10px;"}
                  %span= f.label tag.name.gsub("ctrc", "Nexus")
                  %span= f.check_box :tag_list, { :multiple => true }, tag.name, nil

    %br
    
    %fieldset#user_rights.parent
      .legend= t(:organization_form)[:user_rights]
      %fieldset.sibling_fieldset
        .secondary_header= t(:organization_form)[:super_users]
        #su_info= render :partial => 'catalog_manager/shared/super_users', :locals => {:entity => @institution}

      %fieldset
        .secondary_header= t(:organization_form)[:cm_rights]
        #cm_info= render :partial => 'catalog_manager/shared/catalog_managers', :locals => {:entity => @institution}

    %br

    %fieldset.actions
      .legend= t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'btn save_button'
      %img.spinner{:src => '/assets/catalog_manager/spinner_small.gif'}

:javascript
  $(document).ready( function() {
    Sparc.config.ready();
  })
