= form_for @institution, :url => catalog_manager_institution_path, :remote => true, :id => 'entity_form' do |f|
  .errorExplanation#errorExplanation{:style => 'display:none;'}
  
  = hidden_field_tag 'org_unit[id]', @institution.id # added for autocomplete to use
  = hidden_field_tag 'institution[id]', @institution.id

  #entity_description
    %fieldset
      %legend= t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'btn save_button'
      %img.spinner{:src => '/assets/catalog_manager/spinner_small.gif'}
    %br
  
    %fieldset
      %legend= t(:organization_form)[:gen_info]
      %table
        %tr
          %th= f.label :name, t(:organization_form)[:name]
          %td= f.text_field :name
        %tr
          %th= f.label :abbreviation, t(:organization_form)[:abbreviation]
          %td= f.text_field :abbreviation
        %tr
          %th= f.label :description, t(:organization_form)[:description]
          %td= f.text_area :description, :rows => 8
        %tr
          %th= f.label :ack_language, t(:organization_form)[:ack_language]
          %td= f.text_area :ack_language, :rows => 8
        %tr
          %th= f.label :order, t(:organization_form)[:order]
          %td= f.text_field :order
        
        - if @user.is_overlord?
          %tr
            %th= f.label :css_class, t(:organization_form)[:css_class]
            %td= f.select :css_class, ACCORDION_COLOR_OPTIONS, :include_blank => t(:organization_form)[:color_blank]
        
        %tr
          %th= f.label :disabled, t(:organization_form)[:disabled]
          %td= f.check_box :is_available, {:checked => (@institution.is_available.nil? ? false : !@institution.is_available) }, false, true
        %tr
          %th= t(:organization_form)[:tag_list]
          %td
            - Tag.all.each do |tag|
              %span
                %span= f.label tag.name.gsub("ctrc", "Nexus")
                %span= f.check_box :tag_list, { :multiple => true }, tag.name, nil

    %br
    
    = render :partial => 'catalog_manager/shared/available_statuses', :locals => {:f => f}

    %fieldset
      %legend= t(:organization_form)[:super_users]
      #su_info= render :partial => 'catalog_manager/shared/super_users', :locals => {:entity => @institution}

    %br

    %fieldset
      %legend= t(:organization_form)[:cm_rights]
      #cm_info= render :partial => 'catalog_manager/shared/catalog_managers', :locals => {:entity => @institution}

    %br

    %fieldset
      %legend= t(:organization_form)[:clinical_providers]
      #cp_info= render :partial => 'catalog_manager/shared/clinical_providers', :locals => {:entity => @institution}

    %br  

    %fieldset
      %legend= t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'btn save_button'
      %img.spinner{:src => '/assets/catalog_manager/spinner_small.gif'}

:javascript
  $(document).ready( function() {
    Sparc.config.ready();
  })
