-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- line_items_visits = []
- Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: merged, portal: portal, review: review, consolidated: consolidated).each do |sub_service_request_id, livs|
  - line_items_visits << livs
  - ssr    = SubServiceRequest.find(sub_service_request_id)
  - locked = !ssr.can_be_edited? && !admin

  -# SSR Header Row
  %tr.organization-header{ class: locked ? 'text-danger' : '' }
    %th{ colspan: 14 }
      = display_org_name(Dashboard::ServiceCalendars.display_organization_hierarchy(livs[0]), ssr, locked)

  -# Line Items Visits
  - livs.each do |liv|
    %tr.pppv-line-item-row{ class: locked ? 'bg-danger text-danger' : '' }
      %td.service-name{ colspan: 2 }
        = liv.service.display_service_name
      %td.status.text-center
        = AVAILABLE_STATUSES[ssr.status]
      %td.service-rate.text-center
        = display_service_rate(liv.line_item)
      %td.your-cost.text-center
        = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"
      %td.unit-type.text-center
        = liv.line_item.service.displayed_pricing_map.unit_type
      %td.subject-count.text-center
        = liv.subject_count
      - visits      = liv.visits.paginate(page: page.to_i, per_page: 5)
      - totals_hash = liv.try(:per_subject_subtotals, visits)
      - visits.each_with_index do |v, index|
        %td.text-center.visit{ class: "visit-#{index+1}", data: { cents: totals_hash["#{v.id}"] || 0.00 } }
          = render 'service_calendars/master_calendar/pppv/line_item_visit_input', arm: arm, line_item: liv.line_item, visit: v, tab: tab, portal: portal, service_request: service_request, totals_hash: totals_hash
      - (5 - visits.size).times do
        %td &nbsp;
      %td.text-center.pppv-per-patient-line-item-total
        = display_visit_based_direct_cost(liv)
      %td.text-center.pppv-per-study-line-item-total
        = Dashboard::ServiceCalendars.display_visit_based_direct_cost_per_study(liv)

- unless review
  = render 'service_calendars/master_calendar/pppv/pppv_totals', service_request: service_request, arm: arm, tab: tab, line_items_visits: line_items_visits.flatten
