-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
- case tab
- when 'template'
  = check_box_tag "visit-#{visit.id}", 1, (visit.research_billing_qty.to_i > 0 || visit.insurance_billing_qty.to_i > 0 || visit.effort_billing_qty.to_i > 0), class: "visit-quantity", data: { visit_id: visit.id, portal: portal, ssrid: sub_service_request ? sub_service_request.id : '' }, update: "/service_calendars.js?tab=#{tab}&arm_id=#{arm.id}&pages=#{pages}&merged=#{merged}&portal=#{portal}&review=#{review}&admin=#{admin}", disabled: locked
- when 'billing_strategy'
  .row
    - if locked
      .col-xs-4.text-center.no-padding
        .research-billing-qty
          = visit.research_billing_qty
      .col-xs-4.text-center.no-padding
        .insurance-billing-qty
          = visit.insurance_billing_qty
      .col-xs-4.text-center.no-padding
        .effort-billing-qty
          = visit.effort_billing_qty
    - else
      .col-xs-4.text-center.no-padding
        %a.edit-research-billing-qty{ href: 'javascript:void(0)', data: { arm_id: arm.id, name: 'research_qty', title: t(:calendars)[:pppv][:editable_fields][:research], value: visit.research_billing_qty, url: dashboard_visit_path(visit, portal: @portal) } }
      .col-xs-4.text-center.no-padding
        %a.edit-insurance-billing-qty{ href: 'javascript:void(0)', data: { name: 'third_party_qty', title: t(:calendars)[:pppv][:editable_fields][:third_party], value: visit.insurance_billing_qty, url: dashboard_visit_path(visit, portal: @portal) } }
      .col-xs-4.text-center.no-padding
        %a.edit-effort-billing-qty{ href: 'javascript:void(0)', data: { name: 'percent_effort_qty', title: t(:calendars)[:pppv][:editable_fields][:percent], value: visit.effort_billing_qty, url: dashboard_visit_path(visit, portal: @portal) } }
- when 'calendar'
  = label_tag nil, qty_cost_label(visit.research_billing_qty + visit.insurance_billing_qty, currency_converter(totals_hash["#{visit.id}"])) || "0 - $0.00", class: 'line_item_visit_pricing'
