-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
- line_items_visits = []
- pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: @merged, portal: @portal, review: @review).each do |org, livs|
  - if @tab == 'billing_strategy'
    %tr.sub_section_header
      %th.col-sm-5{ colspan: 5 }= org
      - 5.times do
        %th.col-sm-1.billing_type_list{ style: 'text-align:center' }
          %span.billing_type R
          %span.billing_type T
          %span.billing_type %
  - else
    %tr.sub_section_header
      %th{ colspan: 12 }= org
  - livs.each do |liv|
    %tr
      %td{ colspan: 2 }= liv.service.display_service_name
      - unless tab == 'calendar'
        %td.service_rate{ class: "service_rate_#{liv.id}" }= display_service_rate liv.line_item
      %td.your_cost.text-center
        - if tab != 'calendar'
          %a.edit-your-cost{ href: '#', data: { type: 'text', pk: liv.line_item.id, name: 'displayed_cost', value: "#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}", url: "/dashboard/line_items/#{liv.line_item.id}/update_from_fulfillment.js?study_tracker=#{study_tracker}&line_items_visit_id=#{liv.id}" } }
        - else
          %span= number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)
      - if tab == 'calendar'
        %td.unit_type.text-center= liv.line_item.service.displayed_pricing_map.unit_type
      %td.subject_count.text-center
        - if tab != 'calendar'
          %a.edit-subject-count{ href: '#', data: { type: 'text', pk: liv.line_item.id, name: 'qty', title: 'Edit subject count', value: liv.subject_count, url: "/service_requests/#{liv.service_request.id}/service_calendars?line_items_visit=#{liv.id}&tab=#{tab}&portal=#{@portal}" } }
        - else
          %span= liv.subject_count
      - if @tab == 'template'
        %td.text-center= select_row liv, tab, portal
      - visits = liv.visits.paginate(page: @pages[arm.id].to_i, per_page: 5)
      - unit_minimum = liv.service.displayed_pricing_map.unit_minimum
      - totals_hash = liv.try(:per_subject_subtotals, visits)
      - visits.each_with_index do |v, index|
        %td.text-center.visit{ visit_column: index + 1, class: "visit_column_#{index + 1} arm_#{arm.id}", data: { cents: (totals_hash["#{v.id}"] || 0) } }
          = render partial: 'service_calendars/master_calendar/pppv/line_item_visit_input', locals: { arm: arm, line_item: liv.line_item, visit: v, tab: @tab, totals_hash: totals_hash, unit_minimum: unit_minimum, portal: @portal, service_request: service_request }
      - (5 - visits.size).times do
        %td &nbsp;
      - if tab == 'calendar'
        %td.text-center.pp_line_item_total{ class: "total_#{liv.id}" }= display_visit_based_direct_cost(liv)
        %td.text-center.pp_line_item_study_total{ class: "total_#{liv.id}_per_study" }= display_visit_based_direct_cost_per_study(liv)
-#
-# - elsif @review # display review calendar pppv line items
-#   - @service_request.service_list(false).each do |_, value| # get only per patient/per visit services and group them
-#     - next unless sub_service_request.nil? || sub_service_request.organization.name == value[:process_ssr_organization_name]
-#     %tr.sub_section_header
-#       %th{ colspan: 10 }= org
-#
-#     - arm.line_items_visits.each do |line_items_visit|
-#       - line_item = line_items_visit.line_item
-#       - next unless value[:line_items].include?(line_item)
-#       %tr.line_item
-#         %td.service_name= line_item.service.display_service_name
-#         %td.your_cost= display_your_cost line_item
-#         %td.subject_count= line_items_visit.subject_count
-#         - visits = line_items_visit.visits.paginate(page: @pages[arm.id].to_i, per_page: 5)
-#         - totals_hash = line_items_visit.try(:per_subject_subtotals, visits)
-#         - visits.each_with_index do |v, index|
-#           %td.visit{ visit_column: index + 1, class: "visit_column_#{index + 1} arm_#{arm.id}", data: { cents: (totals_hash["#{v.id}"] || 0) } }= line_item_visit_input arm, line_item, v, @tab, totals_hash
-#         - (5 - visits.size).times do
-#           %td &nbsp;
-#         %td{ class: "total_#{line_items_visit.id}" }= display_visit_based_direct_cost line_items_visit
-#         %td{ class: "total_#{line_items_visit.id}_per_study" }= display_visit_based_direct_cost_per_study line_items_visit
-#
-#
-# - else # display default calendar pppv line items
-#   - service_request.service_list(false).each do |_, value| # get only per patient/per visit services and group them
-#     - next unless sub_service_request.nil? || sub_service_request.organization.name == value[:process_ssr_organization_name]
-#     - if @tab == 'billing_strategy'
-#       %tr.sub_section_header
-#         %th{ colspan: @portal ? 3 : 5 }= org
-#         - if @portal
-#           %th{ colspan: 1 }
-#         - 5.times do
-#           %th.billing_type_list{ style: 'text-align:center' }
-#             %span.billing_type R
-#             %span.billing_type T
-#             %span.billing_type %
-#         - unless @portal
-#           %th &nbsp;
-#         %th &nbsp;
-#     - else
-#       %tr.sub_section_header
-#         %th{ colspan: 13 }= org
-#
-#     - arm.line_items_visits.each do |line_items_visit|
-#       - line_item = line_items_visit.line_item
-#       - next unless value[:line_items].include?(line_item)
-#       - line_items_visits << line_items_visit
-#       - pricing_map = line_item.service.displayed_pricing_map
-#       %tr.line_item{ data: { line_items_visits_id: line_items_visit.id }, class: cycle('odd', '', name: 'pppvs') }
-#         - if @portal
-#           - if line_item.service.is_available
-#             %td= select_tag 'line_item_service_id', options_for_select(candidate_service_options(@candidate_per_patient_per_visit, true), line_item.try(:service).try(:id)), data: { line_item_id: line_item.id }, class: 'fulfillment_data fulfillment_selecter'
-#           - else
-#             %td= line_item.service.name + ' (Disabled)'
-#           %td.service_rate{ class: "service_rate_#{line_items_visit.id}" }= display_service_rate line_item
-#           - if @study_tracker
-#             %td.your_cost= currency_converter line_item.applicable_rate
-#           - else
-#             %td.your_cost{ style: 'white-space:nowrap;overflow:hidden;' }
-#               %span= '$'
-#               = text_field_tag 'line_item_displayed_cost', number_with_precision(Service.cents_to_dollars(line_item.applicable_rate), precision: 2), data: { line_item_id: line_item.id }, class: 'fulfillment_data fulfillment_your_cost'
-#         - else
-#           %td.service_name= line_item.service.display_service_name
-#           %td.service_rate{ class: "service_rate_#{line_items_visit.id}" }= display_service_rate line_item
-#           %td.your_cost= display_your_cost line_item
-#           %td.unit_type= pricing_map.unit_type
-#         %td.subject_count= select_tag "line_items_visit_#{line_items_visit.id}_count", options_for_select((1..arm.subject_count), line_items_visit.subject_count), class: 'line_items_visit_subject_count', update: "/service_requests/#{line_item.service_request_id}/service_calendars?line_items_visit=#{line_items_visit.id}&tab=template&portal=#{@portal}"
-#         - if @tab == 'template'
-#           %td= select_row line_items_visit, @tab, @portal
-#         - visits = line_items_visit.visits.paginate(page: @pages[arm.id].to_i, per_page: 5)
-#         - unit_minimum = pricing_map.unit_minimum
-#         - totals_hash = line_items_visit.try(:per_subject_subtotals, visits)
-#         - visits.each_with_index do |v, index|
-#           %td.visit{ visit_column: index + 1, class: "visit_column_#{index + 1} arm_#{arm.id}", data: { cents: (totals_hash["#{v.id}"] || 0) } }= line_item_visit_input arm, line_item, v, @tab, totals_hash, unit_minimum, @portal
-#         - (5 - visits.size).times do
-#           %td &nbsp;
-#         - if @portal
-#           %td= link_to(image_tag('dashboard/cancel.png'), 'javascript:void(0);', data: { line_items_visit_id: line_items_visit.id, has_popup: 'true' }, class: 'delete_data')
-#         - else
-#           %td.pp_line_item_total{ class: "total_#{line_items_visit.id}" }= display_visit_based_direct_cost(line_items_visit)
-#           %td.pp_line_item_study_total{ class: "total_#{line_items_visit.id}_per_study" }= display_visit_based_direct_cost_per_study(line_items_visit)
-#
-#
- unless review
  = render partial: '/service_calendars/master_calendar/pppv/pppv_totals', locals: { service_request: service_request, arm: arm, tab: @tab, portal: @portal, line_items_visits: line_items_visits }
