-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- url = edit_visit_group_path(visit_group, srid: service_request.try(:id), ssrid: sub_service_request.try(:id), tab: tab, page: page, pages: pages)
- editable = !(merged || visit_group.arm.protocol.locked?)

%th.visit-group.px-0{ class: ["visit-group-#{visit_group.id}", editable ? 'editable' : ''], colspan: 3 }
  %table.table-sm.table-borderless.w-100
    %thead
      %tr
        %th.text-center.py-0.px-1{ title: t(:calendars)[:tooltips][:window_before], data: { toggle: 'tooltip' } }
          %span
            = icon('fas', 'minus')
        %th.text-center.p-0{ title: t(:calendars)[:tooltips][:visit_day], data: { toggle: 'tooltip' } }
          %span
            = VisitGroup.human_attribute_name(:day)
        %th.text-center.py-0.px-1{ title: t(:calendars)[:tooltips][:window_after], data: { toggle: 'tooltip' } }
          %span
            = icon('fas', 'plus')
    %tbody
      %tr
        %td.text-center.py-0.px-1{ title: visit_group.window_before, data: { toggle: 'tooltip' } }
          - if editable
            = link_to visit_group.window_before, url, remote: true
          - else
            = visit_group.window_before
        %td.text-center.p-0{ title: visit_group.day, data: { toggle: 'tooltip' } }
          - day = visit_group.day.blank? ? '?' : visit_group.day
          - if editable
            = link_to day, url, remote: true
          - else
            = visit_group.day
        %td.text-center.py-0.px-1{ title: visit_group.window_after, data: { toggle: 'tooltip' } }
          - if editable
            = link_to visit_group.window_after, url, remote: true
          - else
            = visit_group.window_after
      %tr
        %td.text-center.py-0.px-1{ colspan: 3, title: visit_group.name, data: { toggle: 'tooltip' } }
          - if editable
            = link_to visit_group.name, url, remote: true
          - else
            = visit_group.name
