-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.question.my-5{ id: "question-#{question.id}", data: { question_id: question.id } }

  .form-row
    .form-group.col-9
      = label_tag "question-#{question.id}-content", t(:surveyor)[:surveys][:form][:content][:question][:content], class: 'required font-weight-bold'
      = text_field_tag "question-#{question.id}-content", question.content, class: 'form-control col-auto'
    .form-group.col.pl-0
      = label_tag "question-#{question.id}-question_type", t(:surveyor)[:surveys][:form][:content][:question][:type], class: 'font-weight-bold'
      = select_tag "question-#{question.id}-question_type", options_for_select(Survey::QUESTION_TYPES, question.question_type), class: 'selectpicker select-question-type', data: { question_id: question.id }, disabled: question.question_responses.any?
    .form-group
      %label.w-100 &nbsp;
      = link_to icon('fas', 'trash-alt'), surveyor_question_path(question), method: :delete, remote: true, class: ' btn btn-danger delete-question col-auto', title: t(:surveyor)[:surveys][:form][:content][:question][:delete], data: { toggle: 'tooltip', confirm_swal: true }
  .form-group
    = label_tag "question-#{question.id}-description", t(:surveyor)[:surveys][:form][:content][:question][:description]
    = text_area_tag "question-#{question.id}-description", question.description, class: 'form-control', placeholder: t(:surveyor)[:surveys][:form][:placeholders][:question][:description]

  .form-row
    .form-group.col-2.d-flex.align-items-center
      = label_tag "question-#{question.id}-required", t(:surveyor)[:surveys][:form][:content][:question][:required], class: 'my-0 mr-1'
      = check_box_tag "question-#{question.id}-required", question.required, question.required, disabled: question.survey.has_responses?

    = render 'surveyor/surveys/form/dependent_dropdown', survey: survey, question: question
  - if question.question_responses.any?
    .form-group
      %span.text-danger
        = t(:surveyor)[:surveys][:form][:content][:question][:warning]

  .question-options{ data: { question_id: question.id } }
    = render "surveyor/surveys/form/form_partials/#{question.question_type}_example", question: question
