-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_for visit_group, {remote: true, url: dashboard_visit_group_path(visit_group), html: {class: "form-horizontal", id: "edit_visit_group", role: "form"}} do |a|
  = hidden_field_tag :service_request_id, service_request.id
  = hidden_field_tag :sub_service_request_id, sub_service_request.id
  .form-group
    = a.label "name", t(:dashboard)[:visit_groups][:name], class: "col-sm-4 control-label"
    .col-sm-7
      = a.text_field "name", {class: 'form-control'}
  .form-group
    = a.label "day", t(:dashboard)[:visit_groups][:day], class: "col-sm-4 control-label"
    .col-sm-7
      = a.text_field "day", {class: 'form-control', maxlength: 4}
  .form-group
    = a.label "window_before", t(:dashboard)[:visit_groups][:window_before], class: "col-sm-4 control-label"
    .col-sm-7
      = a.text_field "window_before", {class: 'form-control'}
  .form-group
    = a.label "window_after", t(:dashboard)[:visit_groups][:window_after], class: "col-sm-4 control-label"
    .col-sm-7
      = a.text_field "window_after", {class: 'form-control'}
  .modal-footer
    .center-block
      %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
        = t(:actions)[:close]
      %input.btn.btn-primary#edit_visit_group_form_button{type: 'submit', value: t(:actions)[:save]}
