-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if (forms = sub_service_request.forms_to_complete).any?
  .dropdown.no-caret
    %button.btn.btn-danger.dropdown-toggle.position-relative.complete-forms{ id: "subServiceRequest#{sub_service_request.id}Forms", role: 'button', data: { toggle: 'dropdown', boundary: 'window' }, aria: { haspopup: 'true', expanded: 'false' } }
      = t('dashboard.service_requests.forms.selectpicker')
      %span.badge.badge-pill.badge-c.notification-badge.badge-secondary
        = format_count(forms.values.sum(&:count))
    .dropdown-menu{ aria: { labelledby: "subServiceRequest#{sub_service_request.id}Forms" } }
      - forms.each do |surveyable_name, grouped_forms|
        .dropdown-header
          %h6.mb-0
            = surveyable_name
        .dropdown-divider
        - grouped_forms.each do |f|
          = link_to new_surveyor_response_path(type: Form.name, survey_id: f.id, respondable_id: sub_service_request.id, respondable_type: SubServiceRequest.name), remote: true, class: 'dropdown-item' do
            = succeed f.title do
              = icon('fas', 'poll-h mr-2')
