-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= javascript_include_tag 'dashboard/service_calendar_logic'

- if !(sub_service_request.per_patient_per_visit_line_items.length >= 1) || service_request.arms.empty?
  .blank_requests
    = render partial: 'shared/alert', locals: { message: t(:dashboard)[:sub_service_requests][:tabs][:study_schedule][:no_requests] }
- else
  #per_patient_per_visit_table
    = render partial: 'study_schedule/management_buttons', locals: { service_request: service_request, sub_service_request: sub_service_request }
    #service_calendar
      .schedule_tabs{ role: 'tabpanel' }
        %ul.nav.nav-tabs.nav-justified{ role: 'tablist' }
          %li.other_tab.custom-tab.ss_tab{ role: 'presentation', class: cookies['admin-ss-tab'] ? (cookies['admin-ss-tab'] == 'template_tab' ? 'active' : '') : 'active' }
            = link_to t(:calendar_page)[:tabs][:template], '#template-calendar', { id: 'template_tab', data: { toggle: 'tab', url: table_dashboard_service_calendars_path(sub_service_request_id: sub_service_request.id, tab: 'template', portal: true) }, role: 'tab', 'aria-controls' => 'template-calendar', target: '#template-calendar' }
          %li.other_tab.custom-tab.ss_tab{ role: 'presentation', class: cookies['admin-ss-tab'] == 'billing_strategy_tab' ? 'active' : '' }
            = link_to t(:calendar_page)[:tabs][:billing], '#billing-strategy-calendar', { id: 'billing_strategy_tab', data: { toggle: 'tab', url: table_dashboard_service_calendars_path(sub_service_request_id: sub_service_request.id, tab: 'billing_strategy', portal: true) }, role: 'tab', 'aria-controls' => 'billing-strategy-calendar', target: '#billing-strategy-calendar' }
          %li.pricing_tab.custom-tab.ss_tab{ role: 'presentation', class: cookies['admin-ss-tab'] == 'calendar_tab' ? 'active' : '' }
            = link_to t(:calendar_page)[:tabs][:pricing], '#consolidated-request-calendar', { id: 'calendar_tab', data: { toggle: 'tab', url: merged_calendar_dashboard_service_calendars_path(sub_service_request_id: sub_service_request.id, tab: 'calendar', portal: true) }, role: 'tab', 'aria-controls' => 'consolidated-request-calendar', target: '#consolidated-request-calendar' }
          .move-visits
      .tab-content
        .tab-pane#template-calendar{ role: 'tabpanel', class: cookies['admin-ss-tab'] ? (cookies['admin-ss-tab'] == 'template_tab' ? 'active' : '') : 'active' }
        .tab-pane#billing-strategy-calendar{ role: 'tabpanel', class: cookies['admin-ss-tab'] == 'billing_strategy_tab' ? 'active' : '' }
        .tab-pane#consolidated-request-calendar{ role: 'tabpanel', class: cookies['admin-ss-tab'] == 'calendar_tab' ? 'active' : '' }
