-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:options][:header]
  %table.table.table-bordered.table-condensed
    %tbody
      %tr
        - if USE_EPIC
          %td.text-center
            %button.btn.btn-sm.btn-primary#send_to_epic_button{ data: { sub_service_request_id: sub_service_request.id }}
              = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:options][:send_to_epic]
        - if sub_service_request.ctrc?
          %td.text-center
            %button.btn.btn-sm.btn-warning#admin_approvals_button{ data: { sub_service_request_id: sub_service_request.id }}
              = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:options][:core_approvals]
        %td.text-center
          = link_to t(:dashboard)[:sub_service_requests][:tabs][:request_details][:options][:export_to_excel], service_request_path(service_request, format: :xlsx, admin_offset: 1, sub_service_request_id: sub_service_request.id), :class => "export_to_excel_button btn btn-sm btn-primary"
        %td.text-center
          %button.btn.btn-sm.btn-danger#delete_ssr_button{ data: { sub_service_request_id: sub_service_request.id }}
            %span
              .glyphicon.glyphicon-remove
              = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:options][:delete_request]

.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:timeline][:header]
  .panel-body#timeline_table
    .row
      .col-xs-12
        .col-xs-3
          %label
            = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:timeline][:start_date]
        .col-xs-3
          %label
            = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:timeline][:end_date]
        .col-xs-3
          %label
            = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:timeline][:arranged_date]
        .col-xs-3
          %label
            = t(:dashboard)[:sub_service_requests][:tabs][:request_details][:timeline][:contacted_date]
    .row
      .col-xs-12
        .col-xs-3
          = text_field_tag "protocol_start_date_picker", protocol.try(:start_date).try(:strftime, '%D'), class: 'date datetimepicker form-control', :'data-protocol_id' => sub_service_request.try(:protocol).try(:id), :'data-sub_service_request_id' => sub_service_request.try(:id)
        .col-xs-3
          = text_field_tag "protocol_end_date_picker", protocol.try(:end_date).try(:strftime, '%D'), class: 'date datetimepicker form-control', :'data-protocol_id' => sub_service_request.try(:protocol).try(:id), :'data-sub_service_request_id' => sub_service_request.try(:id)
        .col-xs-3
          = text_field_tag "sub_service_request_consult_arranged_date_picker", sub_service_request.try(:consult_arranged_date).try(:strftime, '%D'), class: 'date datetimepicker form-control', :'data-sub_service_request_id' => sub_service_request.try(:id)
        .col-xs-3
          = text_field_tag "sub_service_request_requester_contacted_date_picker", sub_service_request.try(:requester_contacted_date).try(:strftime, '%D'), class: 'date datetimepicker form-control', :'data-sub_service_request_id' => sub_service_request.try(:id)

- if sub_service_request.eligible_for_subsidy?
  #subsidy_information
    = render partial: 'dashboard/subsidies/subsidy', locals: { sub_service_request: sub_service_request, admin: true }
