-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.modal-dialog.modal-lg.user-view-ssr-modal
  .modal-content
    .modal-header
      %button.close{ type: 'button', data: { dismiss: 'modal' } }
        %span{ aria: { hidden: 'true' } } &times;
      %h4.text-center#modal-title
        = sub_service_request.organization.name
    .modal-body
      #modal_errors
      .panel-group

        - if sub_service_request.has_per_patient_per_visit_services?
          - @service_request.arms.each do |arm|
            = render partial: 'dashboard/service_calendars/master_calendar/pppv/pppv_calendar', locals: { service_request: @service_request, sub_service_request: @sub_service_request, tab: @tab, arm: arm, portal: @portal, thead_class: @thead_class, page: @pages[arm.id], review: @review, pages: @pages, merged: @merged, study_tracker: @study_tracker }
        - if sub_service_request.has_one_time_fee_services?
          = render partial: 'dashboard/service_calendars/master_calendar/otf/otf_calendar', locals: { service_request: @service_request, sub_service_request: @sub_service_request, tab: @tab, portal: @portal, thead_class: @thead_class, review: @review, pages: @pages, merged: @merged, study_tracker: @study_tracker, protocol: @protocol }
        - unless sub_service_request.has_per_patient_per_visit_services? || sub_service_request.has_one_time_fee_services?
          = render partial: 'shared/alert', locals: { message: t(:dashboard)[:service_requests][:view_ssr][:services][:none] }

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              = t(:dashboard)[:service_requests][:view_ssr][:documents][:header]
          - if sub_service_request.documents.empty?
            .panel-body
              = render partial: 'shared/alert', locals: { message: t(:dashboard)[:service_requests][:view_ssr][:documents][:none] }
          - else
            %table.table.table-striped
              %thead
                %tr
                  %th
                    = t(:dashboard)[:service_requests][:view_ssr][:documents][:file_name]
                  %th
                    = t(:dashboard)[:service_requests][:view_ssr][:documents][:program_core]
              %tbody
                - sub_service_request.documents.each do |document|
                  %tr
                    %td
                      = link_to document.document_file_name, document.document.url
                    %td
                      = @service_list[sub_service_request.organization_id][:name]
        - if sub_service_request.eligible_for_subsidy?
          = render partial: 'dashboard/subsidies/subsidy', locals: { sub_service_request: sub_service_request, admin: false }

    .modal-footer
      .center-block
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
