-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-xl#subServiceRequestDetailsModal{ role: 'document'}
  .modal-content
    .modal-header
      %h4.modal-title
        = sub_service_request.organization.name
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body#serviceCalendar
      = render 'service_calendars/fields', merged: merged, consolidated: consolidated, tab: tab

      - if sub_service_request.has_per_patient_per_visit_services?
        - service_request.arms.select{ |arm| arm.visit_groups.any? }.each do |arm|
          = render 'service_calendars/master_calendar/pppv/pppv_calendar', tab: tab, arm: arm, service_request: service_request, sub_service_request: sub_service_request, page: pages[arm.id], pages: pages, merged: merged, consolidated: consolidated

      - if sub_service_request.has_one_time_fee_services?
        = render 'service_calendars/master_calendar/otf/otf_calendar', service_request: service_request, sub_service_request: sub_service_request, merged: merged, consolidated: consolidated

      .card
        .card-header.bg-primary.text-white
          %h3.mb-0<
            = t('documents.header')
        - if sub_service_request.documents.empty?
          = render 'layouts/modal_errors', messages: [t(:documents)[:none]], margin: false, rounded: false
        - else
          %table.table.table-bordered.mb-0
            %thead.bg-light
              %tr
                %th
                  = Document.human_attribute_name(:document)
                %th
                  = Document.human_attribute_name(:org_ids)
            %tbody
              - sub_service_request.documents.each do |document|
                %tr
                  %td
                    = display_document_title(document, permission: true)
                  %td
                    = sub_service_request.org_tree_display
      - if sub_service_request.eligible_for_subsidy?
        = render 'subsidies/subsidy', sub_service_request: sub_service_request, admin: false
    .modal-footer
      - if request_referrer_action == 'index'
        = link_to t(:actions)[:back],display_requests_dashboard_protocol_path(protocol), remote: true, class: 'btn btn-light'
      %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
        = t('actions.close')
