-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog.modal-md
  .modal-content
    = form_for visit, remote: true, url: visit_path(visit, admin: admin, tab: tab, page: page), html: { class: 'form-horizontal visit-form' } do |f|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only &times;
        %h4.modal-title.text-center
          = t(:calendars)[:pppv][:header_fields][:edit_billing_modal]
      .modal-body
        #modal_errors
        = hidden_field_tag :srid, service_request.try(:id)
        - if sub_service_request
          = hidden_field_tag :sub_service_request_id, sub_service_request.id
        .form-group
          = f.label :research_billing_qty, t(:calendars)[:pppv][:editable_fields][:research], class: 'col-sm-5 control-label required'
          .col-sm-6
            = f.text_field :research_billing_qty, class: 'form-control'
        .form-group
          = f.label :insurance_billing_qty, t(:calendars)[:pppv][:editable_fields][:third_party], class: 'col-sm-5 control-label required'
          .col-sm-6
            = f.text_field :insurance_billing_qty, class: 'form-control'
        .form-group
          = f.label :effort_billing_qty, t(:calendars)[:pppv][:editable_fields][:percent], class: 'col-sm-5 control-label required'
          .col-sm-6
            = f.text_field :effort_billing_qty, class: 'form-control'
      .modal-footer
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t(:actions)[:save], class: 'btn btn-primary'
