-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%h3
  %small
    = organization_type_header(organization)
%h3.no-margin-top
  = organization.name
%h6.text-muted
  = org_tree_header(organization)

- if !@user.can_edit_organization?(organization)
  %h4= t(:catalog_manager)[:organization_form][:not_authorized]
- else
  .panel-group#cm-form-accordion
    .panel.panel-default#general-info
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:headers][:general_info], '#general-info-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
      .panel-collapse.collapse.in#general-info-collapse
        .panel-body
          = render "general_info_form", organization: organization, user: @user, path: path

    - if organization.process_ssrs?
      .panel.panel-default#status-options
        .panel-heading
          %h4.panel-title
            = link_to t(:catalog_manager)[:organization_form][:headers][:status_options], '#status-options-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
        .panel-collapse.collapse#status-options-collapse
          .panel-body
            = render "statuses_form", organization: organization, available_statuses: @available_statuses, editable_statuses: @editable_statuses, user: @user

      .panel.panel-default#submission-emails
        .panel-heading
          %h4.panel-title
            = link_to t(:catalog_manager)[:organization_form][:headers][:submission_emails], '#submission-emails-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
        .panel-collapse.collapse#submission-emails-collapse
          .panel-body
            = render "/catalog_manager/submission_emails/form", organization: organization

    .panel.panel-default#user-rights
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:headers][:user_rights], '#user-rights-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
      .panel-collapse.collapse#user-rights-collapse
        .panel-body
          = render "user_rights_form", organization: organization, user_rights: user_rights, user: @user, path: path

    - unless organization.type == 'Institution'
      .panel.panel-default#pricing
        .panel-heading
          %h4.panel-title
            = link_to t(:catalog_manager)[:organization_form][:headers][:pricing], '#pricing-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
        .panel-collapse.collapse#pricing-collapse
          .panel-body
            #pricing_setups_container
              = render "pricing_form", organization: organization, user: @user

      .panel.panel-default#fulfillment{style: (organization.tag_list.include?("clinical work fulfillment") && organization.process_ssrs) ? "display: block;" : "display: none;"}
        .panel-heading
          %h4.panel-title
            = link_to t(:catalog_manager)[:organization_form][:fulfillment_rights][:title], '#fulfillment-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
        .panel-collapse.collapse#fulfillment-collapse
          .panel-body
            = render "fulfillment_rights_form", organization: organization, path: path, fulfillment_rights: fulfillment_rights

      .panel.panel-default#associated-surveys
        .panel-heading
          %h4.panel-title
            = link_to t(:catalog_manager)[:organization_form][:headers][:associated_surveys], '#associated-surveys-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
        .panel-collapse.collapse#associated-surveys-collapse
          .panel-body
            = render "surveys_form", organization: organization, user_rights: user_rights, user: @user, path: path
