-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- new_user ||= false

.row.form_row{ id: "fulfillment-rights-row-#{fr.id}", data: { identity_id: fr.id } }
  .col-sm-7
    = "#{fr.full_name}, #{fr.email}"
  .col-sm-3.text-center
    = check_box_tag :clinical_provider, true, !get_user_rights(fulfillment_rights[:clinical_providers], fr.id).nil?, { class: "clinical-provider-checkbox", data: { identity_id: fr.id, organization_id: organization.id } }
  / .col-sm-3.text-center
  /   = check_box_tag :patient_registrar, true, !get_user_rights(fulfillment_rights[:patient_registrars], fr.id).nil?, { class: "patient-registrar-checkbox", data: { identity_id: fr.id, organization_id: organization.id } }
  -#.col-sm-3.text-center
    -#= check_box_tag :invoicer, true, !get_user_rights(fulfillment_rights[:invoicers], fr.id).nil?, { class: "invoicer-checkbox", data: { identity_id: fr.id, organization_id: organization.id } }
  .col-sm-2.text-center
    - if new_user or !fulfillment_rights.values.flatten.map(&:identity_id).include?(fr.id)
      %button.btn.btn-xs.btn-danger.cancel-fulfillment-rights
        %span.glyphicon.glyphicon-remove
    -else
      %button.btn.btn-xs.btn-danger.remove-fulfillment-rights{ data: { identity_id: fr.id, organization_id: organization.id } }
        %span.glyphicon.glyphicon-remove
