-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_for organization.becomes(Organization), url: catalog_manager_organization_path(organization), html: {class: 'form-horizontal'}, remote: true do |f|
  #error_place.form-group
  .form-group
    = f.label :name,  t(:catalog_manager)[:organization_form][:name], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :name, { class: 'form-control' }
  .form-group
    = f.label :abbreviation, t(:catalog_manager)[:organization_form][:abbreviation], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :abbreviation, { class: 'form-control' }
  .form-group
    = f.label :description, t(:catalog_manager)[:organization_form][:description], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_area :description, { rows: 8, class: 'form-control' }
  .form-group
    = f.label :ack_language, t(:catalog_manager)[:organization_form][:ack_language], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_area :ack_language, { rows: 8, class: 'form-control' }
  .form-group
    = f.label :order, t(:catalog_manager)[:organization_form][:order], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :order, { class: 'form-control' }

  - unless organization.type == 'Institution'
    .form-group.split_notify_container
      = f.label :process_ssrs, t(:catalog_manager)[:organization_form][:split_notify], class: 'col-sm-3 control-label'
      .col-sm-9
        = f.check_box :process_ssrs, { checked: organization.process_ssrs, disabled: false, data: {toggle: 'toggle', on: 'Yes', off: 'No'}}

  - if ['Institution','Provider'].include?(organization.type) && user.catalog_overlord?
    .form-group
      = f.label :css_class, t(:catalog_manager)[:organization_form][:css_class], class: 'col-sm-3 control-label'
      .col-sm-9
        = f.select :css_class, ACCORDION_COLOR_OPTIONS, { include_blank: t(:catalog_manager)[:organization_form][:color_blank] }, { class: 'selectpicker' }

  .form-group#display-in-sparc
    = f.label :is_available, t(:catalog_manager)[:organization_form][:disabled], class: 'col-sm-3 control-label'
    .col-sm-9
      = f.check_box :is_available, { checked: organization.is_available, disabled: organization.parent ? !organization.parent.is_available : false, data: {toggle: 'toggle', on: 'Yes', off: 'No'} }
      - if @organization.parent && !@organization.parent.is_available
        %span{style: "padding-left: 15px;"}
          = disabled_parent(@organization)

  - if organization.services.any?
    .form-group.multi_toggle{ class: organization.is_available? ? '' : 'hidden' }
      = label_tag 'all_services_availability', t(:catalog_manager)[:organization_form][:all_services_availability], class: 'col-sm-3 control-label'
      .col-sm-9
        .btn-group{ role: 'group', data: { toggle: 'labels' } }
          %label.radio-inline.btn.btn-default
            = radio_button_tag 'all_services_availability', 'false', false, class: 'hidden'
            = 'Disable All'
          %label.radio-inline.btn.btn-default.active
            = radio_button_tag 'all_services_availability', 'keep', true, class: 'hidden'
            = 'Keep Availability'
          %label.radio-inline.btn.btn-default
            = radio_button_tag 'all_services_availability', 'true', false, class: 'hidden'
            = 'Enable All'
  - unless organization.type == 'Institution' || (tags = Tag.for_organization(organization)).empty?
    .form-group
      = f.label :tag_list, t(:catalog_manager)[:organization_form][:tag_list], class: 'col-sm-3 control-label'
      .col-sm-9
        = f.select :tag_list, options_from_collection_for_select(tags, :name, :humanized_name, organization.tags.pluck(:name)), {}, class: 'form-control selectpicker', multiple: true, data: { none_selected_text: t(:constants)[:prompts][:none] }

  %hr
  .pull-right
    %input.btn.btn-default#close-general-info{ type: 'button', value: t(:actions)[:close], data: {toggle: 'collapse', target: '#general-info-collapse'}}
    %input.btn.btn-primary{ type: 'submit', value: t(:actions)[:save] }
