-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#increase_decrease_modal
  .modal-dialog
    .modal-content
      = form_tag(catalog_manager_organizations_increase_decrease_rates_path, method: "post", remote: true, class: 'form-horizontal') do
        .modal-header
          %button.close{"aria-label" => "Close", data: {dismiss: 'modal'}, type: "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title= t(:catalog_manager)[:organization_form][:pricing][:increase_decrease]
        .modal-body
          = hidden_field_tag :organization_id, organization.id
          #modal_errors
          .form-group
            = label_tag :percent_of_change, t(:catalog_manager)[:organization_form][:pricing][:percent_of_change], class: 'col-sm-4 col-sm-offset-1 control-label'
            .col-sm-4= text_field_tag :percent_of_change, '',class: 'form-control'
          .form-group.has-feedback
            = label_tag :display_date, t(:catalog_manager)[:organization_form][:pricing][:display_date], class: 'col-sm-4 col-sm-offset-1 control-label'
            .col-sm-4
              = text_field_tag :display_date, '', class: 'form-control datetimepicker'
              %span.glyphicon.glyphicon-calendar.form-control-feedback
          .form-group.has-feedback
            = label_tag :effective_date, t(:catalog_manager)[:organization_form][:pricing][:effective_date], class: 'col-sm-4 col-sm-offset-1 control-label'
            .col-sm-4
              = text_field_tag :effective_date, '', class: 'form-control datetimepicker'
              %span.glyphicon.glyphicon-calendar.form-control-feedback
        .modal-footer
          %button.btn.btn-default{data: {dismiss: 'modal'}, type: 'button'} Close
          %input#increase_decrease_submit.btn.btn-primary{type: 'submit', value: t(:catalog_manager)[:organization_form][:pricing][:adjust_rates]}
