-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#pricing_setups_container
  %h4.form_row= t(:catalog_manager)[:organization_form][:pricing][:pricing_setups]
  #new_pricing_setup_link.btn.btn-primary{data: {organization_id: organization.id}}
    = t(:catalog_manager)[:organization_form][:pricing][:add_pricing]

  #pricing_setup_list
    - pricing_setups = organization.pricing_setups.order(effective_date: :desc)
    - pricing_setups[0..2].each do |pricing_setup|
      = render "/catalog_manager/organizations/pricing_setup", pricing_setup: pricing_setup
    - if pricing_setups.length > 3
      = link_to t(:constants)[:more], "#org#{organization.id}PricingSetupsExpand", class: 'btn btn-primary collapsed', alt: t(:constants)[:less], data: { toggle: 'collapse' }, aria: { expanded: 'false' }
      .collapse{ id: "org#{organization.id}PricingSetupsExpand" }
        - pricing_setups[3..-1].each do |pricing_setup|
          = render "/catalog_manager/organizations/pricing_setup", pricing_setup: pricing_setup

#increase_decrease_container
  %h4.form_row= t(:catalog_manager)[:organization_form][:pricing][:auto_price_adj]
  #increase_decrease_button.btn.btn-primary{data: {organization_id: organization.id}}
    = t(:catalog_manager)[:organization_form][:pricing][:increase_decrease]

#subsidy_container
  %h4.form_row= t(:catalog_manager)[:organization_form][:pricing][:subsidy_info]
  #edit_subsidy_map_button.btn.btn-primary{data: {subsidy_map_id: organization.subsidy_map.id}}
    = t(:catalog_manager)[:organization_form][:pricing][:edit_subsidy_map]
