-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.


-####View is much simpler for defaults vs actual organization statuses####
- if using_defaults
  - checked = available_statuses.include?(status_key)

  .row.form_row
    .col-sm-6
      = status_value
    .col-sm-3.text-center
      = check_box_tag :available_status, true, checked, { class: "available-status-checkbox", disabled: true}
    .col-sm-3.text-center
      = check_box_tag :editable_status, true, checked, { class: "editable-status-checkbox", disabled: true}


- else####Not using defaults, more complex view####
  - available_status = available_statuses.detect { |s| s.status == status_key }
  - editable_status = editable_statuses.detect { |s| s.status == status_key }
  - mandatory_status = available_status.try(:disabled_status?)

  .row.form_row{ id: "status-row-#{status_key}"}
    .col-sm-6
      = status_value
    .col-sm-3.text-center
      = check_box_tag :available_status, true, available_status.try(:selected), { class: "available-status-checkbox", disabled: mandatory_status, data: {organization_id: organization.id, status_key: status_key } }
    .col-sm-3.text-center
      = check_box_tag :editable_status, true, editable_status.try(:selected), { class: "editable-status-checkbox", disabled: (!current_user.catalog_overlord? or mandatory_status or !available_status.try(:selected)), data: {organization_id: organization.id, status_key: status_key } }
