-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.row
  .col-sm-8
    %h5= t(:catalog_manager)[:organization_form][:surveys][:name_version]
  .col-sm-4.text-center
    %h5= t(:catalog_manager)[:service_form][:remove_add]

#surveys_container
  - organization.associated_surveys.each do |associated_survey|
    = render "survey_row", associated_survey: associated_survey, organization: organization

.row
  .col-sm-8
    = select_tag 'new_associated_survey', grouped_options_for_select(SystemSurvey.active.group_by(&:title).map{|k,v| [k,v.map{|p| ["Version #{p.version}", p.id]}]}, nil, { prompt: t(:catalog_manager)[:organization_form][:surveys][:select_survey] }), {class: 'form-control select-type new_associated_survey selectpicker'}
  .col-sm-4.text-center
    %button.btn.btn-xs.btn-success.add-associated-survey{ data: {type: organization.type, id: organization.id}}
      %span.glyphicon.glyphicon-plus

.row
  .col-sm-12
    = t(:catalog_manager)[:organization_form][:surveys][:survey_warning]

