!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en" }

  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }

    %title= t(:notifier)[:service_request]

  %body
    - welcome_text = @service_request.status == "obtain_research_pricing" ? I18n.t('notifier.welcome_obtain_research_pricing') : I18n.t('notifier.welcome_submit')
    -if @role == 'pi' || @role == 'primary-pi'
      %p= I18n.t('notifier.body1', :full_name => @identity.full_name)
      %p= I18n.t('notifier.body2_pi', :welcome => welcome_text, :application_title => I18n.t('application_title'), :root_url => ROOT_URL, :protocol_type => @protocol.type.downcase)
    -else
      %p= I18n.t('notifier.body2_non_pi', :welcome => welcome_text, :application_title => I18n.t('application_title'), :root_url => ROOT_URL, :protocol_type => @protocol.type.downcase)

    %table{:style => 'border: 1px solid black; border-collapse: collapse; width: 100%;', :cellpadding => 3}
      %thead
        %tr{:style => 'border: 1px solid black;'}
          %td{:colspan => 2}
            %strong= t(:notifier)[:p_info]
      %tbody
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:p_id]
          %td{:style => 'border: 1px solid black;'}= @protocol.id
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:title1]
          %td{:style => 'border: 1px solid black;'}= @protocol.short_title
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:title2]
          %td{:style => 'border: 1px solid black;'}= @protocol.title
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:s_name]
          %td{:style => 'border: 1px solid black;'}= @protocol.sponsor_name
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:source]
          %td{:style => 'border: 1px solid black;'}= (@protocol.funding_source or @protocol.potential_funding_source or "").capitalize

    %br
    %br

    %table{:style => 'border: 1px solid black; border-collapse: collapse; width: 100%;', :cellpadding => 3}
      %thead
        %tr{:style => 'border: 1px solid black;'}
          %th{:style => 'border: 1px solid black; text-align: left;'}= t(:notifier)[:name]
          %th{:style => 'border: 1px solid black;'}= t(:notifier)[:role]
          %th{:style => 'border: 1px solid black;'}= t(:notifier)[:proxy]
      %tbody
        - @protocol.project_roles.each do |pr|
          %tr{:style => 'border: 1px solid black;'}
            %td{:style => 'border: 1px solid black;'}= pr.identity.full_name
            %td{:style => 'border: 1px solid black; text-align: center;'}= pr.role.upcase
            %td{:style => 'border: 1px solid black; text-align: center;'}= {"approve"=>"Authorize/Change Study Charges", "request"=>"Request/Approve Services", "view"=>"View Rights", "none"=>"Member Only"}[pr.project_rights]

    %p= t(:issue_contact)

    %p= t(:notifier)[:body6]
    - if @approval_link
      %p
        = t(:notifier)[:body7]
        %a{:style => "color: red; font-weight: bold;", :href => @approval_link}= t(:notifier)[:link]
        ="."
    %p
      %a{:style => "color: blue; font-weight: bold;", :href => @portal_link}=@portal_text
    
    - @service_request.service_list.map{|k, v| v[:acks]}.flatten.uniq.each do |ack|
      %p{:style => 'font-size: small;'}=ack

