-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en" }

  %head
    = stylesheet_link_tag 'proper/notification_email'
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }

    %title= t(:notifier)[:service_request]

  %body
    /***** EMAIL INTRO *****
    - case @status
    - when 'all_ssrs_deleted'
      = render "deleted_all_services_from_cart"
    - when 'get_a_cost_estimate'
      = render "welcome"
    - when 'submitted'
      = render "welcome_for_submitted_status"
    /***** END EMAIL INTRO *****

    /***** EMAIL TABLES *****
    = render "protocol_information", protocol: @protocol

    - if @service_request.has_per_patient_per_visit_services? and @service_request.arms.count > 0
      = render "arm_information"

    = render "user_information"

    - if @ssrs_to_be_displayed
      - if @status == 'all_ssrs_deleted'
        = render "deleted_srid_information"
      - else
        = render "srid_information"
  
    - if @status != 'all_ssrs_deleted' && @audit_report.present? && @audit_report[:line_items].present?
      = render "audit_action"
    /***** END EMAIL TABLES *****

    /***** OTHER EMAIL TIDBITS *****
    - if @status == "submitted" && @role == 'none' && !@notes.empty?
      %p= t(:notifier)[:notes_present]
    
    - if @status != 'all_ssrs_deleted'
      %p= t(:notifier)[:body6]
    
    %p= t(:issue_contact)
    
    - if @role != 'none'
      = render "acknowledgments"
    /***** END OTHER EMAIL TIDBITS *****