%table.table{cellpadding: 3}
  %thead
    %tr.skinny-black-border
      %td{:colspan => 4}
        %strong= t(:notifier)[:srid_info]
  %tr
    %th.skinny-black-border= t(:notifier)[:sr_id_acronym]
    %th.skinny-black-border= t(:notifier)[:organization]
    %th.skinny-black-border= t(:notifier)[:status]
  %tbody
    - @ssrs_to_be_displayed.each do |ssr|
      - link = DASHBOARD_LINK + '/sub_service_requests/' + ssr.id.to_s
      %tr.skinny-black-border
        - if @role == 'none'
          %td.center
            %a.link{href: link}=ssr.display_id
        - else
          %td.skinny-black-border.center= ssr.display_id
        %td.skinny-black-border.center= ssr.org_tree_display
        %td.skinny-black-border.center= AVAILABLE_STATUSES[ssr.status]
%br
%br