!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" => "en", :lang => "en" }

  %head
    %meta{ :"http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title= t(:notifier)[:notice][:body1]

  %body
    = t(:notifier)[:notice][:body2]
    %br
    %br

    %table
      %tr
        %th= t(:notifier)[:notice][:last]
        %td= @identity.last_name
      %tr
        %th= t(:notifier)[:notice][:first]
        %td= @identity.first_name
      %tr
        %th= t(:notifier)[:notice][:company]
        %td= @identity.company
      %tr
        %th= t(:notifier)[:notice][:email]
        %td= @identity.email
      %tr
        %th= t(:notifier)[:notice][:number]
        %td= @identity.phone
      %tr
        %th= t(:notifier)[:notice][:reason]
        %td= @identity.reason

    %br
    %br

    = link_to t(:notifier)[:notice][:approve], approve_account_identity_url(@identity)

    %br
    \- OR - 
    %br

    = link_to t(:notifier)[:notice][:disapprove], disapprove_account_identity_url(@identity)
