%p="Dear #{@primary_pi.full_name},"

%p
  The following SPARC Request users have requested access to Epic for
  your study ##{@protocol.id} (#{@protocol.short_title.strip}). Each
  individual is listed below with the Epic responsibilities requested.
  Please review carefully. When ready, please click the Approve link.
  This will send your study information to Epic automatically. If you
  need to make any changes to the personnel/responsibilities below,
  please click the “Edit” link which will redirect you to your SPARC
  Request user portal. Here, under your study’s “User” section, you can
  add/delete/edit any listed personnel as needed."

=render :partial => 'epic_access_rights'

%br

.accept_button= link_to "Push to Epic", push_to_epic_service_request_url(@service_request)
%br
.edit_button=  link_to "Edit", portal_root_url(:default_protocol => @protocol.id)

%br

Thank you! Please contact the SUCCESS Center at 792-8300 or 
= link_to "success@musc.edu", "mailto:success@musc.edu"
with any questions.

:scss
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

    th, td {
      padding: 1px 5px;
    }
  }

