-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%p The following SPARC Request user has requested access updates to Epic for study ##{@protocol.id} (#{@protocol.short_title.strip}).

%table
  %tr
    %th Name
    %th Role
    %th Epic Responsibilities Added
    %th Epic Responsibilities Removed
  %tr{:id => "project_role_#{@project_role.id}"}
    %td.name= @project_role.identity.full_name
    %td.role= USER_ROLES.invert[@project_role.role]
    %td.epic_rights_added
      %ul
        - @added_rights.each do |ar|
          %li= EPIC_RIGHTS[ar.right]
    %td.epic_rights_removed
      %ul
        - @removed_rights.each do |rr|
          %li= EPIC_RIGHTS[rr.right]

:scss
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

    th, td {
      padding: 1px 5px;
    }
  }
