= "Service request #{@ssr_id} has been deleted. Please contact your service provider for more information.  Thank you."
%br
%br
%hr
%table{:style => 'border: 1px solid black; border-collapse: collapse; width: 100%;', :cellpadding => 3}
  %thead
    %tr{:style => 'border: 1px solid black;'}
      %td{:colspan => 2}
        %strong= "Admin Information"
  %tbody
    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:triggered_by]
      %td{:style => 'border: 1px solid black;'}= @triggered_by
    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:p_id]
      %td{:style => 'border: 1px solid black;'}=@service_request.protocol.id      
    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:sr_id]
      %td{:style => 'border: 1px solid black;'}= @service_request.id
    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:ssr_id]
      %td{:style => 'border: 1px solid black;'}= @ssr.id
