-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- tooltip = controller_name == 'sub_service_requests' ? 'table_button' : 'main_button'

.tooltip-wrapper{ title: t("dashboard.notifications.tooltips.#{tooltip}"), data: { toggle: 'tooltip', boundary: 'window' } }
  .dropdown.no-caret
    %button.btn.btn-success.dropdown-toggle.send-notification{ class: in_admin? ? 'btn-block' : '', id: "sendNotificationRequest#{sub_service_request.id}", role: 'button', data: { toggle: 'dropdown', boundary: 'window' }, aria: { haspopup: 'true', expanded: 'false' } }<
      = icon('far', 'envelope', class: in_admin? ? 'mr-2' : '')
      - if in_admin?
        = t('dashboard.notifications.compose')
    .dropdown-menu.dropdown-menu-right{ aria: { labelledby: "sendNotificationRequest#{sub_service_request.id}" } }
      .dropdown-header
        %h5.mb-0
          = t('dashboard.notifications.authorized_users.header')
      .dropdown-divider
      - sub_service_request.protocol.project_roles.includes(:identity).order("identities.first_name", "identities.last_name").each do |pr|
        = link_to new_dashboard_notification_path(identity_id: pr.identity_id, sub_service_request_id: sub_service_request.id), remote: true, class: ['dropdown-item', pr.identity_id == current_user.id ? 'disabled' : ''] do
          = icon('far mr-2', 'envelope')
          = display_authorized_user(pr, sub_service_request)
      .dropdown-divider
      .dropdown-header
        %h5.mb-0
          = t('dashboard.notifications.service_providers.header')
      .dropdown-divider
      - sub_service_request.organization.service_providers.includes(:identity).order("identities.first_name", "identities.last_name").each do |sp|
        = link_to new_dashboard_notification_path(identity_id: sp.identity_id, sub_service_request_id: sub_service_request.id), remote: true, class: ['dropdown-item', sp.identity_id == current_user.id ? 'disabled' : ''] do
          = icon('far mr-2', 'envelope')
          = display_service_provider(sp, sub_service_request)
