-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.col-xs-12.tabs{role: 'tabpanel'}
  .col-xs-2#notification_tabs{data: {selected: "inbox"}}
    = render "dashboard/notifications/dropdown", sub_service_request: sub_service_request, user: user
    %hr
    %button.btn.btn-primary.btn-block.notification_nav#notifications_inbox
      %span.pull-left
        %span.glyphicon.glyphicon-inbox
        %span
          = t(:dashboard)[:notifications][:table][:inbox]
      %span.glyphicon.glyphicon-refresh.pull-right
    %button.btn.btn-default.btn-block.notification_nav#notifications_sent
      %span.pull-left
        %span.glyphicon.glyphicon-send
        %span
          = t(:dashboard)[:notifications][:table][:sent]
      %span.glyphicon.glyphicon-refresh.pull-right{style: "display: none;"}
  .col-xs-10
    #notifications-custom-toolbar
      %button.btn.btn-default.mark_as_read_unread{data: {sub_service_request_id: sub_service_request.id, read: "false"}}
        -# mark as unread
        = t(:dashboard)[:notifications][:table][:mark_as_unread]
      %button.btn.btn-default.mark_as_read_unread{data: {sub_service_request_id: sub_service_request.id, read: "true"}}
        -# mark as read
        = t(:dashboard)[:notifications][:table][:mark_as_read]
    %table.notifications_table.table-condensed.table-no-bordered.bootstrap_table{id: "notifications-table", data: {toggle: 'table', search: "true", url: dashboard_notifications_path(format: :json, sub_service_request_id: sub_service_request.id, table: "inbox"), toolbar: "#notifications-custom-toolbar", "sort-name" => "time", "sort-order" => 'desc', "row-style" => "notifications_row_style"}}
      %thead.primary-header
        %tr
          %th{data: {class: 'state', field: "state", checkbox: "true"}}
          %th{data: {class: 'user', align: "left", sortable: "true", field: "user"}}
            = t(:dashboard)[:notifications][:table][:user]
          %th{data: {class: 'subject', align: "left", sortable: "false", field: "subject"}}
            = t(:dashboard)[:notifications][:table][:subject]
          %th{data: {class: 'time', align: "right", sortable: "true", field: "time", sorter: "dateSorter"}}
            = t(:dashboard)[:notifications][:table][:time]
