-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- sub_service_request ||= nil

.card.w-100#notifications
  .card-body
    .row
      .col-2#notification_tabs{data: {selected: "inbox"}}
        - if sub_service_request
          = render "dashboard/notifications/dropdown", sub_service_request: sub_service_request
          %hr
        %nav.nav.nav-pills.flex-column.list-group.list-group-flush{ role: 'tablist' }
          .list-group-item.p-0
            = link_to dashboard_notifications_path(table: 'inbox', ssrid: sub_service_request.try(:id)), remote: true, class: ['nav-link text-center', table == 'inbox' ? 'active' : ''], id: 'notificationsInbox', role: 'tab', data: { toggle: 'tab' }, aria: { controls: 'notificationsInboxTab', selected: (table == 'inbox').to_s } do
              = succeed t(:dashboard)[:notifications][:table][:inbox] do
                = icon('fas', 'inbox mr-2')
          .list-group-item.p-0
            = link_to dashboard_notifications_path(table: 'sent', ssrid: sub_service_request.try(:id)), remote: true, class: ['nav-link text-center', table == 'sent' ? 'active' : ''], id: 'notificationsSent', role: 'tab', data: { toggle: 'tab' }, aria: { controls: 'notificationsSentTab', selected: (table == 'sent').to_s } do
              = succeed t(:dashboard)[:notifications][:table][:sent] do
                = icon('fas', 'paper-plane mr-2')
      .tab-content.col-10.pl-0
        .tab-pane.fade#notificationsInboxTab{ role: 'tabpanel', class: table == 'inbox' ? 'show active' : '', aria: { labelledby: 'notificationsInbox' } }
          - if table == 'inbox'
            = render 'dashboard/notifications/table', sub_service_request: sub_service_request, table: table
        .tab-pane.fade#notificationsSentTab{ role: 'tabpanel', class: table == 'sent' ? 'show active' : '', aria: { labelledby: 'notificationsSent' } }
          - if table == 'sent'
            = render 'dashboard/notifications/table', sub_service_request: sub_service_request, table: table
