-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.core-accordion
  - if ssr_org.present? && !process_ssr_found
    .panel.panel-default
      .panel-heading.core-header{ class: css_class(program) }
        %h4.panel-title.text-center
          = organization_name_display(ssr_org, false)
      .panel-body.core-display
        %p.description
          = organization_description_display(ssr_org)
        .core-services
          = render 'catalogs/accordion/services', services: ssr_org.services.select{ |serv| serv.is_available != false && serv.current_pricing_map }, service_request: service_request, sub_service_request: sub_service_request
  - else
    .panel-group{ id: "program-#{program.id}"}
      - cores.select{ |core| core.is_available != false }.each do |c|
        - locked = locked_ids.include?(c.id)
        .panel.panel-default
          .panel-heading.core-header{ class: [css_class(program), locked ? 'bg-danger text-danger' : ''], data: { toggle: 'collapse', target: ".core-#{c.id}", parent: "#program-#{program.id}" } }
            %h4.panel-title.text-center
              = organization_name_display(c, locked)
          .panel-collapse.collapse{ class: "core-#{c.id}" }
            .panel-body.core-display
              %p.description
                = organization_description_display(c)
              .core-services
                = render 'catalogs/accordion/services', services: c.services.select{ |serv| serv.is_available != false && serv.current_pricing_map }, service_request: service_request, sub_service_request: sub_service_request
