-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.accordion{ id: "program#{p.id}Accordion" }
  - p.cores.eager_load(services: [:pricing_maps, organization: [:pricing_setups, parent: [:pricing_setups, parent: :pricing_setups]]]).select{ |core| @core ? core == @core : true && core.is_available != false && core.services.any?(&:is_available) && core.services.any?(&:current_pricing_map) }.each do |c|
    - locked = locked_ids.include?(c.id)

    .card.core{ id: "core#{c.id}" }
      .card-header.p-0{ id: "core#{c.id}Header" }
        %button.core-link.btn.btn-block.d-flex.justify-content-between{ class: [css_class(p), locked ? 'locked' : '', @service ? '' : 'collapsed'], type: 'button', data: { toggle: 'collapse', target: "#core#{c.id}Collapse" }, aria: { expanded: 'true', controls: "core#{c.id}Collapse" } }
          %h6.mb-0
            = organization_name_display(c, locked, c.services.any?)
      .collapse{ class: @service ? 'show' : '', id: "core#{c.id}Collapse", data: { parent: "#program#{p.id}Accordion" }, aria: { labelledby: "core#{c.id}Header" } }
        .card-body
          - if c.description.present?
            %p
              = raw(c.description)
          = render 'catalogs/accordion/services', organization: c, service_request: service_request
