-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- organization.services.select{ |serv| @service ? serv == @service : true && serv.is_available != false && serv.current_pricing_map }.each do |service|

  .w-100.service
    .row
      %div{ class: action_name == 'protocol' ? 'col-12' : 'col-10' }
        %h5.mb-0
          - if service.description.present?
            = link_to service.display_service_name, 'javascript:void(0)', data: { toggle: 'popover', title: service.display_service_name, content: raw(service.description), placement: 'left', trigger: 'hover' }
          - else
            = service.display_service_name
        = cpt_code_text(service)
        = eap_id_text(service)
      - unless action_name == 'protocol'
        .col-2.text-right
          = link_to add_service_service_request_path(srid: service_request.id, service_id: service.id), remote: true, method: :post, title: t('proper.cart.add_service'), class: 'btn btn-success', data: { toggle: 'tooltip', placement: 'right' } do
            = icon('fas', 'plus')
      = raw service_pricing_text(service)
