.associated_surveys
  - unless entity.associated_surveys.empty?
    %table.associated_surveys_table
      %thead
        %tr
          %th= t("cm_shared.labels.survey_name")
          %th.delete_button= t("cm_shared.labels.delete")
      %tbody
        - entity.associated_surveys.each do |associated_survey|
          %tr
            %td= "#{associated_survey.survey.title} - Version #{associated_survey.survey.survey_version}"
            %td= image_tag 'cancel.png', :"data-associated_survey_id" => associated_survey.id, :class => 'associated_survey_delete'

  %table
    %tr
      %td= select_tag 'new_associated_survey', grouped_options_for_select(Survey.all.group_by(&:title).map{|k,v| [k,v.map{|p| ["Version #{p.survey_version}", p.id]}]}, nil, t("cm_shared.labels.select_survey")) 
      %td= button_tag t("cm_shared.labels.new_associated_survey"), :"data-surveyable_id" => entity.id, :"data-surveyable_type" => entity.class.to_s, :class => 'add_associated_survey'
