-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.associated_surveys
  - unless entity.associated_surveys.empty?
    %table.associated_surveys_table
      %thead
        %tr
          %th= t("cm_shared.labels.survey_name")
          %th.delete_button= t("cm_shared.labels.delete")
      %tbody
        - entity.associated_surveys.each do |associated_survey|
          %tr
            %td
              = "#{associated_survey.survey.title} - Version #{associated_survey.survey.survey_version}"
              %br
              - survey_link = direct_link_survey_url(associated_survey.survey.access_code, :survey_version => associated_survey.survey.survey_version)
              %a.associated_survey_link{href: survey_link, target: 'blank'}
                = survey_link
            %td= image_tag 'cancel.png', :"data-associated_survey_id" => associated_survey.id, :class => 'associated_survey_delete'

  %table
    %tr
      %td= select_tag 'new_associated_survey', grouped_options_for_select(Survey.all.group_by(&:title).map{|k,v| [k,v.map{|p| ["Version #{p.survey_version}", p.id]}]}, nil, { prompt: t(:cm_shared)[:labels][:select_survey] }) 
      %td= button_tag t("cm_shared.labels.new_associated_survey"), :"data-surveyable_id" => entity.id, :"data-surveyable_type" => entity.class.to_s, :class => 'add_associated_survey'
  .survey_warning_message
    = t("cm_shared.labels.survey_warning")
    