-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#all_statuses{style: @organization.use_default_statuses ? "display: none;" : "display: block;"}
  %table
    %tr
      %td
        %legend= t(:organization_form)[:available_statuses]
        - selected_avs = @organization.get_available_statuses
        %table
          = f.fields_for :available_statuses, @organization.available_statuses.alphabetized do |as|
            %tr
              %th= as.label :status, "#{as.object.humanize.gsub('CTRC', 'Nexus')}:"
              %td= as.check_box :selected, {class: 'available-status', checked: selected_avs.include?(as.object.status), disabled: as.object.disabled_status?, data: { status: as.object.status }}, 'true', 'false'
              - if as.object.disabled_status?
                = as.hidden_field :selected, value: 'true'

    - if current_user.is_overlord?
      %tr
        %td
          %br
          - selected_eds = @organization.get_editable_statuses
          %legend= t(:organization_form)[:editable_statuses]
          %table
            = f.fields_for :editable_statuses, @organization.editable_statuses.alphabetized do |es|
              %tr{ class: "#{es.object.status}-dependent", style: selected_avs.include?(es.object.status) ? "display:table-row;" : "display:none;" }
                %th= es.label :status, "#{es.object.humanize.gsub('CTRC', 'Nexus')}:"
                %td= es.check_box :selected, {checked: selected_eds.include?(es.object.status)}, 'true', 'false'
