.cps
  - if entity.clinical_providers
    %table
      %thead
        %tr
          %th= t("cm_shared.labels.name_email")
          %th= t("cm_shared.labels.delete")
      %tbody
        - entity.clinical_providers.each do |cp|
          %tr
            %td= cp.identity.display_name
            %td= image_tag 'cancel.png', :id => cp.id, :class => 'cp_delete'

  = text_field_tag 'new_cp', t("cm_shared.labels.new_clinical_provider")