-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= form_for @organization, url: @path, remote: true, id: 'entity_form' do |f|
  .errorExplanation#errorExplanation{style: 'display:none;'}

  = hidden_field_tag 'org_unit[id]', @organization.id
  = hidden_field_tag 'organization[id]', @organization.id

  #entity_description
    %p.org_tree
      = display_organization_tree(f.object)
    %fieldset.actions
      .legend
        = t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], id: 'save_button', class: ['save_button btn', @organization.type == 'Institution' ? '' : 'provider_program_core_save']
      %img.spinner{src: '/assets/catalog_manager/spinner_small.gif'}

    %fieldset#gen_info.parent.active
      .legend
        = t(:organization_form)[:gen_info]
      %fieldset.single_fieldset{style: "display:block;"}
        %table
          %tr
            %th= t(:organization_form)[:name]
            %td= f.text_field :name
          %tr
            %th= t(:organization_form)[:abbreviation]
            %td= f.text_field :abbreviation
          %tr
            %th= t(:organization_form)[:description]
            %td= f.text_area :description, rows: 8
          %tr
            %th= t(:organization_form)[:ack_language]
            %td= f.text_area :ack_language, rows: 8
          %tr
            %th= t(:organization_form)[:order]
            %td= f.text_field :order

          - if ['Institution','Provider'].include?(@organization.type) && @user.is_overlord?
            %tr
              %th= t(:organization_form)[:css_class]
              %td= f.select :css_class, ACCORDION_COLOR_OPTIONS, include_blank: t(:organization_form)[:color_blank]

          - unless @organization.type == 'Institution'
            %tr
              %th= t(:organization_form)[:split_notify] #not present in institutions
              %td= f.check_box :process_ssrs

          %tr
            %th= t(:organization_form)[:disabled]
            %td
              = f.check_box :is_available, {checked: @organization.is_available, disabled: @organization.parent ? !@organization.parent.is_available : false }
              - if @organization.parent && !@organization.parent.is_available
                %span
                  = disabled_parent(@organization)

          - unless @organization.type == 'Institution'
            %tr
              %th= t(:organization_form)[:tag_list] #not present in institutions
              %td
                - Tag.where.not(name: "epic").each do |tag|
                  %span{style: "margin-right:30px;"}
                    %span= f.label (t(:tags)[tag.name.gsub(" ", "_").to_sym] ? t(:tags)[tag.name.gsub(" ", "_").to_sym] : tag.name.humanize)
                    %span= f.check_box :tag_list, { multiple: true }, tag.name, nil

    - if @organization.type != 'Institution'
      = render partial: 'catalog_manager/shared/available_statuses', locals: {f: f}

    %fieldset#user_rights.parent
      .legend= t(:organization_form)[:user_rights]

      %fieldset.sibling_fieldset
        .secondary_header= t(:organization_form)[:super_users]
        #su_info= render partial: 'catalog_manager/shared/super_users', locals: {entity: @organization}

      %fieldset.sibling_fieldset
        .secondary_header= t(:organization_form)[:cm_rights]
        #cm_info= render partial: 'catalog_manager/shared/catalog_managers', locals: {entity: @organization}

      - unless @organization.type == 'Institution'
        %fieldset.sibling_fieldset
          .secondary_header= t(:organization_form)[:service_providers]
          #sp_info= render partial: 'catalog_manager/shared/service_providers', locals: {entity: @organization}

        %fieldset
          .secondary_header= t(:organization_form)[:submission_emails]
          #se_info= render partial: 'catalog_manager/shared/submission_emails', locals: {entity: @organization}

    - unless @organization.type == 'Institution'
      #cwf_wrapper{style: @organization.tag_list.include?("clinical work fulfillment") ? "display: block;" : "display: none;"}
        %fieldset#cwf_fieldset.parent
          .legend
            = t(:organization_form)[:clinical_work_fulfillment]
          %fieldset.single_fieldset
            %table
              %tr
                %th= t(:organization_form)[:clinical_providers]
            #cp_info= render partial: 'catalog_manager/shared/clinical_providers', locals: {entity: @organization}


      %fieldset#pricing.parent
        .legend
          = t(:organization_form)[:pricing]
        - unless @organization.type == 'Core'
          %fieldset.sibling_fieldset
            .secondary_header
              = t(:organization_form)[:pricing_setup]
            %input.add_pricing_setup{type: 'button', value: 'Add Pricing Setup'}
            .pricing_setup_accordion
              - @organization.pricing_setups.each do |pricing_setup|
                = render partial: 'catalog_manager/shared/pricing_setup', locals: {pricing_setup: pricing_setup, pricing_setup_disabled: disable_pricing_setup(pricing_setup, @user.can_edit_historical_data_for?(@organization)), can_edit_historical_data: @user.can_edit_historical_data_for?(@organization), entity: @organization }

        %fieldset.sibling_fieldset
          .secondary_header
            = t(:organization_form)[:auto_price_adj]
          = render partial: 'catalog_manager/shared/increase_decrease_rates', locals: {entity: @organization, can_edit_historical_data: @user.can_edit_historical_data_for?(@organization)}

        %fieldset
          .secondary_header
            = t(:organization_form)[:subsidy_info]
          %table
            = f.fields_for :subsidy_map do |f_subsidy_map|
              %tr
                %th= t(:organization_form)[:subsidy_max_percent]
                %td.subsidy_percentage= f_subsidy_map.text_field :max_percentage
              %tr
                %th= t(:organization_form)[:subsidy_default_percentage]
                %td.subsidy_default_percentage= f_subsidy_map.text_field :default_percentage, value: display_as_percent(f_subsidy_map.object.default_percentage)
              %tr
                %th= t(:organization_form)[:subsidy_max_dollar]

                %td.subsidy_dollar= f_subsidy_map.text_field :max_dollar_cap, value: number_with_precision(f_subsidy_map.object.max_dollar_cap, precision: 2)
              = render 'catalog_manager/shared/excluded_funding_sources', entity: @organization
              -if ['Program', 'Provider'].include?(@organization.type)
                %tr
                  %th= t(:organization_form)[:subsidy_instructions]
                  %td.subsidy_instructions= f_subsidy_map.text_field :instructions

      %fieldset.parent
        .legend= t(:organization_form)[:associated_surveys]
        %fieldset.single_fieldset
          #associated_survey_info= render partial: 'catalog_manager/shared/associated_surveys', locals: {entity: @organization}

    %fieldset.actions
      .legend
        = t(:organization_form)[:actions]
      = f.submit t(:organization_form)[:submit_button], id: 'save_button', class: ['save_button btn', @organization.type == 'Institution' ? '' : 'provider_program_core_save']
      %img.spinner{src: '/assets/catalog_manager/spinner_small.gif'}
      .ui-corner-all.blank_field_errors= t("cm_shared.labels.required_list")

- unless ['Institution', 'Core'].include?(@organization.type)
  .blank_pricing_setup
    - pricing_setup = @organization.pricing_setups.build
    = render partial: 'catalog_manager/shared/pricing_setup', locals: { pricing_setup: pricing_setup, pricing_setup_disabled: false, can_edit_historical_data: @user.can_edit_historical_data_for?(@organization), entity: @organization }

:javascript
  $(document).ready( function() {
    Sparc.config.ready();
    Sparc.config.displayDatesForUser($('.datepicker, .disabled_datepicker'));
    Sparc.services.ready();
  })
