-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table
  %thead
    %tr
      %th= t("cm_shared.labels.source")
      %th= t("cm_shared.labels.rate")
  %tbody
    %tr
      %th= t("cm_shared.labels.college")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][college_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'college_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.federal")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][federal_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'federal_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.foundation")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][foundation_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'foundation_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.industry")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][industry_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'industry_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.investigator")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][investigator_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'investigator_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.internal")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][internal_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'internal_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate"
    %tr
      %th= t("cm_shared.labels.unfunded")
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][unfunded_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'unfunded_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th &nbsp;
      %td.footnote= t("cm_shared.labels.required_field")