%table
  %thead
    %tr
      %th Funding Source
      %th Rate
  %tbody
    %tr
      %th College*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][college_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'college_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th Federal*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][federal_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'federal_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th Foundation*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][foundation_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'foundation_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th Industry*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][industry_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'industry_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th Investigator*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][investigator_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'investigator_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th Internal*
      %td= select_tag "pricing_setups[#{rates.try(:[], 'id') || 'blank_pricing_setup'}][internal_rate_type]", options_for_select(Service::RATE_TYPES.map{|p| [p[:display], p[:value]]}, rates.try(:[], 'internal_rate_type')), :prompt => '--- Select ---', :disabled => pricing_setup_disabled, :readonly => pricing_setup_disabled, :class => "rate #{rates ? 'validate' : ''}"
    %tr
      %th &nbsp;
      %td.footnote *Required Field.