-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.rls
  - if entity.related_services
    %table
      %thead
        %tr
          %th= t("cm_shared.labels.service")
          %th= t("cm_shared.labels.required")
          %th= t("cm_shared.labels.linked_quantity")
          %th= t("cm_shared.labels.linked_total")
          %th= t("cm_shared.lables.delete")
      %tbody
        - entity.service_relations.each do |service_relation|
          - service = service_relation.related_service
          %tr
            %td= service.display_service_name
            %td= check_box_tag service_relation.id, !service_relation.optional, service_relation.optional == false, :class => 'optional'
            %td= check_box_tag "linked_quantity_#{service_relation.id}", !service_relation.linked_quantity, service_relation.linked_quantity, :"data-service_relation_id" => service_relation.id, :class => "linked_quantity"
            %td
              - if service_relation.linked_quantity
                = text_field_tag "linked_quantity_total_#{service_relation.id}", service_relation.linked_quantity_total, :"data-service_relation_id" => service_relation.id,  :class => "linked_quantity_total"
            %td= image_tag 'cancel.png', :"data-service_relation_id" => service_relation.id, :class => 'rs_delete'

  = text_field_tag 'new_rs', t("cm_shared.labels.new_related")
