-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.sps
  - if entity.service_providers
    - if @service_provider_error_message
      .service_provider_error= @service_provider_error_message
    %table
      %thead
        %tr
          %th= t("cm_shared.labels.name_email")
          %th.check= t("cm_shared.labels.primary")
          %th.check= t("cm_shared.labels.hold")
          %th= t("cm_shared.labels.delete")
      %tbody
        - entity.service_providers.each do |sp|
          %tr
            %td= sp.identity.display_name
            %td.check= check_box_tag "#{sp.id}_contact", true, sp.is_primary_contact, :class => 'primary_contact', :org_id => entity.id, :contact_flag => sp.is_primary_contact, :identity => sp.id, :emails_flag => sp.hold_emails
            %td.check= check_box_tag "#{sp.id}_emails", true, sp.hold_emails, :class => 'hold_emails', :org_id => entity.id, :contact_flag => sp.is_primary_contact, :identity => sp.id, :emails_flag => sp.hold_emails
            %td= image_tag 'cancel.png', :id => sp.id, :class => 'sp_delete'

  = text_field_tag 'new_sp', t(:organization_form)[:new_sp]
