-# Copyright © 2011-2017 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%fieldset#available_statuses_fieldset.parent
  .legend= t(:organization_form)[:status_legend]
  %fieldset.single_fieldset
    %label
      = t(:organization_form)[:use_default_statuses]
    = f.check_box :use_default_statuses
    #default_statuses{style: @organization.use_default_statuses? ? "display: block;" : "display: none;"}
      %table
        %tr
          %td
            %legend= t(:organization_form)[:default_available_statuses]
            %table
              - PermissibleValue.get_key_list('status', true).sort.each do |status|
                %tr
                  %th= f.label :status, "#{PermissibleValue.get_value('status', status).titleize}"
        - if current_user.is_overlord?
          %tr
            %td
              %br
              %legend= t(:organization_form)[:default_editable_statuses]
              %table
                - DEFAULT_STATUSES.sort.each do |status|
                  %tr
                    %th= f.label :status, "#{PermissibleValue.get_value('status', status).titleize}"
    = render partial: 'catalog_manager/shared/available_statuses', locals: {f: f}


