- unless @entity.errors.messages.empty?
  - @entity_errors = @entity.errors.to_json
  :plain
    $('#flash').hide();
    $('#flash').html("There were errors saving #{escape_javascript(@entity.name)}.");
    Sparc.catalog.handle_ajax_errors("#{escape_javascript(@entity_errors)}", "#{@entity.type}")

- else
  :plain
    Sparc.catalog.clear_error_fields()
    $('#flash').hide();
    $('#flash').html("#{escape_javascript(@entity.name)} saved successfully");

-# re-render available_statuses
-#TODO this is ugly and wrong, refactor
- if not @entity.instance_of? Service and @entity
  - my_class = @entity.class.to_s.downcase
  - url = eval("catalog_manager_#{my_class}_path")
  - @f = nil; form_for(@entity, :url => url) {|f| @f = f}
  $('#available_statuses_fieldset').replaceWith("#{escape_javascript(render :partial => 'catalog_manager/shared/available_statuses', :locals => {:f => @f})}")

-# re-render pricing_setups if the entity is a Provider or Program
- if @entity.instance_of? Provider or @entity.instance_of? Program
  $('.pricing_setup_accordion').empty()
  - @entity.pricing_setups.each do |pricing_setup|
    :plain
      $('.pricing_setup_accordion').append("#{escape_javascript(render :partial => 'catalog_manager/shared/pricing_setup', :locals => {:pricing_setup => pricing_setup, :pricing_setup_disabled => disable_pricing_setup(pricing_setup, @user.can_edit_historical_data_for?(@entity)), :can_edit_historical_data => @user.can_edit_historical_data_for?(@entity), :entity => @entity })}");

  Sparc.config.setDatePicker("with button image")
  Sparc.config.displayDatesForUser($('.datepicker, .disabled_datepicker'))

-# re-render pricing_maps if the entity is a Service
- if @entity.instance_of? Service
  $('.pricing_map_accordion').empty()
  - @entity.pricing_maps.each do |pricing_map|
    :plain
      $('.pricing_map_accordion').append("#{escape_javascript(render :partial => 'catalog_manager/services/pricing_map', :locals => {:pricing_map => pricing_map, :pricing_map_disabled => disable_pricing_map(pricing_map, @user.can_edit_historical_data_for?(@entity.organization)), :can_edit_historical_data => @user.can_edit_historical_data_for?(@entity.organization), :entity => @entityo})}");
  
  Sparc.config.setDatePicker("with button image")
  Sparc.config.displayDatesForUser($('.datepicker, .disabled_datepicker'))

:plain
  $('#flash').slideDown();
  $('#flash').delay(3000);
  $('#flash').slideUp();
  $('.spinner').hide();
  $('.save_button').removeAttr('disabled');


