-# Copyright © 2011-2017 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table.table.table-condensed.table-bordered{ class: user_rights_table_class(organization) }
  %thead
    %tr
      %th.name-col
        = t(:catalog_manager)[:organization_form][:user_rights][:name_email]
      %th.su-col
        = t(:catalog_manager)[:organization_form][:user_rights][:super_user]
      %th.cm-col
        = t(:catalog_manager)[:organization_form][:user_rights][:catalog_manager]
      - unless organization.type == "Institution"
        %th.sp-col
          = t(:catalog_manager)[:organization_form][:user_rights][:service_provider]
        - if organization.tag_list.include?("clinical work fulfillment")
          %th.cp-col
            = t(:catalog_manager)[:organization_form][:user_rights][:clinical_provider]
      %th.text-center.remove-col
        = t(:catalog_manager)[:organization_form][:remove]
  %tbody#user-rights-table
    - user_rights_identities(organization).each do |ur|
      = render "catalog_manager/shared/user_rights_table_rows", organization: organization, user_rights: user_rights, ur: ur
.col-sm-12.no-padding
  = text_field_tag 'user-rights-query', nil, placeholder: t(:catalog_manager)[:organization_form][:user_rights][:add_user], class: "form-control"
