-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= javascript_include_tag "catalog"
= stylesheet_link_tag 'home_page'
= stylesheet_link_tag 'hover_effect'

.grid_3.service-catalog.col-md-3
  .catalog-header
    %h3
      = "Browse Services Catalog:"
  = render 'catalogs/service_accordion', institutions: @institutions, locked_org_ids: @locked_org_ids
.grid_6.col-md-6.catalog-middle
  #search.form-group
    /[if lte IE 8]
      %img.text_search{ src: 'search_bar.png' }
    = render 'catalogs/service_search'
  #welcome_message
    = render 'catalogs/description', organization: @organization, service_request: @service_request, from_portal: @from_portal
  #calendar-blog
    = render 'catalogs/news_and_events'

.grid_3.catalog-view-right.right.col-md-3
  - if CREATE_AN_ACCOUNT
    #account.create_new_account
      = link_to t(:create_an_account), new_identity_registration_path, class: 'create-an-account-button'
  #services.ui-widget.ui-widget-content.cart-view
    %h3
      = t(:service_requests)[:catalog][:text1]
    = render 'catalogs/cart'
  = link_to "Continue", protocol_service_request_path(@service_request), class: 'submit-request-button btn btn-success btn-lg btn-block button-hover', data: { signed_in: identity_signed_in? }
  = render 'service_requests/right_navigation'

  #submit_error.hidden
    = t(:service_requests)[:catalog][:text3]
    = t(:service_requests)[:catalog][:text4]

  - if params[:signed_up_but_not_approved] == 'true'
    = javascript_include_tag "signed_up_but_not_approved"
    #signed_up_but_not_approved.hidden
      = render 'catalogs/signed_up_but_not_approved_dialog_box'
  #sign_in.hidden
    = render 'catalogs/signin_dialog_box'

  #about_sparc{ title: t(:about_title) }
    = t(:about_text)

- if @ctrc_ssr_id
  #ctrc-dialog
    = I18n.t('proper.catalog.ctrc_lock', protocol_id: @service_request.protocol.id, ssr_id: @ctrc_ssr_id, protocol_type: @service_request.protocol.type, short_title: @service_request.protocol.short_title)
