-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table{cellpadding: 4}
  %tbody
    %tr
      %th.date_submitted{colspan: 6}
        - if @service_request.submitted_at?
          = t(:sr_confirmation)[:details][:date_submitted] + @service_request.submitted_at.strftime('%m/%d/%Y')
    %tr
      %th= t(:sr_confirmation)[:details][:id]
      %th= t(:sr_confirmation)[:details][:institution]
      %th= t(:sr_confirmation)[:details][:provider]
      %th{colspan: 2}= t(:sr_confirmation)[:details][:program_core]  
      %th= t(:sr_confirmation)[:details][:contact] 
    - @service_request.sub_service_requests.each do |ssr|
      - next unless @sub_service_request.nil? or @sub_service_request == ssr
      %tr.provider-header
        %td
          = @service_request.protocol.id
          \-
          = ssr.ssr_id
        %td= ssr_institution(ssr.organization) 
        %td= ssr_provider(ssr.organization) 
        %td= ssr_program_core(ssr.organization)
        %td &nbsp;
        %td= raw(ssr_primary_contacts(ssr.organization))
