-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= stylesheet_link_tag 'hover_effect'

- if (@sub_service_request.nil? ? @service_request.protocol.documents.size >= 1 : @sub_service_request.documents.size >= 1)
  %table.document-table
    - if review
      %tr
        %th{:colspan => 4, :class => thead_class}= t("documents.headers.uploads")
    %tr.header{:class => thead_class}
      %th= t("documents.headers.institution")
      %th= t("documents.headers.type")
      %th.document-title-header= t("documents.headers.title")
      - if not review
        %th.document-actions-header= t("documents.headers.actions")
      %th= t('documents.headers.version')

    - @service_request.protocol.documents.each do |document|
      - next unless @sub_service_request.nil? or @sub_service_request.documents.include? document
      %tr.document{:id => "document_id_#{document.id}"}
        %td{:style => "text-align:left"}
          - document.sub_service_requests.each do |ssr|
            = ssr.org_tree_display
            %br
            %br
        %td= document.display_document_type
        %td.document-title= link_to document.document_file_name, document.document.url
        - if not review
          %td
            = link_to t("documents.edit_button"), "/service_requests/#{@service_request.id}/edit_document/#{document.id}", :remote => true, :class => 'document_edit blue-button button-hover'
            %br.document-button-seperator
            %br
            = link_to t("documents.delete_button"), "/service_requests/#{@service_request.id}/delete_document/#{document.id}", :remote => true, :class => 'document_delete blue-button button-hover'
        %td= document.updated_at.strftime("%m/%d/%Y at %I:%M%p")
- else
  - if review # let's show the table with the no documents text
    %table.document-table
      %tr
        %th{:class => thead_class}= t("documents.headers.uploads")
      %tr
        %td= t("documents.no_documents")
  - else
    %div= t("documents.no_documents")
