- provider_css ||= 'light-blue-provider'
- if (@sub_service_request.nil? ? @service_request.documents.size >= 1 : @sub_service_request.documents.size >= 1)
  %table.document-table
    - if review
      %tr
        %th{:colspan => 3, :class => provider_css}= t("documents.headers.uploads")
    %tr.header{:class => provider_css}
      %th= t("documents.headers.institution")
      %th= t("documents.headers.type")
      %th= t("documents.headers.title")
      - if not review
        %th= t("documents.headers.actions")

    - @service_request.documents.group_by(&:document_grouping_id).each do |grouping_id, docs|
      - next unless @sub_service_request.nil? or docs.map(&:sub_service_request_id).include?(@sub_service_request.id)
      - doc = docs.first
      %tr.document{:id => "document_grouping_#{grouping_id}"}
        %td{:style => "text-align:left"}
          - docs.each do |document|
            - next unless @sub_service_request.nil? or @sub_service_request.organization.name == document.sub_service_request.organization.name
            = @service_list[document.sub_service_request.organization_id][:name]
            %br
            %br
        %td= doc.display_document_type
        %td= link_to doc.document_file_name, doc.document.url
        - if not review
          %td
            = link_to t("documents.edit_button"), "/service_requests/#{@service_request.id}/edit_document_group/#{grouping_id}", :remote => true, :class => 'document_edit blue-button', :style => "display:block; margin-bottom:10px;"
            = link_to t("documents.delete_button"), "/service_requests/#{@service_request.id}/delete_document_group/#{grouping_id}", :remote => true, :class => 'document_delete blue-button'
- else
  - if review # let's show the table with the no documents text
    %table.document-table
      %tr
        %th{:class => provider_css}= t("documents.headers.uploads")
      %tr
        %td= t("documents.no_documents")
  - else
    %div= t("documents.no_documents")
