-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- provider_css ||= 'orange-provider'
= javascript_include_tag 'document_upload'
= stylesheet_link_tag 'hover_effect'

- orgs = []
- orgs = @document.sub_service_requests.map{|ssr| ssr.organization} if @document
- doc_type = @document.doc_type if @document
- doc_type_other = @document.doc_type_other if doc_type == 'other'
- button_text = @document ? t("documents.update_button") : t("documents.upload_button")
= hidden_field_tag :document_id, @document.id if @document
- document_organizations = current_organizations(@service_request, @sub_service_request)

%table#new_document
  %tr.ui-dialog-titlebar{:class => provider_css}
    %th= t("documents.headers.type")
    %th= t("documents.headers.file")
    %th= t("documents.headers.recipients")
    %th= t("documents.headers.allow")
    %th &nbsp;
  - count = 0
  - document_organizations.each do |org_id, org_name|
    - next if !(@sub_service_request.nil? || orgs.map(&:name).include?(org_name) || (@sub_service_request.organization.name == org_name))
    - count += 1
    %tr
      - if count == 1
        %td{:rowspan => document_organizations.size}
          = select_tag :doc_type, options_for_select(DOCUMENT_TYPES, doc_type), :prompt => t("documents.select_prompt")
          .document_type_other{:style => doc_type == 'other' ? '' : 'display:none;'}
            = text_field_tag :doc_type_other, doc_type_other, placeholder: t(:constants)[:prompts][:please_specify]
        %td#file{:rowspan => document_organizations.size}
          = hidden_field_tag "upload_clicked", 0
          - if @document
            = @document.document_file_name
            %br
          = file_field_tag :document
      %td= label_tag "process_ssr_organization_ids[]", org_name
      %td
        - if @sub_service_request.nil? or @sub_service_request.organization.name == org_name
          = check_box_tag "process_ssr_organization_ids[]", org_id, orgs.map(&:id).include?(org_id)
        - else
          Yes
          = hidden_field_tag "process_ssr_organization_ids[]", org_id, :id => 'process_ssr_organization_ids', :disabled => (@document ? false : true)
      - if count == 1
        %td{:rowspan => document_organizations.size}
          = navigation_link button_text, 'document_management', 'upload_button blue-button btn btn-primary button-hover'
          = link_to t("documents.cancel_button"), "javascript:void(0)", :class => "ui_close_button blue-button btn btn-danger button-hover", :id => 'cancel_upload'
