-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= stylesheet_link_tag 'hover_effect'

- if USE_FAQ_LINK
  = link_to t(:right_navigation)[:faq], FAQ_URL, class: "faq-button blue-button btn btn-primary btn-lg btn-block button-hover", target: "blank"
- else
  .faq-button.blue-button.btn.btn-primary.btn-lg.btn-block.button-hover= t(:right_navigation)[:faq]
- if USE_FEEDBACK_LINK
  = link_to t(:right_navigation)[:feedback], t(:right_navigation)[:redcap_survey], :class => "faq-button blue-button btn btn-primary btn-lg btn-block button-hover", target: '_blank'
- else
  .feedback-button.blue-button.btn.btn-primary.btn-lg.btn-block.button-hover= t(:right_navigation)[:feedback]
  #feedback-form{:style => 'display: none', :title => 'Give Us Your Feedback!'}
    = link_to t(:right_navigation)[:feedback], "javascript:void();"
    = form_tag feedback_service_requests_path, :method => :post, :remote => true do
      %p
        = text_field_tag "feedback[email]", nil, {placeholder: t(:notifications)[:email], :size => 35, :tabindex => 1}
        %br
        %br
      %p
        = text_area_tag "feedback[message]", nil, {placeholder: t(:notifications)[:feedback], :cols => 65, :rows => 15, :tabindex => 2}

.ask-a-question-button.blue-button.btn.btn-primary.btn-lg.btn-block.button-hover
  = link_to 'Contact Us', new_contact_form_path, remote: true
.contact-form-dialog

- unless USE_FAQ_LINK
  #cart-help{style: 'display: none', title: 'Help/FAQs'}
    %ul
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text1]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{1}"}
          = t(:cart_help)[:questions][:answer_text1]
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text2]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{2}"}
          = t(:cart_help)[:questions][:answer_text2]
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text3]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{3}"}
          = t(:cart_help)[:questions][:answer_text3]
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text4]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{4}"}
          = t(:cart_help)[:questions][:answer_text4]
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text5]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{5}"}
          = t(:cart_help)[:questions][:answer_text5]
      %li
        %span.help_question{style:  "text-decoration: underline;"}
          = t(:cart_help)[:questions][:question_text6]
        %br
        %br
        %span.help_answer{style: "display: inline-block;", id: "help_answer_#{6}"}
          = t(:cart_help)[:questions][:answer_text6]
