- @service_request.service_list(true).each do |key, value|
  %tr
    %th.provider-header{:colspan => 4}= value[:name]
  %tr
  - value[:line_items].each do |line_item|
    = fields_for "service_request[line_items_attributes][]", line_item do |f|
      %tr
        %td= line_item.service.name
        %td
          = f.hidden_field :id
          = f.text_field :quantity
        %td
          = f.text_field :units_per_quantity
        %td= line_item.service.try(:displayed_pricing_map).try(:unit_type).try(:humanize)
