- @service_request.service_list.each do |key, value|
  %tr
    %th.provider-header{:colspan => 4}= value[:name]
  %tr
  - value[:services].each do |service|
    %tr
      %td= "- " + service.name
      %td
        = text_field_tag :quantity
      %td
        = text_field_tag :units_per_quantity
      %td= service.try(:displayed_pricing_map).try(:unit_type).try(:humanize)