-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Do not delete this page.  It may be used for certain institutions.
= javascript_include_tag 'navigation'
= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  = render :partial => 'errors'

  .grid_12
    %table.service_calendar
      %thead.default_calendar
        %tr.table_header
          %th{:colspan => 12, :style => "height: 60px; font-size: 20px"}= t("calendar_page.headers.total_study")
      %tbody.cell-border
        %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
          %td{:colspan => 5}= t("calendar_page.labels.total_direct_arm")
          %td{:colspan => 6}
          %td{:class => "pp_total_direct_cost"}= display_total_direct_cost_per_study_pppvs @service_request
        
        - if USE_INDIRECT_COST
          %tr.totals_section{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.total_indirect_arm")
            %td{:colspan => 6}
            %td{:class => "pp_total_indirect_cost"}= display_total_indirect_cost_per_study_pppvs @service_request
            
          %tr.totals_section.total-visit-based-services{:class => cycle('odd', '', :name => 'pppvs')}
            %td{:colspan => 5}= t("calendar_page.labels.total_costs_arm")
            %td{:colspan => 6}
            %td{:class => "pp_total_cost"}= display_total_cost_per_study_pppvs @service_request

        %th.totals_section{:colspan => 12} &nbsp;
        
        %tr.totals_section.begin_totals{:class => cycle('odd', '', :name => 'otfs')}
          %td{:colspan => 5}= t("calendar_page.labels.total_direct_other")
          %td{:colspan => 6}
          %td.otf_total_direct_cost= display_total_direct_cost_per_study_otfs @service_request, @line_items

        - if USE_INDIRECT_COST
          %tr.totals_section{:class => cycle('odd', '', :name => 'otfs')}
            %td{:colspan => 5}= t("calendar_page.labels.total_indirect_other")
            %td{:colspan => 6}
            %td.otf_total_indirect_cost= display_total_indirect_cost_per_study_otfs @service_request, @line_items

          %tr.totals_section.total-one-time-fees{:class => cycle('odd', '', :name => 'otfs')}
            %td{:colspan => 5}= t("calendar_page.labels.total_costs_other")
            %td{:colspan => 6}
            %td.otf_total_cost= display_total_cost_per_study_otfs @service_request, @line_items

        %th.totals_section{:colspan => 12} &nbsp;

        - unless @portal
          %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'totals')}
            %td{:colspan => 5}= t("calendar_page.labels.grand_total_direct")
            %td{:colspan => 6}
            %td{:class => 'grand_total_direct'}= display_grand_total_direct_costs @service_request, @line_items

          - if USE_INDIRECT_COST
            %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'totals')}
              %td{:colspan => 5}= t("calendar_page.labels.grand_total_indirect")
              %td{:colspan => 6}
              %td{:class => 'grand_total_indirect'}= display_grand_total_indirect_costs @service_request, @line_items

            %tr.totals_section.grand-totals{:class => cycle('odd', '', :name => 'totals')}
              %td{:colspan => 5}= t("calendar_page.labels.grand_total")
              %td{:colspan => 6}
              %td{:class => 'grand_total'}= display_grand_total @service_request, @line_items

  .clear
  .continue= render :partial => 'service_requests/navigation'
