= javascript_include_tag "catalog"

.grid_3.service-catalog
  #about
    = link_to image_tag("about.png"), "javascript:void(0);", :class => "about_sparc_request"
  %h3 Browse Services Catalog:
  = render :partial => 'catalogs/service_accordion', :locals => {:institutions => @institutions}
.grid_6
  #search= render :partial => 'catalogs/service_search'
  #welcome_message= render :partial => 'catalogs/description', :locals => {:organization => @organization, :service_request => @service_request}
  #calendar-blog
    %hr
    %table
      %thead
        - if USE_NEWS_FEED
          %th{:class => (USE_GOOGLE_CALENDAR) ? 'half' : 'full'}
            %h1 News
        - if USE_GOOGLE_CALENDAR
          %th{:class => (USE_NEWS_FEED) ? 'half' : 'full'}
            %h1 Calendar
      %body
        - if USE_NEWS_FEED
          %td{:class => (USE_GOOGLE_CALENDAR) ? 'half' : 'full'}
            #blog
              / TODO: Put loop here for blog links
              .blog-link
                .title= link_to "WOOOOOOOOOOO OOOOOOOOOOOOOOO OOOOOOOOOOOO OOO OOOOOOOOOO OOOOOOOO", "javascript:void(0)"
                .date= Date.today.strftime("%B %d, %Y")
              .blog-link
                .title= link_to "WOOOOOOO", "javascript:void(0)"
                .date= Date.today.strftime("%B %d, %Y")
              .blog-link
                .title= link_to "WOOOOOOO", "javascript:void(0)"
                .date= Date.today.strftime("%B %d, %Y")
        - if USE_GOOGLE_CALENDAR
          %td{:class => (USE_NEWS_FEED) ? 'half' : 'full'}
            #calendar
              / TODO: Put loop here for calendar events
              - @events.each do |event|
                - startTime = Time.parse(event.start_time)
                - endTime = Time.parse(event.end_time)
                .calendar-event
                  .date{ :class => cycle('light-blue-provider', 'green-provider', 'orange-provider')  }
                    = startTime.strftime("%b")
                    %br
                    .day= startTime.day
                  .location
                    .title= event.title
                    .time
                      - if event.all_day?
                        All Day
                      - else
                        = startTime.strftime("%l:%M %p") + ' - ' + endTime.strftime("%l:%M %p")
                      = " - #{event.where}"
                .clear
                %br

.grid_3.catalog-view-right.right
  #account
    = image_tag "account.png"
  #services.ui-widget.ui-widget-content.cart-view
    %h3
      = t(:service_requests)[:catalog][:text1]
    = render :partial => 'catalogs/cart'
  = link_to "Submit Request", protocol_service_request_path(@service_request), :class => 'submit-request-button'
  = render :partial => 'right_navigation'

  #submit_error{:style => "display: none"}
    = t(:service_requests)[:catalog][:text3]
    = t(:service_requests)[:catalog][:text4]
  - if current_user.nil? and not params[:signed_up_but_not_approved] == 'true'
    = javascript_include_tag "sign_in"
    #sign_in{:style => "display: none"}
      = render :partial => 'catalogs/signin_dialog_box'
  - if params[:signed_up_but_not_approved] == 'true'
    = javascript_include_tag "signed_up_but_not_approved"
    #signed_up_but_not_approved{:style => "display: none"}
      = render :partial => 'catalogs/signed_up_but_not_approved_dialog_box'

  #feedback-form{:style => 'display: none', :title => 'Give Us Your Feedback!'}
    = form_tag feedback_service_requests_path, :method => :post, :remote => true, :id => 'feedback_form' do
      #errors
        #error-text
        %br
      %p
        = text_field_tag "feedback[email]", nil, {:placeholder => t(:notifications)[:email], :size => 35, :tabindex => -1}
        %br
        %br
      %p
        = text_area_tag "feedback[message]", nil, {:placeholder => t(:notifications)[:feedback], :cols => 65, :rows => 15, :tabindex => -1}
  #about_sparc{:title => t(:about_title)}= t(:about_text)
