.grid_3
  = render :partial => 'catalogs/service_search'
  = render :partial => 'catalogs/service_accordion', :locals => {:institutions => @institutions}
.grid_6
  #welcome_message= render :partial => 'catalogs/description', :locals => {:organization => @organization, :service_request => @service_request}
.grid_3.catalog-view-right.right
  #services.ui-widget.ui-widget-content.cart-view
    %h3
      My Services
      %span#cart-help Help
    .line-items= render :partial => 'catalogs/cart', :locals => {:service_request => @service_request}
  .submit-request-button
    = link_to image_tag('submit_request.png'), protocol_service_request_path(@service_request)
  .dashboard-button= link_to image_tag('dashboard.png'), '#'
