= javascript_include_tag "catalog"
.grid_3
  = render :partial => 'catalogs/service_search'
  = render :partial => 'catalogs/service_accordion', :locals => {:institutions => @institutions}
.grid_6
  #welcome_message= render :partial => 'catalogs/description', :locals => {:organization => @organization, :service_request => @service_request}
.grid_3.catalog-view-right.right
  #services.ui-widget.ui-widget-content.cart-view
    %h3
      My Services
      %span#cart-help Help
    .line-items= render :partial => 'catalogs/cart'
  .submit-request-button
    = link_to image_tag('submit_request.png'), protocol_service_request_path(@service_request)
  #submit_error{:style => "display: none"}
    Please ensure that you have added all necessary research services to your My Services cart before proceeding. For a listing of available services to add, click on any of the Programs listed on the left-hand side of the page. Services will appear in the middle of the screen. Add services by clicking "Add"
    At least 1 service needs to be in cart first time through before clicking "Submit request" from catalog page.
  - if true #@current_user.nil? TODO - remove this, only set to true for testing
    = javascript_include_tag "sign_in"
    #sign_in{:style => "display: none"}
      = render :partial => 'catalogs/signin_dialog_box'
  .dashboard-button= link_to image_tag('dashboard.png'), @user_portal_link 
