-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_tag navigate_service_request_path(srid: @service_request.id), id: 'serviceRequestForm', class: 'w-100' do
  = render '/service_requests/navigation/header'

  .alert.d-none#pushToEpicStatus{ data: { protocol_id: @protocol.id } }

  #confirmation-page
    .card
      .card-header.bg-primary.text-white
        %h3.mb-0
          = t(:proper)[:confirmation][:service_requests_notice]
      .alert.alert-success.mb-0.rounded-0
        - if action_name == 'obtain_research_pricing'
          = t(:proper)[:confirmation][:cost_estimate_warning]
        - else
          = raw t('proper.confirmation.confirmation_warning', department_name: Setting.get_value('contact_us_department'), phone: Setting.get_value('contact_us_phone'), email: Setting.get_value('contact_us_mail_to'))
      %table.table.table-bordered.mb-0#request-ssrs-table
        %thead.bg-light
          %tr
            %th
              = t(:proper)[:confirmation][:table_fields][:request_id]
            %th
              = t(:proper)[:confirmation][:table_fields][:institution]
            %th
              = t(:proper)[:confirmation][:table_fields][:provider]
            %th
              = t(:proper)[:confirmation][:table_fields][:program_core]
            %th
              = t(:proper)[:confirmation][:table_fields][:contact]
        %tbody
          - @service_request.sub_service_requests.each do |ssr|
            %tr{ data: { ssrid: ssr.id } }
              %td
                = "#{@service_request.protocol.id} - #{ssr.ssr_id}"
              %td
                = ssr_institution(ssr.organization)
              %td
                = ssr_provider(ssr.organization)
              %td
                = ssr_program_core(ssr.organization)
              %td
                = raw(ssr_primary_contacts(ssr.organization))

  = render '/service_requests/navigation/footer'
