-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= javascript_include_tag 'document_management'
= javascript_include_tag 'cart'
= stylesheet_link_tag 'hover_effect'

#upload_message{:style => 'display:none'}
  = t("documents.message")

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = hidden_field_tag :current_location, @page
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9.col-md-9
    .document_upload_instructions= t("documents.upload_instructions_html")
    .document-management-container
      - @service_request.additional_detail_services.each do |service|
        %h1
          = link_to t('additional_details.take_additional_detail_survey', service_name: service.name), new_service_additional_details_submission_path(service), target: '_blank'
      = render :partial => 'document_list', :locals => {:review => false, :thead_class => 'orange-provider'}
      .clear
      %br
      %br

      %td= link_to t("documents.add_button"), "/service_requests/#{@service_request.id}/new_document", :remote => true, :class => "document_upload_button blue-button btn btn-primary btn-lg button-hover", :location => 'document_management'

      .document_upload{:style=>'display:none'}
        = render :partial => 'document_form', :locals => {:provider_css => 'orange-provider'}
      .clear

    .service_request_notes
      #request_notes_table
        = render partial: '/notes/request_notes', locals: { notes: @service_request.notes, notable_id: @service_request.id, notable_type: "ServiceRequest", thead_class: "orange-provider"  }

      %br
      %br

      %a.new_request_note_button.button-hover.blue-button= "Add Note"
      #note_form{style: 'display:none'}= render partial: '/notes/note_form', locals: { service_request: @service_request }
      .clear

  .grid_3.document-mgmt-view-right.right.col-md-3
    = navigation_link t(:right_navigation)[:catalog], @catalog, 'catalog-button btn btn-info btn-lg btn-block button-hover'
    = render :partial => 'right_navigation'

  .clear

  .continue.col-md-12= render :partial => 'service_requests/navigation'
