= javascript_include_tag 'document_management'

#upload_message{:style => 'display:none'}
  Your file is uploading.  Please be patient as this may take a while with large files.

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_12
    .document-management-container
      = render :partial => 'document_list'
      .clear
      %br
      %br
        
      = render :partial => 'document_form'
      .clear
      %br
      %br

      %div{:style => 'text-align: left'} Additional Notes -- If specific to service, please specify in text:
      = text_area_tag 'service_request[notes]', @service_request.notes, :rows => 14, :cols => 114 

  .clear

  .continue= render :partial => 'service_requests/navigation'
