= javascript_include_tag 'document_management'

#upload_message{:style => 'display:none'}
  = t("documents.message")

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_12
    .document_upload_instructions= t("documents.upload_instructions_html")
    .document-management-container
      = render :partial => 'document_list', :locals => {:review => false}
      .clear
      %br
      %br
      
      %td= link_to t("documents.add_button"), "javascript:void(0)", :class => "document_upload_button", :location => 'document_management'

      .document_upload{:style=>'display:none'}
        = render :partial => 'document_form'
      .clear
      %br
      %br

      %div{:style => 'text-align: center'}
        = t("documents.notes_instructions")
        = text_area_tag 'service_request[notes]', @service_request.notes, :rows => 14, :cols => 100 

      %br
      %br

      %div 
        = t("documents.make_changes")
        = navigation_link t("documents.here"), @catalog

  .clear

  .continue= render :partial => 'service_requests/navigation'
