= javascript_include_tag 'document_management'
= javascript_include_tag 'cart'

#upload_message{:style => 'display:none'}
  = t("documents.message")

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = hidden_field_tag :current_location, @page
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .document_upload_instructions= t("documents.upload_instructions_html")
    .document-management-container
      = render :partial => 'document_list', :locals => {:review => false, :provider_css => 'orange-provider'}
      .clear
      %br
      %br
      
      %td= link_to t("documents.add_button"), "javascript:void(0)", :class => "document_upload_button blue-button", :location => 'document_management'

      .document_upload{:style=>'display:none'}
        = render :partial => 'document_form', :locals => {:provider_css => 'orange-provider'}
      .clear
      %br
      %br

      %div{:style => 'text-align: center'}
        = t("documents.notes_instructions")
        = text_area_tag 'service_request[notes]', @service_request.notes, :rows => 14, :cols => 75

      %br
      %br
  .grid_3.document-mgmt-view-right.right
    = navigation_link t(:right_navigation)[:catalog], @catalog, 'catalog-button'
    = render :partial => 'right_navigation'

  .clear

  .continue= render :partial => 'service_requests/navigation'
