= javascript_include_tag 'protocol'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      .dotted-border.left
        .instruction_area
          %p.instructions= t("study_assignment.instructions_1")
          %p.instructions
            %span.red= t("study_assignment.instructions_2")
            = t("study_assignment.instructions_3")
          %p.instructions= t("study_assignment.instructions_4")

        .service-list= render :partial => 'service_list'
  
        %br
        %br

        %p.instructions.center= t("study_assignment.instructions_center")

        .type-select.center
          - if @sub_service_request.nil?
            = t("study_assignment.tied_to_study")
            = select_tag "select-type", options_for_select([["Research Study"], ["Research Project"]], (@service_request.protocol.try(:type) == 'Project' ? 'Research Project' : 'Research Study'))
            %span#infotip= image_tag('information.png')
            %br
            %br

        .existing-study.center
          #study.study-select
            #study-select= render :partial => 'study_select', :locals => {:studies => @studies} unless @studies.empty?
            = link_to(t("study_assignment.new_study"), new_service_request_study_path(@service_request), :class => 'new-study') if @sub_service_request.nil?
            %br
            %br

        .existing-project.center
          #project.project-select
            #project-select= render :partial => 'project_select', :locals => {:projects => @projects} unless @projects.empty?
            = link_to(t("study_assignment.new_project"), new_service_request_project_path(@service_request), :class => 'new-project') if @sub_service_request.nil?
            %br
            %br

  .grid_3.protocol-view-right.right
    #services.ui-widget.ui-widget-content.cart-view
      %h3
        = t("study_assignment.sidebar_box.my_services")
        %span#cart-help= t("study_assignment.sidebar_box.help")
      .line-items= render :partial => 'catalogs/cart'
    .dashboard-button= navigation_link image_tag('back_to_catalog.png'), @back
.continue= render :partial => 'service_requests/navigation'
