= javascript_include_tag 'protocol'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      .dotted-border.left
        .instruction_area
          %p.instructions Please review the SPARC Services you are requesting below.
          %p.instructions
            %span.red Please note that any "Professional Services" listed below have UMA fees associated with them and cannot be removed from this screen.
            If Professional Services are covered by % effort, you will have the opportunity to indicate this in Step 2.
          %p.instructions If you wish to add services, you must return to the "Service Catalog".

        .service-list= render :partial => 'service_list', :locals => {:service_request => @service_request}
  
        %br
        %br

        %p.instructions.center Before continuing to Step 2, you must select a Research Study or Project to which the services selected are associated. Only 1 Research Study/Project can be assigned to this request.

        .type-select.center
          Is this Service Request tied to a particular Research Study
          = select_tag "select-type", options_for_select([["Yes"], ["No"]])
          %span#infotip= image_tag('information.png')
          %br
          %br

        .existing-study.center
          #study.study-select
            #study-select= render :partial => 'study_select', :locals => {:studies => @studies} unless @studies.empty?
            %button.new-study New Study
            %br
            %br

        .existing-project.center{:style => 'display:none;'}
          #project.project-select
            #project-select= render :partial => 'project_select', :locals => {:projects => @projects} unless @projects.empty?
            %button.new-project New Project
            %br
            %br

  .grid_3.protocol-view-right.right
    #services.ui-widget.ui-widget-content.cart-view
      %h3
        My Services
        %span#cart-help Help
      .line-items= render :partial => 'catalogs/cart', :locals => {:service_request => @service_request}
    .dashboard-button= navigation_link image_tag('back_to_catalog.png'), @back
.continue= render :partial => 'service_requests/navigation'
