= javascript_include_tag 'protocol'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = hidden_field_tag :current_location, @page
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      .dotted-border.left
        %p.instructions= t("study_assignment.instructions_1")

        %br

        .service-list= render :partial => 'service_list'
  
        %br
        %br

        %p.notice= t("study_assignment.notice")

        %br
        %hr
        %br

        .type-select.center
          - if @sub_service_request.nil?
            = t("study_assignment.research_study")
            = radio_button_tag :protocol, "Research Study", (@service_request.protocol.try(:type) == 'Project' ? false : true)
            = t("study_assignment.research_project")
            = radio_button_tag :protocol, "Research Project", (@service_request.protocol.try(:type) == 'Project' ? true : false)
            %br
            %br

        .existing-study.center
          #study.study-select
            #study-select= render :partial => 'study_select', :locals => {:studies => @studies} unless @studies.empty?
            = link_to(t("study_assignment.new_study"), new_service_request_study_path(@service_request), :class => 'new-study blue-button') if @sub_service_request.nil?
            %br
            %br

        .existing-project.center
          #project.project-select
            #project-select= render :partial => 'project_select', :locals => {:projects => @projects} unless @projects.empty?
            = link_to(t("study_assignment.new_project"), new_service_request_project_path(@service_request), :class => 'new-project blue-button') if @sub_service_request.nil?
            %br
            %br

  .grid_3.protocol-view-right.right
    #services.ui-widget.ui-widget-content.cart-view
      %h3
        = t("study_assignment.sidebar_box.my_services")
        %span#cart-help= t("study_assignment.sidebar_box.help")
      .line-items= render :partial => 'catalogs/cart'
    .catalog-button= navigation_link t(:right_navigation)[:catalog], @back
    = render :partial => 'right_navigation'
.continue= render :partial => 'service_requests/navigation'

- if @ctrc_services
  #ctrc_dialog
    = "SCTR Research Nexus services have been found on another Service Request (##{@service_request.protocol.id}-#{@ssr_id}) pertaining to this Project/Study (#{@service_request.protocol.short_title}). Please edit the original Service Request containing the Nexus services in your User Portal."
    %br
    %br
    #redirect{:style => "float:right"}= link_to "Ok", protocol_service_request_path(@service_request)
