= javascript_include_tag 'review'
= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  .grid_12
    .view-anchor
      .confirmation-view
        .confirmation-details
          = render :partial => 'push_to_epic'
    .footer
