-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= javascript_include_tag 'review'
= stylesheet_link_tag 'associated_users_table'

= render '/service_requests/navigation/steps', service_request: @service_request, step_text: @step_text, css_class: @css_class
.col-sm-12.body-container#review-page
  = form_tag navigate_service_request_path(srid: @service_request.id), id: 'service-request-form' do
    = render 'service_requests/review/instructions'
    = render 'service_requests/review/protocol_information', service_request: @service_request, protocol: @service_request.protocol
    = render 'service_requests/review/authorized_users', service_request: @service_request, protocol: @service_request.protocol
    = render 'service_requests/review/calendars', service_request: @service_request, pages: @pages, tab: @tab, arm: @arm, portal: @portal, admin: @admin, review: @review, merged: @merged, consolidated: @consolidated, display_all_services: @display_all_services
    = render 'service_requests/review/documents', service_request: @service_request, protocol: @service_request.protocol
    = render 'service_requests/review/notes', service_request: @service_request, notable_id: @notable_id, notable_type: @notable_type
    - if @service_request.has_associated_forms?
      = render "service_requests/document_management/forms", service_request: @service_request, review: @review
= render 'service_requests/navigation/footer', service_request: @service_request, css_class: @css_class, back: @back, forward: @forward

- if Setting.get_value("system_satisfaction_survey") && survey = SystemSurvey.where(access_code: 'system-satisfaction-survey', active: true).first
  = javascript_include_tag 'system_satisfaction'
  = hidden_field_tag :use_system_satisfaction, 'true'
  = render 'service_requests/modals/participate_in_survey_modal', survey: survey
