= javascript_include_tag 'review'
= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  .grid_12
    .view-anchor
      .review-view
        .review-details
          %p.instructions Please review the following information to ensure the accuracy of your request. If you need to make changes, click on theSteps above or click "Go Back" at the bottom of the page. After you have reviewed your request, click "Submit my Service Request."Alternatively, you may save your request as a draft for future submission.<br/>Please note: Draft requests are not reviewed by staff for approval.
          .project
            = render :partial => 'service_requests/review/study_project_information', :locals => {:protocol => @protocol}
          .documents
            = render :partial => 'service_requests/document_list', :locals => {:service_list => @service_list, :review => true}
          .notes
            %table
              %thead
                %tr
                  %th.light-blue-provider Service Request Notes
              %tbody
                %tr
                  %td= @service_request.notes
          #service_calendar_container= render :partial => 'service_requests/review/calendar'
          %div
            .return-to-step-3
              = link_to image_tag( 'go_back.png'), "", :class => "return-to-previous"
            .save-as-draft
              = link_to image_tag( 'wait_save_draft.png'), "", :class => "draft"
            .submit-request
              = link_to image_tag( 'confirm_request.png'), "", :class => "save-and-continue"
      .footer
