= javascript_include_tag 'service_details'

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'service-request-setup-view'} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = hidden_field_tag :current_location, @page
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      .dotted-border.left
        .service-details 
          #show-visit-calendar-details
            .visit-calendar-details 
              - if @service_request.has_one_time_fee_services?
                .instructions= t(:service_request_details)[:one_time_fee_and_per_patient_instructions]
              - else
                .instructions= t(:service_request_details)[:per_patient_instructions]
              .arm-info
                .arm-header
                  .arm-cell= t(:service_request_details)[:study_start_date]
                  .arm-cell= t(:service_request_details)[:study_end_date]
                  .clear
                .clear
                .arms
                  = fields_for @service_request do |f|
                    .arm-cell
                      = text_field_tag :start_date, (@service_request.start_date.strftime('%_m/%d/%Y') rescue nil) # only used for datepicker
                      = f.hidden_field :start_date
                    .arm-cell
                      = text_field_tag :end_date, (@service_request.end_date.strftime('%_m/%d/%Y') rescue nil) #only use for datepicker
                      = f.hidden_field :end_date
                      
            - if (@sub_service_request.nil? ? @service_request.has_per_patient_per_visit_services? : @sub_service_request.has_per_patient_per_visit_services?)
              %div{:style => "height:25px;background-color:#FFFFFF; clear:both;"}
              .arm-info
                - @x = 0
                = nested_form_for @service_request.protocol, :method => :post do |f|
                  .arm-header
                    .arm-cell= t(:service_request_details)[:name]
                    .arm-cell= t(:service_request_details)[:number_of_subjects]
                    .arm-cell= t(:service_request_details)[:number_of_visits]
                    .clear
                  .clear
                  .arms
                    = f.fields_for :arms do |arm|
                      .arm-cell= arm.text_field :name
                      .arm-cell.skinny_fields= arm.text_field :subject_count
                      .arm-cell.skinny_fields= arm.text_field :visit_count
                      .arm-cell{:id => "#{@x+=1}",:style => "padding:5px 0px 5px 0px; width:auto;"}= arm.link_to_remove "Remove Arm", {:class => "ui-state-default ui-corner-top ui-tabs-selected ui-state-active", :style => "padding: 3px 10px"}
                      .clear
                    .clear
                  .add-arm= f.link_to_add "Add Arm", :arms, {:class => "ui-state-default ui-corner-top ui-tabs-selected ui-state-active" }
                  .clear
                  %br
          
          .visit-calendar-details{:style => ((@sub_service_request.nil? ? @service_request.line_items.empty? : @sub_service_request.line_items.empty?) ? '' : 'display:none')}
            .instructions
              = t(:service_request_details)[:services_required]

  .grid_3.protocol-view-right.right
    #services.ui-widget.ui-widget-content.cart-view
      %h3
        = t(:service_request_details)[:services]
        %span#cart-help= t(:service_request_details)[:help]
      .line-items= render :partial => 'catalogs/cart', :locals => {:service_request => @service_request}
    .dashboard-button= navigation_link image_tag('back_to_catalog.png'), @catalog

  .clear

  .continue= render :partial => 'service_requests/navigation'
