= javascript_include_tag 'service_calendar'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_12
    #service_calendar
      %ul
        %li= link_to 'Template', table_service_request_service_calendars_path(@service_request, :page => params[:page], :tab => "template")
        %li= link_to 'Quantity', table_service_request_service_calendars_path(@service_request, :page => params[:page], :tab => "quantity")
        %li= link_to 'Billing Strategy', table_service_request_service_calendars_path(@service_request, :page => params[:page], :tab => "billing_strategy")
        %li= link_to 'Pricing', table_service_request_service_calendars_path(@service_request, :page => params[:page], :tab => "pricing")

  .clear
  .continue= render :partial => 'service_requests/navigation'
