= javascript_include_tag 'service_subsidy'
= javascript_include_tag 'cart'

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'service-request-setup-view'} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = hidden_field_tag :current_location, @page
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      = render :partial => 'subsidies/subsidy_data'
  
  .grid_3.service-subsidy-view-right.right
    .catalog-button= navigation_link t(:right_navigation)[:catalog], @catalog
    = render :partial => 'right_navigation'

  .clear

  .continue= render :partial => 'service_requests/navigation'
