= javascript_include_tag 'service_details'

= form_tag navigate_service_request_path(@service_request), {:id => 'navigation_form', :class => 'service-request-setup-view'} do
  = hidden_field_tag :location, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_9
    .select-project-view
      .left.dotted-border
        .service-details 
          - if @service_request.has_one_time_fee_services?
            .one-time-fee-details 
              .instructions Please enter service details for SPARC Services that you selected
              - if @service_request.has_per_patient_per_visit_services?
                %table.one-time-fees
                  %thead
                    %tr
                      %th Service
                      %th Quantity
                      %th Units Per Quantity
                      %th Unit Type
                  %tbody
                    = render :partial => 'service_detail_list', :locals => {:service_request => @service_request}
                %br
            .visit-calendar-details 
              .instructions Next, please enter the following information specific to your research study/project. This information will help us generate applicable service fees for your review.
              %table.service-details-table
                %thead
                  %tr
                    %th Estimated Total Number of Subjects
                    %th Estimated Total Number of Visits
                    %th Estimated Study Start Date
                    %th Estimated Study End Date
                %tbody
                  = fields_for @service_request do |f|
                    %td
                      = f.text_field :subject_count
                    %td
                      = f.text_field :visit_count
                    %td
                      = text_field_tag :start_date, (@service_request.start_date.strftime('%_m/%d/%Y') rescue nil) # only used for datepicker
                      = f.hidden_field :start_date
                    %td
                      = text_field_tag :end_date, (@service_request.end_date.strftime('%_m/%d/%Y') rescue nil) #only use for datepicker
                      = f.hidden_field :end_date
          - else
            - if @service_request.has_per_patient_per_visit_services?
              %br
              .visit-calendar-details Please enter the following information specific to your research study/project. This information will help us generate applicable service fees for your review.
            - else
              .visit-calendar-details
                .instructions
                  You can't continue unless you have services in your cart.

  .grid_3.protocol-view-right.right
    #services.ui-widget.ui-widget-content.cart-view
      %h3
        My Services
        %span#cart-help Help
      .line-items= render :partial => 'catalogs/cart', :locals => {:service_request => @service_request}
    .dashboard-button= navigation_link image_tag('back_to_catalog.png'), @catalog

  .clear

  .continue= render :partial => 'service_requests/navigation'
