= javascript_include_tag 'service_calendar'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  %ul.billing-info
    %li R = Research
    %li T = Third Party (PT Insurance)
    %li % = % Effort
  .grid_12
    #service_calendar
      %ul
        %li= link_to 'Template', table_service_request_service_calendars_path(@service_request, :tab => "template"), :id => 'template_tab'
        %li= link_to 'Billing Strategy', table_service_request_service_calendars_path(@service_request, :tab => "billing_strategy"), :id => 'billing_strategy_tab'
        %li= link_to 'Quantity', table_service_request_service_calendars_path(@service_request, :tab => "quantity"), :id => 'quantity_tab'
        %li= link_to 'Pricing', table_service_request_service_calendars_path(@service_request, :tab => "pricing"), :id => 'pricing_tab'

  .clear
  .continue= render :partial => 'service_requests/navigation'
