= javascript_include_tag 'service_calendar'

= form_tag navigate_service_request_path(@service_request), :id => 'navigation_form' do
  = hidden_field_tag :location, ''
  = render :partial => 'steps'
  = render :partial => 'errors'
  .grid_12
    #service_calendar
      %ul
        %li= link_to 'Template', template_service_calendar_path(@service_request)
        %li= link_to 'Quantity', quantity_service_calendar_path(@service_request)
        %li= link_to 'Billing Strategy', billing_strategy_service_calendar_path(@service_request)
        %li= link_to 'Pricing', pricing_service_calendar_path(@service_request)

  .clear
  .continue= render :partial => 'service_requests/navigation'
