-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel-heading.no-padding-y
  - if type == "service" #Item is a service
    - if editable
      .col-sm-1.no-padding-y
        = link_to file_glyphicon(), edit_catalog_manager_service_path(service), id: "type-#{service.id}", data: { parent: parent_link }, remote: true
      .col-sm-11.no-padding-y{style: "width:90%"}
        = link_to accordion_link_text(service, !service.is_available), edit_catalog_manager_service_path(service), class: 'org-form-label panel-title', remote: true

    - else
      .col-sm-1.no-padding-y
        %span.catalog-glyphicon.glyphicon.glyphicon-file
      .col-sm-11.no-padding-y{style: "width:90%"}
        %span.org-form-label.panel-title.no_access= accordion_link_text(service, !service.is_available)

  - else #Item is an organization
    - if editable
      .col-sm-1.no-padding-y
        = link_to folder_glyphicon(), 'javascript:void(0)', id: "#{type}-#{organization.id}", class: "fix_spec_overlap #{ajax_loader_class}", data: { org_id: organization.id, show_available_only: availability[0], toggle: 'collapse', target: "##{type}-#{organization.id}-collapse", parent: parent_link }
      .col-sm-11.no-padding-y{style: "width:90%"}
        = link_to accordion_link_text(organization, !organization.is_available), edit_catalog_manager_organization_path(organization), class: 'org-form-label panel-title', remote: true

    - else
      .col-sm-1.no-padding-y
        = link_to folder_glyphicon(), 'javascript:void(0)', id: "#{type}-#{organization.id}", class: "fix_spec_overlap #{ajax_loader_class}", data: { org_id: organization.id, show_available_only: availability[0], toggle: 'collapse', target: "##{type}-#{organization.id}-collapse", parent: parent_link }
      .col-sm-11.no-padding-y{style: "width:90%"}
        %span.org-form-label.panel-title.no_access= accordion_link_text(organization, !organization.is_available)
