-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- show_available_only = [show_available_only, true]
.panel-group#cm-accordion
  .panel-heading
    %h5.panel-title.text-left
      = link_to create_new_text(:institution), 'javascript:void(0)', class: 'org-form-label', data: { parent: '#cm-accordion' }
  - institutions.where(is_available: show_available_only).each do |institution|
    .panel-heading
      %h5.panel-title.text-left
        = link_to accordion_link_text(institution), 'javascript:void(0)', class: 'org-form-label', data: { id: institution.id, toggle: 'collapse', target: ".institution-#{institution.id}", parent: '#cm-accordion' }
    .panel-collapse.collapse{ class: "institution-#{institution.id}" }
      .panel-body
        .panel-heading
          %h5.panel-title.text-left
            = link_to create_new_text(:provider), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".institution-#{institution.id}" }
        - institution.providers.where(is_available: show_available_only).order("`order`").each do |provider|
          .panel-heading
            %h5.panel-title.text-left
              = link_to accordion_link_text(provider), 'javascript:void(0)', class: 'org-form-label', data: { id: provider.id, toggle: 'collapse', target: ".provider-#{provider.id}", parent: "#institution-#{institution.id}" }
          .panel-collapse.collapse{ class: "provider-#{provider.id}" }
            .panel-body
              .panel-heading
                %h5.panel-title.text-left
                  = link_to create_new_text(:program), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".provider-#{provider.id}" }
              - provider.programs.where(is_available: show_available_only).order("`order`").each do |program|
                .panel-heading
                  %h5.panel-title.text-left
                    = link_to accordion_link_text(program), 'javascript:void(0)', class: 'org-form-label', data: { id: program.id, toggle: 'collapse', target: ".program-#{program.id}", parent: "provider-#{provider.id}" }
                .panel-collapse.collapse{ class: "program-#{program.id}" }
                  .panel-body
                    .panel-heading
                      %h5.panel-title.text-left
                        = link_to create_new_text(:core), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".program-#{program.id}" }
                    .panel-heading
                      %h5.panel-title.text-left
                        = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".program-#{program.id}" }
                    - program.cores.where(is_available: show_available_only).order("`order`").each do |core|
                      .panel-heading
                        %h5.panel-title.text-left
                          = link_to accordion_link_text(core), 'javascript:void(0)', class: 'org-form-label', data: { id: core.id, toggle: 'collapse', target: ".core-#{core.id}", parent: "program-#{program.id}" }
                      .panel-collapse.collapse{ class: "core-#{core.id}" }
                        .panel-body
                          .panel-heading
                            %h5.panel-title.text-left
                              = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".core-#{core.id}" }
                          - core.services.where(is_available: show_available_only).order("`order`, `name`").each do |service|
                            .panel-heading
                              %h5.panel-title.text-left
                                = link_to accordion_link_text(service), 'javascript:void(0)', class: 'org-form-label', data: { id: service.id, parent: "core-#{core.id}" }
                    - program.services.where(is_available: show_available_only).order("`order`, `name`").each do |service|
                      .panel-heading
                        %h5.panel-title.text-left
                          = link_to accordion_link_text(service), 'javascript:void(0)', class: 'org-form-label', data: { id: service.id, parent: "program-#{program.id}" }