-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- availability = [show_available_only, true]
.panel-group#cm-accordion
  - if @user.catalog_overlord?
    -# New Institution link
    .panel-heading.no-padding-y
      .col-sm-1.no-padding-y
        = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_organization_link', data: {organization_type: "Institution"}
      .col-sm-11.no-padding-y
        = link_to create_new_text(:institution), 'javascript:void(0)', class: 'org-form-label panel-title new_organization_link', data: {organization_type: "Institution"}

  - institutions.where(is_available: availability).each do |institution|
    - institution_editable = @editable_organizations.include?(institution)
    = render '/catalog_manager/catalog/accordion_edit_link', organization: institution, type: "institution", editable: institution_editable, parent_link: "#cm-accordion", availability: availability, ajax_loader_class: ""

    .panel-collapse.collapse{ id: "institution-#{institution.id}-collapse" }
      .panel-body.no-padding-y.col-sm-12
        - if institution_editable
          -# New Provider link
          .panel-heading.no-padding-y
            .col-sm-1.no-padding-y
              = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_organization_link', data: {organization_type: "Provider", parent_id: institution.id}
            .col-sm-11.no-padding-y
              = link_to create_new_text(:provider), 'javascript:void(0)', class: 'org-form-label panel-title new_organization_link', data: {organization_type: "Provider", parent_id: institution.id}

        - institution.providers.where(is_available: availability).order(Arel.sql("`order`, `name`")).each do |provider|
          - provider_editable = @editable_organizations.include?(provider)
          = render '/catalog_manager/catalog/accordion_edit_link', organization: provider, type: "provider", editable: provider_editable, parent_link: "#institution-#{institution.id}", availability: availability, ajax_loader_class: ""

          .panel-collapse.collapse{ id: "provider-#{provider.id}-collapse" }
            .panel-body.no-padding-y.col-sm-12
              - if provider_editable
                -# New Program link
                .panel-heading.no-padding-y
                  .col-sm-1.no-padding-y
                    = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_organization_link', data: {organization_type: "Program", parent_id: provider.id}
                  .col-sm-11.no-padding-y
                    = link_to create_new_text(:program), 'javascript:void(0)', class: 'org-form-label panel-title new_organization_link', data: {organization_type: "Program", parent_id: provider.id}

              - provider.programs.where(is_available: availability).order(Arel.sql("`order`, `name`")).each do |program|
                - program_editable = @editable_organizations.include?(program)
                = render '/catalog_manager/catalog/accordion_edit_link', organization: program, type: "program", editable: program_editable, parent_link: "#provider-#{provider.id}", availability: availability, ajax_loader_class: "load_program_accordion"

                .panel-collapse.collapse{ id: "program-#{program.id}-collapse" }
                  .panel-body.no-padding-y.col-sm-12
                    - if program_editable
                      -# New Core link
                      .panel-heading.no-padding-y
                        .col-sm-1.no-padding-y
                          = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_organization_link', data: {organization_type: "Core", parent_id: program.id}
                        .col-sm-11.no-padding-y
                          = link_to create_new_text(:core), 'javascript:void(0)', class: 'org-form-label panel-title new_organization_link', data: {organization_type: "Core", parent_id: program.id}
                    - if program_editable
                      -# New Service link
                      .panel-heading.no-padding-y
                        .col-sm-1.no-padding-y
                          = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_service_link', data: {organization_id: program.id}
                        .col-sm-11.no-padding-y
                          = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label panel-title new_service_link', data: {organization_id: program.id}

                    %div{id: "program_accordion_#{program.id}"}
                  .clearfix
            .clearfix
      .clearfix
