-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- program.cores.where(is_available: availability).order(Arel.sql("`order`, `name`")).each do |core|
  - core_editable = @editable_organizations.include?(core)
  = render '/catalog_manager/catalog/accordion_edit_link', organization: core, type: "core", editable: core_editable, parent_link: "#program-#{program.id}", availability: availability, ajax_loader_class: "load_core_accordion"

  .panel-collapse.collapse{ id: "core-#{core.id}-collapse" }
    .panel-body.no-padding-y.col-sm-12
      - if core_editable
        -# New service link
        .panel-heading.no-padding-y
          .col-sm-1.no-padding-y
            = link_to plus_glyphicon(), 'javascript:void(0)', class: 'new_service_link', data: {organization_id: core.id}
          .col-sm-11.no-padding-y{style: "width:91%"}
            = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label panel-title new_service_link', data: {organization_id: core.id}

      %div{id: "core_accordion_#{core.id}"}
    .clearfix

- services = program.services.where(is_available: availability).order(Arel.sql("`order`, `name`"))
= render partial: '/catalog_manager/catalog/accordion_edit_link', collection: services, as: :service, locals: { type: "service", editable: @program_editable, availability: availability, parent_link: "#program-#{program.id}" }
