-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.col-sm-6
  #catalog
    = text_field_tag 'service-query', nil, placeholder: t(:catalog_manager)[:catalog][:search_placeholder], class: "form-control input-lg"

    = render 'availability_button', show_available_only: @show_available_only
    = render 'accordion', institutions: @institutions, show_available_only: @show_available_only




  #details

  #fix_pricing_maps_dialog
    %input.fix_pricing_maps_entity_id{:type => 'hidden'}
    %input.fix_pricing_maps_old_value{:type => 'hidden'}
    %input.fix_pricing_maps_old_value_type{:type => 'hidden'}
    %input.fix_pricing_maps_new_value{:type => 'hidden'}

    .fix_pricing_maps_dialog_content
    
    %br
    %center
      %button.dont_fix_pricing_maps_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:type => "button", :role => "button"}
        %span.ui-button-text= t(:catalog_manager)[:catalog][:pricing_map1]
      %button.fix_pricing_maps_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:type => "button", :role => "button"}
        %span.ui-button-text= t(:catalog_manager)[:catalog][:pricing_map2]
      %img.pricing_map_fix_spinner{:src => '/assets/catalog_manager/spinner_small.gif'}

.col-sm-6
