-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#search_box
  %span.search= t(:catalog_manager)[:index][:search]
  = text_field_tag 'search'
  = submit_tag t(:catalog_manager)[:index][:submit],
    :class => 'custom_button',
    :id => 'search_button',
    data: { disable_with: false }
  %button#clear_search.custom_button Clear Search
  %span.ui-corner-all.pricing_setup_error
    %p 
%br

#no_results
  %p There were no results matching your search criteria. Please search again, or clear the search, and browse manually.
#show_all_services
  - if @show_unavailable.length == 2
    = link_to "Show Available", 'javascript:void(0)', :class => "btn unavailable_button", data: { 'show-unavailable' => 'true' }
  - else
    = link_to "Show All", 'javascript:void(0)', :class => "btn unavailable_button", data: { 'show-unavailable' => 'false' }

#catalog
  .panel-group#institution-accordion
    .panel-heading
      %h5.panel-title.text-left
        = link_to create_new_text(:institution), 'javascript:void(0)', class: 'org-form-label', data: { parent: '#institution-accordion' }
    - @institutions.where(is_available: @show_unavailable).each do |institution|
      .panel-heading
        %h5.panel-title.text-left
          = link_to accordion_link_text(institution), 'javascript:void(0)', class: 'org-form-label', data: { id: institution.id, toggle: 'collapse', target: ".institution-#{institution.id}", parent: '#institution-accordion' }
      .panel-collapse.collapse{ class: "institution-#{institution.id}" }
        .panel-body
          .panel-heading
            %h5.panel-title.text-left
              = link_to create_new_text(:provider), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".institution-#{institution.id}" }
          - institution.providers.where(is_available: @show_unavailable).order("`order`").each do |provider|
            .panel-heading
              %h5.panel-title.text-left
                = link_to accordion_link_text(provider), 'javascript:void(0)', class: 'org-form-label', data: { id: provider.id, toggle: 'collapse', target: ".provider-#{provider.id}", parent: "#institution-#{institution.id}" }
            .panel-collapse.collapse{ class: "provider-#{provider.id}" }
              .panel-body
                .panel-heading
                  %h5.panel-title.text-left
                    = link_to create_new_text(:program), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".provider-#{provider.id}" }
                - provider.programs.where(is_available: @show_unavailable).order("`order`").each do |program|
                  .panel-heading
                    %h5.panel-title.text-left
                      = link_to accordion_link_text(program), 'javascript:void(0)', class: 'org-form-label', data: { id: program.id, toggle: 'collapse', target: ".program-#{program.id}", parent: "provider-#{provider.id}" }
                  .panel-collapse.collapse{ class: "program-#{program.id}" }
                    .panel-body
                      .panel-heading
                        %h5.panel-title.text-left
                          = link_to create_new_text(:core), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".program-#{program.id}" }
                      .panel-heading
                        %h5.panel-title.text-left
                          = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".program-#{program.id}" }
                      - program.cores.where(is_available: @show_unavailable).order("`order`").each do |core|
                        .panel-heading
                          %h5.panel-title.text-left
                            = link_to accordion_link_text(core), 'javascript:void(0)', class: 'org-form-label', data: { id: core.id, toggle: 'collapse', target: ".core-#{core.id}", parent: "program-#{program.id}" }
                        .panel-collapse.collapse{ class: "core-#{core.id}" }
                          .panel-body
                            .panel-heading
                              %h5.panel-title.text-left
                                = link_to create_new_text(:service), 'javascript:void(0)', class: 'org-form-label', data: { parent: ".core-#{core.id}" }
                            - core.services.where(is_available: @show_unavailable).order("`order`, `name`").each do |service|
                              .panel-heading
                                %h5.panel-title.text-left
                                  = link_to accordion_link_text(service), 'javascript:void(0)', class: 'org-form-label', data: { id: service.id, parent: "core-#{core.id}" }
                      - program.services.where(is_available: @show_unavailable).order("`order`, `name`").each do |service|
                        .panel-heading
                          %h5.panel-title.text-left
                            = link_to accordion_link_text(service), 'javascript:void(0)', class: 'org-form-label', data: { id: service.id, parent: "program-#{program.id}" }



                                    
#details

#processing_request.ui-corner-all{:style => "border: 1px solid black; padding: 3px; width: 200px; margin: 30px auto; text-align: center"}
  %br
  = t(:catalog_manager)[:index][:processing]
  %br
  = image_tag 'spinner.gif'

#fix_pricing_maps_dialog
  %input.fix_pricing_maps_entity_id{:type => 'hidden'}
  %input.fix_pricing_maps_old_value{:type => 'hidden'}
  %input.fix_pricing_maps_old_value_type{:type => 'hidden'}
  %input.fix_pricing_maps_new_value{:type => 'hidden'}  

  .fix_pricing_maps_dialog_content
  
  %br
  %center
    %button.dont_fix_pricing_maps_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:type => "button", :role => "button"}
      %span.ui-button-text= t(:catalog_manager)[:index][:pricing_map1]
    %button.fix_pricing_maps_button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only{:type => "button", :role => "button"}
      %span.ui-button-text= t(:catalog_manager)[:index][:pricing_map2]
    %img.pricing_map_fix_spinner{:src => '/assets/catalog_manager/spinner_small.gif'}  
  
    
