-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-# TODO place inline style in a stylesheet
= stylesheet_link_tag "dashboard/ssr_print", media: "print"

.modal-dialog.full-calendar-modal{ style: 'width: 95%;' }
  .modal-content
    = hidden_field_tag :calendar_id, @protocol.id
    .modal-header
      %button.close{ type: 'button', data: { dismiss: 'modal' } }
        %span{ aria: { hidden: 'true' } } &times;
      %h4.text-center
        = t(:dashboard)[:service_calendars][:consolidated_request][:header]
    .modal-body
      #modal_errors
      .row
        .col-lg-12
          .panel-group
            -#.panel.panel-default
            -#  .panel-heading
            -#    %h4.panel-title
            -#      = "#{@protocol.type.capitalize}" + t(:dashboard)[:service_calendars][:consolidated_request][:protocol_information][:header]
            -#  .panel-body
            -#    %dl.dl-horizontal.pull-left
            -#      %dt
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:protocol_information][:srid]
            -#      %dd
            -#        = @protocol.id

            -#      %dt
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:protocol_information][:short_title]
            -#      %dd
            -#        = @protocol.short_title

            -#      %dt
            -#        = "#{@protocol.type.capitalize}" + t(:dashboard)[:service_calendars][:consolidated_request][:protocol_information][:title]
            -#      %dd
            -#        = @protocol.title

            -#      %dt
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:protocol_information][:funding_source]
            -#      %dd
            -#        = @protocol.sponsor_name

            -#      %dt
            -#        = display_funding_source_title(@protocol)
            -#      %dd
            -#        = display_funding_source_or_potential(@protocol)
            -#.panel.panel-default
            -#  .panel-heading
            -#    %h4.panel-title
            -#      = t(:dashboard)[:service_calendars][:consolidated_request][:authorized_users][:header]
            -#  %table.table.table-striped
            -#    %tr
            -#      %th
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:authorized_users][:name]
            -#      %th
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:authorized_users][:role]
            -#      %th
            -#        = t(:dashboard)[:service_calendars][:consolidated_request][:authorized_users][:rights]
            -#    - @protocol.project_roles.each do |pr|
            -#      %tr
            -#        %td
            -#          = pr.identity.full_name
            -#        %td
            -#          = USER_ROLES.key(pr.role)
            -#        %td
            -#          = PROXY_RIGHTS.key(pr.project_rights)
            .panel.panel-default
              .panel-heading
                %h4.panel-title
                  = t(:dashboard)[:service_calendars][:consolidated_request][:services][:header]
              .panel-body
                - if @protocol.has_line_items_of_type?(@service_request, @portal, "pppv")
                  - @protocol.arms.each do |arm|
                    .arm_calendar_container.calendar-container{ data: { arm_id: arm.id } }
                      - next if arm.visit_groups.empty?
                      = render partial: '/dashboard/service_calendars/master_calendar/pppv/pppv_calendar', locals: { service_request: @service_request, arm: arm, page: @pages[arm.id], pages: @pages, review: false, merged: true, study_tracker: false }
                - if @protocol.has_line_items_of_type?(@service_request, @portal, "otf")
                  .calendar-container
                    = render partial: '/dashboard/service_calendars/master_calendar/otf/otf_calendar', locals: { service_request: @service_request, sub_service_request: nil, portal: true, merged: true, tab: @tab, review: false, study_tracker: false, protocol: @protocol }
                - unless @protocol.has_line_items_of_type?(@service_request, @portal, "pppv") || @protocol.has_line_items_of_type?(@service_request, @portal, "otf")
                  = render 'shared/alert', message: t(:dashboard)[:service_calendars][:consolidated_request][:services][:none]
    .modal-footer
      %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
        = t(:actions)[:close]
      -# %button.btn.btn-primary#print{ type: 'button' }
      -#  = t(:actions)[:print]
