-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.list-group-item.cart-sub-service-request{ class: sub_service_request.can_be_edited? ? '' : 'list-group-item-danger' }
  .col-sm-12.ssr-header
    %h5.list-group-item-heading.text-center
      = ssr_name_display(sub_service_request)
  - sub_service_request.line_items.each do |li|
    .col-sm-12.line-item
      %span.col-sm-9.service
        = li.service.abbreviation
        %strong
          = li.service.cpt_code? ? " (#{li.service.cpt_code})" : ""
        - unless li.service.is_available
          = inactive_tag
      .col-sm-3
        - if sub_service_request.can_be_edited? && allow_delete && li.optional?
          %button.btn.btn-xs.btn-danger.remove-service.pull-right{ type: 'button', data: { id: li.id, request_submitted: service_request.submitted_at? ? 1 : 0, toggle: "tooltip", animation: 'false', placement: 'right'}, title: "Remove" }
            %span.glyphicon.glyphicon-remove{ aria: { hidden: 'true' } }
