-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-primary.cart
  .panel-heading.text-center
    %h4.panel-title
      = t(:proper)[:cart][:header]
      %span.glyphicon.glyphicon-shopping-cart
  = hidden_field_tag :line_item_count, line_items_count
  - if sub_service_request
    -# If we are editing a single SSR, we don't want to display the tabs
    .list-group
      = render 'service_requests/right_navigation/cart_sub_service_request', service_request: service_request, sub_service_request: sub_service_request, allow_delete: allow_delete
  - else
    -# If we are editing a Service Request, we do want to display the tabs
    .cart-toggle
      %button.btn.btn-default.col-sm-6.active{ data: { tab: 'active' } }
        = t(:proper)[:cart][:tab_headers][:open]
      %button.btn.btn-default.col-sm-6{ data: { tab: 'complete' } }
        = t(:proper)[:cart][:tab_headers][:complete]
    .list-group.ssr-tab.active-ssrs
      = render 'service_requests/right_navigation/cart_sub_service_requests', service_request: service_request, sub_service_requests: sub_service_requests[:active], allow_delete: allow_delete, tab: 'active'
    .list-group.ssr-tab.complete-ssrs.hidden
      = render 'service_requests/right_navigation/cart_sub_service_requests', service_request: service_request, sub_service_requests: sub_service_requests[:complete], allow_delete: allow_delete, tab: 'complete'

= render 'service_requests/modals/remove_request_modal'
= render 'service_requests/modals/line_item_required_modal'
