-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#cart-help-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span{ aria: { hidden: 'true' } } &times;
        %h4.text-center#modal-title
          = t(:proper)[:right_navigation][:faqs][:header]
      .modal-body
        #modal_errors
        .card
          .list-group
            = link_to t(:proper)[:right_navigation][:faqs][:question_1], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 1 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-1" }
              = t(:proper)[:right_navigation][:faqs][:answer_1]
            = link_to t(:proper)[:right_navigation][:faqs][:question_2], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 2 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-2" }
              = t(:proper)[:right_navigation][:faqs][:answer_2]
            = link_to t(:proper)[:right_navigation][:faqs][:question_3], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 3 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-3" }
              = t(:proper)[:right_navigation][:faqs][:answer_3]
            = link_to t(:proper)[:right_navigation][:faqs][:question_4], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 4 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-4" }
              = t(:proper)[:right_navigation][:faqs][:answer_4]
            = link_to t(:proper)[:right_navigation][:faqs][:question_5], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 5 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-5" }
              = t(:proper)[:right_navigation][:faqs][:answer_5]
            = link_to t(:proper)[:right_navigation][:faqs][:question_6], 'javascript:void(0)', class: 'list-group-item list-group-item-action list-group-item-info help-question', data: { id: 6 }
            %li.list-group-item.help-answer.hidden{ id: "help-answer-6" }
              = raw t('proper.right_navigation.faqs.answer_6', department_name: Setting.get_value('contact_us_department'), phone: Setting.get_value('contact_us_phone'), email: Setting.get_value('contact_us_mail_to'))
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t(:actions)[:close]
