- if notification.messages.last
  .notifications-list.ui-corner-all{:class => "#{read_unread(notification, @user)} notification_#{notification.id}"}
    .admin.icon-column{:'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      %span
    .admin.from-column{:'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      - from_users = notification.messages.map{ |m| User.find(m.from).try(:full_name) }
      = from_users.join(', ')
    - if notification.messages.count > 1
      .admin.message-count{:'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
        = "(#{notification.messages.count})"
    .admin.subject-column{:style => 'width:115px', :'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      = notification.messages.last.try(:subject)
    .admin.preview-column{:style => 'width:275px', :'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      = notification.messages.last.try(:body)
    .admin.received-column{:style => 'width:80px', :'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      = received_at notification
    .notification-selection-column{:style => 'margin-left:55px'}
      %input.mark_notification{:type => 'checkbox', :'data-notification_id' => notification.id, :'data-friendly_id' => friendly_id, :'data-ssr_id' => "#{ssr_id}", :'data-from_user_id' => notification.messages.last.from, :'data-user_id' => @user.id}
      %input.mark_notification_hidden{:type => 'hidden', :name => 'notification_ids[][id]', :id => "notification_#{notification.id}", :value => ''}
    .clear
