= form_tag(mark_as_read_portal_notifications_path, :method => :put, :remote => true, :class => 'notifications-form') do
  %input.read_or_unread_field{:type => 'hidden', :name => 'read_or_unread', :value => "unread"}
  .admin-notifications
    .notification-action-bar.ui-corner-all
      %a.white_link.select_all{:href => 'javascript:void(0)'}
        = t(:notifications)[:select]
      |
      %a.white_link.deselect_all{:href => 'javascript:void(0)'}
        = t(:notifications)[:deselect]
      .right
        %a.white_link.read_unread_link{:href => 'javascript:void(0)', :'data-read' => 'true', :'data-sub_service_request_id' => @sub_service_request.try(:id)}
          = t(:notifications)[:read]
        |
        %a.white_link.read_unread_link{:href => 'javascript:void(0)', :'data-read' => 'false', :'data-sub_service_request_id' => @sub_service_request.try(:id)}
          = t(:notifications)[:unread]
      .clear

    %table.admin_notifications
      %thead
        %tr
          %th.notification_icon
          %th.from_column= t(:notifications)[:from]
          %th.subject_column= t(:notifications)[:about]
          %th.body_column= t(:notifications)[:preview]
          %th.received_column= t(:notifications)[:received]
          %th
      %tbody
        - @notifications.each do |notification|
          %tr{:class => "#{notification.try(:user_notifications_for_current_user, @user).try(:last).try(:read) ? '' : 'unread'} notification_row"}
            %td.notification_icon{:'data-notification_id' => notification.id, :'data-sub_service_request_id' => @sub_service_request.try(:id)}
              - if notification.try(:user_notifications_for_current_user, @user).try(:last).try(:read)
                = image_tag("portal/read.png")
              - else
                = image_tag("portal/unread.png")
            %td.from_column{:'data-notification_id' => notification.id, :'data-sub_service_request_id' => @sub_service_request.try(:id)}= notification.try(:messages).try(:last).try(:sender).try(:full_name)
            %td.subject_column{:'data-notification_id' => notification.id, :'data-sub_service_request_id' => @sub_service_request.try(:id)}= notification.try(:messages).try(:last).try(:subject)
            %td.body_column{:'data-notification_id' => notification.id, :'data-sub_service_request_id' => @sub_service_request.try(:id)}= notification.try(:messages).try(:last).try(:body)
            %td.received_column{:'data-notification_id' => notification.id, :'data-sub_service_request_id' => @sub_service_request.try(:id)}= received_at(notification)
            %td.mark_unread{:'data-notification_id' => notification.id}= check_box_tag 'mark_as_unread', 0
