-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= fields_for pricing_map do |f|
  .form-group
    = f.label :federal_rate, t(:catalog_manager)[:service_form][:pricing_map_form][:federal_rate], class: 'col-sm-4 control-label'
    .col-sm-2.text-center= (rate_map ? rate_map['federal_rate'] : "N/A") + " *"
    .col-sm-5= f.text_field :federal_rate, {value: number_with_precision(Service.cents_to_dollars(pricing_map.federal_rate), precision: 2), disabled: pricing_map_disabled, class: 'form-control override_field'}
  .form-group
    = f.label :corporate_rate, t(:catalog_manager)[:service_form][:pricing_map_form][:corporate_rate], class: 'col-sm-4 control-label'
    .col-sm-2.text-center= (rate_map ? rate_map['corporate_rate'] : "N/A") + " *"
    .col-sm-5= f.text_field :corporate_rate, {value: number_with_precision(Service.cents_to_dollars(pricing_map.corporate_rate), precision: 2), disabled: pricing_map_disabled, class: 'form-control override_field'}
  .form-group
    = f.label :other_rate, t(:catalog_manager)[:service_form][:pricing_map_form][:other_rate], class: 'col-sm-4 control-label'
    .col-sm-2.text-center= (rate_map ? rate_map['other_rate'] : "N/A") + " *"
    .col-sm-5= f.text_field :other_rate, {value: number_with_precision(Service.cents_to_dollars(pricing_map.other_rate), precision: 2), disabled: pricing_map_disabled, class: 'form-control override_field'}
  .form-group
    = f.label :member_rate, t(:catalog_manager)[:service_form][:pricing_map_form][:member_rate], class: 'col-sm-4 control-label'
    .col-sm-2.text-center= (rate_map ? rate_map['member_rate'] : "N/A") + " *"
    .col-sm-5= f.text_field :member_rate, {value: number_with_precision(Service.cents_to_dollars(pricing_map.member_rate), precision: 2), disabled: pricing_map_disabled, class: 'form-control override_field'}
