-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- if current_user.is_site_admin?
  .card.w-100#surveysCard
    .card-header.bg-primary.text-white{ title: t(:surveyor)[:systemsurveys][:tooltip], data: { toggle: 'tooltip', placement: 'left' } }
      %h3.mb-0
        = t(:surveyor)[:systemsurveys][:header]
    #surveysCustomToolbar
      = link_to t(:surveyor)[:systemsurveys][:new], new_surveyor_survey_path(type: 'SystemSurvey'), remote: true, class: "btn btn-success", id: "new-survey-button"
    %table.system-survey-table{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', 'show-toggle' => 'true', url: surveyor_surveys_path(type: 'SystemSurvey'), striped: 'true', toolbar: '#surveysCustomToolbar', pagination: 'true', page_size: '20' } }
      %thead.primary-header
        %tr
          %th{ data: { field: "title", align: "left", sortable: 'true' } }
            = t(:surveyor)[:systemsurveys][:table][:headers][:title]
          %th{ data: { field: "access_code", align: "left", sortable: 'true' } }
            = t(:surveyor)[:systemsurveys][:table][:headers][:access_code]
          %th{ data: { field: "version", align: "left", sortable: 'true' } }
            = t(:surveyor)[:systemsurveys][:table][:headers][:version]
          %th{ data: { field: "active", align: "center" } }
            = t(:surveyor)[:systemsurveys][:table][:headers][:active]
          %th{ data: { field: "actions", align: "center" } }
            = t(:surveyor)[:systemsurveys][:table][:headers][:actions]

- if current_user.is_site_admin? || current_user.is_super_user? || current_user.is_service_provider? || current_user.is_catalog_manager?
  .card.w-100#formsCard
    .card-header.bg-primary.text-white{ title: t(:surveyor)[:forms][:tooltip], data: { toggle: 'tooltip', placement: 'left' } }
      %h3.mb-0
        = t(:surveyor)[:forms][:header]
    #formsCustomToolbar
      = link_to t(:surveyor)[:forms][:new], new_surveyor_survey_path(type: 'Form'), remote: true, class: "btn btn-success", id: "new-form-button"
    %table.form-table{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', 'show-toggle' => 'true', url: surveyor_surveys_path(type: 'Form'), striped: 'true', toolbar: '#formsCustomToolbar', pagination: 'true', page_size: '20' } }
      %thead.primary-header
        %tr
          %th{ data: { field: "surveyable", align: "left", sortable: 'true' } }
            = t(:surveyor)[:forms][:table][:headers][:surveyable]
          %th{ data: { field: "title", align: "left", sortable: 'true' } }
            = t(:surveyor)[:forms][:table][:headers][:title]
          %th{ data: { field: "access_code", align: "left", sortable: 'true' } }
            = t(:surveyor)[:forms][:table][:headers][:access_code]
          %th{ data: { field: "version", align: "left", sortable: 'true' } }
            = t(:surveyor)[:forms][:table][:headers][:version]
          %th{ data: { field: "active", align: "center" } }
            = t(:surveyor)[:forms][:table][:headers][:active]
          %th{ data: { field: "actions", align: "center" } }
            = t(:surveyor)[:forms][:table][:headers][:actions]
