-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- disable = ['pi', 'primary-pi', 'business-grants-manager'].include?(form.object.role)
= user_form_group(name: :rights, form: form, required: true,
  data: { toggle: 'tooltip', placement: 'bottom', delay: '{"show":"500"}' },
  title: t(:authorized_users)[:tooltips][:rights]) do
  - PermissibleValue.get_inverted_hash('proxy_right').each do |key, value|
    .radio
      %label
        = form.radio_button :project_rights, value, disabled: ['pi', 'primary-pi', 'business-grants-manager'].include?(form.object.role) && value != 'approve', data: { dashboard: dashboard.to_s }
      %span{ title: t(:authorized_users)[:tooltips][value.to_sym], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
        = key
- user = (@user.present? ? @user : current_user)
- if action_name == 'edit' && user.id == form.object.identity_id
  - if dashboard && !admin
    .form-group.text-center.project-rights-redirect-warning.hidden
      %span.text-danger
        = t(:authorized_users)[:rights][:change_warning][:dashboard]
  - elsif !dashboard && !user.catalog_overlord?
    .form-group.text-center.project-rights-redirect-warning.hidden
      %span.text-danger
        = t(:authorized_users)[:rights][:change_warning][:proper]
