
%table.table.table-striped.table-bordered.table-hover
  %thead.primary-header.document-submissions-header
    %tr
      %th.text-center
        = t(:additional_details)["#{questionable_type.downcase}_name".to_sym]
      %th.text-center
        = t(:additional_details)[:complete_or_view]
      %th.text-center
        = t(:additional_details)[:completed]
      %th.text-center
        = t(:additional_details)[:edit_questionnaire]
      %th.text-center
        = t(:additional_details)[:delete_questionnaire]
  %tbody
    - containers.each do |container|
      - questionable = questionable_type.constantize.find(container.read_attribute("#{questionable_type.downcase}_id"))
      - questionnaire = questionable.questionnaires.active.first
      - ssr = (questionable_type == 'Service' ? container.sub_service_request : container)
      - if questionable.questionnaires.active.present?
        %tr
          %td
            = questionable.name
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to additional_details_submission_path(ssr.find_submission(questionnaire)),
                  remote: true, class: 'btn btn-primary' do
                  %span.glyphicon.glyphicon-search
              - else
                = link_to new_additional_details_submission_path(questionnaire_id: questionable.questionnaires.active.first.id, protocol_id: @service_request.protocol_id, sr_id: @service_request.id, ssr_id: ssr.id), remote: true, class: 'btn btn-primary' do
                  = t(:additional_details)[:document_complete_details]
                  %span.glyphicon.glyphicon-modal-window
          %td
            .text-center
              = ssr.completed_questionnaire?(questionnaire) ? "True" : "False"
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to edit_additional_details_submission_path(ssr.find_submission(questionnaire).id, sr_id: @service_request.id), remote: true, class: 'btn btn-warning' do
                  %span.glyphicon.glyphicon-edit
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to "javascript:void(0);", class: 'btn btn-danger delete-submission', data: { id: ssr.find_submission(questionnaire).id, sr_id: @service_request.id, protocol_id: @service_request.protocol_id, ssr_id: ssr.id } do
                  %span.glyphicon.glyphicon-remove