-# Copyright © 2011-2018 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~


%table.table.table-striped.table-bordered.table-hover
  %thead.primary-header.document-submissions-header
    %tr
      %th{width: 350}
        = t(:additional_details)["#{questionable_type.downcase}_name".to_sym]
      %th{width: 250}
        = t(:additional_details)[:complete_or_view]
      %th{width: 140}
        = t(:additional_details)[:completed]
      %th{width: 80}
        = t(:additional_details)[:edit_questionnaire]
      %th
        = t(:additional_details)[:delete_questionnaire]
  %tbody
    - objects_with_questionnaires.each do |obj|
      - questionable = questionable_type.constantize.find(obj.read_attribute("#{questionable_type.downcase}_id"))
      - questionnaire = questionable.questionnaires.active.first
      - ssr = (questionable_type == 'Service' ? obj.sub_service_request : obj)
      - if questionable.questionnaires.active.present?
        %tr
          %td
            = questionable.name
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to additional_details_submission_path(ssr.find_submission(questionnaire)),
                  remote: true, class: 'btn btn-primary' do
                  %span.glyphicon.glyphicon-search
              - else
                = link_to new_additional_details_submission_path(questionnaire_id: questionable.questionnaires.active.first.id, protocol_id: @service_request.protocol_id, sr_id: @service_request.id, ssr_id: ssr.id), remote: true, class: 'btn btn-primary' do
                  = t(:additional_details)[:document_complete_details]
                  %span.glyphicon.glyphicon-modal-window
          %td
            .text-center
              = ssr.completed_questionnaire?(questionnaire) ? "True" : "False"
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to edit_additional_details_submission_path(ssr.find_submission(questionnaire).id, sr_id: @service_request.id), remote: true, class: 'btn btn-warning' do
                  %span.glyphicon.glyphicon-edit
          %td
            .text-center
              - if ssr.completed_questionnaire?(questionnaire)
                = link_to "javascript:void(0);", class: 'btn btn-danger delete-submission', data: { id: ssr.find_submission(questionnaire).id, sr_id: @service_request.id, protocol_id: @service_request.protocol_id, ssr_id: ssr.id } do
                  %span.glyphicon.glyphicon-remove
