-# Copyright © 2011-2017 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.page-header
  %h3
    %span{ title: t(:proper)[:document_management][:tooltips][:additional_details], data: { toggle: 'tooltip', delay: '{"show":"500"}' } }
      = t(:proper)[:document_management][:additional_details_notice]
%table.table.table-striped.table-bordered.table-hover
  %thead.primary-header.document-submissions-header
    %tr
      %th.text-center
        = t(:additional_details)[:service_name]
      %th.text-center
        = t(:additional_details)[:complete_or_view]
      %th.text-center
        = t(:additional_details)[:completed]
      %th.text-center
        = t(:additional_details)[:edit_questionnaire]
      %th.text-center
        = t(:additional_details)[:delete_questionnaire]
  %tbody
    - if service_request.additional_detail_services.present?
      - service_request.line_items.each do |line_item|
        - service = Service.find(line_item.service_id)
        - if service.questionnaires.active.present?
          %tr
            %td
              = service.name
            %td
              .text-center
                - if line_item.submission.present?
                  = link_to service_additional_details_submission_path(service, line_item.submission),
                    remote: true, class: 'btn btn-primary' do
                    %span.glyphicon.glyphicon-search
                - else
                  = link_to new_service_additional_details_submission_path(service, protocol_id: @service_request.protocol_id, sr_id: @service_request.id, line_item_id: line_item.id), remote: true, class: 'btn btn-primary' do
                    = t(:additional_details)[:document_complete_details]
                    %span.glyphicon.glyphicon-modal-window
            %td
              .text-center
                = line_item.submission.present? ? "True" : "False"
            %td
              .text-center
                - if line_item.submission.present?
                  = link_to edit_service_additional_details_submission_path(service, line_item.submission, sr_id: @service_request.id), remote: true, class: 'btn btn-warning' do
                    %span.glyphicon.glyphicon-edit
            %td
              .text-center
                - if line_item.submission.present?
                  = link_to "javascript:void(0);", class: 'btn btn-danger delete-submission', data: { id: line_item.submission.id, service_id: service.id, sr_id: @service_request.id, protocol_id: @service_request.protocol_id, line_item_id: line_item.id } do
                    %span.glyphicon.glyphicon-remove
