-# Copyright © 2011-2017 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

- @questionnaires.each do |questionnaire|
  %tr
    %td
      .text-center
        = questionnaire.name
    %td
      .text-center
        = link_to service_additional_details_submissions_path(@service), class: 'btn btn-primary' do
          Responses
          %span.badge
            = questionnaire.submissions.count
    %td
      .text-center
        = @service.name
    %td
      .text-center
        = questionnaire.active
    %td
      .text-center
        - if questionnaire.active?
          = link_to t(:additional_details)[:disable_questionnaire], service_additional_details_update_questionnaire_path(@service, questionnaire), method: :patch, class: 'btn btn-danger active-questionnaire', remote: true
        - else
          = link_to t(:additional_details)[:activate_questionnaire], service_additional_details_update_questionnaire_path(@service, questionnaire), method: :patch, class: 'btn btn-success inactive-questionnaire', remote: true
    %td
      .text-center
        = link_to edit_service_additional_details_questionnaire_path(@service, questionnaire), class: 'btn btn-info' do
          %span.glyphicon.glyphicon-pencil
    %td
      .text-center
        = link_to service_additional_details_questionnaire_path(@service, questionnaire),
          method: :delete, class: 'btn btn-danger' do
          %span.glyphicon.glyphicon-remove
