-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.form-group.row
  - if Setting.get_value("use_epic")
    = form.label :selected_for_epic,
      t(:protocols)[:studies][:information][:push_to_epic],
      class: 'col-lg-2 control-label required',
      data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' },
      title: t(:protocols)[:tooltips][:epic]
    .col-lg-10
      .btn-group#selected_for_epic_button{data: { toggle: "labels" } }
        %label.radio-inline.btn.btn-default#study_selected_for_epic_true_button{ class: protocol.selected_for_epic? ? 'active' : ''}
          = form.radio_button :selected_for_epic, 'true', id: "study_selected_for_epic_true", class: 'hidden'
          = t(:constants)[:yes_select]
        %label.radio-inline.btn.btn-default#study_selected_for_epic_false_button{ class: protocol.selected_for_epic == false || !Setting.get_value("use_epic") ? 'active': ''}
          = form.radio_button :selected_for_epic, 'false', id: "study_selected_for_epic_false", class: 'hidden'
          = t(:constants)[:no_select]
.form-group.row.selected_for_epic_dependent{ style: protocol.selected_for_epic || (!Setting.get_value("use_epic") && action_name == 'update_protocol_type') ? 'display:block;' : 'display:none;' }
  = form.label :study_type_questions, t(:protocols)[:studies][:information][:study_type_questions], class: "col-lg-2 control-label question-label #{Setting.get_value("use_epic") && protocol.selected_for_epic ? 'required' : ''}", data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' }, title: t(:protocols)[:tooltips][:study_type_questions]
  .col-lg-10
    - action_name == 'update_protocol_type' ? protocol.setup_study_type_answers : ''
    = form.fields_for :study_type_answers, protocol.study_type_answers do |answer_form|
      - if answer_form.object.study_type_question.study_type_question_group.active
        .form-group.row{ id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}", style: display_study_type_question?(protocol, answer_form.object) ? 'display:block;' : 'display:none;' }
          .col-lg-8
            = answer_form.hidden_field :study_type_question_id
            = answer_form.label :answer, break_before_parenthetical(answer_form.object.study_type_question.question), class: "long"
          .col-lg-4
            = answer_form.select :answer, options_for_select([['Yes', true], ['No', false]], answer_form.object.answer), { include_blank: 'Select One' }, { class: 'selectpicker', id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}_answer" }
