-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.grid_12
  %br
  %br
  #audit_form
    = form_tag billing_report_study_tracker_home_index_path(:format => :xlsx) do
      = label_tag "study_tracker_billing_report_protocol_ids[]", t(:study_tracker)[:billing_report][:protocols]
      = select_tag "study_tracker_billing_report_protocol_ids[]", options_for_select([["All (default)", "All"]] + (@protocols.map{|p| [p.display_protocol_id_and_title, p.id]}), "All"), :multiple => true
      %br
      %br

      - @cwf_organizations.each do |org|
        = label_tag "organizations[#{org.id}]", org.label
        = check_box_tag "organizations[]", org.id, true
        %br
      
      %br
      %br
     
      = label_tag :study_tracker_billing_report_start_date_input, t(:study_tracker)[:billing_report][:start_date]
      = text_field_tag :study_tracker_billing_report_start_date_input, nil
      = hidden_field_tag :study_tracker_billing_report_start_date

      %br
      %br

      = label_tag :study_tracker_billing_report_end_date_input, t(:study_tracker)[:billing_report][:end_date]
      = text_field_tag :study_tracker_billing_report_end_date_input, nil
      = hidden_field_tag :study_tracker_billing_report_end_date

      %br
      %br
      
      = submit_tag t(:study_tracker)[:billing_report][:get_report] 
  %br
  %br
