:javascript
  $(document).ready( function() {
    Sparc.admin.ready();
  });

.admin-right-dashboard
  .user-information-title.ui-corner-all
    %h3= t(:study_tracker)[:title]
  .user-information-body.ui-corner-bottom
    %p
      %strong= @user.display_name
      .admin-buttons
        = link_to root_path do
          = image_tag 'portal/create_new_request.png', :class => 'create_new_request'

= render :partial => 'portal/admin/ssr_list'