-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.col-12.col-lg-9.mb-3.mb-lg-0#protocolInformation
  - if protocol
    = render 'protocols/summary', protocol: protocol, service_request: service_request
    = render 'associated_users/table', protocol: protocol, service_request: service_request
    = render 'protocols/milestones', service_request: @service_request, protocol: @service_request.protocol
  - else
    .card#newProtocolCard
      .card-header.bg-primary.text-white
        %h3.mb-0
          = t('protocols.form.header.new', protocol_type: Protocol.model_name.human)
      .card-body
        - if @errors && (service_request.previously_submitted? || request_referrer_action == 'protocol')
          = render 'layouts/modal_errors', errors: @errors, messages: @errors.messages[:protocol]
        %h4.mb-4
          = t('proper.protocol.new.text')
        .row
          .d-flex.flex-column.col-12.col-sm-6.mb-3.mb-sm-0
            .flex-fill
              %h3.text-success.pb-2.mb-2.border-bottom
                = Study.model_name.human
              %h3
                %small.text-muted
                  = t('proper.protocol.new.study_description')
            = link_to new_protocol_path(type: Study.name, srid: service_request.id), class: 'btn btn-lg btn-success new-study' do
              - succeed t('protocols.form.header.new', protocol_type: Study.model_name.human) do
                = icon('fas', 'plus mr-2')
          .d-flex.flex-column.col-12.col-sm-6
            .flex-fill
              %h3.text-primary.pb-2.mb-2.border-bottom
                = Project.model_name.human
              %h3
                %small.text-muted
                  = t('proper.protocol.new.project_description')
            = link_to new_protocol_path(type: Project.name, srid: service_request.id), class: 'btn btn-lg btn-primary new-project' do
              - succeed t('protocols.form.header.new', protocol_type: Project.model_name.human) do
                = icon('fas', 'plus mr-2')
