-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= form_for [:study_tracker, @cover_letter.sub_service_request, @cover_letter] do |f|
  - if @cover_letter.errors.any?
    #error_explanation
      %h2
        = pluralize(@cover_letter.errors.count, "error")
        prohibited these payments from being saved:
      %ul
        - @cover_letter.errors.full_messages.each do |msg|
          %li= msg

  =f.hidden_field :content
  #cover_letter_content_editor.contenteditable{ contenteditable: true}
    - if @cover_letter.new_record? && @cover_letter.errors.blank?
      = render partial:'template', locals:{date: Date.today, srid: @srid, short_title: @short_title}
    - else
      = @cover_letter.content.html_safe
    
  %p.buttons
    = f.submit t(:study_tracker)[:save], :id => "cover_letter_save"
    = link_to t(:study_tracker)[:cancel], study_tracker_sub_service_request_path(@sub_service_request), :id => "cover_letter_cancel"
