.devise_form#reset.password_reset
  .grid_5.box
    .info
      %h2= t :password_reset_message
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        = devise_error_messages!
        .field
          = f.label(:ldap_uid, t(:login_name), :style => 'width:auto')
          = f.text_field :ldap_uid, :style => 'width:auto'

        #button
          .blue-button.devise_submit_button= f.submit t(:password_reset_submit)
          .blue-button.devise_cancel_button= link_to t(:devise)[:cancel], catalog_service_request_path(@service_request)
    .links
      = render "devise/shared/links"
    .clear
    %br
