-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
.row
  - if locked
    .col-xs-4.text-center.no-padding
      .research-billing-qty
        = visit.research_billing_qty
    .col-xs-4.text-center.no-padding
      .insurance-billing-qty
        = visit.insurance_billing_qty
    .col-xs-4.text-center.no-padding
      .effort-billing-qty
        = visit.effort_billing_qty
  - else
    .col-xs-4.text-center.no-padding
      %a.edit-billing-qty{ href: 'javascript:void(0)', data: { visit_id: visit.id, page: page, admin: admin.to_s } }
        = visit.research_billing_qty
    .col-xs-4.text-center.no-padding
      %a.edit-billing-qty{ href: 'javascript:void(0)', data: { visit_id: visit.id, page: page, admin: admin.to_s } }
        = visit.insurance_billing_qty
    .col-xs-4.text-center.no-padding
      %a.edit-billing-qty{ href: 'javascript:void(0)', data: { visit_id: visit.id, page: page, admin: admin.to_s } }
        = visit.effort_billing_qty
