-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-default
  .panel-heading
    %h4.panel-title 
      = t(:protocols)[:projects][:information][:header]
  .panel-body.container-fluid
    .form-group.row
      = form.label :short_title, t(:protocols)[:projects][:information][:short_title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :short_title, class: 'form-control'

    .form-group.row
      = form.label :title, t(:protocols)[:projects][:information][:title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :title, class: 'form-control'

    .form-group.row#funding-status
      = form.label :funding_status, t(:protocols)[:projects][:information][:funding_status], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_status, options_for_select(FUNDING_STATUSES, protocol.funding_status), { include_blank: t(:protocols)[:prompts][:status] }, class: 'selectpicker project'
  
    .form-group.row.funding_status_dependent.funded{ display_if(protocol.funding_status, "funded") }
      = form.label :funding_source, t(:protocols)[:projects][:information][:funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_source, options_for_select(FUNDING_SOURCES, protocol.funding_source), { include_blank: t(:protocols)[:prompts][:source] }, class: 'selectpicker'

    .form-group.row.funding_status_dependent.pending_funding{ display_if(protocol.funding_status, "pending_funding") }
      = form.label :potential_funding_source, t(:protocols)[:projects][:information][:potential_funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :potential_funding_source, options_for_select(POTENTIAL_FUNDING_SOURCES, protocol.potential_funding_source), { include_blank: t(:protocols)[:prompts][:potential_source] }, class: 'selectpicker'

    .form-group.row
      = form.label :brief_description, t(:protocols)[:projects][:information][:description], class: "col-lg-2 control-label"
      .col-sm-8
        = form.text_area :brief_description, {class: 'form-control', rows: "6"}
    
    - if USE_INDIRECT_COST
      .form-group.row.indirect_cost_rate
        = form.label :indirect_cost_rate, t(:protocols)[:projects][:information][:rate], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :indirect_cost_rate, class: 'form-control'
