#header
	- if in_dashboard
		#org_logo.col-md-4.hidden-sm.hidden-xs
			%a{:href => HEADER_LINK_1}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}org_logo_197x57.png", :alt => 'org_logo'
		#department_title.col-md-4
			%a{:href => HEADER_LINK_2}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}department_name_460_by_60.gif",class: 'header_logo_2', :alt => "department_logo"
		#institution_logo.col-md-4.hidden-xs
			%a{:href => HEADER_LINK_3, :target => '_blank'}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}institution_logo_136x86.gif", :alt => 'institution_logo'
	- else
		#org_logo
			%a{href: HEADER_LINK_1}
				= image_tag 'SCTR Logo.jpg', alt: 'org_logo'
		#sparc_request_header
			%a{href: HEADER_LINK_2}
				= image_tag 'SPARC Request Logo.jpg', alt: 'sparc_logo'
		#institution_logo
			%a{href: HEADER_LINK_3, target: '_blank'}
				= image_tag 'MUSC Logo.jpg', alt: 'institution_logo'
