-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

#header
	- if in_dashboard
		#org_logo.col-md-4.hidden-sm.hidden-xs
			%a{:href => HEADER_LINK_1}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}org_logo_197x57.png", :alt => 'org_logo'
		#department_title.col-md-4
			%a{:href => HEADER_LINK_2}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}department_name_460_by_60.gif",class: 'header_logo_2', :alt => "department_logo"
		#institution_logo.col-md-4.hidden-xs
			%a{:href => HEADER_LINK_3, :target => '_blank'}
				= image_tag "/assets/#{CUSTOM_ASSET_PATH}institution_logo_136x86.gif", :alt => 'institution_logo'
	- else
		#org_logo
			%a{href: HEADER_LINK_1}
				= image_tag 'SCTR Logo.jpg', alt: 'org_logo'
		#sparc_request_header
			%a{href: HEADER_LINK_2}
				= image_tag 'SPARC Request Logo.jpg', alt: 'sparc_logo'
		#institution_logo
			%a{href: HEADER_LINK_3, target: '_blank'}
				= image_tag 'MUSC Logo.jpg', alt: 'institution_logo'
