#header
  #org_logo
    %a{:href => HEADER_LINK_1}
      = image_tag "/assets/#{CUSTOM_ASSET_PATH}org_logo_197x57.png", :alt => 'org_logo'
  #department_title
    %a{:href => HEADER_LINK_2}
      = image_tag "/assets/#{CUSTOM_ASSET_PATH}department_name_460x60.gif",class: 'header_logo_2', :alt => "department_logo"
  #institution_logo
    %a{:href => HEADER_LINK_3, :target => '_blank'}
      = image_tag "/assets/#{CUSTOM_ASSET_PATH}institution_logo_136x86.gif", :alt => 'institution_logo'