%ul.navbar
  - NAVBAR_LINKS.each do |name, path|
    %li.dashboard
      = link_to name.to_s, path, target: '_blank'
  .right-section
    %li.align-element-nav-bar
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    - if current_user.present?
      %li.align-element-nav-bar
        = "Logged in as #{current_user.email}"
      %li
        = link_to 'Logout', destroy_identity_session_path, method: :delete, class: 'logout'
    - else
      %li
        = link_to 'Login', new_identity_session_path, class: 'logout'
