%ul.navbar
  - NAVBAR_LINKS.each do |identifier, details|
    = navbar_link identifier, details, @highlighted_link
  .right-section
    - if current_user.present?
      .user-login-section
        %li.align-element-nav-bar
          = "Logged in as #{current_user.email}"
        %li
          = link_to 'Logout', destroy_identity_session_path, method: :delete, class: 'logout'
    - else
      %li.align-element-nav-bar
      .user-login-section
        %li
          = link_to 'Login', new_identity_session_path, class: 'logout'
