%ul.navbar
  - if current_user.present?
    %li.dashboard
      = link_to 'Dashboard', dashboard_root_path, target: '_blank'
    %li.fulfillment
      = link_to 'SPARCFulfillment', 'https://sparc-fulfillment.musc.edu', target: '_blank'
    %li.catalog
      = link_to 'SPARCCatalog', catalog_manager_catalog_index_path, target: '_blank'
    %li.reports
      = link_to 'SPARCReports', reports_path, target: '_blank'
    .right-section
      %li.align-element-nav-bar
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      - if current_user.present?
        %li.align-element-nav-bar
          = "Logged in as #{current_user.email}"
        %li
          = link_to 'Logout', destroy_identity_session_path, method: :delete, class: 'logout'
