%ul.navbar
  %li.dashboard
    = link_to 'Dashboard', portal_root_path
  %li.admin
    = link_to 'SPARCAdmin', portal_admin_path
  %li.fulfillment
    = link_to 'SPARCFulfillment', 'https://sparc-fulfillment.musc.edu', target: '_blank'
  %li.catalog
    = link_to 'SPARCCatalog', catalog_manager_catalog_index_path
  %li.reports
    = link_to 'SPARCReports', reports_path
  .right-section
    %li.align-element-nav-bar
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    - if current_user.present?
      %li.align-element-nav-bar
        = "Logged in as #{current_user.email}"
      %li
        = link_to 'Logout', destroy_identity_session_path, method: :delete, class: 'logout'
