-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= stylesheet_link_tag 'hover_effect'

.add-user
  = button_tag @can_edit ? t(:user_details)[:update_button] : t(:user_details)[:add_button], class: 'dark-blue-button add-authorized-user btn btn-primary button-hover'
%table.authorized-users
  %thead
    %tr
      %th.authorized-users-section{colspan: (USE_EPIC && protocol.selected_for_epic) ? 4 : 3}
        = t(:user_list)[:information] + ":"
      %th.authorized-users-section{colspan: 4}
        = t(:user_list)[:proxy_rights]
        %br
        %span
          = t(:user_list)[:message]
  %thead
    %tr
      %th
        = t(:user_details)[:name] + ":"
      %th
        = t(:user_list)[:actions] + ":"
      %th
        = t(:user_details)[:role] + ":"
      - if USE_EPIC && protocol.selected_for_epic
        %th
          = t(:user_list)[:epic_access]
      %th.proxy-rights
        = t(:user_list)[:rights1]
      %th.proxy-rights
        = t(:user_list)[:rights2]
      %th.proxy-rights
        = t(:user_list)[:rights3]
      %th.proxy-rights
        = t(:user_list)[:rights4]
        %br
        = t(:user_list)[:rights5]
  %tbody
    - protocol.project_roles.each do |pr|
      - if pr.identity.present?
        = render partial: 'shared/user_proxy_right', locals: {project_role: pr, protocol_use_epic: protocol.selected_for_epic ? 'true' : 'false' }

%br
