-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.details
  = hidden_field_tag "can_edit", can_edit
  = hidden_field_tag "identity[id]", identity.id
  = hidden_field_tag "project_role[protocol_id]", project_role.protocol.id if project_role.protocol
  = hidden_field_tag "project_role[id]", project_role.id
  = hidden_field_tag "project_role[project_rights]", project_role.project_rights

  %h3 User Details:
  %br
  .user_info
    .user_institution.form-group
      = label_tag "identity[institution]", t(:user_details)[:institution] + ":"
      = select_tag "identity[institution]", options_for_select((INSTITUTIONS.sort), identity.institution), :prompt => t(:user_details)[:institution_select], :class => 'form-control'
      %br
      %br

    .user_college.form-group
      = label_tag "identity[college]", t(:user_details)[:college] + ":"
      = select_tag "identity[college]", options_for_select(COLLEGES, identity.college), :prompt => t(:user_details)[:college_select], :class => 'form-control'
      %br
      %br

    .user_department.form-group
      = label_tag "identity[department]", t(:user_details)[:department] + ":"
      = select_tag "identity[department]", options_for_select(DEPARTMENTS, identity.department), :prompt => t(:user_details)[:department_select], :class => 'form-control'
      %br
      %br

    .user_credentials.form-group
      = label_tag "identity[credentials]", t(:user_details)[:credentials] + ":"
      = select_tag "identity[credentials]", options_for_select(USER_CREDENTIALS, identity.credentials), :prompt => t(:user_details)[:credentials_select], :class => 'form-control'
      %br
      %br

    .credentials_other.form-group
      = label_tag "identity[credentials_other]", t(:user_details)[:other] + ":*"
      = text_field_tag "identity[credentials_other]", identity.credentials_other, :class => 'form-control'
      %br
      %br

    .subspecialty.form-group
      = label_tag "identity[subspecialty]", t(:user_details)[:subspecialty] + ":"
      = select_tag "identity[subspecialty]", options_for_select((SUBSPECIALTIES.sort), identity.subspecialty), :prompt => t(:user_details)[:subspecialty_select], :class => 'form-control'
      %br
      %br
