%table.authorized-users
  %thead
    %tr
      %th.authorized-users-section{:colspan => 3}
        = t(:user_list)[:information]
      %th.authorized-users-section{:colspan => 4}
        = t(:user_list)[:proxy_rights]
        %br
        %span= t(:user_list)[:message]
  %thead
    %tr
      %th= t(:user_details)[:name]
      %th= t(:user_list)[:actions]
      %th= t(:user_list)[:role]
      %th.proxy-rights= t(:user_list)[:rights1]
      %th.proxy-rights= t(:user_list)[:rights2]
      %th.proxy-rights= t(:user_list)[:rights3]
      %th.proxy-rights
        = t(:user_list)[:rights4]
        %br
        = t(:user_list)[:rights5]
  %tbody
    - protocol.project_roles.each do |pr|
      = render :partial => 'shared/user_proxy_right', :locals => {:project_role => pr}

%br
