-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.user_name.form-group
  = label_tag "identity[name]", t(:user_details)[:name] + ":"
  = "#{identity.first_name} #{identity.last_name}"
  = hidden_field_tag "identity[first_name]", identity.first_name
  = hidden_field_tag "identity[last_name]", identity.last_name
  %br
  %br
 
.user_email.form-group
  = label_tag "identity[email]", t(:user_details)[:email] + ":"
  = identity.email
  = hidden_field_tag "identity[email]", identity.email
  %br
  %br

.user_phone.form-group
  = label_tag "identity[phone]", t(:user_details)[:phone] + ":"
  = text_field_tag "identity[phone]", identity.phone, :class => 'form-control'
  %br
  %br

.user_role.form-group
  = label_tag "project_role[role]", t(:user_details)[:role] + ":*"
  = select_tag "project_role[role]", options_for_select(USER_ROLES, project_role.role), :prompt => t(:user_details)[:role_select], :class => 'form-control'

  %br
  %br

.role_other.form-group
  = label_tag "project_role[role_other]", t(:user_details)[:other] + ":*"
  = text_field_tag "project_role[role_other]", project_role.role_other, :class => 'form-control'
  %br
  %br

.era_commons_name.form-group
  = label_tag "identity[era_commons_name]", t(:user_details)[:ec_name] + ":"
  = text_field_tag "identity[era_commons_name]", identity.era_commons_name, :class => 'form-control'
  %br
  %br

