-# Copyright © 2011-2020 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= f.fields_for :human_subjects_info do |ff_hsi|
  %section.mt-3#humanSubjectsInfoContainer{ class: ff_rti.object.human_subjects? ? '' : 'd-none' }
    .form-group
      %h4.pb-2.mb-2.border-bottom
        = t('protocols.form.research_involving.subheader', research_type: ResearchTypesInfo.human_attribute_name(:human_subjects))
    .form-row
      .form-group.col-6
        = ff_hsi.label :nct_number, title: t('protocols.tooltips.nct_number'), data: { toggle: 'tooltip', placement: 'right' }
        = ff_hsi.text_field :nct_number, class: 'form-control'

    .form-group
      %h5
        = HumanSubjectsInfo.human_attribute_name(:irb_records)
    .w-100#irbRecords
      - index = ff_hsi.object.irb_records.length
      = ff_hsi.fields_for :irb_records do |ff_irb|
        = render 'irb_records/irb_record', protocol: protocol, irb_record: ff_irb.object, index: ff_irb.index, primary: (ff_irb.index == 0).to_s
    = render 'irb_records/new_irb_record', protocol: protocol, index: index, primary: index == 0
