-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= f.fields_for :vertebrate_animals_info do |ff_vai|
  %section.mt-3#vertebrateAnimalsInfoContainer{ class: ff_rti.object.vertebrate_animals? ? '' : 'd-none' }
    .form-group
      %h4.pb-2.mb-2.border-bottom
        = t('protocols.form.research_involving.subheader', research_type: ResearchTypesInfo.human_attribute_name(:vertebrate_animals))

    .form-row
      .form-group.col-9
        = ff_vai.label :name_of_iacuc
        = ff_vai.text_field :name_of_iacuc, class: 'form-control'
      .form-group.col-3
        = ff_vai.label :iacuc_number
        = ff_vai.text_field :iacuc_number, class: 'form-control'

    .form-row
      .form-group.col-3
        = ff_vai.label :iacuc_approval_date
        .input-group.datetimepicker.date#iacucApprovalDatePicker{ data: { target_input: 'nearest' } }
          = ff_vai.text_field :iacuc_approval_date, class: 'datetimepicker-input form-control', value: format_date(protocol.vertebrate_animals_info.iacuc_approval_date), data: { target: '#iacucApprovalDatePicker' }
          .input-group-append{ data: { toggle: 'datetimepicker', target: '#iacucApprovalDatePicker' } }
            %span.input-group-text
              = icon('fas', 'calendar-alt')
      .form-group.col-3
        = ff_vai.label :iacuc_expiration_date
        .input-group.datetimepicker.date#iacucExpirationDatePicker{ data: { target_input: 'nearest' } }
          = ff_vai.text_field :iacuc_expiration_date, class: 'datetimepicker-input form-control', value: format_date(protocol.vertebrate_animals_info.iacuc_expiration_date), data: { target: '#iacucExpirationDatePicker' }
          .input-group-append{ data: { toggle: 'datetimepicker', target: '#iacucExpirationDatePicker' } }
            %span.input-group-text
              = icon('fas', 'calendar-alt')
