%h3 Subsidy Information
- unless @subsidy
  %p.blank_requests
    No subsidy has been requested for this service request.
    = link_to "Add a Subsidy", 'javascript:void(0);', :class => "add_subsidy_link", :'data-sub_service_request_id' => @sub_service_request.id
- else
  #subsidy_table
    %table
      %thead
        %tr
          %th PI Contribution
          %th % Subsidy
          %th Total Cost
          %th Delete Subsidy
      %tbody
        %tr
          %td= text_field_tag "subsidy_pi_contribution", @subsidy.try(:pi_contribution).try(:/, 100.0), :'data-subsidy_id' => @subsidy.id, :class => 'fulfillment_data'
          %td= text_field_tag "subsidy_percent_subsidy", (@subsidy.try(:percent_subsidy).try(:*, 100.0)).try(:round, 2), :'data-subsidy_id' => @subsidy.id, :class => 'fulfillment_data'
          %td#direct_cost_total{:'data-direct_cost_total' => @sub_service_request.try(:direct_cost_total), :'data-max_dollar_cap' => @sub_service_request.organization.try(:subsidy_map).try(:max_dollar_cap), :'data-max_percentage' => @sub_service_request.organization.try(:subsidy_map).try(:max_percentage)}= number_to_currency(@sub_service_request.try(:direct_cost_total) / 100)
          %td= link_to(image_tag('cancel.png'), 'javascript:void(0);', :'data-subsidy_id' => @subsidy.id, :class => 'delete_data')