!!!
%html
  %head
    %title SPARC Services Catalog
    = render 'layouts/catalog_manager/configuration'
    = stylesheet_link_tag    "catalog_manager/application"
    = javascript_include_tag "catalog_manager/application"
    = csrf_meta_tags
  %body
    #flash.ui-state-highlight.ui-corner-all{:style => 'display:none; position:fixed'}
    = yield
