/ = form_tag("/service_requests/#{@service_request.id}", :method => :put) do
/   = hidden_field_tag('ssr_id', @sub_service_request.sub_service_request_id)
/   = hidden_field_tag('friendly_id', @service_request.friendly_id)
/   = label_tag('service_request[notes]', 'Notes:')
/   = text_field_tag('service_request[notes]', @service_request.notes)
/   = submit_tag

= hidden_field_tag "service_request_id", @service_request.friendly_id
= hidden_field_tag "sub_service_request_id", params[:id]

#service_request_info
  .service_request_info-spinner= image_tag 'spinner.gif'

#notifications_area
  .notifications_area-spinner= image_tag 'spinner.gif'

.clear


#fulfillment_services.ui-corner-all
  #service_request_status_changes
    .service_request_status_changes-spinner= image_tag 'spinner.gif'

  #service_request_approval_changes
    .service_request_approval_changes-spinner= image_tag 'spinner.gif'

  #service_request_information
    .service_request_information-spinner= image_tag 'spinner.gif'

  #one_time_fees
    .one_time_fees-spinner= image_tag 'spinner.gif'
  %br

  #per_patient_services
    .per_patient_services-spinner= image_tag 'spinner.gif'
  %br

  #add_service
    .add_service-spinner= image_tag 'spinner.gif'

:javascript
  $(document).ready(function(){ Sparc.fulfillment.ready(); })
