.one_time_fee_service_clone{:style => 'display:none;'}
  %li.service.non_per_patient_per_visit
    %ul
      %li.ui-corner-all
        %span.ui-icon.ui-icon-triangle-1-e.open_close_fulfillment{:style => 'display:inline-block'}
        %span.ui-icon.ui-icon-triangle-1-s.open_close_fulfillment{:style => 'display:none'}
        %div.ui-corner-left{:style => 'width:200px'}
          %select#service_select.service_id{:style => 'width:200px', :'data-old_service_id' => ''}
            - @one_time_fee_services.each do |service|
              - ls = Service.find(service['id'], {:core_id => service['core_id'] || service['program_id']})
              - core = ls.build_core_by_core_id
              - if ls.is_available == true && core.try(:attributes).try(:[], 'is_available') == true
                %option{:value => service['id'], :'data-is_one_time_fee' => true, :'data-cost' => (determine_package_cost(@project, ls) * 0.01 rescue 'N/A'), :'data-unit_type' => ls.pricing_map['unit_type'], :'data-unit_factor' => ls.pricing_map['unit_factor']}= service['name']
        .charge_code= li.service.try(:charge_code) rescue 'N/A'
        %div{:style => 'width:40px'}
          %input.quantity.service_quantity{:type => 'text', :value => 1, :'data-old_quantity' => 1}
        .service_type Consultation
        .cost_per_service= '$0.0'
        %div{:style => 'width:67px'}= @service_request.submitted_at.try(:to_date).try(:strftime, '%m/%d/%Y')
        .date_area
          %input.in_process{:type => 'text', :value => ''}
        .date_area
          %input.complete{:type => 'text', :value => ''}
        %div.remove_service.ui-corner-right{:'data-service_type' => 'one_time_fee'}= link_to(image_tag('cancel.png'), 'javascript:void(0);')

        %input.is_one_time_fee{:type => 'hidden', :value => 'true'}
        %input.optional{:type => 'hidden', :value => 'false'}
        %input.sub_service_request_id{:type => 'hidden', :value => params[:id]}
        %input.fulfillment{:type => 'hidden', :value => [].to_json}
    %span.fulfillments{:style => 'display:none'}
      %ul.fulfillment
      %ul.new_fulfillment
        %li.center.ui-corner-bottom
          %div{:style => 'margin-left:15px;'}
            %a{:href => 'javascript:void(0);'}
              = image_tag('add.png')
              Add fulfillment data
.clear
