.per_visit_service_clone{:style => 'display:none'}
  %li.service.per_patient_per_visit{:style => 'display:block'}

    %input.sub_service_request_id{:type => 'hidden', :value => params[:id]}
    %input.optional{:type => 'hidden', :value => false.to_json}

    %ul
      %li.ui-corner-all
        %span.ui-icon.ui-icon-triangle-1-e.open_close_visits{:style => 'display:inline-block'}
        %span.ui-icon.ui-icon-triangle-1-s.open_close_visits{:style => 'display:none'}
        %div.service_select_area.ui-corner-left
          %select.update_on_change{:id => '', :class => 'service_id', :style => 'width:450px', :'data-old_service_id' => ''}
            - @per_patient_per_visit_services.each do |service|
              - ls = Service.find(service['id'], {:core_id => service['core_id']})
              - core = ls.build_core_by_core_id
              - if ls.is_available == true && core.try(:attributes).try(:[], 'is_available') == true
                %option{:value => service['id'], :'data-is_one_time_fee' => ls.pricing_map['is_one_time_fee'].to_s}= service['name']
        %div.service_subject_count_area
          %input.subject_count.update_on_change{:type => 'text', :value => @service_request.subject_count}
        %div.remove_service.ui-corner-right{:'data-service_type' => 'per_patient_per_visit'}= link_to(image_tag('cancel.png'), 'javascript:void(0);')
    %ul.visits
      - @visits.times do |i|
        %li.visit{:class => "visit_#{i + 1}"}
          %div{:class => "visit_text_#{i + 1}", :style => 'width:135px'}
            %strong Visit #{i + 1}
          .quantity_div
            Quantity:
            %input.quantity.update_on_change{:type => 'text', :value => '0', :'data-old_quantity' => '0'}
          .billing_div
            Billing:
            %select.billing_type.update_on_change
              - ['', 'R', 'T', '%'].each do |billing_type|
                %option{:selected => pre_select_billing_type(billing_type, '')}= billing_type
