%h3 Per-Patient/Per-Visit Services
.pseudo_table_header
  .per_patient_per_visit_actions{:style => @per_patient_per_visit_line_items.blank? ? 'display:none;' : ''}
    .center
      %ul
        %li
          %div{:style => 'width:78px'}
            Received
            %br
            = @service_request.submitted_at.try(:to_date).try(:strftime, '%m/%d/%Y')
          %div{:style => 'width:78px'}
            In Process
            %br
            %input.per_patient_per_visit_in_process_date.date.default_textbox{:type => 'text', :value => string_to_date(@service_request.try(:pppv_in_process_date))}
          %div{:style => 'width:78px'}
            Completed
            %br
            %input.per_patient_per_visit_complete_date.date.default_textbox{:type => 'text', :value => string_to_date(@service_request.try(:pppv_complete_date)) }
    %br
    .add_visit
      .add_visit_button
        %a{:href => 'javascript:void(0);'}
          .sexy_add
      .visit_div
        %select.visit_num
          %option
            = "Add Visit #{@visits + 1}"
          - @visits.times do |i|
            %option
              = "Insert Before Visit #{i + 1}"

    .remove_visit
      .remove_sub_item
        %a{:href => 'javascript:void(0);'}
          .sexy_remove
      .remove_div
        %select.visit_num.remove_visit_num
          - @visits.times do |i|
            %option{:value => ".visit_#{i+1}"}
              = "Remove Visit #{i + 1}"
    %ul
      %li
        %strong
          .name_header Name
          .total_subjects_header Total Subjects
          .delete_header Delete
  .center
    .services-selected.per_visit_services
      %ul.service_list
        = render 'portal/related_service_requests/per_patient-per_visit'
        %input.visits_count{:type => 'hidden', :value => @visits}
      = render 'portal/related_service_requests/per_visit_service_clone'
      = render 'portal/related_service_requests/blank_visit'

:javascript
  Sparc.fulfillment_per_patient_per_visit.ready();
