-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-lg{ role: 'document'}
  = form_for short_interaction, remote: true do |f|
    .modal-content
      .modal-header
        %h3.modal-title
          = t('short_interactions.header')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t(:actions)[:close] } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-row
          .form-group.col-6
            = f.label :subject, class: 'required'
            = f.select :subject, options_for_select(PermissibleValue.get_inverted_hash('interaction_subject')), { prompt: t('short_interactions.subject_prompt') }, class: 'selectpicker form-control'
          .form-group.col-3
            = f.label :interaction_type, class: 'required'
            = f.select :interaction_type, options_for_select(PermissibleValue.get_inverted_hash('interaction_type')), { prompt: t('short_interactions.type_prompt') }, class: 'selectpicker form-control'
          .form-group.col-3
            = f.label :duration_in_minutes, class: 'required'
            = f.text_field :duration_in_minutes, placeholder: t('short_interactions.duration_placeholder'), class: 'form-control'
        .form-row
          .form-group.col-6
            = f.label :name, class: 'required'
            = f.text_field :name, class: 'form-control'
          .form-group.col-3
            = f.label :email, class: 'required'
            = f.email_field :email, class: 'form-control'
          .form-group.col-3
            = f.label :institution, class: 'required'
            = f.select :institution, options_for_select(ProfessionalOrganization.institutions.pluck(:name)), { prompt: t('short_interactions.institution_prompt') }, class: 'selectpicker form-control'
        .form-group
          = f.label :note, class: 'required'
          = f.text_area :note, rows: 10, class: 'form-control'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t(:actions)[:close]
        = f.submit t(:actions)[:submit], class: 'btn btn-primary'
