-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
%div
  %table.epic-queue-table
    %colgroup
      %col
      %col
      %col
      %col
      %col.last
    %thead
      %tr{class: "even"}
        %th{class: "eq-protocol", align: "left"}= t(:epic_queues)[:protocol]
        %th{class: "eq-protocol-PIs", align: "left"}= t(:epic_queues)[:PIs]
        %th{class: "eq-date", align: "left"}= t(:epic_queues)[:date]
        %th{class: "eq-status", align: "left"}= t(:epic_queues)[:status]
        %th.last{class: "eq-delete", align: "center"}= t(:epic_queues)[:delete]
    %tbody
      - row_index = 1
      - @epic_queues.each do |eq|
        - protocol = eq.protocol
        %tr.epic-queue-protocol{class: row_index % 2 == 0 ? "even" : "odd"}
          - row_index += 1
          %td{class: "eq-protocol", align: "left"}
            = format_protocol(protocol)
          %td{class: "eq-protocol-PIs", align: "left"}
            %ul{class: "eq-protocol-PIs-list"}
              - protocol.principal_investigators.map(&:full_name).each do |pi|
                %li{class: "#{protocol.id}-PI"}= pi
          %td{class: "eq-date", align: "left"}
            = format_epic_queue_date(protocol)
          %td{class: "eq-status", align: "left"}
            = format_status(protocol)
          %td.last{class: "eq-delete", align: "center"}
            %a{class: "delete-eq", title: "Delete Epic Queue", href: "javascript:void(0)", data: {eq_id: eq.id, protocol_id: protocol.id}}
