.user-information-title.ui-corner-all
  %h3 Welcome!
.user-information-body.ui-corner-bottom
  %p
    %strong= @user.display_name
    %br
    = @user.email
    %br
  - if params[:controller].include?('notifications')
    = link_to root_path do
      = image_tag 'my_dashboard.png', :class => 'my_navigation'
- unless params[:controller].include?('notifications')
  .notifications-link
    = link_to 'notifications' do
      - if @user.unread_notification_count(@user) >= 1
        = image_tag 'email_64.png', :class => 'left'
      - else
        = image_tag 'email_open_64.png', :class => 'left'
      .notifications-text.left
        Notifications:
        %br
        = pluralize(@user.unread_notification_count(@user), 'Unread Message')
.clear
