.modal-dialog
  .modal-content
    = form_for visit_group, {remote: true, url: portal_visit_groups_path(visit_group), html: {class: "form-horizontal new_visit", role: "form"}} do |a|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only &times;
        %h4#CreateNewParticipant.modal-title.text-center= "Add Visit"
      .modal-body
        #modal_errors
        .row
          = hidden_field_tag :schedule_tab, schedule_tab
          = hidden_field_tag :current_page, current_page
          = hidden_field_tag :service_request_id, service_request.id
          = hidden_field_tag :sub_service_request_id, sub_service_request.id
          = hidden_field_tag :study_tracker, study_tracker
          .col-md-12
            .form-group
              = a.label "arm_id", "Arm", class: "col-sm-4 control-label"
              .col-sm-7= a.select "arm_id", options_from_collection_for_select(protocol.arms,'id','name', arm.id), {include_blank: false}, class: "form-control selectpicker"
            .form-group
              = a.label "name", "Name", class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "name", {class: 'form-control'}
            .form-group
              = a.label "day", "Day", class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "day", {class: 'form-control', maxlength: 4}
            .form-group
              = a.label "position", "Position", class: "col-sm-4 control-label"
              .col-sm-7= a.select "position", options_from_collection_for_select(arm.visit_groups, 'position', 'insertion_name'), {include_blank: 'add as last'}, :class => "form-control selectpicker"
            .form-group
              = a.label "window_before", "Window Before", class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "window_before", {class: 'form-control'}
            .form-group
              = a.label "window_after", "Window After", class: "col-sm-4 control-label"
              .col-sm-7= a.text_field "window_after", {class: 'form-control'}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
          %input.btn.btn-primary#add_visit_group_form_button{type: 'submit', value: "Add"}
