.modal-dialog
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only &times;
      %h4.modal-title.text-center= intended_action == "edit" ? "Edit Visit" : "Remove Visit"
    .modal-body
      #modal_errors
      .row
        .col-md-12.form-horizontal#navigate_visit_form{data: { intended_action: intended_action }}
          .form-group
            = label_tag 'vg_form_arm_label', "Arm", class: "col-sm-4 control-label"
            .col-sm-7= select_tag "vg_form_arm_select", options_from_collection_for_select(protocol.arms, 'id', 'name', arm.id), class: "selectpicker form-control"
          .form-group
            = label_tag 'vg_form_label', "Visit", class: "col-sm-4 control-label"
            .col-sm-7= select_tag "vg_form_select", options_from_collection_for_select(arm.visit_groups, 'id', 'name', visit_group.id), class: "selectpicker form-control"
      - if intended_action == "edit"
        %hr
          .edit_visit_area= render partial: 'portal/visit_groups/edit_visit_form', locals: {visit_group: visit_group, service_request: service_request, sub_service_request: sub_service_request}
      -else
        .modal-footer
          .center-block
            %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}} Close
            %input.btn.btn-primary#remove_visit_group_form_button{type: 'submit', value: "Remove"}