-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLx`ARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- line_items_visits = []
- Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: merged, statuses_hidden: statuses_hidden).each do |ssr, livs|
  - line_items_visits << livs
  - locked = !ssr.can_be_edited? && !admin

  -# SSR Header Row
  %tr.organization-header{ class: locked ? 'text-danger' : '' }
    %th{ colspan: portal ? 13 : 19 }
      = display_org_name(livs[0].line_item.service.organization_hierarchy, ssr, locked)

  -# Line Items Visits
  - livs.each do |liv|
    %tr.pppv-line-item-row{ class: locked ? 'bg-danger text-danger' : '' }
      %td.service-name.service-width{ colspan: 4 }
        = liv.line_item.service.display_service_name
        - unless liv.line_item.service.is_available
          = inactive_tag
      %td.notes.text-center.notes-width
        = notes_button(liv, locked)
      %td.status.text-center.status-width
        = PermissibleValue.get_value('status', ssr.status)
      %td.service-rate.text-center.sm-col-width
        = display_service_rate(liv.line_item)
      %td.text-center.sm-col-width
        - if portal
          %a.edit-your-cost{ href: 'javascript:void(0)', data: { name: 'displayed_cost', title: liv.line_item.admin_rates.present? ? t(:dashboard)[:study_level_activities][:tooltips][:modified_rate] : t(:dashboard)[:study_level_activities][:tooltips][:change_rate], value: number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2), id: liv.line_item.id, url: dashboard_line_item_path(liv.line_item) }, class: (liv.line_item.admin_rates.present? ? 'text-danger' : '') }
        - else
          - if liv.line_item.admin_rates.present?
            %span.text-danger{data: {toggle: 'tooltip', title: t(:dashboard)[:study_level_activities][:tooltips][:modified_rate]}}
              = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"
          - else
            = "$#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}"

      - unless portal
        %td.unit-type.text-center.sm-col-width
          = display_unit_type(liv)

      = render 'service_calendars/master_calendar/pppv/subject_count', liv: liv, arm: arm, page: page, tab: tab, locked: locked, portal: portal

      %td.text-center.xs-col-width
        = render 'service_calendars/master_calendar/pppv/template/select_row', liv: liv, service_request: service_request, sub_service_request: sub_service_request, admin: admin, locked: locked, page: page
      - visits = liv.ordered_visits.page(page).eager_load(line_items_visit: { line_item: { service: :pricing_maps } })
      - visits.each do |v|
        %td.text-center.visit.template-visit.visit-width{ class: ["visit-#{v.id}", locked ? 'locked-visit' : ''] }
          = render "service_calendars/master_calendar/pppv/#{tab}/#{tab}_visit_input", service_request: service_request, sub_service_request: sub_service_request, visit: v, tab: tab, page: page, admin: admin, locked: locked
      - (Visit.per_page - visits.size).times do
        %td.visit-width &nbsp;

      - unless portal
        = render 'service_calendars/master_calendar/pppv/total_per_patient', liv: liv
        = render 'service_calendars/master_calendar/pppv/total_per_study', liv: liv

- unless portal
  = render 'service_calendars/master_calendar/pppv/totals/pppv_totals', service_request: service_request, arm: arm, visit_groups: visit_groups, tab: tab, line_items_visits: line_items_visits.flatten, page: page
