-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.card.w-100#documentsCard
  .card-header.bg-primary.text-white{ class: action_name == 'document_management' && service_request.previously_submitted? ? 'collapsed' : '', data: { toggle: 'collapse', target: '#documents' } }
    %h3.mb-0
      = icon('fas', 'caret-down pr-1 mr-2')
      = t('documents.header')
  .collapse#documents{ class: action_name == 'document_management' && service_request.previously_submitted? ? '' : 'show' }
    #documentsTableToolbar
      - if in_dashboard?
        = new_document_button(protocol_id: protocol.id, permission: permission_to_edit)
      - elsif !in_review?
        = new_document_button(srid: service_request.id)
    - url = in_dashboard? ? dashboard_documents_path(format: :json, protocol_id: protocol.id) : documents_path(format: :json, srid: service_request.id)
    %table#documentsTable{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', url: url, toolbar: "#documentsTableToolbar" } }
      %thead.bg-light
        %tr
          %th{ data: { field: 'document', align: "left", sortable: "true" } }
            = Document.human_attribute_name(:document)
          %th{ data: { field: 'type', align: "left", sortable: "true" } }
            = Document.human_attribute_name(:doc_type)
          %th{ data: { field: 'uploaded', align: "left", sortable: "true", sorter: "dateSorter" } }
            = Document.human_attribute_name(:document_updated_at)
          %th{ data: { field: 'shared_with', align: "left" } }
            = Document.human_attribute_name(:org_ids)
          - unless in_review?
            %th{ data: { field: 'actions', align: "center" } }
              = t('actions.actions')
