-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.bootstrap-table-dropdown-overflow
  #documents-custom-toolbar
    %button.btn.btn-success#document-new{ title: t(:proper)[:document_management][:tooltips][:documents], data: { protocol_id: protocol.id, toggle: 'tooltip', delay: '{"show":"500"}' } }
      = t(:documents)[:add_document]
  %table#documents-table{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', 'show-toggle' => 'true', url: documents_path(format: :json, protocol_id: protocol.id, service_request_id: service_request.id), striped: "true", toolbar: "#documents-custom-toolbar" } }
    %thead.primary-header
      %tr
        %th{ data: { class: 'col-sm-2 type', align: "left", sortable: "true", field: "type" } }
          = t(:documents)[:table_fields][:type]
        %th{ data: { class: 'col-sm-6 title', align: "left", sortable: "true", field: "title" } }
          = t(:documents)[:table_fields][:title]
        %th{ data: { class: 'col-sm-2 uploaded', align: "left", sortable: "true", field: "uploaded", sorter: "dateSorter" } }
          = t(:documents)[:table_fields][:uploaded]
        %th{ data: { class: 'col-sm-1 edit', align: "center", sortable: "false", field: "edit" } }
          = t(:actions)[:edit]
        %th{ data: { class: 'col-sm-1 delete', align: "center", sortable: "false", field: "delete" } }
          = t(:actions)[:delete]
