-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if @procedures
  - @procedures.each do |procedure|
    %tr{:class => "core_#{procedure.core.id} fields hidden_by_tabs", :style => "background-color:#C0C0C0;display:table-row;"}
      = hidden_field_tag "subject[calendar_attributes][appointments_attributes][#{appointment_index}][procedures_attributes][#{procedure_index}][service_id]", procedure.service.id
      %td= procedure.service.name
      %td{:class => "check_box_cell text-center"}= check_box_tag "subject[calendar_attributes][appointments_attributes][#{appointment_index}][procedures_attributes][#{procedure_index}][completed]", 1, true
      %td{:class => "r_qty_cell text-center"}= text_field_tag "subject[calendar_attributes][appointments_attributes][#{appointment_index}][procedures_attributes][#{procedure_index}][r_quantity]", 0, :size => 5, :class => "procedure_r_qty changed_attr"
      %td{:class => "t_qty_cell text-center"}= text_field_tag "subject[calendar_attributes][appointments_attributes][#{appointment_index}][procedures_attributes][#{procedure_index}][t_quantity]", 0, :size => 5, :class => "procedure_t_qty changed_attr"
      %td{:class => "unit_cost_cell text-center"}= number_to_currency(procedure.cost)
      %td{:class => "procedure_total_cell text-center"} $0.00
    - procedure_index += 1
- else
  :javascript
    $(document).ready( function() {
      window.onbeforeunload = null;
      $('.save_alert').hide();
      $().toastmessage('showNoticeToast', "This procedure is already scheduled for this appointment");
    })

= hidden_field_tag "subject[calendar_attributes][appointments_attributes][#{appointment_index}][procedures_attributes][#{procedure_index - 1}][id]"
