-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- unless @procedures.empty?
  = render :partial => "procedures_added_popup"

= hidden_field_tag :calendar_id, @calendar.id
= nested_form_for @subject, :url => study_tracker_subject_path(@subject) do |f|
  = hidden_field_tag :sub_service_request_id, @sub_service_request.id
  %table.study_tracker_table{:style => "width:925px;"}
    %thead.left_headers
      %tr
        %th
          = t(:study_tracker)[:visit_calendar][:header1]
          = @sub_service_request.service_request.protocol.id
        %th
          = t(:study_tracker)[:visit_calendar][:header2]
          = @subject.external_subject_id
      %tr
        %th
          = t(:study_tracker)[:visit_calendar][:header3]
          = @sub_service_request.service_request.protocol.billing_managers.try(:first).try(:full_name)
        %th
          = t(:study_tracker)[:visit_calendar][:header4]
          = f.select :status, options_for_select(["Active", "Completed", "Early Term", "Screen Fail"], f.try(:object).try(:status)), :include_blank => "--Choose a Status--"
  #controls
    %p= t(:study_tracker)[:visit_calendar][:visit_selector]
    = select_tag :visit, options_for_select(appointment_visits(@appointments), selected_key = @selected_key), :class => 'clinical_select_data', :autocomplete => 'off'
  .dashboard_link -- Show Dashboard --

  #dashboard_container
    #dashboard{:style => "display:none;"}
      %p.save_alert{:style => "text-align:center; margin-bottom:5px; display:none; color:red; font-weight:bold;"}= t(:study_tracker)[:visit_calendar][:save_alert]
      = render :partial => "dashboard_table", :locals => {:completed_appointments => @completed_appointments_by_visit_group}

  %div{:style => "margin: 25px 0px; padding: 0 10px;"}
    = f.fields_for :calendar do |calendar_form|
      .cwf_tabs.plain_class
        %ul
          - @cwf_cores.each do |org|
            %li{'data-core_id' => org.id}
              %a.clinical_tab_data{:href => "#tab-#{org.id}", 'data-has_access' => @user.can_edit_core?(org.id) ? 'true' : 'false'}= org.abbreviation
        #cwf_tab_contents
          = render :partial => 'cwf_tab_contents', :locals => {:calendar_form => calendar_form}

  %p= f.submit t(:study_tracker)[:visit_calendar][:submit], :disable_with => 'Saving Appointments...', :id => 'save_appointments'
  %p.save_alert{:style => "text-align:center; margin-bottom:12px; display:none; color:red; font-weight:bold;"} You must save this form for any changes to be committed.
  %p= link_to t(:study_tracker)[:visit_calendar][:cwf_link], study_tracker_sub_service_request_path(@sub_service_request), :id => "bottom_return_link"

:coffeescript
  $(".cwf_tabs").tabs(
    active: ($.cookie("cwf_appointment_tab"))
    activate: (event, ui) ->
      $.cookie("cwf_appointment_tab", $(".cwf_tabs").tabs("option","active"))
      core_id = $(ui.newTab).data("core_id")
      $.cookie('current_core', core_id, {path: '/', expires: 1})
  )
  
