-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#procedures_added_popup{'data-calendar_id' => @calendar.id}
  - if @procedures.size == 1 
    %p
      = t(:study_tracker)[:visit_calendar][:popup_message1]
      = @procedures.first.display_service_name
      = t(:study_tracker)[:visit_calendar][:popup_message2]
      = @procedures.first.appointment.name_switch + "."
      = t(:study_tracker)[:visit_calendar][:popup_message3]

  -elsif @procedures.size == 1 && @procedures.first.visits.size > 1
    %p= t(:study_tracker)[:visit_calendar][:popup_message4]
    %br
    %table
      %thead
        %tr.ui-widget-header
          %th{:style => "padding:6px 8px;"}= t(:study_tracker)[:visit_calendar][:popup_header1]
          %th{:style => "padding:6px 8px;"}= t(:study_tracker)[:visit_calendar][:popup_header2]
      %tbody
        - @procedures.each do |procedure|
          %tr{:style => "background-color: #C0C0C0;"}
            %td{:style => "padding:6px 8px;"}= procedure.appointment.name_switch
            %td{:style => "padding:6px 8px;"}= procedure.display_service_name
  -else
    %p= t(:study_tracker)[:visit_calendar][:popup_message4]
    %br
    %table
      %thead
        %tr.ui-widget-header
          %th{:style => "padding:6px 8px;"}= t(:study_tracker)[:visit_calendar][:popup_header1]
          %th{:style => "padding:6px 8px;"}= t(:study_tracker)[:visit_calendar][:popup_header2]
      %tbody
        - @procedures.each do |procedure|
          %tr{:style => "background-color: #C0C0C0;"}
            %td{:style => "padding:6px 8px;"}= procedure.appointment.name_switch
            %td{:style => "padding:6px 8px;"}= procedure.display_service_name