%h2{:style => "margin:10px 5px;"}= @subject.arm.name

= nested_form_for @subject, :url => study_tracker_subject_path(@subject) do |f|
  = hidden_field_tag :sub_service_request_id, @sub_service_request.id
  %table.study_tracker_table{:style => "width:940px;"}
    %thead.left_headers
      %tr.ui-widget-header
        %th
          Study/Project ID:
          = @sub_service_request.service_request.protocol.id
        %th
          Subject ID:
          = @subject.external_subject_id
      %tr.ui-widget-header
        %th
          Billing/Business Manager:
          = @sub_service_request.service_request.protocol.billing_managers.try(:first).try(:full_name)
        %th
          Subject Study Status:
          = f.select :status, options_for_select(["Active", "Completed", "Early Term", "Screen Fail"], f.try(:object).try(:status)), :include_blank => "--Choose a Status--"
  #controls
    %p Please select a visit:
    = select_tag :visit, options_for_select(appointment_visits(@appointments), selected_key = "##{@default_appointment.visit_group.position}: #{@default_appointment.visit_group.name}"), :class => 'clinical_select_data'
    = link_to "Dashboard", "javascript:void(0)", :class => "right ui-button ui-state-active ui-button-text-only", :style => "padding:0.45em 1em;margin:-3px 15px 0 0;"

  = f.fields_for :calendar do |calendar_form|
    .cwf_tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
      %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
        %li.ui-state-default.ui-corner-top.ui-state-active= link_to "Nursing", "#nursing", :class => 'clinical_tab_data', :id => "core_#{@nursing.id}", 'data-has_access' => @user.can_edit_core?(@nursing.id) ? true : false
        %li.ui-state-default.ui-corner-top= link_to "Laboratory", "#laboratory", :class => 'clinical_tab_data', :id => "core_#{@lab.id}", 'data-has_access' => @user.can_edit_core?(@lab.id) ? true : false
        %li.ui-state-default.ui-corner-top= link_to "Imaging", "#imaging", :class => 'clinical_tab_data', :id => "core_#{@imaging.id}", 'data-has_access' => @user.can_edit_core?(@imaging.id) ? true : false
        %li.ui-state-default.ui-corner-top= link_to "Nutrition", "#nutrition", :class => 'clinical_tab_data', :id => "core_#{@nutrition.id}", 'data-has_access' => @user.can_edit_core?(@nutrition.id) ? true : false

    #visit_form{:style => "padding: 10px 40px;"}
      = calendar_form.fields_for :appointments do |appointment_form|
        .appointment_wrapper{:style => appointment_form.object == @default_appointment ? "display:block;" : "display:none;", 'data-appointment_table' => appointment_form.object.id}
          %table.study_tracker_table
            %thead
              %tr.ui-widget-header
                %th{:colspan => "4"} Date of Visit (entering date signifies a completed visit)
                %th{:colspan => "2", :style => "text-align:center;"}= appointment_form.datepicker :completed_at, size: 18, dateFormat: "yy-mm-dd"
              %tr.ui-widget-header
                %th Procedure
                %th Completed
                %th R Quantity
                %th T Quantity
                %th Unit Cost
                %th Total
            %tbody
              = appointment_form.fields_for :procedures, :wrapper => false do |procedure_form|
                - if procedure_form.object.should_be_displayed
                  %tr.fields{:style => "background-color:#C0C0C0;#{procedure_form.object.core.id == @nursing.id ? 'display:table-row;' : 'display:none;'}", :class => "core_#{procedure_form.object.core.id}"}
                    %td= procedure_form.object.display_service_name
                    - if procedure_form.object.should_be_checked?
                      %td.check_box_cell.highlighted.text-center= procedure_form.check_box :completed, :checked => true, :class => 'procedure_box'
                    -else
                      %td.check_box_cell.highlighted.text-center= procedure_form.check_box :completed, :class => 'procedure_box'
                    -else
                      %td.check_box_cell.highlighted.text-center= procedure_form.check_box :completed, :checked => true, :class => 'procedure_box'
                    %td.r_qty_cell.text-center= procedure_form.text_field :r_quantity, value: procedure_form.object.default_r_quantity, size: 5, :class => 'procedure_r_qty'
                    %td.t_qty_cell.text-center= procedure_form.text_field :t_quantity, value: procedure_form.object.default_t_quantity, size: 5, :class => 'procedure_t_qty'
                    %td.unit_cost_cell.text-center= number_to_currency(procedure_form.object.cost)
                    %td.procedure_total_cell.text-center= number_to_currency(procedure_form.object.total)
                - else
                  %tr.fields{:style => "display:false;"}
              %tr.grand_total_row
                %td{:style => "font-weight:bold;"} Grand Total
                %td
                %td
                %td
                %td
                %td.grand_total_cell.text-center= number_to_currency(@default_subtotal)
          .comments
            = render :partial => "notes", :locals => {:appointment => appointment_form.object}

      .spinner_wrapper

        = image_tag 'spinner.gif'
  %p{:style => "text-align:center; margin-bottom:12px;"}= f.submit "Save Appointments", :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;font-size:1.2em;"
  %p#save_alert{:style => "text-align:center; margin-bottom:12px; display:none; color:red; font-weight:bold;"} You must save this form for any changes to be commited.
  %p{:style => "text-align:center; margin-bottom:12px;"}= link_to "Return to Clinical Work Fulfillment", study_tracker_sub_service_request_path(@sub_service_request), :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;font-size:1.2em;"
