-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

/////////////////////////////////////////////
//
// STUDIES - Fields for New/Editing Studies
//
/////////////////////////////////////////////

= javascript_include_tag 'studies'

%table.protocol_details_container{:style => current_step == 'protocol' ? nil : "display:none;"}
  %tr
    %td.box
      .info
        %h3.needed_info= t(:study_form)[:needed_info]
        %fieldset
          .field
            = f.label :short_title, t(:protocol_shared)[:title]
            = f.text_field :short_title

          .field
            = f.label :title, t(:study_form)[:title]
            = f.text_field :title

          .field
            = f.label :funding_status, t(:protocol_shared)[:funding_status]
            = f.select :funding_status, options_for_select(FUNDING_STATUSES, study.funding_status), :include_blank => t(:study_form)[:status_blank]

          .pending_funding
            .field
              = f.label :potential_funding_source, t(:protocol_shared)[:potential_funding_source]
              = f.select :potential_funding_source, options_for_select(POTENTIAL_FUNDING_SOURCES, study.potential_funding_source), :include_blank => t(:study_form)[:potential_blank]

            / Internal Funded Pilot Project selected
            .internal_potential_funded_pilot_project
              .field
                = f.label :potential_funding_source_other, t(:study_form)[:potential_funding_source_other]
                = f.text_field :potential_funding_source_other
          .funded
            .field
              = f.label :funding_source, t(:protocol_shared)[:funding_source]
              = f.select :funding_source, options_for_select(FUNDING_SOURCES, study.funding_source), :include_blank => t(:study_form)[:funding_blank]

            .federal
              .field
                = f.label :federal_grant_title, t(:study_form)[:federal_grant_title]
                = f.text_field :federal_grant_title

              .field
                = f.label :federal_grant_code_id, t(:study_form)[:federal_grant_code_id]
                = f.select :federal_grant_code_id, options_for_select(FEDERAL_GRANT_CODES, study.federal_grant_code_id), :include_blank => t(:study_form)[:code_blank]

              .field
                = f.label :federal_phs_sponsor, t(:study_form)[:federal_phs_sponsor]
                = f.select :federal_phs_sponsor, options_for_select(FEDERAL_GRANT_PHS_SPONSORS, study.federal_phs_sponsor), :include_blank => t(:study_form)[:phs_blank]

              .field
                %span -OR-

              .field
                = f.label :federal_non_phs_sponsor, t(:study_form)[:federal_non_phs_sponsor]
                = f.select :federal_non_phs_sponsor, options_for_select(FEDERAL_GRANT_NON_PHS_SPONSORS, study.federal_non_phs_sponsor), :include_blank => t(:study_form)[:phs_blank]

              .field
                = f.label :federal_grant_serial_number, t(:study_form)[:federal_grant_serial_number]
                = f.text_field :federal_grant_serial_number

            / Internal Funded Pilot Project selected
            .internal_funded_pilot_project
              .field
                = f.label :funding_source_other, t(:study_form)[:funding_source_other]
                = f.text_field :funding_source_other

          .field
            = f.label :sponsor_name, t(:study_form)[:sponsor_name]
            = f.text_field :sponsor_name
        %fieldset{:style => "#{USE_EPIC ? nil : 'display:none;'}"}
          %legend= t(:study_form)[:epic]
          .epic-questions
            .field
              = f.label :selected_for_epic, t(:study_form)[:push_to_epic]
              -#= f.hidden_field :study_type_question_group_id, :value => study.study_type_question_group_id == StudyTypeQuestionGroup.where(active:false).pluck(:id).first ? 'inactive' : 'active'
              %span.non_standard_usage_of_radio_buttons
                = f.radio_button :selected_for_epic, true
                = f.label :selected_for_epic, "Yes"
                = f.radio_button :selected_for_epic, false
                = f.label :selected_for_epic, "No"
            .study_type{style: "#{f.object.selected_for_epic ? '' : 'display:none;'}"}
              = f.label :study_type_questions, t(:study_form)[:study_type_questions]
              = f.fields_for :study_type_answers, study.study_type_answers do |answer|
                - if answer.object.study_type_question.study_type_question_group.active
                  .field{id: "study_type_answer_#{answer.object.study_type_question.friendly_id}", style: "#{answer.object.answer != nil ? 'display:block' : 'display:none;'}"}
                    = answer.label :answer, answer.object.study_type_question.question, class: "long"
                    = answer.select :answer, options_for_select([['Yes', true], ['No', false]], answer.object.answer), {include_blank: "Select One"}, id: "study_type_answer_#{answer.object.study_type_question.friendly_id}_answer"
                    = answer.hidden_field :study_type_question_id


    %td.box-padding
      &nbsp;

    %td.box
      .info
        %h3= t(:study_form)[:optional_text]
        %em= t(:study_form)[:optional_text2]
        %fieldset
          %legend= t(:study_form)[:options]
          .field
            = f.label :udak_project_number, t(:study_form)[:udak_project_number]
            = f.text_field :udak_project_number

          .indirect_cost_rate
            = f.label :indirect_cost_rate, t(:study_form)[:rate]
            = f.text_field :indirect_cost_rate

          .funded
            .field
              = f.label :funding_start_date, t(:study_form)[:funding_start_date]
              = text_field_tag :funding_start_date, (study.funding_start_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :funding_start_date

          .pending_funding
            .field
              = f.label :funding_rfa, t(:study_form)[:funding_rfa]
              = f.text_field :funding_rfa

            .field
              = f.label :potential_funding_start_date, t(:study_form)[:potential_funding_start_date]
              = text_field_tag :potential_funding_start_date, (study.potential_funding_start_date.strftime('%_m/%d/%Y') rescue nil)
              = f.hidden_field :potential_funding_start_date

        %fieldset
          %legend= t(:study_form)[:research]
          %div
            = f.fields_for :research_types_info do |rt|
              .field.human_subjects
                = rt.label :human_subjects, t(:study_form)[:human_subjects]
                = rt.check_box :human_subjects

            = f.fields_for :human_subjects_info do |hs|
              .field.nct_number
                = hs.label :nct_number, t(:study_form)[:nct_number], class: "long"
                = hs.text_field :nct_number

              .field.hr_number
                = hs.label :hr_number, t(:study_form)[:hr_number]
                = hs.text_field :hr_number

              .field.pro_number
                = hs.label :pro_number, t(:study_form)[:pro_number]
                = hs.text_field :pro_number

              .field.irb_of_record
                = hs.label :irb_of_record, t(:study_form)[:irb_of_record]
                = hs.text_field :irb_of_record

              .field.submission_type
                = hs.label :submission_type, t(:study_form)[:submission_type]
                %br
                = hs.select :submission_type, options_for_select(SUBMISSION_TYPES, study.human_subjects_info.submission_type), :include_blank => t(:study_form)[:submission_blank]

              .field.approval_pending
                = hs.label :approval_pending, t(:study_form)[:approval_pending]
                .approval_pending= hs.check_box :approval_pending

              .field.irb_approval_date
                = hs.label :irb_approval_date, t(:study_form)[:irb_approval_date]
                = text_field_tag :irb_approval_date, (study.human_subjects_info.irb_approval_date.strftime('%_m/%d/%Y') rescue nil)
                = hs.hidden_field :irb_approval_date

              .field.irb_expiration_date
                = hs.label :irb_expiration_date, t(:study_form)[:irb_expiration_date]
                = text_field_tag :irb_expiration_date, (study.human_subjects_info.irb_expiration_date.strftime('%_m/%d/%Y') rescue nil)
                = hs.hidden_field :irb_expiration_date

            .field.study_phase
              = f.label :study_phase, t(:study_form)[:study_phase]
              = f.select :study_phase, options_for_select(STUDY_PHASES, study.study_phase), :include_blank => t(:study_form)[:phase_blank]

            = f.fields_for :research_types_info do |rt|
              .field.vertebrate_animals
                = rt.label :vertebrate_animals, t(:study_form)[:vertebrate_animals]
                = rt.check_box :vertebrate_animals

            = f.fields_for :vertebrate_animals_info do |va|
              .field.iacuc_number
                = va.label :iacuc_number, t(:study_form)[:iacuc_number]
                = va.text_field :iacuc_number

              .field.name_of_iacuc
                = va.label :name_of_iacuc, t(:study_form)[:name_of_iacuc]
                = va.text_field :name_of_iacuc

              .field.iacuc_approval_date
                = va.label :iacuc_approval_date, t(:study_form)[:iacuc_approval_date]
                = text_field_tag :iacuc_approval_date, (study.vertebrate_animals_info.iacuc_approval_date.strftime('%_m/%d/%Y') rescue nil)
                = va.hidden_field :iacuc_approval_date

              .field.iacuc_expiration_date
                = va.label :iacuc_expiration_date, t(:study_form)[:iacuc_expiration_date]
                = text_field_tag :iacuc_expiration_date, (study.vertebrate_animals_info.iacuc_expiration_date.strftime('%_m/%d/%Y') rescue nil)
                = va.hidden_field :iacuc_expiration_date

            = f.fields_for :research_types_info do |rt|
              .field.investigational_products
                = rt.label :investigational_products, t(:study_form)[:investigational_products]
                = rt.check_box :investigational_products

            = f.fields_for :investigational_products_info do |ip|
              .field.ind_number
                = ip.label :ind_number, t(:study_form)[:ind_number]
                = ip.text_field :ind_number

              .field.ind_on_hold
                = ip.label :ind_on_hold, t(:study_form)[:ind_on_hold]
                = ip.check_box :ind_on_hold

              .field.inv_device_number
                - InvestigationalProductsInfo::EXEMPTION_TYPES.each_with_index do |exemption_type, n|
                  / Hide radio button for no exemption. There's a clear button for that.
                  = ip.radio_button :exemption_type, exemption_type, class: ("hidden" unless exemption_type.present?)
                  = ip.label :exemption_type, t(:study_form)[:numbers][exemption_type.to_sym], class: ("hidden" unless exemption_type.present?)
                = ip.text_field :inv_device_number, class: ['form-control', ("hidden" unless ip.object.exemption_type.present?)]
                %button.clear-inv-device-number-button
                  = t(:study_form)[:clear]

            = f.fields_for :research_types_info do |rt|
              .field.ip_patents
                = rt.label :ip_patents, t(:study_form)[:ip_patents]
                = rt.check_box :ip_patents

            = f.fields_for :ip_patents_info do |ip|
              .field.patent_number
                = ip.label :patent_number, t(:study_form)[:patent_number]
                = ip.text_field :patent_number

              .field.inventors
                = ip.label :inventors, t(:study_form)[:inventors]
                = ip.text_area :inventors

    .clear
    %br

  %tr.box-padding
    %td
    %td
    %td

  %tr
    %td.box
      .info
        %fieldset
          %legend= t(:study_form)[:affiliations]
          %div
            = f.fields_for :affiliations, f.object.affiliations.sort_by(&:position) do |rt|
              .field{:class => rt.object.name}
                = rt.label :name, "#{Affiliation::TYPES[rt.object.name]}:"
                = rt.check_box "_destroy", {:checked => (!rt.object.new && !rt.object.marked_for_destruction?)}, false, true
                = rt.hidden_field :name, :value => rt.object.name
        %fieldset
          %legend= t(:study_form)[:type]
          %div
            = f.fields_for :study_types, f.object.study_types.sort_by(&:position) do |rt|
              .field{:class => rt.object.name}
                = rt.label :name, "#{StudyType::TYPES[rt.object.name]}:"
                = rt.check_box "_destroy", {:checked => (!rt.object.new && !rt.object.marked_for_destruction?)}, false, true
                = rt.hidden_field :name, :value => rt.object.name

    %td.box-padding
      &nbsp;

    %td.box
      .info
        %fieldset
          %legend= t(:study_form)[:impact]
          %div
            = f.fields_for :impact_areas, f.object.impact_areas.sort_by(&:position) do |rt|
              .field{:class => rt.object.name}
                = rt.label :name, "#{ImpactArea::TYPES[rt.object.name]}:"
                = rt.check_box "_destroy", {:checked => (!rt.object.new && !rt.object.marked_for_destruction?)}, false, true
                = rt.hidden_field :name, :value => rt.object.name
                - if rt.object.name == "other"
                  .field.impact_other
                    = rt.label :other_text, "Enter area:"
                    = rt.text_field :other_text, :id => "study_impact_areas_other"

    .clear
    %br

.user-details-container{:style => current_step == 'user_details' ? nil : "display:none;"}
  .user-details-js= render :partial => 'shared/user_details'

  %table.user-details-section#identity_details
    %tr
      %td.box
        #user_detail_errors.errorExplanation{:style => 'display:none'}
        .info
          = render :partial => 'shared/user_search', :locals => {:protocol => study}
          - hide_user_details = study.project_roles.any? && study.project_roles.first.identity_id.blank? ? '' : 'display:none;'
          .user_added_message{:style => 'display:none;'}
          %p
            - t(:protocol_shared)[:add_user]
          .user-details-left{:style => "#{hide_user_details}"}= render :partial => 'shared/user_details_left', :locals => {:identity => current_user, :project_role => ProjectRole.new, :can_edit => true}
      %td.box-padding
        &nbsp;

      %td.box
        .info
          .user-details-right{:style => "#{hide_user_details}"}= render :partial => 'shared/user_details_right', :locals => {:identity => current_user, :project_role => ProjectRole.new, :can_edit => true, :protocol => study}

  .clear
  %br

  .grid_12= render :partial => 'shared/user_list', :locals => {:protocol => study}
