-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

:javascript
  $(document).ready( function() {
    $('a.continue_button').click(function() {
      $('form').submit();
    });
  })

/////////////////////////////////////////////
//
// STUDY - Form for New/Editing Studies
//
/////////////////////////////////////////////

= form_for @protocol, :remote => true do |f|
  .grid_12
    %h3.blue-provider.step-header.ui-corner-all= @current_step == 'protocol' ? t(:protocol_shared)[:step_text] : t(:protocol_shared)[:step_text_2]
  = f.hidden_field :requester_id
  = hidden_field_tag :current_step, @current_step
  .clear
  - if @errors
    #errorExplanation.errorExplanation
      %h2
        = pluralize(@errors.values.map(&:count).sum, "error")
        prohibited this
        = @protocol.type.downcase
        from being saved
      %ul
        - @errors.each do |key, msgs|
          - msgs.each do |msg|
            %li
              = key.to_s.humanize unless key == :base # manually added errors should be ignored
              = msg
  .edit-project-view= render :partial => 'studies/fields', :locals => {:study => study, :f => f}
  .continue
    .grid_12
      %div{:class => 'blue-provider'}
        .nav-backward
          .return-to-previous
            %a{:href => "#{protocol_service_request_path(service_request)}"}
              = image_tag('left_arrow.png', :alt => "Cancel")
              %span= t(:bottom_navigation)[:cancel]
        .exit= image_tag('Filler.png')
        .nav-forward
          .save-and-continue
            %a{:href => "javascript:void(0)", :class => 'continue_button'}
              %span= t(:bottom_navigation)[:continue]
              = image_tag('right_arrow.png', :alt => "SaveAndContinue")
            / %input{:type => 'image', :src => '/assets/ContinueOld.png', :alt => "SaveAndContinue"}
