-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= stylesheet_link_tag 'hover_effect'

- if USE_EPIC && @epic_services
  :javascript
    $(document).ready( function(e) {
      $('a.continue_button').click(function() {
        $('.continue-spinner').show();
        if ($('#study_selected_for_epic_true').is(':checked')) {
          $('form').submit();
        }
        else {
          if (confirm("You have chosen services that are orderable in Epic. Please confirm that you do NOT want your study to be published in Epic. You will not be able to associate encounters or orders to the study without publishing.")) {
            $('form').submit();
          }
          else
            { $('.continue-spinner').hide(); }
        }
      });
    })

- else
  :javascript
    $(document).ready( function() {
      $('a.continue_button').click(function() {
        $('.continue-spinner').show();
        $('form').submit();
      });
    })

/////////////////////////////////////////////
//
// STUDY - Form for New/Editing Studies
//
/////////////////////////////////////////////

= form_for study, remote: true do |f|
  = hidden_field_tag "portal", portal

  - if portal == 'false'
    .grid_12
      %h3.blue-provider.step-header.ui-corner-all
        = current_step == 'protocol' ? t(:protocol_shared)[:step_text] : t(:protocol_shared)[:step_text_2]
  = f.hidden_field :requester_id
  = hidden_field_tag :current_step, current_step
  .clear
  = f.error_messages

  .edit-project-view.portal_container
    = render partial: 'studies/fields', locals: {study: study, f: f, portal: portal, current_step: current_step}
  .continue.portal_container
    .grid_12
      %div.blue-provider
        .nav-backward
          .return-to-previous.button-hover
            %a.cancel_link{class: cookies['current_step'] == 'protocol' ? 'cancel' : 'go-back', href: "javascript:void(0)"}
              %span.btn.btn-success.btn-lg
                = current_step == 'protocol' ? t(:bottom_navigation)[:cancel] : t(:bottom_navigation)[:go_back]
          = image_tag 'spinner.gif', class: 'return-spinner hidden'
        .exit
          = image_tag 'Filler.png'
        .nav-forward
          = image_tag 'spinner.gif', class: 'continue-spinner hidden'
          .save-and-continue.button-hover
            %a.continue_button{class: cookies['current_step'] == 'protocol' ? 'continue' : 'save', href: "javascript:void(0)"}
              %span.btn.btn-success.btn-lg
                = current_step == 'protocol' ? t(:bottom_navigation)[:continue] : t(:bottom_navigation)[:save_and_continue]
