:javascript
  $(document).ready( function() {
    $('a.continue_button').click(function() {
      $('form.edit_study').submit();
    });
  })

/////////////////////////////////////////////
//
// STUDY - Form for New/Editing Studies
//
/////////////////////////////////////////////

= form_for @protocol, :remote => true do |f|
  .grid_12
    %h3.blue-provider.step-header.ui-corner-all= @current_step == 'protocol' ? t(:protocol_shared)[:step_text] : t(:protocol_shared)[:step_text_2]
  = f.hidden_field :requester_id
  = hidden_field_tag :current_step, @current_step
  .clear
  - if @errors
    #errorExplanation.errorExplanation
      %h2
        = pluralize(@errors.values.map(&:count).sum, "error")
        prohibited this
        = @protocol.type.downcase
        from being saved
      %ul
        - @errors.each do |key, msgs|
          - msgs.each do |msg|
            %li
              = key.to_s.humanize unless key == :base # manually added errors should be ignored
              = msg
  .edit-project-view= render :partial => 'studies/fields', :locals => {:study => study, :f => f}
  .continue
    .grid_12
      %div{:class => 'blue-provider'}
        .nav-backward
          .return-to-previous
            %a{:href => "#{protocol_service_request_path(service_request)}"}
              = image_tag('left_arrow.png', :alt => "Cancel")
              %span= t(:bottom_navigation)[:cancel]
        .exit= image_tag('Filler.png')
        .nav-forward
          .save-and-continue
            %a{:href => "javascript:void(0)", :class => 'continue_button'}
              %span= t(:bottom_navigation)[:continue]
              = image_tag('right_arrow.png', :alt => "SaveAndContinue")
            / %input{:type => 'image', :src => '/assets/ContinueOld.png', :alt => "SaveAndContinue"}
