.panel.panel-primary
  .panel-heading
    Questionnaire Submission
  .panel-body
    = form_for [@service, @submission] do |f|
      = f.hidden_field :identity_id, value: current_identity.id
      = f.hidden_field :service_id, value: @service.id
      - @questionnaire.items.each do |item|
        = f.fields_for :questionnaire_responses do |qr|
          = qr.hidden_field :item_id, value: item.id
          .form-group
            = qr.label item.content
            - if item.item_type == 'textarea'
              = qr.text_area :content, class: 'form-control'
            - if item.item_type == 'text' &&
              = qr.text_field :content, class: 'form-control'
            - if item.item_type == 'email'
              = qr.email_field :content, class: 'form-control'
            - if item.item_type == 'number'
              = qr.number_field :content, class: 'form-control'
            - if item.item_type == 'phone'
              = qr.telephone_field :content, class: 'form-control'
            - if item.item_type == 'country'
              = qr.country_select :content,
                { priority_countries: ['US'], include_blank: true },
                { class: 'form-control' }
            - if item.item_type == 'state'
              = qr.select :content, options_for_select(us_states), {},
                { class: 'form-control' }
      .form-group
        .col-sm-offset-10.col-sm-2
          = f.submit class: 'btn btn-success'
