-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

/////////////////////////////////////////////
//
// PROJECT - Fields for New/Editing Projects
//
/////////////////////////////////////////////

= javascript_include_tag 'projects'

.container_12.protocol_details_container{:style => current_step == 'protocol' ? nil : "display:none;"}
  .grid_6.box
    .info
      .field
        = f.label :short_title, t(:protocol_shared)[:title]
        = f.text_field :short_title

      .field
        = f.label :title, t(:project_form)[:title]
        = f.text_field :title

      .field
        = f.label :funding_status, t(:protocol_shared)[:funding_status]
        = f.select :funding_status, options_for_select(FUNDING_STATUSES, project.funding_status), :include_blank => t(:project_form)[:dropdown_default1]

      #funded
        .field
          = f.label :funding_source, t(:protocol_shared)[:funding_source]
          = f.select :funding_source, options_for_select(FUNDING_SOURCES, project.funding_source), :include_blank => t(:project_form)[:dropdown_default2]

      #pending_funding
        .field
          = f.label :potential_funding_source, t(:protocol_shared)[:potential_funding_source]
          = f.select :potential_funding_source, options_for_select(POTENTIAL_FUNDING_SOURCES, project.potential_funding_source), :include_blank => t(:project_form)[:dropdown_default3]

      .field
        = f.label :brief_description, t(:project_form)[:description]
        = f.text_area :brief_description

      - if USE_INDIRECT_COST
        .indirect_cost_rate
          = f.label :indirect_cost_rate, t(:project_form)[:rate]
          = f.text_field :indirect_cost_rate
  .clear
  %br

.user-details-container{:style => current_step == 'user_details' ? nil : "display:none;"}
  .user-details-js= render :partial => 'shared/user_details'

  %table.user-details-section#identity_details
    %tr
      %td.box
        #user_detail_errors.errorExplanation{:style => 'display:none'}
        .info
          = render :partial => 'shared/user_search', :locals => {:protocol => project}
          - hide_user_details = project.project_roles.any? && project.project_roles.first.identity_id.blank? ? '' : 'display:none;'
          .user_added_message{:style => 'display:none;'}
          %p
            - t(:protocol_shared)[:add_user]
          .user-details-left{:style => "#{hide_user_details}"}= render :partial => 'shared/user_details_left', :locals => {:identity => current_user, :project_role => ProjectRole.new, :can_edit => true}
      %td.box-padding
        &nbsp;

      %td.box
        .info
          .user-details-right{:style => "#{hide_user_details}"}= render :partial => 'shared/user_details_right', :locals => {:identity => current_user, :project_role => ProjectRole.new, :can_edit => true}

  .clear
  %br

  .grid_12= render :partial => 'shared/user_list', :locals => {:protocol => project}
