/////////////////////////////////////////////
//
// PROJECT - Form for New/Editing Projects
//
/////////////////////////////////////////////

= form_for project, :remote => true do |f|
  = f.hidden_field :requester_id
  = f.error_messages
  .edit-project-view= render :partial => 'projects/fields', :locals => {:project => project, :f => f}
  .continue
    .grid_12
      %div{:class => 'blue-provider'}
        .nav-backward
          .return-to-previous= link_to image_tag('CancelAction.png'), protocol_service_request_path(service_request)
        .exit= image_tag('Filler.png')
        .nav-forward
          .save-and-continue
            %input{:type => 'image', :src => '/assets/SaveContinue.png', :alt => "SaveAndContinue"}
