-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%h3
  %small
    = service_header
%h3.no-margin-top
  = service.name
%h6.text-muted
  = service_tree_header(service)

- if !@user.can_edit_service?(service)
  %h4= t(:catalog_manager)[:service_form][:not_authorized]
- else
  .panel-group#cm-form-accordion
    .panel.panel-default#general-info
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:headers][:general_info], '#general-info-collapse', data: {toggle: 'collapse', parent: '#cm-form-accordion'}
      .panel-collapse.collapse.in#general-info-collapse
        .panel-body
          = render "catalog_manager/services/general_info_form", service: service, user: @user

    .panel.panel-default#service-components{ class: service.one_time_fee? && service.process_ssrs_organization.tag_list.include?("clinical work fulfillment") ? '' : 'hidden' }
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:service_level_components], '#service-components-collapse', data: {toggle: 'collapse', parent: '#cm-form-accordion'}
      .panel-collapse.collapse#service-components-collapse
        .panel-body
          = render "catalog_manager/services/service_components_form", service: service, user: @user

    .panel.panel-default#pricing
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:headers][:pricing], '#pricing-collapse', data: { toggle: 'collapse', parent: '#cm-form-accordion' }
      .panel-collapse.collapse#pricing-collapse
        .panel-body
          #pricing_maps_container
            = render "pricing_form", service: service, user: @user

    .panel.panel-default#related-services
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:related_services], '#related-services-collapse', data: {toggle: 'collapse', parent: '#cm-form-accordion'}
      .panel-collapse.collapse#related-services-collapse
        .panel-body
          = render "catalog_manager/services/related_services_form", service: service, user: @user

    .panel.panel-default#epic{:style => service.tag_list.include?("epic") ? "display: block;" : "display: none;"}
      .panel-heading
        %h4.panel-title
          = link_to t(:catalog_manager)[:organization_form][:epic_info], '#epic-collapse', data: {toggle: 'collapse', parent: '#cm-form-accordion'}
      .panel-collapse.collapse#epic-collapse
        .panel-body
          = render "catalog_manager/services/epic_form", service: service, user: @user
