= button_to t(:organization_form)[:cancel_button], catalog_manager_root_path, :confirm => "Are you sure?", :style => 'display:none;', :id => 'cancel_button'

= form_for @service, :url => catalog_manager_services_path, :method => :post, :remote => true, :id => 'entity_form' do |f|
  .errorExplanation#errorExplanation{:style => 'display:none;'}

  #entity_description
    .service_form

      %fieldset.actions
        .legend= t(:organization_form)[:actions]
        = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'save_button btn'
        %label.btn{:for => 'cancel_button'}= t(:organization_form)[:cancel_button]

      %br

      %fieldset#gen_info.parent.active
        .legend= t(:organization_form)[:gen_info]
        %fieldset.single_fieldset{:style => "display:block;"}
          %table
            %tr
              %th= f.label :program, t(:organization_form)[:program]
              %td
                = f.select :program, options_for_select(@programs.map{|p| [p.name, p.id]}, @service.program.id)
            %tr
              %th= f.label :core, t(:organization_form)[:core]
              %td#core_list= f.select :core, options_for_select(@cores.map{|c| [c.name, c.id]}.insert(0, ['None', 0]), (@service.core.id if @service.core))
            %tr
              %th= f.label :name, t(:organization_form)[:name]
              %td= f.text_field :name, :class => "service_name validate"
            %tr
              %th= f.label :abbreviation, t(:organization_form)[:abbreviation]
              %td= f.text_field :abbreviation
            %tr
              %th= f.label :description, t(:organization_form)[:description]
              %td= f.text_area :description, :rows => 8
            %tr
              %th= f.label :order, t(:organization_form)[:order]
              %td= f.text_field :order, :class => 'service_order validate'
            %tr
              %th= f.label :disabled, t(:organization_form)[:disabled]
              %td
                = f.check_box :is_available, {:checked => (@service.is_available.nil? ? false : !@service.is_available) }, false, true
            %tr
              %th= t(:organization_form)[:tag_list]
              %td
                - Tag.all.each do |tag|
                  %span{:style => "margin-right:10px;"}
                    %span= f.label tag.name.gsub("ctrc", "Nexus")
                    %span= f.check_box :tag_list, { :multiple => true }, tag.name, nil
      %br

      #epic_wrapper{:style => "display:none;"}
        %fieldset#epic_fieldset.parent
          .legend= 'Epic Interface'
          %fieldset.single_fieldset
            %table
              %tr
                %th= f.label :cpt_code, t(:organization_form)[:cpt_code]
                %td= f.text_field :cpt_code
              %tr
                %th= f.label :cdm_code, t(:organization_form)[:cdm_code]
                %td= f.text_field :cdm_code
              %tr
                %th= f.label :send_to_epic, t(:organization_form)[:send_to_epic]
                %td= f.check_box :send_to_epic

        %br

      %fieldset#pricing.parent
        .legend= t(:organization_form)[:pricing]
        %fieldset.single_fieldset
          .secondary_header= t(:organization_form)[:pricing_maps]
          %input.add_pricing_map{:type => 'button', :value => t(:organization_form)[:add_map]}
          .pricing_map_accordion
            - @service.pricing_maps.each do |pricing_map|
              = render 'pricing_map', :pricing_map => pricing_map, :pricing_map_disabled => disable_pricing_map(pricing_map, @user.can_edit_historical_data_for?(@service.organization)), :can_edit_historical_data => @user.can_edit_historical_data_for?(@service.organization), :entity => @service

      %br

      %fieldset.actions
        .legend= t(:organization_form)[:actions]
        = f.submit t(:organization_form)[:submit_button], :id => 'save_button', :class => 'save_button btn'
        %label.btn{:for => 'cancel_button'}= t(:organization_form)[:cancel_button]
        
        %table
          %tr
            %td
              .ui-corner-all.blank_field_errors= t(:organization_form)[:blank_field_errors]
          %tr
            %td
              .ui-corner-all.per_patient_errors= t(:organization_form)[:per_patient_errors]
          %tr
            %td
              .ui-corner-all.otf_field_errors= t(:organization_form)[:otf_field_errors]

.blank_pricing_map
  = render 'pricing_map', :pricing_map_disabled => false, :can_edit_historical_data => @user.can_edit_historical_data_for?(@service.organization), :entity => @service

:javascript
  $(document).ready( function() {
    Sparc.config.ready();
    Sparc.services.ready();
    $('.save_button').attr('disabled', true);
  })
