-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- related_service = service_relation.related_service
.row.form_row{id: "service-relation-id-#{service_relation.id}", data: { related_service_id: related_service.id } }
  .col-sm-5
    = service_relation.related_service.display_service_name
  .col-sm-2.text-center
    -# = label_tag :required, t(:catalog_manager)[:related_services_form][:required], class: 'non_bold_label'
    = check_box_tag service_relation.id, true, service_relation.required, :class => 'required', data: { service_relation_id: service_relation.id }
  .col-sm-3.text-center
    -# = label_tag :linked_quantity, t(:catalog_manager)[:related_services_form][:linked_quantity], class: 'non_bold_label'
    = check_box_tag "linked_quantity_#{service_relation.id}", true, service_relation.linked_quantity, data: { service_relation_id: service_relation.id }, class: 'linked_quantity'

    - if service_relation.linked_quantity
      .linked_quantity_container
        .form_row
        = label_tag :linked_quantity_total, t(:catalog_manager)[:related_services_form][:linked_quantity_total], class: 'non_bold_label'
        = text_field_tag "linked_quantity_total_#{service_relation.id}", service_relation.linked_quantity_total, data: { service_relation_id: service_relation.id }, class: 'linked_quantity_total text-center', style: "width:45px;"
  .form-group.col-sm-2.text-center
    %button.btn.btn-xs.btn-danger.remove-related-services{ data:  {service_relation_id: service_relation.id } }
      %span.glyphicon.glyphicon-remove
