-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- unless @service.errors.messages.empty?
  - @service_errors = @service.errors.to_json
  :plain
    $('#flash').hide();
    $('#flash').html("There were errors saving #{escape_javascript(@service.name)}.");
    Sparc.catalog.handle_ajax_errors("#{escape_javascript(@service_errors)}", "Service")

- else
  :plain
    Sparc.catalog.clear_error_fields()

    $('#details').html('#{escape_javascript(render :partial => 'form')}');
    $('#catalog').jstree('create_node', 
      $("##{@service.organization.class.to_s.upcase}#{@service.organization.id}"), 
      "last", 
      { attr: { 
        id: "SERVICE#{@service.id}"}, 
        data: {
          attr: {
            cid: "#{@service.id}",
            class: "service",
            object_type: "service",
          },
          title: "#{@service.name}"
        }
      }, 
      function(){}, 
      true
    );
    $("#SERVICE#{@service.id} a").click()

    /* display the success message */
    $('#flash').hide();
    $('#flash').html("#{escape_javascript(@service.name)} created successfully");

:plain
  $('#flash').slideDown();
  $('#flash').delay(3000);
  $('#flash').slideUp();
  $('.spinner').hide();
  setInterval(function(){$('.save_button').removeAttr('disabled');},1000);









