-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%tr.bg-light
  %td{ colspan: 2 }
    %h6.mb-0
      = t('protocols.form.research_involving.subheader', research_type: ResearchTypesInfo.human_attribute_name(:human_subjects))
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0{ title: t('protocols.tooltips.nct_number'), data: { toggle: 'tooltip', placement: 'right' } }
      = HumanSubjectsInfo.human_attribute_name(:nct_number)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.nct_number.present? ? protocol.human_subjects_info.nct_number : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0{ title: t('protocols.tooltips.pro_number'), data: { toggle: 'tooltip', placement: 'right' } }
      = HumanSubjectsInfo.human_attribute_name(:pro_number)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.pro_number.present? ? protocol.human_subjects_info.pro_number : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:irb_of_record)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.irb_of_record.present? ? protocol.human_subjects_info.irb_of_record : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:submission_type)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.submission_type.present? ? PermissibleValue.get_value('submission_type', protocol.human_subjects_info.submission_type) : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:approval_pending)
  %td.d-inline-block.col-9
    - if protocol.human_subjects_info.approval_pending.nil?
      = t('constants.na')
    - else
      = protocol.human_subjects_info.approval_pending? ? t('constants.yes_select') : t('constants.no_select')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:initial_irb_approval_date)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.initial_irb_approval_date.present? ? format_date(protocol.human_subjects_info.initial_irb_approval_date) : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:irb_approval_date)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.irb_approval_date.present? ? format_date(protocol.human_subjects_info.irb_approval_date) : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = HumanSubjectsInfo.human_attribute_name(:irb_expiration_date)
  %td.d-inline-block.col-9
    = protocol.human_subjects_info.irb_expiration_date.present? ? format_date(protocol.human_subjects_info.irb_expiration_date) : t('constants.na')
%tr.d-flex
  %td.d-inline-block.col-3
    %label.mb-0
      = Protocol.human_attribute_name(:study_phase_ids)
  %td.d-inline-block.col-9
    = protocol.study_phases.any? ? protocol.study_phases.pluck(:phase).join(', ') : t('constants.na')
