-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

%table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
  %thead
    %tr{:style => 'border: 1px solid black;'}
      %td{:colspan => 2}
        - if @protocol.type.capitalize == "Project"
          %strong= t(:notifier)[:p_info]
        - else
          %strong= t(:notifier)[:study_info]
  %tbody
    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= Form.human_attribute_name(:respondable_id)
      %td{:style => 'border: 1px solid black;'}= @ssr.display_id

    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:title1]
      %td{:style => 'border: 1px solid black;'}= @protocol.try(:short_title)

    %tr{:style => 'border: 1px solid black;'}
      - if @protocol.type.capitalize == "Project"
        %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:p_title]
      - else
        %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:notifier)[:study_title]
      %td{:style => 'border: 1px solid black;'}= @protocol.try(:title)

    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:surveyor)[:responses][:emails][:service_survey][:org_name]
      %td{:style => 'border: 1px solid black;'}= @ssr.organization.name

    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:surveyor)[:responses][:table][:headers][:primary_pi]
      %td{:style => 'border: 1px solid black;'}= @protocol.primary_principal_investigator.full_name

    %tr{:style => 'border: 1px solid black;'}
      %th{:style => 'border: 1px solid black; width:200px; text-align:left;'}= t(:surveyor)[:responses][:table][:headers][:request_owner]
      %td{:style => 'border: 1px solid black;'}= @ssr.owner.try(&:full_name)

