-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
= stylesheet_link_tag "system_satisfaction"

= t('surveyor.responses.emails.service_survey.greeting', name: @identity.full_name)
%br
%br

= t(:surveyor)[:responses][:emails][:service_survey][:text1]
= "#{ssr_institution(@ssr.organization)} - #{ssr_provider(@ssr.organization)} - #{ssr_program_core(@ssr.organization)}."
= t(:surveyor)[:responses][:emails][:service_survey][:text2]
%br
= t(:surveyor)[:responses][:emails][:service_survey][:text3]

%br

%ul
- @surveys.each do |survey|
  - if response = survey.responses.where(identity: @identity, respondable: @ssr).first
    - response.update_attribute(:updated_at, Time.now)
  - else
    - response = survey.responses.create(identity: @identity, respondable: @ssr)
  %li
    = link_to survey.title, url_for(controller: '/surveyor/responses', action: :edit, only_path: false, id: response.id, format: :html), target: '_blank'

- if @surveys.pluck(:access_code).include?("sctr-customer-satisfaction-survey")
  #sctr-grant-citation
    %br
    = t(:surveyor)[:responses][:emails][:sctr_customer_satisfaction][:grant_reminder]
    %br
    %em.gray-text
      = raw(t(:surveyor)[:responses][:emails][:sctr_customer_satisfaction][:grant_info])

%br
%br

= render "info_table"
