-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-# TODO put inline style in stylesheet
.modal-dialog{ style: 'width: 95%;' }
  .modal-content
    = hidden_field_tag :id, @service_request.id
    = hidden_field_tag :ssr_id, @ssr_id
    .modal-header
      %button.close{ type: 'button', data: { dismiss: 'modal' } }
        %span{ aria: { hidden: 'true' } } &times;
      %h4.text-center#modal-title
        Sub Service Request
    .modal-body
      #modal_errors
      .row
        .col-lg-12
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4.panel-title.pull-left= t(:protocol_information)[:information]
                .clearfix
              .panel-body
                = render partial: 'portal/protocols/summary', locals: { protocol: protocol }
            .panel.panel-default
              .panel-heading
                %h4.panel-title.pull-left
                  Users
                .clearfix
              %table.table.table-striped
                %tr
                  %th= t(:ssr_dialog)[:auth_users][:name]
                  %th= t(:ssr_dialog)[:auth_users][:role]
                  %th= t(:ssr_dialog)[:auth_users][:proxy_rights]
                - protocol.project_roles.each do |pr|
                  %tr
                    %td= pr.identity.full_name
                    %td= USER_ROLES.key(pr.role)
                    %td= PROXY_RIGHTS.key(pr.project_rights)
            .panel.panel-default
              .panel-heading
                %h4.panel-title.pull-left= t(:ssr_dialog)[:docs][:uploads]
                .clearfix
              - if sub_service_request.documents.empty?
                .panel-body
                  = render partial: 'shared/alert', locals: { message: 'No documents' }
              - else
                %table.table.table-striped
                  %tr
                    %th= t(:ssr_dialog)[:docs][:file_name]
                    %th= t(:ssr_dialog)[:docs][:program_core]
                  - sub_service_request.documents.each do |document|
                    %tr
                      %td= link_to document.document_file_name, document.document.url
                      %td= service_list[sub_service_request.organization_id][:name]
            .panel.panel-default
              .panel-heading
                %h4.panel-title.pull-left
                  Services
                .clearfix
              .panel-body
                - if @sub_service_request.has_per_patient_per_visit_services?
                  - @service_request.arms.each do |arm|
                    .calendar-container.container-fluid{ data: { arm_id: arm.id } }
                      = render partial: '/service_calendars/master_calendar/pppv/pppv_calendar', locals: { service_request: @service_request, tab: @tab, arm: arm, portal: @portal, thead_class: @thead_class }
                - if @sub_service_request.has_one_time_fee_services?
                  .calendar-container.container-fluid
                    = render partial: '/service_calendars/master_calendar/otf/otf_calendar', locals: { thead_class: @thead_class }
                - unless @sub_service_request.has_per_patient_per_visit_services? || @sub_service_request.has_one_time_fee_services?
                  = render partial: 'shared/alert', locals: { message: 'No services' }
    .modal-footer
      .center-block
        %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
          Close
        %button.btn.btn-primary{ type: 'button' }
          Print


-#   #service_calendar_container
-#     - if @sub_service_request.has_per_patient_per_visit_services?
-#       - @service_request.arms.each do |arm|
-#         = render :partial => '/service_calendars/master_calendar/pppv_calendar', :locals => {:service_request => @service_request, :tab => @tab, :arm => arm, :portal => @portal, :thead_class => @thead_class}
-#     - if @sub_service_request.has_one_time_fee_services?
-#       = render :partial => '/service_calendars/master_calendar/otf_calendar', :locals => {:thead_class => @thead_class}
