.service_request_information
  %table.project_information
    %tr
      %th.blue_header{:colspan => 2}= t(:ssr_dialog)[:project_study_details][:info]
    %tr
      %td.percent_30.highlight
        %strong= t(:ssr_dialog)[:project_study_details][:id]
      %td.protocol-id-td.no-border-right= "#{@protocol.id}-#{@ssr_id}"
    %tr
      %td.percent_30.highlight
        %strong= t(:ssr_dialog)[:project_study_details][:short_title]
      %td.no-border-right= @protocol.short_title
    %tr
      %td.percent_30.highlight
        %strong= t(:ssr_dialog)[:project_study_details][:project_title] 
      %td.no-border-right= @protocol.title
    %tr
      %td.percent_30.highlight
        %strong= t(:ssr_dialog)[:project_study_details][:sponsor_name]  
      %td.no-border-right= @protocol.sponsor_name
    %tr
      %td.percent_30.highlight
        %strong= display_funding_source_title(@protocol)
      %td.no-border-right= display_funding_source_or_potential(@protocol)

  %br
  %table.user_information
    %tr
      %th.blue_header{:colspan => 3} Users
    %tr
      %th.highlight{:colspan => 1}= t(:ssr_dialog)[:auth_users][:name]
      %th.highlight{:colspan => 1}= t(:ssr_dialog)[:auth_users][:role] 
      %th.highlight{:colspan => 1}= t(:ssr_dialog)[:auth_users][:proxy_rights]
    - @protocol.project_roles.each do |pr|
      %tr
        %td.percent_30= pr.identity.full_name
        %td.percent_30= USER_ROLES.key(pr.role)
        %td.no-border-right= PROXY_RIGHTS.key(pr.project_rights)

  %br
  %table.uploads_information
    %tr
      %th.blue_header{:colspan => 2}= t(:ssr_dialog)[:docs][:uploads]
    %tr
      %th.highlight{:colspan => 1}= t(:ssr_dialog)[:docs][:file_name] 
      %th.highlight{:colspan => 1}= t(:ssr_dialog)[:docs][:program_core] 
    - @service_request.documents.each do |document|
      %tr
        %td.percent_30.document_download_link= link_to document.document_file_name, document.document.url
        %td.no-border-right= @service_list[document.sub_service_request.organization_id][:name] 
        
  %br
  #service_calendar_container
    - @service_request.arms.each do |arm|
      = render :partial => 'portal/service_requests/calendar', :locals => {:arm => arm}
    = render :partial => 'portal/service_requests/one_time_fees'
