-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- subsidy, klass = calculate_step_params(service_request)
- unless ['obtain_research_pricing', 'confirmation'].include?(action_name)
  .col-sm-12.no-padding.steps
    .container-fluid.no-padding
      .steps-banner-container
        %ul.no-padding.no-margin#steps-banner
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step1], 'blue', catalog_service_request_path(srid: service_request.id)
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step2], 'blue-green', protocol_service_request_path(srid: service_request.id)
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step3], 'green', service_details_service_request_path(srid: service_request.id)
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step4], 'light-blue', service_calendar_service_request_path(srid: service_request.id)
          - if subsidy
            %li{ class: klass }
              = step_nav_button t(:proper)[:navigation][:steps][:step4a], 'pink', service_subsidy_service_request_path(srid: service_request.id)
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step5], 'orange', document_management_service_request_path(srid: service_request.id)
          %li{ class: klass }
            = step_nav_button t(:proper)[:navigation][:steps][:step6], 'red', review_service_request_path(srid: service_request.id)

.col-sm-12.ui-corner-all.step-header{ class: css_class }
  .col-sm-6.no-padding
    %h4
      = step_text
  .col-sm-6.no-padding.text-right
    %h4
      = protocol_id_display(service_request)
