-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- subsidy = service_request.eligible_for_subsidy?

- unless ['obtain_research_pricing', 'confirmation'].include?(action_name)
  %nav.nav.w-100.mb-3#stepsNav{ class: subsidy ? 'has-subsidy' : '' }
    .steps-container.d-flex.w-100
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step1'), link: catalog_service_request_path(srid: service_request.id), color: 'primary', active: current_page == 'catalog'
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step2'), link: protocol_service_request_path(srid: service_request.id), color: 'info-alt', active: current_page == 'protocol'
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step3'), link: service_details_service_request_path(srid: service_request.id), color: 'success', active: current_page == 'service_details'
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step4'), link: service_calendar_service_request_path(srid: service_request.id), color: 'info', active: current_page == 'service_calendar'
      - if subsidy
        = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step4a'), link: service_subsidy_service_request_path(srid: service_request.id), color: 'danger-alt', active: current_page == 'service_subsidy'
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step5'), link: document_management_service_request_path(srid: service_request.id), color: 'warning', active: current_page == 'document_management'
      = render 'service_requests/navigation/step_arrow', text: t('proper.navigation.steps.step6'), link: review_service_request_path(srid: service_request.id), color: 'danger', active: current_page == 'review'

.w-100.rounded.d-flex.px-3.py-2.mb-3#step-header{ class: "bg-#{css_class}" }
  %h4.text-light.mr-auto.mb-0
    = step_text
  %h4.mb-0
    = protocol_id_display(service_request)
