:javascript
  var id = '#{@service.id}';
  var service_name = '#{@service.name}';
%div{"ng-controller" => "AdditionalDetailsDisplayController"}
  .row
    .col-md-12
      = render :partial => 'organization_breadcrumb'
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          = "Additional Details for #{@service.name}"
        .panel-body
          .row
            .col-md-12
              = link_to "Add new Additional Details Form", new_additional_detail_service_additional_detail_path(@service), class: "btn btn-primary"
          .row
            .col-md-12
              %div{:id=>"displayGrid", "ui-grid"=>"gridModel", "ui-grid-auto-resize"=>"true", "ui-grid-selection"=>"true", "external-scopes"=>"$scope", :style=>"height: 400px;"}
