:javascript
  var additional_detail_id = '#{@additional_detail.id}';
  var service_id = '#{@additional_detail.service.id}';  
%div{"ng-controller" => "FormCreationController"}
  = render :partial => 'additional_detail/additional_details/additional_details_question_modal'
  = render :partial => 'organization_breadcrumb'
  = form_for [:additional_detail, @service, @additional_detail], :html => { :role=>"form", "data-toggle"=>"validator"} do |f|
    .modal.fade{:id=>"importExportModal", :role=>"dialog", :tabindex=>"-1", "aria-labelledby"=>"myModalLabel"}
      .modal-dialog.modal-lg{:role=>"document"}
        .modal-content
          .modal-header
            %button{"type"=>"button", "class"=>"close", "data-dismiss"=>"modal", "aria-label"=>"Close"}
              %span{"aria-hidden"=>"true"} &times;
            %h4.modal-title Import or Export an Additional Detail Form
          .modal-body
            .panel.panel-default
              .panel-heading
                %h3.panel-title Select All and then "Copy" to Export or "Paste" to Import
              .panel-body
                .form-group
                  = f.text_area :form_definition_json, "ng-model" => "formDefinition", "rows" => "20", class: "form-control"
          .modal-footer
            %button.btn.btn-success{"data-dismiss"=>"modal"} Close  
    .row
      %div{:style=>"transition: 0.5s", "ng-class"=>"noQuestions() ? 'col-md-12' : 'col-md-8'"}
        .panel.panel-default
          .panel-heading
            %h3.panel-title Additional Details Form Creator
          .panel-body
            - if @additional_detail.errors.any?
              #error_explanation
                %h3
                  = pluralize(@additional_detail.errors.count, "error")
                  "prohibited this user from being saved:"
                %ul 
                  - @additional_detail.errors.full_messages.each do |msg|
                    %li= msg
            .row
              .col-md-6
                .form-group
                  = f.label :name 
                  = f.text_field :name, class: "form-control", :placeholder=>"Form Name", :required=>"required", "ng-model" => "additionalDetail.name" 
                  .help-block.with-errors
              .col-md-6
                .form-group
                  = f.label :description
                  = f.text_field :description, class: "form-control", :placeholder=>"Description (Optional)", "ng-model" => "additionalDetail.description"
                  .help-block.with-errors
            .row
              .col-md-6
                .form-group
                  = f.label :effective_date
                  = f.text_field :effective_date, :type => 'text',class: "form-control datepicker", "ng-model" => "additionalDetail.effective_date", "date-format"=>"yyyy-MM-dd", :placeholder=>"Effective Date", :required=>"required", "data-min-date"=> "{{invaildDate}}", "data-date-type"=>"string", :cursor=>"pointer", "bs-datepicker"=>"bs-datepicker", :autoclose =>"true"
                  .help-block.with-errors
              .col-md-6
                .form-group
                  =f.label :enabled
                  =f.check_box :enabled, class: "checkbox", "ng-model" => "additionalDetail.enabled"    
            .row
              .col-md-12
                .panel.panel-default
                  .panel-heading.clearfix 
                    %h3.panel-title.pull-left Questions
                    .btn-group.btn-group-sm.pull-right
                      %button.btn.btn-primary{:type=>"button","ng-click"=>"editQuestion()"} Add Question
                      %button.btn.btn-warning{:type=>"button","ng-click"=>"deleteSelected()"} Delete Selected 
                      %button.btn.btn-danger{:type=> "button","ng-click"=>"deleteAllQuestion()"} Delete All
                  .panel-body
                    %div{:id=>"gridId", "ui-grid"=>"gridModel", "ui-grid-edit"=>"true", "ui-grid-auto-resize"=>"true", "ui-grid-selection"=>"true", "external-scopes"=>"$scope", "ng-style"=> "getTableHeight()"}
                %input.btn.btn-success{:type=>"submit", :value=>"Save Form"}
                %button.btn.btn-info{"type"=>"button", "data-toggle"=>"modal", "data-target"=>"#importExportModal"} Import / Export Form
                %a.btn.btn-default{:type=>"button", :href=>"/additional_detail/services/#{@service.id}/additional_details/"} Cancel
      .col-md-4{"ng-hide"=>"noQuestions()"}
        .alert.alert-info{"ng-show"=>"description"} {{description}}
        .panel.panel-default
          .panel-heading
            %h3.panel-title Please Answer the Following Questions
          .panel-body
            %div{"sf-schema"=>"schema", "sf-form"=>"form", "sf-model"=>"model"}
        .panel.panel-default{:style=>"{{dataDisplay()}}"}
          .panel-heading
            %h3.panel-title Form Data
          .panel-body
            %pre{"ng-cloak"=>"true"} {{pretty()}}          
:javascript
  $('#importExportModal').on('shown.bs.modal', function () {
    $('#additional_detail_form_definition_json').focus();
  }) 