-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.devise-form
  .col-sm-6.col-sm-offset-3.text-center
    %h1.page-header
      = t(:identities)[:approved]
    .form
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:last_name]
        .col-sm-9
          = text_field_tag :last_name, @identity.last_name, class: 'form-control', disabled: true
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:first_name]
        .col-sm-9
          = text_field_tag :first_name, @identity.first_name, class: 'form-control', disabled: true
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:company]
        .col-sm-9
          = text_field_tag :company, @identity.company, class: 'form-control', disabled: true
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:email]
        .col-sm-9
          = text_field_tag :email, @identity.email, class: 'form-control', disabled: true
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:phone]
        .col-sm-9
          = text_field_tag :phone, @identity.phone, class: 'form-control', disabled: true
      .form-group.field
        %label.col-sm-3.text-right
          = t(:devise)[:registrations][:reason]
        .col-sm-9
          = text_area_tag :reason, params[:reason], class: 'form-control', disabled: true
    %hr
      = link_to t(:proper)[:confirmation][:to_dashboard], Setting.get_value("dashboard_link"), class: 'btn btn-lg btn-success'
