-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog{ role: 'document' }
  .modal-content
    = form_for @visit_group, remote: true do |f|
      = hidden_field_tag :admin, params[:admin]
      = hidden_field_tag :review, params[:review]
      = hidden_field_tag :merged, params[:merged]
      = hidden_field_tag :consolidated, params[:consolidated]
      = hidden_field_tag :tab, params[:tab]
      = hidden_field_tag :page, params[:page]
      = hidden_field_tag :pages, params[:pages]
      .modal-header
        %h3.modal-title
          = t('visit_groups.edit')
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-row
          .form-group.col-4
            = f.label :window_before, class: 'required', title: t(:calendars)[:tooltips][:window_before], data: { toggle: 'tooltip' }
            = f.text_field :window_before, class: 'form-control'
          .form-group.col-4
            = f.label :day, class: 'required', title: t(:calendars)[:tooltips][:visit_day], data: { toggle: 'tooltip' }
            = f.text_field :day, class: 'form-control'
          .form-group.col-4
            = f.label :window_after, class: 'required', title: t(:calendars)[:tooltips][:window_after], data: { toggle: 'tooltip' }
            = f.text_field :window_after, class: 'form-control'
        .form-group
          = f.label :name, class: 'required', title: t(:calendars)[:tooltips][:visit_name], data: { toggle: 'tooltip' }
          = f.text_field :name, class: 'form-control'
      .modal-footer
        %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
          = t('actions.close')
        = f.submit t('actions.submit'), class: 'btn btn-primary'
