-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.modal-dialog.modal-md
  = form_for @visit_group, remote: true, url: visit_group_path(@visit_group, srid: params[:srid], sub_service_request_id: params[:sub_service_request_id], page: params[:page], pages: params[:pages], tab: params[:tab], portal: params[:portal], admin: params[:admin], review: params[:review], merged: params[:merged], consolidated: params[:consolidated], statuses_hidden: params[:statuses_hidden]), html: { method: 'put', class: 'modal-content form-horizontal visit-group-form' } do |f|
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only &times;
      %h4.modal-title.text-center
        Edit Visit
    .modal-body
      #modal_errors
      .form-group
        = f.label :name, 'Visit Name', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :name, class: 'form-control'
      .form-group
        = f.label :day, 'Visit Day', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :day, class: 'form-control'
      .form-group
        = f.label :window_before, 'Edit Window Before Visit', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :window_before, class: 'form-control'
      .form-group
        = f.label :window_after, 'Edit Window After Visit', class: 'col-sm-4 control-label'
        .col-sm-8
          = f.text_field :window_after, class: 'form-control'
    .modal-footer
      %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
        Close
      = f.submit 'Save changes', class: 'btn btn-primary'

