%table.service_calendar.review_totals
  %tr.section_header
    %tr.totals_section
      %td{:colspan => 7}
      %td.total_cell= t(:sr_review)[:calendar][:totals][:direct_cost]
      %td.total_cell{:id => 'grand_total_direct'}= display_grand_total_direct_costs @service_request, @line_items

    - if USE_INDIRECT_COST
      %tr.totals_section
        %td{:colspan => 7}
        %td.total_cell= t(:sr_review)[:calendar][:totals][:indirect_cost]
        %td.total_cell{:id => 'grand_total_indirect'}= display_grand_total_indirect_costs @service_request, @line_items

    %tr.totals_section
      %td{:colspan => 7}
      %td.total_cell= t(:sr_review)[:calendar][:totals][:grand]
      %td.total_cell{:id => 'grand_total'}= display_grand_total @service_request, @line_items
