- provider_css ||= 'light-blue-provider'
%table.project-information
  %thead
    %tr
      %th{:colspan=>2, :class => provider_css}
        %strong= t(:sr_review)[:study_project_info][:title]
  %tbody
    %tr
      %th= t(:sr_review)[:study_project_info][:id]
      %td 
        = @protocol.id
    %tr
      %th= t(:sr_review)[:study_project_info][:short_title]
      %td 
        = @protocol.short_title
    %tr
      %th= t(:sr_review)[:study_project_info][:title] 
      %td 
        = @protocol.title
    - if @protocol.type == 'Study' 
      %tr
        %th= t(:sr_review)[:study_project_info][:sponsor_name]
        %td 
          = @protocol.sponsor_name
    %tr
      %th= t(:sr_review)[:study_project_info][:funding_source]
      %td 
        = @protocol.display_funding_source_value
%table.project-roles
  %thead
    %tr
      %th{:colspan=>3, :class => provider_css}
        %strong Authorized Users
    %tr
      %th= t(:sr_review)[:auth_users][:name]
      %th= t(:sr_review)[:auth_users][:role]
      %th= t(:sr_review)[:auth_users][:proxy_rights]
  %tbody
    - @protocol.project_roles.each do |pr|
      %tr
        %td.name 
          = pr.identity.first_name + " " + pr.identity.last_name
        %td.role
          = USER_ROLES.key(pr.role)
        %td.proxy-rights
          = PROXY_RIGHTS.key(pr.project_rights)
