-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- provider_css ||= 'light-blue-provider'
%table.project-information
  %thead
    %tr
      %th{:colspan=>2, :class => provider_css}
        %strong= t(:sr_review)[:study_project_info][:title]
  %tbody
    %tr
      %th= t(:sr_review)[:study_project_info][:id]
      %td 
        = @protocol.id
    %tr
      %th= t(:sr_review)[:study_project_info][:short_title]
      %td 
        = @protocol.short_title
    %tr
      %th= t(:sr_review)[:study_project_info][:title] 
      %td 
        = @protocol.title
    - if @protocol.type == 'Study' 
      %tr
        %th= t(:sr_review)[:study_project_info][:sponsor_name]
        %td 
          = @protocol.sponsor_name
    %tr
      %th= t(:sr_review)[:study_project_info][:funding_source]
      %td 
        = @protocol.display_funding_source_value
%table.project-roles
  %thead
    %tr
      %th{:colspan=>3, :class => provider_css}
        %strong Authorized Users
    %tr
      %th= t(:sr_review)[:auth_users][:name]
      %th= t(:sr_review)[:auth_users][:role]
      %th= t(:sr_review)[:auth_users][:proxy_rights]
  %tbody
    - @protocol.project_roles.each do |pr|
      %tr
        %td.name 
          = pr.identity.first_name + " " + pr.identity.last_name
        %td.role
          = USER_ROLES.key(pr.role)
        %td.proxy-rights
          = PROXY_RIGHTS.key(pr.project_rights)
