-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-lg#notes-modal
  .modal-content
    .modal-header
      %button.close{type: 'button', data: {dismiss: 'modal'}}
        %span{aria: {hidden:'true'}} &times;
        %span.sr-only &times;
      %h4.modal-title.text-center
        = notable_type.underscore.humanize.titleize + t(:dashboard)[:notes][:index][:header]
    .modal-body
      #modal_errors
      - if notes.any?
        .details-table
          .details-header.text-center
            .col-xs-3
              = t(:dashboard)[:notes][:index][:user]
            .col-xs-2
              = t(:dashboard)[:notes][:index][:date]
            .col-xs-7
              = t(:models)[:note][:singular]
          - notes.each do |note|
            .detail
              .col-xs-3.name
                = note.identity.full_name
              .col-xs-2.created-at
                = format_date(note.created_at)
              .col-xs-7.comment
                = raw note.body
      -else
        .text-center
          = t(:dashboard)[:notes][:index][:none_message1] + notable_type + t(:dashboard)[:notes][:index][:none_message2]
    .modal-footer
      .center-block
        - if notable_type == "Fulfillment"
          %button#fulfillments_back.btn.btn-default{type: 'button', data: {line_item_id: notable.line_item.id}}
            = t(:actions)[:close]
        - else
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}
            = t(:actions)[:close]
        %button.btn.btn-primary.note.new{type: "button", aria: {label: "New Note"}, data: {notable_id: notable_id, notable_type: notable_type}}
          %span.glyphicon.glyphicon-plus{aria: {hidden: "true"}}
          %span
            = t(:dashboard)[:notes][:index][:add]
