.devise_form#login{:style => "padding-left:0"}
  .grid_6.prefix_3.suffix_3.box
    .info
      %h2.center
        Sign in using your institutional login 
        %br
        (ie - MUSC netid and password)
      %br
      .center 
        = button_to "Continue to sign in page", identity_omniauth_authorize_path(:shibboleth), :class => 'btn ui-button ui-widget ui-state-default ui-corner-all'
      
      %br

  .clear
  %br
  .grid_6.prefix_3.suffix_3.box
    .info
      %h2.center
        Sign in using a non-institutional login
        %br
        (ie - SPARC created account)

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .field
          = f.label :ldap_uid, "Username:"
          = f.text_field :ldap_uid, :size => '30', :style => 'width:auto'
        .field
          = f.label :password, "Password:"
          = f.password_field :password
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label :remember_me, "Remember me:"
        #button
          = f.submit "Sign in", {:class => 'btn ui-button ui-widget ui-state-default ui-corner-all'}
        .clear
    .links
      = render "devise/shared/links"
    %br
