.devise_form#login{:style => "padding-left:0"}
  .grid_6.prefix_3.suffix_3.box
    .info
      %h2.center
        = t("signin.message1")
        %br
        = t("signin.message2")
      %br
      .center 
        = button_to t("signin.button1"), identity_omniauth_authorize_path(:shibboleth), :class => 'btn ui-button ui-widget ui-state-default ui-corner-all'
      
      %br

  .clear
  %br
  .grid_6.prefix_3.suffix_3.box
    .info
      %h2.center
        = t("signin.message3")
        %br
        = t("signin.message4")

      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .field
          = f.label(:ldap_uid, t(:login_name))
          = f.text_field :ldap_uid, :size => '30', :style => 'width:auto'
        .field
          = f.label(:password, t(:login_password))
          = f.password_field :password
        - if devise_mapping.rememberable?
          .field
            = f.check_box :remember_me
            = f.label(:remember_me, t(:remember_user))
        #button
          = f.submit t("signin.button2"), {:class => 'btn ui-button ui-widget ui-state-default ui-corner-all'}
        .clear
    .links
      = render "devise/shared/links"
    %br
