-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
%tr.table_header
  %th{ rowspan: 2, style: @review ? '' : 'height: 88px', class: @review ? '' : 'services_header' }= t(:calendar_page)[:headers][:services]
  %th{ rowspan: 2 }= t(:calendar_page)[:headers][:status]

  - if @study_tracker && !@merged # display study tracker otf header
    %th.qty_unit_header.width-130= t(:calendar_page)[:headers][:number]
    %th.qty_unit_header.width-130= t(:calendar_page)[:headers][:unit_type]
    %th.qty_type_header= t(:calendar_page)[:headers][:number]
    %th.number_of_units_header.width-130= t(:calendar_page)[:headers][:qty_type]
    %th


  - elsif @review # display review otf header
    %th.your_cost_header= t(:calendar_page)[:headers][:your_cost]
    %th{ colspan: 6 }
    %th{ rowspan: 2 }= t(:calendar_page)[:headers][:total_per_study]


  - else # display default or merged otf header
    - if (@portal || @study_tracker) && @merged
      %th.your_cost_header{ rowspan: 2 }= t(:calendar_page)[:headers][:your_cost]
      %th{ rowspan: 2, colspan: 7, height: 40, width: 375 }
      %th.total_per_study{ rowspan: 2 }= t(:calendar_page)[:headers][:total_per_study]
    - else
      %th.unit_costs_header{ colspan: 2 }= t(:calendar_page)[:headers][:unit_costs]
      %th{ rowspan: 2, colspan: 2 }
        %span
          = t(:calendar_page)[:headers][:unit_type]
          = t(:calendar_page)[:headers][:number]
      %th{ rowspan: 2, colspan: 2 }
        %span
          = t(:calendar_page)[:headers][:qty_type]
          = t(:calendar_page)[:headers][:number]
      %th{ rowspan: 2, colspan: 7, height: 40, width: 250 }
      - if @merged
        %th.total_per_study{ rowspan: 2 }= t(:calendar_page)[:headers][:total_per_study]

    - unless @merged
      %th= image_tag 'spinner.gif', class: 'service_calendar_spinner'
    - unless @portal || @study_tracker
      %tr.table_header
        %th.service_rate_header= t(:calendar_page)[:headers][:service_rate]
        %th.your_cost_header= t(:calendar_page)[:headers][:your_cost]
        - unless @merged
          %th.total_per_study{ rowspan: 2 }= t(:calendar_page)[:headers][:total_per_study]
