-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
%tr.table_header
  %th.services_header{:rowspan => 2}= t(:calendar_page)[:headers][:services]
  %th.status_header{ rowspan: 2 }= t(:calendar_page)[:headers][:status]


  - if @review #display review calendar pppv header
    %th.your_cost_header{:rowspan => 2}= t(:calendar_page)[:headers][:your_cost]
    %th.number_of_subjects_header{:rowspan => 2}= t(:calendar_page)[:headers][:subjects]
    %th{:colspan => 5, :height => 40, :width => 375}
      = generate_visit_navigation(arm, @service_request, @pages, tab, portal, portal ? @sub_service_request.try(:id) : nil)
    %th{:rowspan => 2}= t(:calendar_page)[:headers][:total_per_patient]
    %th.total_per_study{:rowspan => 2}= t(:calendar_page)[:headers][:total_per_study]

    %tr.table_header
      = generate_visit_header_row arm, @service_request, @pages[arm.id].to_i, @sub_service_request


  - elsif @merged #display merged calendar pppv header
    - if @portal
      %th.your_cost_header{:rowspan => 2}= t(:calendar_page)[:headers][:your_cost]
    - else
      %th.unit_costs_header{:colspan => 2}= t(:calendar_page)[:headers][:unit_costs]
    %th.qty_type_header{:rowspan => 2}= t(:calendar_page)[:headers][:clinical_qty]
    %th{:colspan => 6, :height => 40, :width => 375}
      = generate_visit_navigation(arm, @service_request, @pages, tab, portal, portal ? @sub_service_request.try(:id) : nil)
    %th{:rowspan => 2}= t(:calendar_page)[:headers][:total_per_patient]
    %th.total_per_study{:rowspan => 2}= t(:calendar_page)[:headers][:total_per_study]
    %tr.table_header
      - if @portal
        %th.number_of_subjects_header{:rowspan => 1}= t(:calendar_page)[:headers][:subjects]
      - else
        %th.service_rate_header= t(:calendar_page)[:headers][:service_rate]
        %th.your_cost_header= t(:calendar_page)[:headers][:your_cost]
        %th.number_of_subjects_header{:rowspan => 1}= t(:calendar_page)[:headers][:subjects]
      = generate_visit_header_row(arm, @service_request, @pages[arm.id].to_i, nil)


  - else #display default calendar pppv header
    %th.unit_costs_header{:colspan => 2}= t(:calendar_page)[:headers][:unit_costs]
    - unless @portal
      %th.qty_type_header{:rowspan => 2}= t(:calendar_page)[:headers][:clinical_qty]
    %th.number_of_subjects_header{:rowspan => 2}= t(:calendar_page)[:headers][:subjects]
    %th{:colspan => 6, :height => 40, :width => 375}
      = generate_visit_navigation(arm, @service_request, @pages, tab, portal, portal ? @sub_service_request.try(:id) : nil)
    %th{:colspan => 3}= image_tag 'spinner.gif', :class => 'service_calendar_spinner'

    %tr.table_header
      %th.service_rate_header= t(:calendar_page)[:headers][:service_rate]
      %th.your_cost_header= t(:calendar_page)[:headers][:your_cost]
      -if @tab == 'template'
        %th &nbsp;
      = generate_visit_header_row arm, service_request, @pages[arm.id].to_i, @sub_service_request, @portal
      - if @portal
        %th{:colspan => 4} &nbsp;
      - else
        %th= t(:calendar_page)[:headers][:total_per_patient]
        %th.total_per_study{:colspan => 2}= t(:calendar_page)[:headers][:total_per_study]
