-# locals:
-# arm, service_request, sub_service_request, page, sub_service_request, portal
-# action, merged, tab
- page              = [1, page].max
- beginning_visit   = (page * 5) - 4
- ending_visit      = [arm.visit_count, 5 * page].min
- arm.visit_groups[(beginning_visit - 1) .. (ending_visit - 1)].each_with_index do |vg, idx|
  - if %q{review show refresh_service_calendar}.include? action
    %th.col-sm-1
      %span.visit_number= vg.name
  - elsif merged
    - if USE_EPIC
      %th.col-lg-1
        .row.text-center
          .col-sm-4
            %small= '-'
          .col-sm-4.text-center
            Day
          .col-sm-4.text-center
            %small= '+'
        .row
          .col-sm-4.text-center
            %small= vg.window_before
          .col-sm-4.text-center
            = vg.day
          .col-sm-4.text-center
            %small= vg.window_after
        .row
          .col-sm-10.col-sm-offset-1.text-center.visit-name= vg.name
    - else
      %span= vg.name
- ((page * 5) - arm.visit_count).times do
  %th.visit_number.col-lg-1

    -#
    -#   elsif @tab != 'template'
    -#     returning_html += content_tag(:span,
    -#                                   ((USE_EPIC) ?
    -#                                   # label_tag("Day") + "&nbsp;&nbsp;&nbsp;".html_safe + label_tag("+/-") +
    -#                                   label_tag("-") + "&nbsp;&nbsp;".html_safe + label_tag("Day") + "&nbsp;&nbsp;".html_safe + label_tag("+") +
    -#                                   tag(:br) +
    -#                                   text_field_tag("window_before", visit_group.window_before, :class => "visit_window visit_window_before position_#{n} input_small", :size => 1, :'data-position' => n - 1, :'data-window-before' => visit_group.window_before, :update => "#{window_before_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   text_field_tag("day", visit_group.day, :class => "visit_day position_#{n}", :maxlength => 4, :size => 4, :'data-position' => n - 1, :'data-day' => visit_group.day, :update => "#{day_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   text_field_tag("window_after", visit_group.window_after, :class => "visit_window visit_window_after position_#{n} input_small", :size => 1, :'data-position' => n - 1, :'data-window-after' => visit_group.window_after, :update => "#{window_after_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   tag(:br)
    -#                                   : label_tag('')) +
    -#                                   text_field_tag("arm_#{arm.id}_visit_name_#{n}", visit_name, :class => "visit_name", :size => 10, :'data-arm_id' => arm.id, :'data-visit_position' => n - 1, :'data-service_request_id' => service_request.id) +
    -#                                   tag(:br))
    -#   else
    -#     returning_html += content_tag(:span,
    -#                                   ((USE_EPIC) ?
    -#                                   # label_tag("Day") + "&nbsp;&nbsp;&nbsp;".html_safe + label_tag("+/-") +
    -#                                   label_tag("-") + "&nbsp;&nbsp;".html_safe + label_tag("Day") + "&nbsp;&nbsp;".html_safe + label_tag("+") +
    -#                                   tag(:br) +
    -#                                   text_field_tag("window_before", visit_group.window_before, :class => "visit_window visit_window_before position_#{n} input_small", :size => 1, :'data-position' => n - 1, :'data-window-before' => visit_group.window_before, :update => "#{window_before_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   text_field_tag("day", visit_group.day, :class => "visit_day position_#{n}", :maxlength => 4, :size => 4, :'data-position' => n - 1, :'data-day' => visit_group.day, :update => "#{day_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   text_field_tag("window_after", visit_group.window_after, :class => "visit_window visit_window_after position_#{n} input_small", :size => 1, :'data-position' => n - 1, :'data-window-after' => visit_group.window_after, :update => "#{window_after_url}?arm_id=#{arm.id}&portal=#{portal}") +
    -#                                   tag(:br)
    -#                                   : label_tag('')) +
    -#                                   text_field_tag("arm_#{arm.id}_visit_name_#{n}", visit_name, :class => "visit_name", :size => 10, :'data-arm_id' => arm.id, :'data-visit_position' => n - 1, :'data-service_request_id' => service_request.id) +
    -#                                   tag(:br) +
    -#                                   link_to((content_tag(:span, '', :class => "ui-button-icon-primary ui-icon #{icon}") + content_tag(:span, 'Check All', :class => 'ui-button-text')),
    -#                                           "/service_requests/#{service_request.id}/#{action}/#{n}/#{arm.id}?portal=#{portal}",
    -#                                           :remote => true, :role => 'button', :class => 'ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only', :id => "check_all_column_#{n}", data: ( visit_group.any_visit_quantities_customized?(service_request) ? { confirm: "This will reset custom values for this column, do you wish to continue?"} : nil)),
    -#                                   :width => 60, :class => 'visit_number')
    -#   end
    -# end
