-# Copyright © 2011-2022 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%main.card#settingCard
  .card-header.bg-primary.text-white
    %h3.mb-0
      = t('admin.settings.table.header')
  #settingsTableToolbar
  %table.table-interactive#settingsTable{ data: { toggle: 'table', url: admin_settings_path(format: :json), search: 'true', show_columns: 'true', show_refresh: 'true', pagination: 'true', page_size: '25', sort_name: 'group', sort_order: 'desc', toolbar: '#settingsTableToolbar' } }
    %thead.bg-light
      %tr
        %th.w-10{ data: { field: 'group', sortable: 'true' } }
          = Setting.human_attribute_name(:group)
        %th.w-10{ data: { field: 'key', sortable: 'true' } }
          = Setting.human_attribute_name(:key)
        %th.w-15{ data: { field: 'value', sortable: 'true' } }
          = Setting.human_attribute_name(:value)
        %th.w-5{ data: { field: 'data_type', sortable: 'true' } }
          = Setting.human_attribute_name(:data_type)
        %th{ data: { field: 'friendly_name',sortable: 'false', visible: 'false' } }
          = Setting.human_attribute_name(:friendly_name)
        %th{ data: { field: 'description',sortable: 'false', visible: 'false' } }
          = Setting.human_attribute_name(:description)
        %th.w-10{ data: { field: 'parent_key', sortable: 'true' } }
          = Setting.human_attribute_name(:parent_key)
        %th.w-10{ data: { field: 'parent_value', sortable: 'false' } }
          = Setting.human_attribute_name(:parent_value)
        %th{ data: { field: 'version', sortable: 'true', visible: 'false' } }
          = Setting.human_attribute_name(:version)
        %th.w-8{ data: { class: 'actions', align: 'center', field: 'actions' } }
          = t('actions.actions')
