%p= "Dear #{@user.identity.try(:full_name)},"
%p
  = t(:mailer)[:header1]
  = link_to(t(:mailer)[:link1], root_url)
  = t(:mailer)[:header2]
  = @protocol.try(:type).try(:humanize)
  = t(:mailer)[:header3]
%p
  = t(:mailer)[:body1]
  / Development:
  / %strong= link_to 'please click here.', root_url(:host => "localhost:3000", :default_protocol => @protocol.id)
  / Staging:
  %strong= link_to t(:mailer)[:link2], root_url(:host => @portal_host, :default_protocol => @protocol.id)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %td{:colspan => 2, :style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:p_info]
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:p_id]
      %td{:style => 'border: 1px solid #000'}= @protocol.id
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:title1]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:short_title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:title2]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:title)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:s_name]
      %td{:style => 'border: 1px solid #000'}= @protocol.try(:sponsor_name)
    %tr
      %td{:style => 'border: 1px solid #000'}
        %strong= @protocol.funding_status == "funded" ? "Funding Source:" : "Potential Funding Source:"
      %td{:style => 'border: 1px solid #000'}= @protocol.funding_status == "funded" ? @protocol.try(:funding_source) : @protocol.try(:potential_funding_source)
%p
  %table{:style => 'border: 1px solid #000; width: 100%; border-collapse: collapse;'}
    %tr
      %th{:colspan => 3, :style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:user_info]
    %tr
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:name]
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:role]
      %th{:style => 'border: 1px solid #000'}
        %strong= t(:mailer)[:proxy]
    - @protocol.project_roles.each do |user|
      %tr
        %td{:style => 'border: 1px solid #000'}= user.identity.try(:full_name)
        %td{:style => 'border: 1px solid #000; text-align: center'}= USER_ROLES.detect{|k,v| v == user.role}.try(:first)
        %td{:style => 'border: 1px solid #000; text-align: center'}= user.try(:display_rights)
