-# Copyright © 2011-2016 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

-# locals: line_item, visit, tab, portal, arm, totals_hash (when tab == 'calendar'), unit_minimum (when tab == 'calendar')
- base_url = "/dashboard/service_calendars.js?visit=#{visit.id}&portal=true&service_request_id=#{line_item.service_request_id}"
- case tab
- when 'template'
  = check_box_tag "visits_#{visit.id}", 1, (visit.research_billing_qty.to_i > 0 || visit.insurance_billing_qty.to_i > 0 || visit.effort_billing_qty.to_i > 0), class: "line_item_visit_template visits_#{visit.id}", data: { arm_id: arm.id }, update: "#{base_url}&tab=template"
- when 'quantity'
  .line_item_visit_quantity.text-center
    = visit.research_billing_qty.to_i + visit.insurance_billing_qty.to_i + visit.effort_billing_qty.to_i
- when 'billing_strategy'
  .row
    .col-sm-2.col-sm-offset-1.text-center
      %a{ href: '#', data: { type: 'text', pk: "#{visit.id}", name: 'qty', value: visit.research_billing_qty, url: "#{base_url}&tab=billing_strategy&column=research_billing_qty" }, class: 'edit-research-billing-qty' }
    .col-sm-2.text-center
      %a{ href: '#', data: { type: 'text', pk: visit.id, name: 'qty', value: visit.insurance_billing_qty, url: "#{base_url}&tab=billing_strategy&column=insurance_billing_qty" }, class: 'edit-insurance-billing-qty' }
    .col-sm-1.text-center
      %a{ href: '#', data: { type: 'text', pk: visit.id, name: 'qty', value: visit.effort_billing_qty, url: "#{base_url}&tab=billing_strategy&column=effort_billing_qty" }, class: 'edit-effort-billing-qty' }
- when 'calendar'
  = label_tag nil, qty_cost_label(visit.research_billing_qty + visit.insurance_billing_qty, currency_converter(totals_hash["#{visit.id}"])), class: 'line_item_visit_pricing'
