-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%tr.header
  %th.col-sm-2.text-center.study_schedule_table_name{ colspan: 2, rowspan: 2 }
    %span{ id: "arm-name-display-#{arm.id}" }
      Service Name
  %th.col-sm-1.text-center{ rowspan: 2 }
    Status
  - if tab != 'calendar'
    %th.col-sm-2.text-center{ colspan: 2}
      Unit Costs
  - else
    %th.col-sm-1.text-center{ rowspan: 2 }
      Your Cost
    %th.col-sm-1.text-center{ rowspan: 2 }
      Clinical Qty Type
  %th.col-sm-1.text-center{ rowspan: 2 }
    N
  - if tab == 'template'
    %th.col-sm-1{ rowspan: 2 }
  %th.col-sm-5.text-center.visit_group_select{ id: "select_for_arm_#{arm.id}", colspan: 5 }
    = render partial: 'dashboard/service_calendars/visit_group_page_select', locals: { arm: arm, service_request: service_request, sub_service_request: sub_service_request, ssr_id: sub_service_request.try(:id), page: page, pages: pages, merged: merged, review: review, tab: tab, portal: portal }
  - if tab == 'calendar'
    %th.col-sm-1{ rowspan: 2 }
      Total Per Patient
    %th.col-sm-1{ rowspan: 2 }
      Total Per Study
%tr
  - if tab != 'calendar'
    %th.col-sm-1.text-center.header
      Service Rate
    %th.col-sm-1.text-center.header
      Your Cost
  = render partial: 'dashboard/service_calendars/visit_groups', locals: { service_request: service_request, arm: arm, visit_groups: visit_groups, tab: tab, portal: portal }
- if tab == 'template'
  %tr.check_visit_column_headers
    %th.col-sm-6{ colspan: 7 }
    = render partial: 'dashboard/service_calendars/check_visit_columns', locals: { visit_groups: visit_groups, tab: tab, portal: portal, service_request: service_request, sub_service_request: sub_service_request }
