-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
- line_items_visits = []
- Dashboard::ServiceCalendars.pppv_line_items_visits_to_display(arm, service_request, sub_service_request, merged: @merged).each do |org, livs|
  - if @tab == 'billing_strategy'
    %tr.sub_section_header
      %th.col-sm-5{ colspan: 6 }= org
      - 5.times do
        %th.col-sm-1.billing_type_list{ style: 'text-align:center' }
          %span.billing_type R
          %span.billing_type T
          %span.billing_type %
  - else
    %tr.sub_section_header
      %th{ colspan: 12 }= org
  - livs.each do |liv|
    - next if %w(draft first_draft).include?(liv.sub_service_request.status) && @merged
    - line_items_visits << liv
    %tr
      %td{ colspan: 2 }= liv.service.display_service_name
      %td{ colspan: 1 }= AVAILABLE_STATUSES[liv.line_item.sub_service_request.status]
      - unless tab == 'calendar'
        %td.service_rate{ class: "service_rate_#{liv.id}" }= display_service_rate liv.line_item
      %td.your_cost.text-center
        - if tab != 'calendar'
          %a.edit-your-cost{ href: '#', data: { type: 'text', pk: liv.line_item.id, name: 'displayed_cost', value: "#{number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)}", url: "/dashboard/line_items/#{liv.line_item.id}.js" } }
        - else
          %span= number_with_precision(Service.cents_to_dollars(liv.line_item.applicable_rate), precision: 2)
      - if tab == 'calendar'
        %td.unit_type.text-center= liv.line_item.service.displayed_pricing_map.unit_type
      %td.subject_count.text-center
        - if tab != 'calendar'
          %a.edit-subject-count{ href: '#', data: { type: 'text', pk: liv.line_item.id, name: 'qty', title: 'Edit subject count', value: liv.subject_count, url: "/dashboard/service_calendars.js?service_request_id=#{liv.service_request.id}&line_items_visit=#{liv.id}&tab=#{tab}&portal=#{@portal}", max_subject_count: arm.subject_count } }
        - else
          %span= liv.subject_count
      - if @tab == 'template'
        %td.text-center= Dashboard::ServiceCalendars.select_row liv, tab, portal
      - visits = liv.visits.paginate(page: @pages[arm.id].to_i, per_page: 5)
      - unit_minimum = liv.service.displayed_pricing_map.unit_minimum
      - totals_hash = liv.try(:per_subject_subtotals, visits)
      - visits.each_with_index do |v, index|
        %td.text-center.visit{ visit_column: index + 1, class: "visit_column_#{index + 1} arm_#{arm.id}", data: { cents: (totals_hash["#{v.id}"] || 0) } }
          = render partial: 'dashboard/service_calendars/master_calendar/pppv/line_item_visit_input', locals: { arm: arm, line_item: liv.line_item, visit: v, tab: @tab, totals_hash: totals_hash, unit_minimum: unit_minimum, portal: @portal, service_request: service_request }
      - (5 - visits.size).times do
        %td &nbsp;
      - if tab == 'calendar'
        %td.text-center.pp_line_item_total{ class: "total_#{liv.id}" }= display_visit_based_direct_cost(liv)
        %td.text-center.pp_line_item_study_total{ class: "total_#{liv.id}_per_study" }= Dashboard::ServiceCalendars.display_visit_based_direct_cost_per_study(liv)
- unless review
  = render partial: 'dashboard/service_calendars/master_calendar/pppv/pppv_totals', locals: { service_request: service_request, arm: arm, tab: @tab, portal: @portal, line_items_visits: line_items_visits }
