-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#protocol-form-display
  = form_for protocol, as: :protocol, remote: true, html: { class: 'form-horizontal', autocomplete: 'off' } do |form|
    -# TODO rename :srid to :service_request_id in controller action
    = hidden_field_tag :service_request_id, service_request.id
    = hidden_field_tag :srid, service_request.id
    - if @sub_service_request
      = hidden_field_tag :sub_service_request_id, @sub_service_request.id
    = form.hidden_field :requester_id
    = form.hidden_field :type
    - if protocol.type.capitalize == "Study"
      = hidden_field_tag :epic_config, Setting.get_value("use_epic")
      .edit-study-view.container-fluid
        .row.user-edit-protocol-view
          = render 'protocols/form/study_fields', form: form, protocol: protocol, rmid_server_down: rmid_server_down

    - elsif protocol.type.capitalize == "Project"
      .edit-project-view.container-fluid
        .row.user-edit-protocol-view
          = render 'protocols/form/project_fields', form: form, protocol: protocol

    - unless protocol.id.present? # New Protocol, authorized users fields required
      = render 'protocols/form/project_roles_fields', form: form, protocol: protocol

    .row#actions
      .col-lg-4
      .col-lg-4.text-center
        %input.btn.btn-lg.btn-success{ type: "submit", value: t(:actions)[:save], data: { disable_with: t(:proper)[:navigation][:bottom][:saving] }  }
        - if @sub_service_request
          = link_to t(:actions)[:cancel], protocol_service_request_path(service_request, sub_service_request_id: @sub_service_request.id), class: 'btn btn-lg btn-danger'
        - else
          = link_to t(:actions)[:cancel], protocol_service_request_path(service_request), class: 'btn btn-lg btn-danger'
      .col-lg-4
