-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if in_dashboard?
  - url = protocol.new_record? ? dashboard_protocols_path : dashboard_protocol_path
- else
  - url = protocol.new_record? ? protocols_path : protocol_path
.w-100.position-relative
  = render 'protocols/form/navigation', protocol: protocol
  %main.col-8.mx-auto
    = form_for (in_dashboard? ? [:dashboard, protocol] : protocol), url: url, as: :protocol, remote: true, html: { autocomplete: 'off', id: 'protocolForm' } do |f|
      = hidden_field_tag :srid, @service_request.try(:id)
      = f.hidden_field :type
      = f.hidden_field :requester_id, value: current_user.id

      = render 'protocols/form/header', f: f, protocol: protocol
      = render 'protocols/form/protocol_information', f: f, protocol: protocol
      = render 'protocols/form/financial_information', f: f, protocol: protocol

      - if protocol.is_a?(Study)
        = render 'protocols/form/research_involving', f: f, protocol: protocol
        = render 'protocols/form/other_details', f: f, protocol: protocol

      = render 'protocols/form/footer', f: f
