-# Copyright © 2011-2020 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog
  .modal-content
    = form_for protocol, as: :protocol, url: update_billing_protocol_path, remote: true do |f|
      .modal-header
        %h3.modal-title<
          = t(:protocols)[:form][:header][:edit_billing]
        %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
          %span{ aria: { hidden: 'true' } } &times;
      .modal-body
        .form-group.row
          = label_tag 'default_billing_type','Default Billing Type:', class: 'col-sm-4 control-label align-self-center'
          .col-sm-8
            .btn-group.btn-group-toggle{ role: 'group', data: {toggle: 'buttons'} }
              %label{class: "btn btn-sm btn-info #{f.object.default_billing_type == "r" ? 'active' : ''} "}
                = f.radio_button :default_billing_type, 'r', {checked: f.object.default_billing_type == "r"}
                = 'Research Coverage (R)'
              %label{class: "btn btn-sm btn-info #{f.object.default_billing_type == "t" ? 'active' : ''} "}
                = f.radio_button :default_billing_type, 't', {checked: f.object.default_billing_type == "t"}
                = 'Third Party (Insurance) Coverage (T)'
              %label{class: "btn btn-sm btn-info #{f.object.default_billing_type == "o" ? 'active' : ''} "}
                = f.radio_button :default_billing_type, 'o', {checked: f.object.default_billing_type == "o"}
                = 'Other Coverage (O)'
      .modal-footer
        %button.btn{data: {dismiss: 'modal'}, type: 'button'} Close
        %input#create_service_submit.btn.btn-primary{type: 'submit', value: t(:actions)[:save]}