-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.container
  .col-8.offset-2
    %main.card
      .card-body.p-5
        %h2.text-primary.text-center.mb-5
          = t("protocols.form.header.#{action_name}", protocol_type: protocol.model_name.human)
        = form_for protocol, as: :protocol, remote: true, html: { autocomplete: 'off' } do |f|
          = hidden_field_tag :srid, service_request.id
          = f.hidden_field :type
          = f.hidden_field :requester_id, value: current_user.id

          - if protocol.is_a?(Study) && Setting.get_value("research_master_enabled")
            .form-row.mb-4
              .form-group.col-12.mb-0
                %h5
                  = raw t('protocols.form.information.rmid_note', protocol_type: protocol.model_name.human, rmid_url: Setting.get_value("research_master_link"), rmid_field: Protocol.human_attribute_name(:research_master_id))
              .form-group.col-6.mb-0
                = f.label :research_master_id
                = f.text_field :research_master_id, class: 'form-control research-master-field', disabled: rmid_server_down
                - if rmid_server_down
                  .glyphicon.glyphicon-exclamation-sign.text-danger{ title: t(:protocols)[:summary][:tooltips][:rmid_server_down], data: { toggle: 'tooltip' } }

          = render 'layouts/required_fields'

          = render 'protocols/form/protocol_information', f: f, protocol: protocol, rmid_server_down: rmid_server_down

          - if protocol.is_a?(Study)
            = render 'protocols/form/federal_grant_information', f: f, protocol: protocol

          - if protocol.new_record?
            = render 'protocols/form/primary_pi_information', f: f, protocol: protocol

          .form-group.mb-0<
            = link_to protocol_service_request_path(srid: service_request.id), class: 'btn btn-lg btn-link px-0' do
              - succeed t('actions.cancel') do
                = icon('fas', 'arrow-left mr-2')
            = f.button type: 'submit', class: 'btn btn-lg btn-outline-success float-right', data: { disable_with: t(:proper)[:navigation][:bottom][:saving] } do
              - succeed icon('fas', 'arrow-right ml-2') do
                = t('actions.save')
