-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- protocol ||= nil
- service_request ||= nil
- has_forms = service_request ? service_request.has_associated_forms? : protocol.service_requests.any?(&:has_associated_forms?)
- has_completed_forms = service_request ? service_request.completed_forms.any? : protocol.service_requests.map(&:completed_forms).flatten.present?

.card.w-100#forms{ class: !in_dashboard? || has_completed_forms ? '' : 'd-none' }
  .card-header.bg-primary.text-white{ data: { toggle: 'collapse', target: '#formsCollapse' } }
    %h3.mb-0{ title: t(:proper)[:document_management][:tooltips][:forms], data: { toggle: 'tooltip' } }<
      = icon('fas', 'caret-down pr-1 mr-2')
      - if in_dashboard?
        = t(:dashboard)[:forms][:header]
      - else
        = t(:proper)[:document_management][:forms_notice]
  .collapse.show#formsCollapse
    - if has_forms
      %table#formsTable{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', url: forms_path(format: :json, protocol_id: protocol.try(:id), srid: service_request.try(:id)) } }
        %thead.bg-light
          %tr
            %th{ data: { field: "srid", align: "left", sortable: "true" } }
              = Form.human_attribute_name(:respondable_id)
            %th{ data: { field: "association", align: "left", sortable: "true" } }
              = Form.human_attribute_name(:surveyable)
            %th{ data: { field: "title", align: "left", sortable: "true" } }
              = Form.human_attribute_name(:title)
            %th{ data: { field: "completed", align: "center", sortable: "false" } }
              = Form.human_attribute_name(:completed)
            %th{ data: { field: "actions", align: "center", sortable: "false" } }
              = t('actions.actions')
    - else
      .alert.alert-success.mb-0.rounded-0.text-center
        = t('forms.none')
