.panel.panel-primary
  .panel-heading
    = t(:additional_details)[:questionnaire_submission]
  .panel-body
    = form_for [@service, :additional_details, @submission] do |f|
      = f.hidden_field :identity_id, value: current_identity.id
      = f.hidden_field :service_id, value: @service.id
      - @questionnaire.items.each do |item|
        = f.fields_for :questionnaire_responses do |qr|
          - if item.required?
            = qr.hidden_field :required, value: true
          = qr.hidden_field :item_id, value: item.id
          .form-group
            = qr.label item.content
            = render "additional_details/submissions/form_partials/#{item.item_type}_form_partial", item: item, qr: qr
            - if qr.object.errors.any?
              .alert.alert-danger
                %ul.list-unstyled
                  - qr.object.errors.full_messages.each do |message|
                    %li
                      = message
      - unless controller_name == 'previews'
        .form-group
          .col-sm-offset-10.col-sm-2
            = f.submit class: 'btn btn-success'
