.panel.panel-primary
  .panel-heading
    = t(:additional_details)[:questionnaire_submission]
  .panel-body
    = form_for [@service, :additional_details, @submission] do |f|
      = f.hidden_field :identity_id, value: current_identity.id
      = f.hidden_field :service_id, value: @service.id
      - if params[:from_dashboard] == true
        = f.hidden_field :send_to_dashboard, value: true
      - if action_name == 'new'
        = render "additional_details/submissions/new_form", f: f
      - if action_name == 'edit'
        = render "additional_details/submissions/edit_form", f: f
      - unless controller_name == 'previews' || action_name == 'edit'
        .form-group
          .col-sm-offset-10.col-sm-2
            = f.submit class: 'btn btn-success submission-btn'
