-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-primary#summary-panel
  .panel-heading.justify-content-between
    %h1.panel-title.pull-left
      - if service_request.previously_submitted?
        = link_to '#protocol-summary', data: { toggle: 'collapse' } do
          %span.caret
          = I18n.t('protocols.summary.header', protocol_type: protocol_type)
      - else
        = I18n.t('protocols.summary.header', protocol_type: protocol_type)
    .protocol-links-container
      %button.btn.btn-info.view-protocol-details-button{ data: { protocol_id: protocol.id } }
        = I18n.t('protocols.view_details.button', protocol_type: protocol_type)
      - if action_name == 'protocol'
        = link_to I18n.t('protocols.edit', protocol_type: protocol_type), edit_protocol_path(protocol, srid: service_request.id), class: 'btn btn-warning edit-protocol-information-button'
  .collapse#protocol-summary{ class: service_request.previously_submitted? ? '' : 'in' }
    .panel-body
      - if Setting.get_value("research_master_enabled") && protocol.is_study?
        .row
          %label.col-sm-3
            = I18n.t('protocols.summary.research_master_id')
          .col-sm-9
            - if protocol.research_master_id.nil?
              = I18n.t('protocols.summary.na_research_master_id')
            - else
              = protocol.research_master_id
      .row
        %label.col-sm-3
          = I18n.t('protocols.summary.id', protocol_type: protocol_type)
        .col-sm-9
          = protocol.try(:id)
      .row
        %label.col-sm-3{ title: t(:protocols)[:tooltips][:title], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
          = t(:protocols)[:summary][:title]
        .col-sm-9
          = protocol.try(:title)
          = display_rmid_validated_protocol(protocol, t('protocols.summary.rmid_title'))
      .row
        %label.col-sm-3{ title: t(:protocols)[:tooltips][:short_title], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
          = t(:protocols)[:summary][:short_title]
        .col-sm-9
          = protocol.try(:short_title)
          = display_rmid_validated_protocol(protocol, t('protocols.summary.rmid_short_title'))
      - if protocol_type == 'Study'
        .row
          %label.col-sm-3{ title: t(:protocols)[:tooltips][:sponsor_name], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            = t(:protocols)[:summary][:sponsor]
          .col-sm-9
            = protocol.try(:sponsor_name)
      .row
        %label.col-sm-3{ title: protocol.funding_status == "funded" ? t(:protocols)[:tooltips][:funding_source] : t(:protocols)[:tooltips][:potential_funding_source], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
          = display_funding_source_title(protocol)
        .col-sm-9
          = display_funding_source(protocol)
