-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- milestone_fields = [:start_date, :end_date, :recruitment_start_date, :recruitment_end_date, :initial_budget_sponsor_received_date, :budget_agreed_upon_date, :initial_amount, :negotiated_amount, :initial_amount_clinical_services, :negotiated_amount_clinical_services]

.card.w-100#protocolSummaryCard
  .card-header.justify-content-between.bg-primary.text-white{ class: action_name == 'protocol' && service_request.previously_submitted? ? 'collapsed' : '', data: { toggle: 'collapse', target: '#protocolSummary' } }
    %h3.mb-0<
      = icon('fas', 'caret-down pr-1 mr-2')
      = I18n.t('protocols.summary.header', protocol_type: protocol.model_name.human)
    .protocol-links-container<
      - if in_dashboard?
        = notes_button(protocol, protocol_id: protocol.id, model: protocol, tooltip: t(:protocols)[:summary][:tooltips][:notes], class: 'mr-1')
        = protocol_details_button(protocol)
        = edit_protocol_button(protocol, permission: permission_to_edit || admin)
        = archive_protocol_button(protocol, permission: permission_to_edit || Protocol.for_super_user(current_user.id).include?(protocol))
      - else
        = notes_button(protocol, srid: service_request.id, model: protocol, tooltip: t(:protocols)[:summary][:tooltips][:notes], class: 'mr-1')
        = protocol_details_button(protocol, srid: service_request.id)
        - unless in_review?
          = edit_protocol_button(protocol, srid: service_request.id)
  -# Do we have errors that aren't related to the milestone fields?
  - if @errors && (@errors.details.keys - milestone_fields).any?
    - messages = @errors.messages.reject{ |m, _| milestone_fields.include?(m) }.map{ |m, _| @errors.full_messages_for(m) }.flatten
    = render 'layouts/modal_errors', messages: messages, margin: false, rounded: false
  .collapse#protocolSummary{ class: action_name == 'protocol' && service_request.previously_submitted? ? '' : 'show' }
    %table.table.mb-0
      - if Setting.get_value("research_master_enabled") && protocol.is_study?
        %tr.d-flex
          %td.d-inline-block.col-2
            %label.mb-0<
              = Protocol.human_attribute_name(:research_master_id)
          %td.d-inline-block.col-10
            = protocol.research_master_id.present? ? protocol.research_master_id : t('constants.na')
      %tr.d-flex
        %td.d-inline-block.col-2
          %label.mb-0<
            = protocol.class.human_attribute_name(:id)
        %td.d-inline-block.col-10
          = protocol.try(:id)
      %tr.d-flex
        %td.d-inline-block.col-2
          %label.mb-0{ title: t('protocols.tooltips.title'), data: { toggle: 'tooltip', placement: 'right' } }<
            = protocol.class.human_attribute_name(:title)
        %td.d-inline-block.col-10
          = protocol.try(:title)
          = display_rmid_validated_protocol(protocol, Protocol.human_attribute_name(:title))
      %tr.d-flex
        %td.d-inline-block.col-2
          %label.mb-0{ title: t('protocols.tooltips.short_title'), data: { toggle: 'tooltip', placement: 'right' } }<
            = Protocol.human_attribute_name(:short_title)
        %td.d-inline-block.col-10
          = protocol.short_title
          = display_rmid_validated_protocol(protocol, Protocol.human_attribute_name(:short_title))
      - if protocol.is_a?(Study)
        %tr.d-flex
          %td.d-inline-block.col-2
            %label.mb-0{ title: t('protocols.tooltips.sponsor_name'), data: { toggle: 'tooltip', placement: 'right' } }<
              = Protocol.human_attribute_name(:sponsor_name)
          %td.d-inline-block.col-10
            = protocol.sponsor_name
      %tr.d-flex
        %td.d-inline-block.col-2
          %label.mb-0{ title: protocol.funded? ? t('protocols.tooltips.funding_source') : t('protocols.tooltips.potential_funding_source'), data: { toggle: 'tooltip', placement: 'right' } }<
            = Protocol.human_attribute_name(protocol.funded? ? :funding_source : :potential_funding_source)
        %td.d-inline-block.col-10
          = protocol.display_funding_source_value
