-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:protocols)[:studies][:optional_information][:header]
    .sub_text
      = t(:protocols)[:studies][:optional_information][:subtext]
  .panel-body
    .form-group.row
      = form.label :udak_project_number, t(:protocols)[:studies][:optional_information][:udak_project_number], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :udak_project_number, class: 'form-control'

    .form-group.row
      = form.label :indirect_cost_rate, t(:protocols)[:studies][:optional_information][:rate], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :indirect_cost_rate, class: 'form-control'

    .form-group.row.funding_status_dependent.pending_funding{ display_if(protocol.funding_status, "pending_funding") }
      = form.label :funding_rfa, t(:protocols)[:studies][:optional_information][:rfa], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :funding_rfa, class: 'form-control'

    .form-group.row.funding_status_dependent.pending_funding{ display_if(protocol.funding_status, "pending_funding") }
      = form.label :potential_funding_start_date, t(:protocols)[:studies][:optional_information][:potential_start_date], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :potential_funding_start_date, class: 'datetimepicker form-control', value: (protocol.potential_funding_start_date.strftime('%-m/%d/%Y') rescue nil)

    .form-group.row.funding_status_dependent.funded{ display_if(protocol.funding_status, "funded") }
      = form.label :funding_start_date, t(:protocols)[:studies][:optional_information][:start_date], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :funding_start_date, class: 'datetimepicker form-control', value: (protocol.funding_start_date.strftime('%-m/%d/%Y') rescue nil)
