-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.form-group.row
  - if Setting.get_value("use_epic")
    = form.label :selected_for_epic, t(:protocols)[:studies][:information][:push_to_epic], class: "col-lg-2 control-label required"
    .col-lg-10
      %span.epic_selected.display_epic_answers
        = form.object.selected_for_epic ? t(:constants)[:yes_select] : t(:constants)[:no_select]
        - if form.object.selected_for_epic
          = form.hidden_field :selected_for_epic, value: true
        - else
          = form.hidden_field :selected_for_epic, value: false
        = link_to t(:dashboard)[:protocols][:form][:edit_selected_for_epic],
          edit_dashboard_protocol_study_type_answers_path(protocol, edit_answers: true),
          class: 'btn btn-warning edit-answers', remote: true

.form-group.row.selected_for_epic_dependent#readonly
  - if display_readonly_study_type_questions?(protocol)
    - if protocol.display_answers{ |as| display_study_type_question?(protocol, as, true) }
      = form.label :study_type_questions, t(:protocols)[:studies][:information][:study_type_questions], class: "col-lg-2 control-label #{Setting.get_value("use_epic") && protocol.selected_for_epic ? 'required' : ''}", data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' }, title: t(:protocols)[:tooltips][:study_type_questions]
      .col-lg-10
        = form.fields_for :study_type_answers, protocol.display_answers do |answer|
          = render partial: 'dashboard/protocols/form/study_form_sections/readonly_answer_field', locals: { answer: answer, protocol: protocol }
  - else
    = form.label :study_type_questions, t(:protocols)[:studies][:information][:study_type_questions], class: "col-lg-2 control-label #{Setting.get_value("use_epic") && protocol.selected_for_epic ? 'required' : ''}", data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' }, title: t(:protocols)[:tooltips][:study_type_questions]
    .col-lg-10
      .form-group.row
        .col-lg-8
          = label_tag 'answer', STUDY_TYPE_QUESTIONS_VERSION_3[5], class: 'long'
        .col-lg-4
          = link_to t(:dashboard)[:protocols][:form][:new_answer],
            edit_dashboard_protocol_study_type_answers_path(protocol, edit_answers: true),
            class: 'btn btn-warning edit-answers', remote: true
