-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:protocols)[:studies][:research_involving][:header]
    .sub_text
      = t(:protocols)[:studies][:research_involving][:subtext]
  .panel-body
    = form.fields_for :research_types_info do |rt_form|
      .form-group.row.human_subjects
        = rt_form.label :human_subjects, t(:protocols)[:studies][:research_involving][:humans][:header], class: 'col-lg-2 control-label'
        .col-lg-1
          = rt_form.check_box :human_subjects, class: 'form-control'

      / Human Subjects selected begin
      .human_subjects_dependent{ display_if(rt_form.object.human_subjects) }
        = form.fields_for :human_subjects_info do |hs_form|
          .form-group.row.nct-number
            = hs_form.label :nct_number, t(:protocols)[:studies][:research_involving][:humans][:nct_number], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :nct_number, class: 'form-control'

          .form-group.row
            = hs_form.label :hr_number, t(:protocols)[:studies][:research_involving][:humans][:hr_number], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :hr_number, class: 'form-control'

          .form-group.row
            = hs_form.label :pro_number, t(:protocols)[:studies][:research_involving][:humans][:pro_number], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :pro_number, class: 'form-control'

          .form-group.row
            = hs_form.label :irb_of_record, t(:protocols)[:studies][:research_involving][:humans][:record_irb], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :irb_of_record, class: 'form-control'

          .form-group.row
            = hs_form.label :submission_type, t(:protocols)[:studies][:research_involving][:humans][:submission_type], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.select :submission_type, options_for_select(SUBMISSION_TYPES, protocol.human_subjects_info.submission_type), { include_blank: t(:protocols)[:prompts][:submission_type] }, class: 'selectpicker'

          .form-group.row.approval_pending
            = hs_form.label :approval_pending, t(:protocols)[:studies][:research_involving][:humans][:pending_approval], class: 'col-lg-2 control-label'
            .col-lg-1
              = hs_form.check_box :approval_pending, class: 'form-control'

          .form-group.row.irb_approval_date
            = hs_form.label :irb_approval_date, t(:protocols)[:studies][:research_involving][:humans][:irb_approval_date], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :irb_approval_date, class: 'datetimepicker form-control', value: (protocol.human_subjects_info.irb_approval_date.strftime('%_m/%d/%Y') rescue nil)

          .form-group.row.irb_expiration_date
            = hs_form.label :irb_expiration_date, t(:protocols)[:studies][:research_involving][:humans][:irb_expiration_date], class: 'col-lg-2 control-label'
            .col-lg-10
              = hs_form.text_field :irb_expiration_date, class: 'datetimepicker form-control', value: (protocol.human_subjects_info.irb_expiration_date.strftime('%_m/%d/%Y') rescue nil)

          .form-group.row
            = form.label :study_phase, t(:protocols)[:studies][:information][:phase], class: 'col-lg-2 control-label'
            .col-lg-10
              = form.select :study_phase, options_for_select(STUDY_PHASES, protocol.study_phase), { include_blank: t(:protocols)[:prompts][:phase] }, class: 'selectpicker'
      / Human Subjects selected end

      .form-group.row.vertebrate_animals
        = rt_form.label :vertebrate_animals, t(:protocols)[:studies][:research_involving][:vertebrates][:header], class: 'col-lg-2 control-label'
        .col-lg-1
          = rt_form.check_box :vertebrate_animals, class: 'form-control'

      / Vertebrate Animals selected begin
      .vertebrate_animals_dependent{ display_if(rt_form.object.vertebrate_animals) }
        = form.fields_for :vertebrate_animals_info do |va_form|
          .form-group.row
            = va_form.label :iacuc_number, t(:protocols)[:studies][:research_involving][:vertebrates][:iacuc_number], class: 'col-lg-2 control-label'
            .col-lg-10
              = va_form.text_field :iacuc_number, class: 'form-control'

          .form-group.row
            = va_form.label :name_of_iacuc, t(:protocols)[:studies][:research_involving][:vertebrates][:iacuc_name], class: 'col-lg-2 control-label'
            .col-lg-10
              = va_form.text_field :name_of_iacuc, class: 'form-control'

          .form-group.row
            = va_form.label :iacuc_approval_date, t(:protocols)[:studies][:research_involving][:vertebrates][:iacuc_approval_date], class: 'col-lg-2 control-label'
            .col-lg-10
              = va_form.text_field :iacuc_approval_date, class: 'datetimepicker form-control', value: (protocol.vertebrate_animals_info.iacuc_approval_date.strftime('%_m/%d/%Y') rescue nil)

          .form-group.row
            = va_form.label :iacuc_expiration_date, t(:protocols)[:studies][:research_involving][:vertebrates][:iacuc_expiration_date], class: 'col-lg-2 control-label'
            .col-lg-10
              = va_form.text_field :iacuc_expiration_date, class: 'datetimepicker form-control', value: (protocol.vertebrate_animals_info.iacuc_expiration_date.strftime('%_m/%d/%Y') rescue nil)
      / Vertebrate Animals selected end

      .form-group.row.investigational_products
        = rt_form.label :investigational_products, t(:protocols)[:studies][:research_involving][:products][:header], class: 'col-lg-2 control-label'
        .col-lg-1
          = rt_form.check_box :investigational_products, class: 'form-control'

      / Investigational Products selected begin
      .investigational_products_dependent{ display_if(rt_form.object.investigational_products) }
        = form.fields_for :investigational_products_info do |ip_form|
          .form-group.row
            = ip_form.label :ind_number, t(:protocols)[:studies][:research_involving][:products][:ind_number], class: 'col-lg-2 control-label'
            .col-lg-10
              = ip_form.text_field :ind_number, class: 'form-control'

          .form-group.row#ind-on-hold-group{ display_if(!ip_form.object.ind_number.blank?) }
            = ip_form.label :ind_on_hold, t(:protocols)[:studies][:research_involving][:products][:ind_on_hold], class: 'col-lg-2 control-label'
            .col-lg-1
              = ip_form.check_box :ind_on_hold, class: 'form-control'

          - InvestigationalProductsInfo::EXEMPTION_TYPES.each_with_index do |exemption_type, n|
            / Hide radio button for no exemption. There's a clear button for that.
            .form-group.row.inv-device{ class: ("hidden" unless exemption_type.present?) }
              .col-sm-2
                .radio.pull-right
                  = ip_form.label :exemption_type do
                    = ip_form.radio_button :exemption_type, exemption_type
                    = t(:protocols)[:studies][:research_involving][:products][:numbers][exemption_type.to_sym]
              - if exemption_type == ip_form.object.exemption_type
                .col-sm-10.inv-device-number-field
                  = ip_form.text_field :inv_device_number, class: 'form-control'
          .form-group.row
            .col-sm-2
              %button.btn.btn-danger.clear-inv-device-number-button.pull-right
                = t(:protocols)[:studies][:research_involving][:products][:clear]
      / Investigational Products selected end

      .form-group.row.ip_patents
        = rt_form.label :ip_patents, t(:protocols)[:studies][:research_involving][:ip_patents][:header], class: 'col-lg-2 control-label'
        .col-lg-1
          = rt_form.check_box :ip_patents, class: 'form-control'

      / IP/Patents selected begin
      .ip_patents_dependent{ display_if(rt_form.object.ip_patents) }
        = form.fields_for :ip_patents_info do |ip_form|
          .form-group.row
            = ip_form.label :patent_number, t(:protocols)[:studies][:research_involving][:ip_patents][:number], class: 'col-lg-2 control-label'
            .col-lg-10
              = ip_form.text_field :patent_number, class: 'form-control'

          .form-group.row
            = ip_form.label :inventors, t(:protocols)[:studies][:research_involving][:ip_patents][:inventors], class: 'col-lg-2 control-label'
            .col-lg-10
              = ip_form.text_area :inventors, class: 'form-control'
      / IP/Patents selected end
