-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default
  .panel-heading
    %h4.panel-title
      = t(:protocols)[:studies][:information][:header]
    .sub_text
      = t(:protocols)[:studies][:information][:subtext]
  .panel-body.container-fluid
    .form-group.row
      = form.label :short_title, t(:protocols)[:studies][:information][:short_title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :short_title, class: 'form-control'

    .form-group.row
      = form.label :title, t(:protocols)[:studies][:information][:title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :title, class: 'form-control'

    .form-group.row#funding-status
      = form.label :funding_status, t(:protocols)[:studies][:information][:funding_status], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_status, options_for_select(FUNDING_STATUSES, protocol.funding_status), { include_blank: t(:protocols)[:prompts][:status] }, class: 'selectpicker study'

    .form-group.row.funding_status_dependent.funded{ display_if(protocol.funding_status, "funded") }
      = form.label :funding_source, t(:protocols)[:studies][:information][:funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_source, options_for_select(FUNDING_SOURCES, protocol.funding_source), { include_blank: t(:protocols)[:prompts][:source] }, class: 'selectpicker'

    .form-group.row.funding_status_dependent.pending_funding{ display_if(protocol.funding_status, "pending_funding") }
      = form.label :potential_funding_source, t(:protocols)[:studies][:information][:potential_funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :potential_funding_source, options_for_select(POTENTIAL_FUNDING_SOURCES, protocol.potential_funding_source), { include_blank: t(:protocols)[:prompts][:potential_source] }, class: 'selectpicker'

    / Internal Funded Pilot Project selected
    .form-group.row.funding_status_dependent.funding_source_dependent.internal{ display_if(protocol.funding_source, "internal") }
      = form.label :funding_source_other, t(:protocols)[:studies][:information][:funding_source_internal], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :funding_source_other, class: 'form-control'

    / Federal selected begin
    .funding_status_dependent.funding_source_dependent.federal{ display_if(protocol.funding_source, "federal") }
      .form-group.row
        = form.label :federal_grant_title, t(:protocols)[:studies][:information][:funding_source_federal][:federal_grant_title], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :federal_grant_title, class: 'form-control'

      .form-group.row
        = form.label :federal_grant_code_id, t(:protocols)[:studies][:information][:funding_source_federal][:code], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_grant_code_id, options_for_select(FEDERAL_GRANT_CODES, protocol.federal_grant_code_id), { include_blank: t(:study_form)[:code_blank] }, class: 'selectpicker'

      .form-group.row
        = form.label :federal_phs_sponsor, t(:protocols)[:studies][:information][:funding_source_federal][:phs_sponsor], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_phs_sponsor, options_for_select(FEDERAL_GRANT_PHS_SPONSORS, protocol.federal_phs_sponsor), { include_blank: t(:protocols)[:prompts][:federal_sponsor] }, class: 'selectpicker'

      .row
        %label.col-lg-2
          %span.pull-right
            = t(:protocols)[:studies][:information][:funding_source_federal][:separator]

      .form-group.row#federal-non-phs
        = form.label :federal_non_phs_sponsor, t(:protocols)[:studies][:information][:funding_source_federal][:non_phs_sponsor], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_non_phs_sponsor, options_for_select(FEDERAL_GRANT_NON_PHS_SPONSORS, protocol.federal_non_phs_sponsor), { include_blank: t(:protocols)[:prompts][:federal_sponsor] }, class: 'selectpicker'

      .form-group.row
        = form.label :federal_grant_serial_number, t(:protocols)[:studies][:information][:funding_source_federal][:serial_number], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :federal_grant_serial_number, class: 'form-control'
    / Federal selected end

    .form-group.row
      = form.label :sponsor_name, t(:protocols)[:studies][:information][:sponsor], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :sponsor_name, class: 'form-control'

    / Display epic questions as readonly for administrators who aren't an authorized user
    / with edit abilities
    - if !permission_to_edit && admin && !protocol.virgin_project? && (!protocol.changed.include?('selected_for_epic') || protocol.changed_attributes()['selected_for_epic'])
      - if USE_EPIC
        .form-group.row
          = form.label :selected_for_epic, t(:protocols)[:studies][:information][:push_to_epic], class: 'col-lg-2 form-control-label'
          .col-lg-10
            %span.epic_selected.display_epic_answers
              = form.object.selected_for_epic ? t(:constants)[:yes_select] : t(:constants)[:no_select]
              - if form.object.selected_for_epic
                = form.hidden_field :selected_for_epic, value: true
              - elsif !form.object.selected_for_epic
                = form.hidden_field :selected_for_epic, value: false
        .form-group.row.selected_for_epic_dependent#readonly{ display_if(protocol.selected_for_epic) }
          = form.label :study_type_questions, t(:study_form)[:study_type_questions], class: 'col-lg-2 form-control-label'
          .col-lg-10
            = form.fields_for :study_type_answers, protocol.study_type_answers do |answer|
              - if answer.object.study_type_question.study_type_question_group.active && protocol.active? && answer.object.answer != nil
                = render partial: 'dashboard/protocols/form/study_form_sections/readonly_answer_field', locals: { answer: answer }
              - elsif !answer.object.study_type_question.study_type_question_group.active && !protocol.active? && answer.object.answer != nil
                = render partial: 'dashboard/protocols/form/study_form_sections/readonly_answer_field', locals: { answer: answer }

    - else
      - if USE_EPIC
        .form-group.row
          = form.label :selected_for_epic, t(:protocols)[:studies][:information][:push_to_epic], class: 'col-lg-2 form-control-label'
          .col-lg-10
            .btn-group#selected_for_epic_button{data: {toggle: "labels"}}
              %label.radio-inline.btn.btn-default#study_selected_for_epic_true_button{ class: protocol.selected_for_epic? ? 'active' : ''}
                = form.radio_button :selected_for_epic, 'true', id: "study_selected_for_epic_true", class: 'hidden'
                = t(:constants)[:yes_select]
              %label.radio-inline.btn.btn-default#study_selected_for_epic_false_button{ class: protocol.selected_for_epic == false ? 'active' : ''}
                = form.radio_button :selected_for_epic, 'false', id: "study_selected_for_epic_false", class: 'hidden'
                = t(:constants)[:no_select]
        .form-group.row.selected_for_epic_dependent{ display_if(protocol.selected_for_epic) }
          = form.label :study_type_questions, "", class: 'col-lg-2 form-control-label'
          .col-lg-10
            = form.fields_for :study_type_answers, protocol.study_type_answers do |answer_form|
              - if answer_form.object.study_type_question.study_type_question_group.active
                .form-group.row{ id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}", style: "#{answer_form.object.answer != nil ? 'display:block' : 'display:none;'}" }
                  .col-lg-8
                    = answer_form.hidden_field :study_type_question_id
                    = answer_form.label :answer, answer_form.object.study_type_question.question, class: "long"
                  .col-lg-4
                    = answer_form.select :answer, options_for_select([['Yes', true], ['No', false]], answer_form.object.answer), { include_blank: 'Select One' }, { class: 'selectpicker', id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}_answer" }

