-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default
  .panel-heading
    %h4.panel-title= "Study Information"
    .sub_text= "Necessary to obtain correct pricing"
  .panel-body.container-fluid
    .form-group.row
      = form.label :short_title, t(:protocol_shared)[:title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :short_title, class: 'form-control'

    .form-group.row
      = form.label :title, t(:study_form)[:title], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :title, class: 'form-control'

    .form-group.row
      = form.label :funding_status, t(:protocol_shared)[:funding_status], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_status, options_for_select(FUNDING_STATUSES, protocol.funding_status), { include_blank: t(:study_form)[:status_blank] }, class: 'selectpicker study'

    / Pending Funding selected
    .form-group.row.funding_status_dependent.pending_funding{ display_if(protocol.funding_status, "pending_funding") }
      = form.label :potential_funding_source, t(:protocol_shared)[:potential_funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :potential_funding_source, options_for_select(POTENTIAL_FUNDING_SOURCES, protocol.potential_funding_source), { include_blank: t(:study_form)[:potential_blank] }, class: 'selectpicker'

    / Funded selected
    .form-group.row.funding_status_dependent.funded{ display_if(protocol.funding_status, "funded") }
      = form.label :funding_source, t(:protocol_shared)[:funding_source], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :funding_source, options_for_select(FUNDING_SOURCES, protocol.funding_source), { include_blank: t(:study_form)[:funding_blank] }, class: 'selectpicker'

    / Internal Funded Pilot Project selected
    .form-group.row.funding_status_dependent.funding_source_dependent.internal{ display_if(protocol.funding_source, "internal") }
      = form.label :funding_source_other, t(:study_form)[:funding_source_other], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :funding_source_other, class: 'form-control'

    / Federal selected begin
    .funding_status_dependent.funding_source_dependent.federal{ display_if(protocol.funding_source, "federal") }
      .form-group.row
        = form.label :federal_grant_title, t(:study_form)[:federal_grant_title], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :federal_grant_title, class: 'form-control'

      .form-group.row
        = form.label :federal_grant_code_id, t(:protocol_shared)[:federal_grant_code_id], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_grant_code_id, options_for_select(FEDERAL_GRANT_CODES, protocol.federal_grant_code_id), { include_blank: t(:study_form)[:code_blank] }, class: 'selectpicker'

      .form-group.row
        = form.label :federal_phs_sponsor, t(:protocol_shared)[:federal_phs_sponsor], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_phs_sponsor, options_for_select(FEDERAL_GRANT_PHS_SPONSORS, protocol.federal_phs_sponsor), { include_blank: t(:study_form)[:phs_blank] }, class: 'selectpicker'

      .row
        %label.col-lg-2
          %span.pull-right -OR-

      .form-group.row
        = form.label :federal_non_phs_sponsor, t(:protocol_shared)[:federal_non_phs_sponsor], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.select :federal_non_phs_sponsor, options_for_select(FEDERAL_GRANT_NON_PHS_SPONSORS, protocol.federal_non_phs_sponsor), { include_blank: t(:study_form)[:phs_blank] }, class: 'selectpicker'

      .form-group.row
        = form.label :federal_grant_serial_number, t(:study_form)[:federal_grant_serial_number], class: 'col-lg-2 control-label'
        .col-lg-10
          = form.text_field :federal_grant_serial_number, class: 'form-control'
    / Federal selected end

    .form-group.row
      = form.label :study_phase, t(:protocol_shared)[:study_phase], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.select :study_phase, options_for_select(STUDY_PHASES, protocol.study_phase), { include_blank: t(:study_form)[:phase_blank] }, class: 'selectpicker'

    .form-group.row
      = form.label :sponsor_name, t(:study_form)[:sponsor_name], class: 'col-lg-2 control-label'
      .col-lg-10
        = form.text_field :sponsor_name, class: 'form-control'

    .form-group.row{ display_if(USE_EPIC) }
      = form.label :selected_for_epic, t(:study_form)[:push_to_epic], class: 'col-lg-2 form-control-label'
      = form.hidden_field :study_type_question_group_id, value: protocol.study_type_question_group_id == StudyTypeQuestionGroup.where(active:false).pluck(:id).first ? 'inactive' : 'active'
      .col-lg-10
        - if admin && @protocol.selected_for_epic != nil
          
        - else
          .btn-group{data: {toggle: "buttons"}}
            %label.btn.btn-default{class: "#{protocol.selected_for_epic == true ? 'active' : nil}"}
              = form.radio_button :selected_for_epic, 'true', id: "study_selected_for_epic_true"
              Yes
            %label.btn.btn-default{class: "#{protocol.selected_for_epic == false ? 'active' : nil}"}
              = form.radio_button :selected_for_epic, 'false', id: "study_selected_for_epic_false"
              No

    .form-group.row.selected_for_epic_dependent{ display_if(protocol.selected_for_epic) }
      = form.label :study_type_questions, "", class: 'col-lg-2 form-control-label'
      .col-lg-10
        = form.fields_for :study_type_answers, protocol.study_type_answers do |answer_form|
          - if answer_form.object.study_type_question.study_type_question_group.active
            .form-group.row{ id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}", style: "#{answer_form.object.answer != nil ? 'display:block' : 'display:none;'}" }
              .col-lg-8
                = answer_form.hidden_field :study_type_question_id
                = answer_form.label :answer, answer_form.object.study_type_question.question, class: "long"
              .col-lg-4
                = answer_form.select :answer, options_for_select([['Yes', true], ['No', false]], answer_form.object.answer), { include_blank: 'Select One' }, { class: 'selectpicker', id: "study_type_answer_#{answer_form.object.study_type_question.friendly_id}_answer" }




