%h3= t(:fulfillments)[:approval_history][:header]
%table{:id => 'approval_history_table', :class => 'tablesorter'}
  %thead
    %tr
      %th= t(:fulfillments)[:approval_history][:date_approved]
      %th= t(:fulfillments)[:approval_history][:approval_type]
      %th= t(:fulfillments)[:approval_history][:approved_by]
  %tbody
    - @approvals.each do |approval|
      %tr
        %td= approval.try(:approval_date).try(:strftime, "%D")
        %td= approval.try(:approval_type)
        %td= approval.try(:identity).try(:full_name)
