.admin#users
  %table
    %thead
      %tr
        %th{:colspan => 5}= t(:user_list)[:information]
        %th{:colspan => 2}= t(:user_list)[:actions]
      %tr
        %th= t(:user_details)[:name]
        %th= t(:user_details)[:role]
        %th= t(:user_details)[:email]
        %th= t(:user_details)[:phone]
        %th= t(:user_list)[:proxy_rights]
        %th= t(:documents)[:edit_button]
        %th= t(:documents)[:delete_button]
    %tbody
      = render :partial => "portal/sub_service_requests/associated_user", :locals => {:protocol => @protocol}
    %tfoot
      %tr
        %td{:colspan => 7}
      %tr
        %td{:colspan => 5}
        %td.new-button{:colspan => 2}
          .associated-user-button.ui-corner-all{:'data-protocol_id' => @protocol.id, :'data-permission' => "true"}= t(:associated_users)[:add]

.add-associated-user-dialog
  // TODO: this is copied directly from index.html.haml; should refactor
  .user-search-container
    = label_tag 'user_search', 'Search for a user:'
    = text_field_tag 'user_search'
    = image_tag('portal/spinner.gif', :style => "display:none; vertical-align:middle;", :id => 'search-spinner')
  - if @sub_service_request
    = hidden_field_tag :sub_service_request_id, @sub_service_request.id
  #add-user-form
    =render :partial => "portal/associated_users/new", :locals => {:protocol => @protocol, :protocol_role => ProjectRole.new, :identity => Identity.new}

.edit-associated-user-dialog

:javascript
  $(document).ready( function() {
    // TODO: this is copied directly from index.html.haml; should refactor
    // TODO: the autocomplete is a bit too aggressive in the case where
    // the text box is empty (it replaces the text with what I just
    // searched for, which isn't necessarily what I want, e.g. if I'm
    // deleting the contents in order to type a new search)
    var source = "/portal/associated_users/search"
    selected_option = ''
    var sub_service_request_id = $('#sub_service_request_id').val()
    $('input#user_search').autocomplete({
      source: source,
      minLength: 3,
      search: function(event, ui) {$('#search-spinner').show()},
      open: function(event, ui) {$('#search-spinner').hide()},
      select: function(event, ui) {
        selected_option = ui.item.label
        $.ajax({
          method: 'get',
          url: "/portal/associated_users/new",
          data: {user_id: ui.item.value, protocol_id: $('.associated-user-button').data('protocol_id'), sub_service_request_id: sub_service_request_id},
          success: function() {
          },
        })
      },
      close: function() {
        $('input#user_search').autocomplete('disable')
        $('input#user_search').val(selected_option)
        $('input#user_search').autocomplete('enable')
      }
    });
  });

