-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= javascript_include_tag 'portal/document_management'

#upload_message{:style => 'display:none'}
  = t("documents.upload_message")

= form_tag new_document_portal_admin_sub_service_request_path(@sub_service_request), {:id => 'new_document_form', :class => 'root-view', :multipart => true} do
  = hidden_field_tag :location, ''
  = hidden_field_tag :validates, ''
  = render :partial => "errors"
  .clear
  %div
    .document-management-container
      = render :partial => 'portal/sub_service_requests/document_list', :locals => {:review => false}
      .clear
      %br
      %br
      
      %td= link_to t("documents.add_button"), "javascript:void(0)", :class => "document_upload_button", :location => 'document_management'

      .document_upload{:style=>'display:none'}
        = render :partial => 'document_form'
      .clear
      %br
      %br

      %div{:style => 'text-align:left; margin: 0 0 10px 45px;'}= t("documents.admin_instructions")
      = text_area_tag 'service_request_notes', @service_request.notes, :'data-service_request_id' => @service_request.id, :class => 'fulfillment_data', :rows => 14, :cols => 117

      %br
      %br

      %div 

  .clear
