-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= javascript_include_tag 'portal/document_upload'

-# TODO this is ugly but works for now
- orgs = []
- first_doc_type = nil
- first_doc = nil
- orgs = @grouping.documents.map{|d| d.sub_service_request.organization_id} if @grouping
- first_doc_type = @grouping.documents.first.doc_type if @grouping
- first_doc_type_other = @grouping.documents.first.doc_type_other if first_doc_type == 'other'
- first_doc = @grouping.documents.first if @grouping
- button_text = @grouping ? t("documents.update_button") : t("documents.upload_button")
= hidden_field_tag :document_grouping_id, @grouping.id if @grouping
-# ugly but working

%table#new_document
  %tr.header
    %th= t("documents.headers.type")
    %th= t("documents.headers.file")
    %th &nbsp;
  %tr
    %td{:style => "width:212px;"}
      = select_tag :doc_type, options_for_select(DOCUMENT_TYPES, first_doc_type), :prompt => "Select Type", :style => "margin-left:5px;"
      .document_type_other{:style => first_doc_type == 'other' ? '' : 'display:none;'}
        = text_field_tag :doc_type_other, first_doc_type_other
    = hidden_field_tag "process_ssr_organization_ids[]", @sub_service_request.organization.id
    - if !defined?(edit).nil?
      = hidden_field_tag "is_edit", "true"
    %td#file
      - if @grouping
        = first_doc.document_file_name
        %br
      = file_field_tag :document
    %td{:style => "width:195px;"}
      = link_to button_text, "javascript:void(0)", :class => "upload_button", :location => 'document_management'
      = link_to t("documents.cancel_button"), "javascript:void(0)", :class => "ui_close_button", :location => 'document_management'
