-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- if @service_request.documents.count >= 1
  %table.document-table
    - if review
      %tr
        %th.light-blue-provider{:colspan => 3}= t("documents.headers.uploads")
    %tr.header
      %th= t("documents.headers.type")
      %th= t("documents.headers.title")
      %th.center= t("documents.headers.uploaded")
      - if not review
        %th.center= t("documents.headers.actions")

    - @sub_service_request.documents.group_by(&:document_grouping_id).each do |grouping_id, docs|
      - doc = docs.first
      %tr.document{:id => "document_grouping_#{grouping_id}"}
        %td= doc.display_document_type
        %td= link_to doc.document_file_name, doc.document.url
        %td.center= doc.created_at.strftime("%m/%d/%Y")
        - if not review
          %td
            .actions_container
              = link_to image_tag('portal/edit_blue.png'), "/portal/admin/sub_service_requests/#{@sub_service_request.id}/edit_document_group/#{grouping_id}", :remote => true, :class => 'document_edit'
              = link_to image_tag('portal/delete_red.png'), "/portal/admin/sub_service_requests/#{@sub_service_request.id}/delete_document_group/#{grouping_id}", :remote => true, :class => 'document_delete'
- else
  %div= t("documents.no_documents")
