#service_request_info
  = render 'service_request_info'

#notifications_area
  = render 'notifications_area'

.clear

#fulfillment_info.ui-corner-all
  #service_request_status_changes
    = render 'status_changes'

  #service_request_approval_changes
    = render 'approval_changes'

  #service_request_information
    = render 'service_request_information'

#fulfillment_services.ui-corner-all
  %h3 Services
  #one_time_fees
    = render 'one_time_fees'

  %br

  #per_patient_services
    = render 'per_patient_per_visit'

  %br

  #add_service_container
    = render 'add_service'

#fulfillment_notes.ui-corner-all
  %h3 Notes
  #notes
    = render 'notes'

#visit_toasts
  - @user_toasts.each do |user_toast|
    .user_toast{:'data-toast_id' => user_toast.id, :'data-message' => user_toast.message}