= javascript_include_tag 'service_calendar'
#service_request_info
  = render 'service_request_info'

#notifications_area
  = render 'notifications_area'

.clear

#fulfillment_info.ui-corner-all
  - if @sub_service_request.ctrc?
    #service_request_core_approvals
      = render 'core_approvals'
    #service_request_src_approval
      = render 'src_approval'
      
  #service_request_status_changes
    = render 'status_changes'

  #service_request_approval_changes
    = render 'approval_changes'

  #service_request_information
    = render 'service_request_information'

#fulfillment_services.ui-corner-all
  %h3= t(:fulfillments)[:services][:header]
  #one_time_fees
    = render 'one_time_fees'

  %br

  #add_otf_service_container
    = render :partial => 'add_service', :locals => {:services => @candidate_one_time_fees, :select_id => 'new_otf_service_id'}

  %br
  
  = javascript_include_tag 'jquery.qtip.min'
  #per_patient_services
    = render 'per_patient_per_visit'
  #arm-form{:style => 'display: none', :title => 'Create a new ARM'}
    .label ARM Name:
    = text_field_tag 'arm_name', "ARM Name"
    %br
    %br
    .label Subject Count:
    = text_field_tag 'subject_count', 1
    %br
    %br
    .label Visit Count:
    = text_field_tag 'visit_count', 1
  #visit-form{:style => 'display: none', :title => 'Add a new visit'}
    .label Visit Name:
    = text_field_tag 'visit_name', "Visit Name"
    %br
    %br
    .label Day:
    = text_field_tag 'visit_day'
    %br
    %br
    .label +/-
    = text_field_tag 'visit_window', 0

  %br

  #add_ppv_service_container
    = render :partial => 'add_service', :locals => {:services => @candidate_per_patient_per_visit, :select_id => 'new_ppv_service_id'}
  #remove_ppv_service_container
    = render :partial => 'remove_service', :locals => {:line_items => @sub_service_request.per_patient_per_visit_line_items, :select_id => 'delete_ppv_service_id'}
#ssr_notes.ui-corner-all
  = render 'notes'

#visit_toasts
  - @user_toasts.each do |user_toast|
    .user_toast{:'data-toast_id' => user_toast.id, :'data-message' => user_toast.message}
