#notes_container
  %h3= t(:fulfillments)[:notes][:header]
  #notes_table
    %table
      %thead
        - @sub_service_request.notes.each do |note|
          %tr
            %td.saved_note
              .note_body= note.try(:body)
              .note_date= note.try(:created_at).try(:strftime, '%D')
              .note_name= note.try(:identity).try(:full_name)
          %tr.space
        %tr
          %td= text_area_tag "notes", "", :class => "note_box"

= link_to t(:fulfillments)[:notes][:link], 'javascript:void(0);', :class => "add_note_link", :'data-sub_service_request_id' => @sub_service_request.id
