= javascript_include_tag 'service_calendar'
= javascript_include_tag 'service_calendar_logic'
%h4= t(:fulfillments)[:services][:visits][:header]
- if !(@sub_service_request.per_patient_per_visit_line_items.length >= 1)
  .blank_requests
    = t(:fulfillments)[:services][:visits][:no_requests]
- else
  #per_patient_per_visit_table
    %table
      %thead
        %tr
          %th{:colspan => 1}
          %th{:colspan => 2}= t(:fulfillments)[:services][:visits][:add]
          %th{:colspan => 2}= t(:fulfillments)[:services][:visits][:delete]
          %th{:colspan => 3}
        %tr
          %td{:colspan => 1}
          %td{:colspan => 2}
            = select_tag "visit_position", visits_for_select(@sub_service_request)
            %br
            = link_to t(:fulfillments)[:services][:visits][:add_link], 'javascript:void(0);', :class => "add_visit_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id
          %td{:colspan => 2}
            = select_tag "delete_visit_position", visits_for_delete(@sub_service_request)
            %br
            = link_to t(:fulfillments)[:services][:visits][:delete_link], 'javascript:void(0);', :class => "delete_visit_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id
          %td{:colspan => 3}
    #service_calendar
      %ul
        %li= link_to t(:calendar_page)[:tabs][:template], table_service_request_service_calendars_path(@service_request, :tab => "template", :portal => true) , :id => 'template_tab'
        %li= link_to t(:calendar_page)[:tabs][:billing], table_service_request_service_calendars_path(@service_request, :tab => "billing_strategy", :portal => true), :id => 'billing_strategy_tab'
