= javascript_include_tag 'service_calendar_logic'
- unless @study_tracker
  %h3= t(:fulfillments)[:services][:visits][:header]
- if !(@sub_service_request.per_patient_per_visit_line_items.length >= 1) or @service_request.arms.empty?
  .blank_requests
    = t(:fulfillments)[:services][:visits][:no_requests]
- else
  #per_patient_per_visit_table{:style => "margin: 20px 0 0;"}
    %table.arm_stuff
      %thead
        %tr
          %th= t(:fulfillments)[:services][:visits][:arm]
          %th= t(:fulfillments)[:services][:visits][:add]
          %th= t(:fulfillments)[:services][:visits][:delete]
        %tr
          %td
            = select_tag "arm_id", arms_for_select(@service_request, @selected_arm), :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id, :'data-protocol_id' => @service_request.protocol.id
            - unless @study_tracker
              = link_to '', 'javascript:void(0);', :class => "add_arm_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id, :'data-protocol_id' => @service_request.protocol.id
              = link_to '', 'javascript:void(0);', :class => "remove_arm_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id, :'data-arm_count' => @service_request.arms.count, :'data-protocol_id' => @service_request.protocol.id
          %td
            = select_tag "visit_position", visits_for_select(@selected_arm)
            = link_to '', 'javascript:void(0);', :class => "add_visit_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id
          %td
            = select_tag "delete_visit_position", visits_for_delete(@selected_arm)
            = link_to '', 'javascript:void(0);', :class => "delete_visit_link", :'data-sub_service_request_id' => @sub_service_request.id, :'data-service_request_id' => @service_request.id, :'data-visit_count' => visit_size_for_arm(@selected_arm)
    #service_calendar
      - if @study_tracker
        = hidden_field_tag('study_tracker', true, :id => "study_tracker_hidden_field")
        %ul
          %li= link_to t(:calendar_page)[:tabs][:template], table_service_request_service_calendars_path(@service_request, :tab => "template", :study_tracker => true, :portal => true) , :id => 'template_tab'
          %li= link_to t(:calendar_page)[:tabs][:billing], table_service_request_service_calendars_path(@service_request, :tab => "billing_strategy", :study_tracker => true, :portal => true), :id => 'billing_strategy_tab'
          %li= link_to t(:calendar_page)[:tabs][:pricing], merged_calendar_service_request_service_calendars_path(@service_request, :tab => "calendar", :study_tracker => true), :id => 'calendar_tab'
      - else
        %ul
          %li= link_to t(:calendar_page)[:tabs][:template], table_service_request_service_calendars_path(@service_request, :tab => "template", :portal => true) , :id => 'template_tab'
          %li= link_to t(:calendar_page)[:tabs][:billing], table_service_request_service_calendars_path(@service_request, :tab => "billing_strategy", :portal => true), :id => 'billing_strategy_tab'
          %li= link_to t(:calendar_page)[:tabs][:pricing], merged_calendar_service_request_service_calendars_path(@service_request, :tab => "calendar", :portal => true), :id => 'calendar_tab'
        .move-visits
