-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#timeline
  %h3= t(:fulfillments)[:timeline][:header]
  #timeline_table
    %table
      %thead
        %tr
          %th= t(:fulfillments)[:timeline][:start_date]
          %th= t(:fulfillments)[:timeline][:end_date]
          %th= t(:fulfillments)[:timeline][:arranged_date]
          %th= t(:fulfillments)[:timeline][:contacted_date]
      %tbody
        %tr
          %td
            = text_field_tag "protocol_start_date_picker", @protocol.try(:start_date).try(:strftime, '%D'), :class => 'date datepicker', :readonly => true
            = hidden_field_tag "protocol_start_date", @protocol.try(:start_date).try(:strftime, "%F"), :'data-protocol_id' => @protocol.id, :class => 'fulfillment_data'
          %td
            = text_field_tag "protocol_end_date_picker", @protocol.try(:end_date).try(:strftime, '%D'), :class => 'date datepicker', :readonly => true
            = hidden_field_tag "protocol_end_date", @protocol.try(:end_date).try(:strftime, "%F"), :'data-protocol_id' => @protocol.id, :class => 'fulfillment_data'
          %td
            = text_field_tag "sub_service_request_consult_arranged_date_picker", @sub_service_request.try(:consult_arranged_date).try(:strftime, '%D'), :class => 'date datepicker'
            = hidden_field_tag "sub_service_request_consult_arranged_date", @sub_service_request.try(:consult_arranged_date).try(:strftime, "%F"), :'data-sub_service_request_id' => @sub_service_request.id, :class => 'fulfillment_data'
          %td
            = text_field_tag "sub_service_request_requester_contacted_date_picker", @sub_service_request.try(:requester_contacted_date).try(:strftime, '%D'), :class => 'date datepicker'
            = hidden_field_tag "sub_service_request_requester_contacted_date", @sub_service_request.try(:requester_contacted_date).try(:strftime, "%F"), :'data-sub_service_request_id' => @sub_service_request.id, :class => 'fulfillment_data'

#request_cost_total
  = render 'direct_cost_total'

#fulfillment_subsidy
  = render 'subsidy'
