%h3 Timeline
#timeline_table
  %table
    %thead
      %tr
        %th Proposed Start Date
        %th Proposed End Date
        %th Consult Arranged Date
        %th Requester Contacted Date
    %tbody
      %tr
        %td
          = text_field_tag "service_request_start_date_picker", @service_request.try(:start_date).try(:strftime, '%D'), :class => 'date datepicker'
          = hidden_field_tag "service_request_start_date", @service_request.try(:start_date).try(:strftime, "%F"), :'data-service_request_id' => @service_request.id, :class => 'fulfillment_data'
        %td
          = text_field_tag "service_request_end_date_picker", @service_request.try(:end_date).try(:strftime, '%D'), :class => 'date datepicker'
          = hidden_field_tag "service_request_end_date", @service_request.try(:end_date).try(:strftime, "%F"), :'data-service_request_id' => @service_request.id, :class => 'fulfillment_data'
        %td
          = text_field_tag "sub_service_request_consult_arranged_date_picker", @sub_service_request.try(:consult_arranged_date).try(:strftime, '%D'), :class => 'date datepicker'
          = hidden_field_tag "sub_service_request_consult_arranged_date", @sub_service_request.try(:consult_arranged_date).try(:strftime, "%F"), :'data-sub_service_request_id' => @sub_service_request.id, :class => 'fulfillment_data'
        %td
          = text_field_tag "sub_service_request_requester_contacted_date_picker", @sub_service_request.try(:requester_contacted_date).try(:strftime, '%D'), :class => 'date datepicker'
          = hidden_field_tag "sub_service_request_requester_contacted_date", @sub_service_request.try(:requester_contacted_date).try(:strftime, "%F"), :'data-sub_service_request_id' => @sub_service_request.id, :class => 'fulfillment_data'
%br
#fulfillment_subsidy
  = render 'subsidy'
