-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%h3= t(:fulfillments)[:subsidies][:header]
- unless @subsidy
  %p.blank_requests
    = t(:fulfillments)[:subsidies][:no_subsidy]
    = link_to t(:fulfillments)[:subsidies][:link], 'javascript:void(0);', :class => "add_subsidy_link", :'data-sub_service_request_id' => @sub_service_request.try(:id)
- else
  #subsidy_table
    %table
      %thead
        %tr
          %th= t(:fulfillments)[:subsidies][:pi]
          %th= t(:fulfillments)[:subsidies][:percent]
          %th= t(:fulfillments)[:subsidies][:effective_current_total_cost]
          %th= t(:fulfillments)[:subsidies][:user_display_total_cost]
          %th= t(:fulfillments)[:subsidies][:delete]
      %tbody
        %tr
          - pi_contribution = calculate_admin_pi_contribution.try(:/, 100.0) || 0
          %td= text_field_tag "subsidy_pi_contribution", @subsidy.try(:pi_contribution).try(:/, 100.0), :'data-subsidy_id' => @subsidy.id, :class => 'fulfillment_data'
          %td= text_field_tag "subsidy_percent_subsidy", @subsidy.try(:percent_subsidy), :'data-subsidy_id' => @subsidy.id, :class => 'fulfillment_data'
          %td.subsidy_effective_current_cost= number_to_currency(calculate_effective_current_total - pi_contribution)
          %td.subsidy_user_display_cost#direct_cost_total{:'data-direct_cost_total' => @sub_service_request.try(:direct_cost_total), :'data-max_dollar_cap' => @sub_service_request.organization.try(:subsidy_map).try(:max_dollar_cap), :'data-max_percentage' => @sub_service_request.organization.try(:subsidy_map).try(:max_percentage)}= number_to_currency(calculate_user_display_total - pi_contribution)
          %td= link_to(image_tag('portal/cancel.png'), 'javascript:void(0);', :'data-subsidy_id' => @subsidy.id, :class => 'delete_data')
