:javascript
  $(document).ready( function() {
    Sparc.admin.show_return_to_portal_button();
    Sparc.associated_users.ready();
  });
#information
  #wrapper
    %table#ssr_info
      %thead
        %tr
          %th SRID
          %th PI
          %th Requester
          %th Short Title
          %th Export to Excel
          %th Delete This Request
      %tbody
        %tr
          %td= "#{@protocol.id}-#{@sub_service_request.ssr_id}"
          %td= @protocol.try(:principal_investigators).try(:first).try(:display_name)
          %td= @sub_service_request.try(:service_request).try(:service_requester).try(:display_name)
          %td= @protocol.try(:short_title)
          %td 
            .export_to_excel_button= link_to "Export", service_request_path(@sub_service_request.service_request, :format => :xlsx)
          %td
            .delete-ssr-button= link_to "Delete", portal_admin_sub_service_request_path(@sub_service_request_id), :method => :delete, :confirm => true

#tabs
  %ul
    %li= link_to "Fulfillment"             ,"#fulfillment"              ,:class => 'fulfillment-tab'
    %li= link_to "Project/Study Information" ,"#protocol"                  ,:class => 'project-tab'
    %li= link_to "Documents"                 ,"#documents"                ,:class => 'documents-tab'
    %li= link_to "Related Service Requests"  ,"#related_service_requests" ,:class => 'related_service_requests-tab'
    %li= link_to "Associated Users"          ,"#associated_users"         ,:class => 'associated_users-tab'
    %li= link_to "Notifications"             ,"#notifications"            ,:class => 'notifications-tab'
  #fulfillment
    = render 'fulfillment'
    
  #protocol{:style => 'padding:15px;'}
    = render :partial => 'portal/protocols/form', :locals => {:protocol => @protocol, :admin => true}
      
  #documents
    = render 'portal/sub_service_requests/documents'
  #related_service_requests
    = render 'portal/sub_service_requests/related_service_requests'
  #associated_users
    = render 'portal/sub_service_requests/associated_users'
  #notifications
    = render 'portal/notifications/notifications'
  .notification_dialog


