-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

:javascript
  $(document).ready( function() {
    Sparc.associated_users.ready();
  });

.admin-right-dashboard
  .user-information-body
    %p
      = @user.full_name
      |
      = @user.email
    .admin-buttons
      = link_to "Return to Admin Portal", portal_admin_index_path, :class => "return_link"

#information
  #wrapper
    %table#ssr_info
      %thead
        %tr
          %th= t(:admin_dashboard)[:id]
          %th= t(:admin_dashboard)[:pi]
          %th= t(:admin_dashboard)[:requester]
          %th= t(:admin_dashboard)[:short_title]
          %th= t(:admin_dashboard)[:export]
          %th= t(:admin_dashboard)[:delete]
          - if USE_EPIC
            %th= t(:admin_dashboard)[:epic_interface]
      %tbody
        %tr
          %td
            = "#{@protocol.id}-#{@sub_service_request.ssr_id}"
          %td= @protocol.try(:principal_investigators).try(:first).try(:display_name)
          %td= @sub_service_request.try(:service_request).try(:service_requester).try(:display_name)
          %td= @protocol.try(:short_title)
          %td= link_to t(:admin_dashboard)[:export_link], service_request_path(@sub_service_request.service_request, :format => :xlsx, :admin_offset => 1), :class => "export_to_excel_button"
          %td= link_to "", "/portal/admin/sub_service_requests/#{@sub_service_request.id}", :method => :delete, :confirm => t(:admin_dashboard)[:delete_confirm], :class => "delete-ssr-button"
          - if USE_EPIC
            %td= link_to t(:admin_dashboard)[:send_to_epic], 'javascript:void(0)', :class => "send_to_epic_button", :sub_service_request_id => @sub_service_request.id

.tabs.plain_class
  %ul
    %li= link_to t(:admin_dashboard)[:tabs][:fulfillment], "#fulfillment", :class => 'fulfillment-tab'
    %li= link_to t(:admin_dashboard)[:tabs][:protocol_info], "#protocol", :class => 'project-tab'
    %li= link_to t(:admin_dashboard)[:tabs][:docs], "#documents", :class => 'documents-tab'
    %li= link_to t(:admin_dashboard)[:tabs][:related_srs], "#related_service_requests", :class => 'related_service_requests-tab'
    %li= link_to t(:admin_dashboard)[:tabs][:users], "#associated_users", :class => 'associated_users-tab'
    %li= link_to t(:admin_dashboard)[:tabs][:notifications], "#notifications", :class => 'notifications-tab'

  #fulfillment
    = render 'fulfillment'
    
  #protocol{:style => 'padding:15px;'}
    = render :partial => 'portal/protocols/type_form'
    = render :partial => 'portal/protocols/form', :locals => {:protocol => @protocol, :admin => true}
      
  #documents
    = render 'portal/sub_service_requests/documents'
  #related_service_requests
    = render 'portal/sub_service_requests/related_service_requests'
  #associated_users
    = render 'portal/sub_service_requests/associated_users'
  #notifications
    = render 'portal/notifications/notifications'

= render 'cwf_building'
  


