-# Copyright © 2011-2017 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.panel.panel-default#filter-responses
  .panel-heading
    .pull-left
      = "Filter Responses"
    .pull-right
      -# %a#save-filters{ href: 'javascript:void(0)' }
      -#  = t(:actions)[:save]
      -# = " | "
      -# = link_to t(:actions)[:reset], 'javascript:void(0)', id: '#reset-filters'
    .clearfix
  = form_for_filterrific filterrific, remote: true do |form|
    .panel-body
      - if current_user.is_site_admin? && (current_user.is_super_user? || current_user.is_service_provider?)
        .form-group.row
          = form.label :with_type, t(:surveyor)[:responses][:filter][:type], class: 'col-lg-3 control-label text-left'
          .col-lg-9
            = form.select :with_type, filterrific.select_options[:with_type], {}, class: 'form-control selectpicker'
      - else
        .form-group.row
          .col-sm-12
            %label
              = 'Coming soon!'
      -#.form-group.row
      -#  = form.label :to_survey, t('surveyor.responses.filter.select', type: type), class: 'col-lg-3 control-label text-left'
      -#  .col-lg-9
      -#    = form.select :to_survey, options_from_collection_for_select(type.constantize.all, :id, :title), {}, class: 'form-control selectpicker', multiple: true
      -#.form-group.row
      -#  .col-sm-12
      -#    %label
      -#      = t(:surveyor)[:responses][:filter][:completion_date]
      -#  = form.label :from_date, t(:surveyor)[:responses][:filter][:from], class: 'col-lg-3 control-label text-left'
      -#  .col-lg-9
      -#    .input-group.datetimepicker
      -#      = form.text_field :from_date, class: 'form-control'
      -#      %span.input-group-addon
      -#        %span.glyphicon.glyphicon-calendar
      -#  = form.label :to_date, t(:surveyor)[:responses][:filter][:to], class: 'col-lg-3 control-label text-left'
      -#  .col-lg-9
      -#    .input-group.datetimepicker
      -#      = form.text_field :to_date, class: 'form-control'
      -#      %span.input-group-addon
      -#        %span.glyphicon.glyphicon-calendar
      -#.form-group.row
      -#  = form.label :include_incomplete, t(:surveyor)[:responses][:filter][:include_incomplete], class: 'col-lg-10 control-label text-left'
      -#  .col-lg-2
      -#    = form.check_box :include_incomplete, {}, 'true', 'false'
    .panel-footer
      .pull-right
        %button.btn.btn-default{ type: 'submit' }
          = t(:actions)[:filter]
      .clearfix
