-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- multiple        = options[:multiple]
- grouping        = options[:grouping]
- selected        = options[:selected] || []
- default_classes = options[:required] ? "required" : ""
- name            = options[:for] ? "report[#{options[:for]}]" : "report[#{field.name.underscore}_id]"
- name           += "[]" if multiple
- show_epic       = options[:field_label] == "Include Epic Interface Columns"

= label_tag nil, field_label, class: ['col-sm-3 control-label', default_classes]
- if grouping && multiple # we have a defined grouping
  .col-sm-9
    - grouping.each do |k,v|
      .row
        %fieldset
          %legend
            = k
          - v.each do |sv|
            = label_tag sv, '', class: ['checkbox-inline', default_classes] do
              = check_box_tag name, sv, selected.include?(sv), class: default_classes, type: "checkbox"
              = multiple[sv]

- elsif multiple
  - if multiple.is_a?(Hash)
    .col-sm-9
      - multiple.each do |k,v|
        = label_tag k, '', class: ['checkbox-inline', default_classes] do
          = check_box_tag name, k, selected.include?(v), class: default_classes, type: "checkbox"
          = v
- else # for individual checkboxes that have true/false
  .col-sm-9
    = check_box_tag name, true, selected.any?, class: default_classes, type: "checkbox" unless (show_epic && !(Setting.get_value("use_epic"))) # Only show Epic checkbox if use_epic is set to true

-# TODO define behavior if multiple is a method or string representation of method chain
