%br
= qr.label :content, class: 'radio-inline' do
  = qr.radio_button :content, 'yes'
  = t(:additional_details)[:yes_label]
= qr.label :content, class: 'radio-inline' do
  = qr.radio_button :content, 'no'
  = t(:additional_details)[:no_label]
