.modal-dialog
  .modal-content
    = form_for line_item, {remote: true, html: {class: "form-horizontal", role: "form"}} do |form|
      .modal-header
        %button.close{type: 'button', data: {dismiss: 'modal'}}
          %span{aria: {hidden:'true'}} &times;
          %span.sr-only= t(:actions)[:close]
        %h4.modal-title.text-center= header_text
      .modal-body
        #modal_errors
        = render partial: 'required_fields'
        .row
          .col-md-12
            = form.hidden_field :protocol_id
            .form-group
              = form.label "service", t(:line_item)[:service]+t(:actions)[:required], class: "col-sm-4 control-label"
              .col-sm-7
                = form.select "service_id", options_from_collection_for_select(protocol.organization.inclusive_child_services(:one_time_fee), 'id', 'name', line_item.service_id), {include_blank: true}, :class => 'form-control selectpicker'
            .form-group
              = form.label "quantity_requested", t(:line_item)[:quantity], class: "col-sm-4 control-label"
              .col-sm-7= form.text_field "quantity_requested", {class: 'form-control'}
            .form-group
              = form.label "started_at", t(:line_item)[:started], class: "col-sm-4 control-label "
              .col-sm-7
                = form.text_field "started_at", {class: 'form-control datetimepicker', id: 'date_started_field', value: format_date(line_item.started_at)}
            .form-group
              = form.label "account_number", t(:line_item)[:account_number], class: "col-sm-4 control-label"
              .col-sm-7
                = form.text_field "account_number", {class: 'form-control', :maxlength => 30}
            .form-group
              = form.label "contact_name", t(:line_item)[:contact], class: "col-sm-4 control-label"
              .col-sm-7
                = form.text_field "contact_name", {class: 'form-control', :maxlength => 30}
      .modal-footer
        .center-block
          %button.btn.btn-default{type: 'button', data: {dismiss: 'modal'}}= t(:actions)[:close]
          %input.btn.btn-primary{type: 'submit', value: t(:line_item)[:save_li]}
