-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%tr.bg-light
  %td{ colspan: 2 }
    %h6.mb-0
      = t('protocols.form.grant_information.header')
%tr
  %td.w-25
    = label :protocol, :federal_grant_code_id, class: 'mb-0'
  %td.w-75
    = protocol.federal_grant_code_id.present? ? PermissibleValue.get_value('federal_grant_code', protocol.federal_grant_code_id) : t('constants.na')
%tr
  %td.w-25
    = label :protocol, :federal_grant_serial_number, class: 'mb-0'
  %td.w-75
    = protocol.federal_grant_serial_number.present? ? protocol.federal_grant_serial_number : t('constants.na')
%tr
  %td.w-25
    = label :protocol, :federal_grant_title, class: 'mb-0'
  %td.w-75
    = protocol.federal_grant_title.present? ? protocol.federal_grant_title : t('constants.na')
- if protocol.federal_phs_sponsor.present?
  %tr
    %td.w-25
      = label :protocol, :federal_phs_sponsor, class: 'mb-0'
    %td.w-75
      = PermissibleValue.get_value('federal_grant_phs_sponsor', protocol.federal_phs_sponsor)
- elsif protocol.federal_non_phs_sponsor.present?
  %tr
    %td.w-25
      = label :protocol, :federal_non_phs_sponsor, class: 'mb-0'
    %td.w-75
      = PermissibleValue.get_value('federal_grant_non_phs_sponsor', protocol.federal_non_phs_sponsor)
- else
  %tr
    %td.w-25
      = label :protocol, :federal_sponsor, class: 'mb-0'
    %td.w-75
      = t('constants.na')
