-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%section.pt-3#financialInformation
  .card
    .card-header.bg-primary.text-white
      %h3.mb-0
        = t('protocols.form.financial_information.header')
    %table.table.mb-0
      %tbody
        %tr
          %td.w-25
            = label :protocol, :funding_status, class: 'mb-0', title: t('protocols.tooltips.funding_status'), data: { toggle: 'tooltip', placement: 'right' }
          %td.w-75
            = PermissibleValue.get_value('funding_status', protocol.funding_status)
        %tr
          %td.w-25
            = label :protocol, protocol.funded? ? :funding_source : :potential_funding_source, class: 'mb-0', title: protocol.funded? ? t(:protocols)[:tooltips][:funding_source] : t(:protocols)[:tooltips][:potential_funding_source], data: { toggle: 'tooltip', placement: 'right' }
          %td.w-75
            = protocol.display_funding_source_value
        - if protocol.is_a?(Study)
          - if protocol.funded?
            %tr
              %td.w-25
                = label :protocol, :funding_start_date, class: 'mb-0'
              %td.w-75
                = protocol.funding_start_date.present? ? format_date(protocol.funding_start_date) : t('constants.na')
          - else
            %tr
              %td.w-25
                = label :protocol, :potential_funding_start_date, class: 'mb-0'
              %td.w-75
                = protocol.potential_funding_start_date.present? ? format_date(protocol.potential_funding_start_date) : t('constants.na')
          %tr
            %td.w-25
              = label :protocol, :sponsor_name, class: 'mb-0'
            %td.w-75
              = protocol.sponsor_name
          %tr
            %td.w-25
              = label :protocol, :udak_project_number, class: 'mb-0'
            %td.w-75
              = protocol.udak_project_number.present? ? protocol.udak_project_number : t('constants.na')
          - if protocol.pending_funding?
            %tr
              %td.w-25
                = label :protocol, :funding_rfa, class: 'mb-0'
              %td.w-75
                = protocol.funding_rfa.present? ? protocol.funding_rfa : t('constants.na')
        - if Setting.get_value('use_indirect_cost')
          %tr
            %td.w-25
              = label :protocol, :indirect_cost_rate, class: 'mb-0'
            %td.w-75
              = protocol.indirect_cost_rate.present? ? protocol.indirect_cost_rate : t('constants.na')
        - if protocol.is_a?(Study)
          %tr.bg-light
            %td{ colspan: 2 }
              %h6.mb-0
                = t('protocols.form.financial_information.guarantor_header')
          %tr
            %td.w-25
              = label :protocol, :guarantor_contact, class: 'mb-0'
            %td.w-75
              = protocol.guarantor_contact.present? ? protocol.guarantor_contact : t('constants.na')
          %tr
            %td.w-25
              = label :protocol, :guarantor_email, class: 'mb-0'
            %td.w-75
              = protocol.guarantor_email.present? ? protocol.guarantor_email : t('constants.na')
          %tr
            %td.w-25
              = label :protocol, :guarantor_phone, class: 'mb-0'
            %td.w-75
              = protocol.guarantor_phone.present? ? format_phone(protocol.guarantor_phone) : t('constants.na')

        - if protocol.federally_funded?
          = render 'protocols/view_details/federal_grant_information', protocol: protocol
