-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%section.pt-3#researchInvolving
  .card
    .card-header.bg-primary.text-white
      %h3.mb-0
        = t('protocols.form.research_involving.header')
    %table.table.mb-0
      %tbody
        %tr
          %td{ colspan: 2 }
            .row
              .col-3<
                = protocol.research_types_info.human_subjects? ? icon('fas', 'check text-success mr-1') : icon('fas', 'times text-danger mr-1')
                = label :research_types_info, :human_subjects, class: 'mb-0'
              .col-3<
                = protocol.research_types_info.vertebrate_animals? ? icon('fas', 'check text-success mr-1') : icon('fas', 'times text-danger mr-1')
                = label :research_types_info, :vertebrate_animals, class: 'mb-0'
              .col-3<
                = protocol.research_types_info.investigational_products? ? icon('fas', 'check text-success mr-1') : icon('fas', 'times text-danger mr-1')
                = label :research_types_info, :investigational_products, class: 'mb-0'
              .col-3<
                = protocol.research_types_info.ip_patents? ? icon('fas', 'check text-success mr-1') : icon('fas', 'times text-danger mr-1')
                = label :research_types_info, :ip_patents, class: 'mb-0'
        - if protocol.research_types_info.human_subjects?
          = render 'protocols/view_details/research_involving/human_subjects', protocol: protocol
        - if protocol.research_types_info.vertebrate_animals?
          = render 'protocols/view_details/research_involving/vertebrate_animals', protocol: protocol
        - if protocol.research_types_info.investigational_products?
          = render 'protocols/view_details/research_involving/investigational_products', protocol: protocol
        - if protocol.research_types_info.ip_patents?
          = render 'protocols/view_details/research_involving/ip_patents', protocol: protocol
