-# Copyright © 2011-2018 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-primary
  .panel-heading
    %h5
      %strong
        = t(:protocols)[:studies][:information][:header]
  %table.table
    %tbody
      - if Setting.get_value("research_master_enabled")
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:summary][:research_master_id]
            .col-lg-8
              - if protocol.research_master_id.nil?
                = t(:protocols)[:summary][:na_research_master_id]
              - else
                = protocol.research_master_id
      %tr.row
        %td
          %label.col-lg-4{ title: t(:protocols)[:tooltips][:short_title], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            = t(:protocols)[:studies][:information][:short_title]
          .col-lg-8
            = protocol.short_title
            = display_rmid_validated_protocol(protocol, t('protocols.summary.rmid_short_title'))
      %tr.row
        %td
          %label.col-lg-4{ title: t(:protocols)[:tooltips][:title], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            = t(:protocols)[:studies][:information][:title]
          .col-lg-8
            = protocol.title
            = display_rmid_validated_protocol(protocol, t('protocols.summary.rmid_title'))
      %tr.row
        %td
          %label.col-lg-4{ title: t(:protocols)[:tooltips][:funding_status], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            = t(:protocols)[:studies][:information][:funding_status]
          .col-lg-8
            = protocol.funding_status.nil? ? '' : protocol.funding_status.titleize

      / Funding Source
      %tr.row
        %td
          %label.col-lg-4{ title: protocol.funding_status == "funded" ? t(:protocols)[:tooltips][:funding_source] : t(:protocols)[:tooltips][:potential_funding_source], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            - if protocol.funding_status == "funded"
              = t(:protocols)[:studies][:information][:funding_source]
            - else
              = t(:protocols)[:studies][:information][:potential_funding_source]
          .col-lg-8
            = protocol.display_funding_source_value

      / Funding Source Federal
      - if protocol.funding_source == "federal"
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:funding_source_federal][:title]
            .col-lg-8
              = protocol.federal_grant_title
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:funding_source_federal][:code]
            .col-lg-8
              = PermissibleValue.get_value('federal_grant_code', protocol.federal_grant_code_id)
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:funding_source_federal][:phs_sponsor]
            .col-lg-8
              = PermissibleValue.get_value('federal_grant_phs_sponsor', protocol.federal_phs_sponsor)
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:funding_source_federal][:non_phs_sponsor]
            .col-lg-8
              = PermissibleValue.get_value('federal_grant_non_phs_sponsor', protocol.federal_non_phs_sponsor)
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:funding_source_federal][:serial_number]
            .col-lg-8
              = protocol.federal_grant_serial_number

      %tr.row
        %td
          %label.col-lg-4{ title: t(:protocols)[:tooltips][:sponsor_name], data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' } }
            = t(:protocols)[:studies][:information][:sponsor]
          .col-lg-8
            = protocol.sponsor_name
      - if Setting.get_value("use_epic")
        %tr.row
          %td
            %label.col-lg-4
              = t(:protocols)[:studies][:information][:push_to_epic]
            .col-lg-8
              = protocol.selected_for_epic ? t(:constants)[:yes_select] : t(:constants)[:no_select]

      - if display_readonly_study_type_questions?(protocol)
        - if protocol.display_answers{ |as| display_study_type_question?(protocol, as) }
          %tr.row
            %td.row
              %table.table.table-bordered
                %thead.default-header
                  %th
                    %h5.col-lg-12
                      %span{ data: { toggle: 'tooltip', placement: 'right', delay: '{"show":"500"}' }, title: t(:protocols)[:tooltips][:study_type_questions] }
                        = t(:protocols)[:studies][:information][:study_type_questions]
                - protocol.display_answers.each do |answer|
                  - if answer.study_type_question.study_type_question_group.active && protocol.active? && display_study_type_question?(protocol, answer, true)
                    = render partial: 'protocols/view_details/epic_questions_answers', locals: { answer: answer }
                  - elsif !answer.study_type_question.study_type_question_group.active && !protocol.active? && display_study_type_question?(protocol, answer, true)
                    = render partial: 'protocols/view_details/epic_questions_answers', locals: { answer: answer }
              - if Setting.get_value("use_epic") && protocol.selected_for_epic
                = render partial: 'protocols/view_details/study_type_note', locals: { protocol: protocol }         
