-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-default
  .panel-heading
    %h5
      %strong
        = t(:dashboard)[:protocols][:view_details][:projects][:information][:header]
  .panel-body
    .form-group.row
      %label.col-lg-3
        = t(:dashboard)[:protocols][:view_details][:projects][:information][:short_title]
      .col-lg-9
        = protocol.short_title
    .form-group.row
      %label.col-lg-3
        = t(:dashboard)[:protocols][:view_details][:projects][:information][:title]
      .col-lg-9
        = protocol.title
    .form-group.row
      %label.col-lg-3
        = t(:dashboard)[:protocols][:view_details][:projects][:information][:funding_status]
      .col-lg-9
        = protocol.funding_status

    /funding source
    .form-group.row
      %label.col-lg-3
        - if protocol.funding_status == "funded"
          = t(:dashboard)[:protocols][:view_details][:projects][:information][:funding_source]
        - else
          = t(:dashboard)[:protocols][:view_details][:projects][:information][:potential_funding_source]
      .col-lg-9
        = protocol.display_funding_source_value

    .form-group.row
      %label.col-lg-3
        = t(:dashboard)[:protocols][:view_details][:projects][:information][:description]
      .col-lg-9
        = protocol.brief_description

    /indirect cost
    - if USE_INDIRECT_COST
      .form-group.row
        %label.col-lg-3
          = t(:dashboard)[:protocols][:view_details][:projects][:information][:rate]
        .col-lg-9
          = protocol.indirect_cost_rate
