-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
- research_types_info = protocol.research_types_info
- human_info          = protocol.human_subjects_info
- vertebrate_info     = protocol.vertebrate_animals_info
- products_info       = protocol.investigational_products_info
- ip_patent_info      = protocol.ip_patents_info
.panel.panel-default
  .panel-heading
    %h5
      %strong
        = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:header]

  - if research_types_info.human_subjects || research_types_info.vertebrate_animals || research_types_info.investigational_products || research_types_info.ip_patents
    / Human Subjects
    - if research_types_info.human_subjects
      .panel-body
        %table.table.table-striped.table-bordered
          %thead
            %th
              %h5.col-lg-12
                %strong
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:header]
          %tbody
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:nct_number]
                .col-lg-9
                  = human_info.nct_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:hr_number]
                .col-lg-9
                  = human_info.hr_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:pro_number]
                .col-lg-9
                  = human_info.pro_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:record_irb]
                .col-lg-9
                  = human_info.irb_of_record
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:submission_type]
                .col-lg-9
                  = SUBMISSION_TYPES[human_info.submission_type]
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:pending_approval]
                .col-lg-9
                  = human_info.approval_pending ? t(:constants)[:yes_select] : t(:constants)[:no_select]
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:irb_approval_date]
                .col-lg-9
                  = format_date(human_info.irb_approval_date)

            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:humans][:irb_expiration_date]
                .col-lg-9
                  = format_date(human_info.irb_expiration_date)
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:information][:phase]
                .col-lg-9
                  = protocol.study_phase.nil? ? '' : protocol.study_phase.capitalize

    / Vertebrate Animals
    - if research_types_info.vertebrate_animals
      .panel-body
        %table.table.table-striped.table-bordered
          %thead
            %th
              %h5.col-lg-12
                %strong
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:vertebrates][:header]
          %tbody
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:vertebrates][:iacuc_number]
                .col-lg-9
                  = vertebrate_info.iacuc_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:vertebrates][:iacuc_name]
                .col-lg-9
                  = vertebrate_info.name_of_iacuc
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:vertebrates][:iacuc_approval_date]
                .col-lg-9
                  = format_date(vertebrate_info.iacuc_approval_date)
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:vertebrates][:iacuc_expiration_date]
                .col-lg-9
                  = format_date(vertebrate_info.iacuc_expiration_date)

    / Investigational Products
    - if research_types_info.investigational_products
      .panel-body
        %table.table.table-striped.table-bordered
          %thead
            %th
              %h5.col-lg-12
                %strong
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:products][:header]
          %tbody
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:products][:ind_number]
                .col-lg-9
                  = products_info.ind_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:products][:ind_on_hold]
                .col-lg-9
                  = products_info.ind_on_hold ? t(:constants)[:yes_select] : t(:constants)[:no_select]
            - if products_info.exemption_type.present?
              %tr
                %td
                  %label.col-lg-3
                    = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:products][:numbers][products_info.exemption_type.to_sym]
                  .col-lg-9
                    = products_info.inv_device_number

    / IP/Patents
    - if research_types_info.ip_patents
      .panel-body
        %table.table.table-striped.table-bordered
          %thead
            %th
              %h5.col-lg-12
                %strong
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:ip_patents][:header]
          %tbody
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:ip_patents][:number]
                .col-lg-9
                  = ip_patent_info.patent_number
            %tr
              %td
                %label.col-lg-3
                  = t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:ip_patents][:inventors]
                .col-lg-9
                  = ip_patent_info.inventors
  - else
    .panel-body
      = render partial: 'shared/alert', locals: { message: t(:dashboard)[:protocols][:view_details][:studies][:research_involving][:none] }
