-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-default
  .panel-heading
    %h5
      %strong
        = t(:dashboard)[:protocols][:view_details][:studies][:information][:header]
  %table.table
    %tbody
      %tr.row
        %td
          %label.col-lg-3
            = t(:dashboard)[:protocols][:view_details][:studies][:information][:short_title]
          .col-lg-9
            = protocol.short_title
      %tr.row
        %td
          %label.col-lg-3
            = t(:dashboard)[:protocols][:view_details][:studies][:information][:title]
          .col-lg-9
            = protocol.title
      %tr.row
        %td
          %label.col-lg-3
            = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_status]
          .col-lg-9
            = protocol.funding_status.nil? ? '' : protocol.funding_status.capitalize

      / Funding Source
      %tr.row
        %td
          %label.col-lg-3
            - if protocol.funding_status == "funded"
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source]
            - else
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:potential_funding_source]
          .col-lg-9
            = protocol.display_funding_source_value

      / Funding Source Federal
      - if protocol.funding_source == "federal"
        %tr.row
          %td
            %label.col-lg-3
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source_federal][:title]
            .col-lg-9
              = protocol.federal_grant_title
        %tr.row
          %td
            %label.col-lg-3
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source_federal][:code]
            .col-lg-9
              = FEDERAL_GRANT_CODES.key(protocol.federal_grant_code_id)
        %tr.row
          %td
            %label.col-lg-3
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source_federal][:phs_sponsor]
            .col-lg-9
              = FEDERAL_GRANT_PHS_SPONSORS.key(protocol.federal_phs_sponsor)
        %tr.row
          %td
            %label.col-lg-3
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source_federal][:non_phs_sponsor]
            .col-lg-9
              = FEDERAL_GRANT_NON_PHS_SPONSORS.key(protocol.federal_non_phs_sponsor)
        %tr.row
          %td
            %label.col-lg-3
              = t(:dashboard)[:protocols][:view_details][:studies][:information][:funding_source_federal][:serial_number]
            .col-lg-9
              = protocol.federal_grant_serial_number

      %tr.row
        %td
          %label.col-lg-3
            = t(:dashboard)[:protocols][:view_details][:studies][:information][:sponsor]
          .col-lg-9
            = protocol.sponsor_name
      %tr.row
        %td
          %label.col-lg-3
            = t(:dashboard)[:protocols][:view_details][:studies][:information][:push_to_epic]
          .col-lg-9
            = protocol.selected_for_epic ? t(:constants)[:yes_select] : t(:constants)[:no_select]

      / Epic Questions
      - if protocol.selected_for_epic
        %tr.row
          %td.row
            %table.table.table-bordered.table-striped
              %thead
                %th
                  %h5.col-lg-12
                    %strong
                      = t(:dashboard)[:protocols][:view_details][:studies][:information][:study_type_questions]
              - protocol.study_type_answers.each do |answer|
                - if answer.study_type_question.study_type_question_group.active && protocol.active? && answer.answer != nil
                  = render partial: 'dashboard/protocols/view_details/epic_questions_answers', locals: { answer: answer }
                - elsif !answer.study_type_question.study_type_question_group.active && !protocol.active? && answer.answer != nil
                  = render partial: 'dashboard/protocols/view_details/epic_questions_answers', locals: { answer: answer }

