-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.modal-dialog.modal-lg{ role: 'document' }
  .modal-content
    .modal-header
      %h3.modal-title
        = t('dashboard.sub_service_requests.study_level_activities.fulfillments.header', service: line_item.service.display_service_name)
      %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: t('actions.close') } }
        %span{ aria: { hidden: 'true' } } &times;
    .modal-body
      %table#fulfillmentsTable{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', url: dashboard_fulfillments_path(format: :json, ssrid: sub_service_request.id, line_item_id: line_item.id), 'sort-name' => 'fulfillment_date', 'sort-order' => 'asc' } }
        %thead.bg-light
          %tr
            %th{ data: { class: 'fulfillment-date', align: 'left', sortable: 'true', sorter: 'dateSorter', field: 'fulfillment_date' } }
              = Fulfillment.human_attribute_name(:date)
            %th{ data: { class: 'quantity', align: 'left', sortable: 'true', field: 'quantity' } }
              = Fulfillment.human_attribute_name(:time)
            %th{ data: { class: 'qty-type', align: 'left', sortable: 'true', field: 'quantity_type' } }
              = Fulfillment.human_attribute_name(:timeframe)
            %th{ data: { class: 'notes', align: 'center', field: 'notes' } }
              = Note.model_name.plural.capitalize
            %th{ data: { class: 'actions', align: 'center', field: 'actions' } }
              = t('actions.actions')
    .modal-footer
      %button.btn.btn-secondary{ type: 'button', data: { dismiss: 'modal' } }
        = t('actions.close')
      = link_to new_dashboard_fulfillment_path(line_item_id: line_item.id, ssrid: sub_service_request.id), remote: true, class: 'btn btn-success' do
        - succeed t('dashboard.sub_service_requests.study_level_activities.fulfillments.new') do
          = icon('fas', 'plus mr-2')
