-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.alert.alert-warning.rounded-0.mb-0
  %h4.alert-heading.mb-0
    = t(:subsidies)[:pending][:header]
%table.table.table-bordered.table-centered.mb-0.pending-subsidy
  %thead.bg-light
    %tr
      %th
        = Subsidy.human_attribute_name(:request_cost)
      %th
        = Subsidy.human_attribute_name(:subsidy_cost)
      %th
        = Subsidy.human_attribute_name(:percent_subsidy)
      %th
        = Subsidy.human_attribute_name(:pi_contribution)
      %th.text-center
        = t(:actions)[:actions]
  %tbody
    %tr
      %td
        = number_to_currency(subsidy.total_request_cost/100.0)
      %td
        = number_to_currency(subsidy.current_cost)
      %td
        = "#{display_as_percent(subsidy.percent_subsidy)}%"
      %td
        = number_to_currency(subsidy.pi_contribution/100.0)
      %td.text-center<
        .d-flex.justify-content-center
          - if in_dashboard?
            - if admin
              = approve_subsidy_button(subsidy)
            = edit_subsidy_button(subsidy)
            = delete_subsidy_button(subsidy)
          - else
            = edit_subsidy_button(subsidy, srid: service_request.id)
            = delete_subsidy_button(subsidy, srid: service_request.id)
