-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: 
-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

.approved_subsidy
  - if approved.present?
    %h4= "Current Effective Subsidy"
    %table.table.table-condensed#approved_subsidy_table
      %thead
        %tr.default
          %th= "Request Cost at Approval"
          %th= t(:fulfillments)[:subsidies][:percent]
          %th= t(:fulfillments)[:subsidies][:pi]
          %th= "Subsidy Cost"
          %th= "Approved By"
          %th= "Approved At"
      %tbody
        %tr
          %td.approved_request_cost
            = number_to_currency(approved.total_at_approval/100.0)
          %td.subsidy_percent
            = display_as_percent(approved.percent_subsidy)
          %td.subsidy_contribution
            = number_to_currency(approved.pi_contribution/100.0)
          %td.subsidy_effective_current_cost
            = number_to_currency(approved.approved_cost)
          %td.approved_by
            = approved.approver.try(:full_name)
          %td.approved_at
            = format_datetime(approved.approved_at)
  - else
    %span= "There is no current effective subsidy."
  %br
  %br

.pending_subsidy
  - if pending.present?
    - max_percentage = sub_service_request.organization.subsidy_map.max_percentage
    - max_dollar_cap = sub_service_request.organization.subsidy_map.max_dollar_cap
    - instructions = sub_service_request.organization.subsidy_map.instructions
    %table
      %thead
        %tr
          %th= "Subsidy Pending Approval"
        %tr
          %th.text-left= "Current Request Cost"
          %th.text-left= "Percent Subsidy"
          %th.text-left= "PI Contribution"
          %th.text-left= "Subsidy Cost"
      %tbody
        %tr
          %td.request_cost{ data: { subsidy_id: pending.id, cost: pending.total_request_cost }}
            = number_to_currency(pending.total_request_cost / 100.0)
          %td.percent_subsidy
            = text_field_tag "percent_subsidy", display_as_percent(pending.percent_subsidy), { class: "subsidy_input", data: { subsidy_id: pending.id, max_percentage: max_percentage, max_dollar_cap: max_dollar_cap, percent_subsidy: pending.percent_subsidy } }
          %td.pi_contribution
            = text_field_tag "pi_contribution", cents_to_dollars_float(pending.pi_contribution), { class: "subsidy_input", data: { subsidy_id: pending.id, max_percentage: max_percentage, max_dollar_cap: max_dollar_cap, pi_contribution: pending.pi_contribution } }
          %td.subsidy_cost{ data: { subsidy_id: pending.id, cost: pending.current_cost }}
            = number_to_currency(pending.current_cost)
          %td.delete_subsidy
            %button.delete_subsidy_button{ type: "button", data: { subsidy_id: pending.id }}
              %span= "Delete"
    -if instructions
      %table
        %tr
          %th.text-left= t(:organization_form)[:subsidy_instructions]
        %tr
          %td.instructions{data: {subsidy_id: pending.id, instructions: instructions }}
            = instructions
    #submit_error{:style => "display: none"}
      .message
  - else
    %button{ type: "button", class: 'light-blue-button add_subsidy_button btn btn-primary', data: { sub_service_request_id: sub_service_request.id }}
      %span= t(:fulfillments)[:subsidies][:link]
