/ If it has a subsidy display it
/ If it has overridden flag disable the inputs
/ If it has overridden flag pass validation

- if @subsidies.count == 0
  = t("subsidy_page.not_eligible")
-else
  = t("subsidy_page.eligible_html")
  %br
  %br
  %table.subsidies
    %thead
      %tr.table_header
        %th= t("subsidy_page.table.institution")
        %th= t("subsidy_page.table.total_estimated")
        %th= t("subsidy_page.table.pi_contribution")
        %th= t("subsidy_page.table.requested_funding")
        %th= t("subsidy_page.table.subsidy")

    %tbody.subsidies-list
      = fields_for @service_request do |sr_fields|
        = sr_fields.fields_for :sub_service_requests, :include_id => false do |ssr_fields|
          - sub_service_request = ssr_fields.object
          - subsidy = sub_service_request.subsidy
          - next unless @subsidies.include?(subsidy) and (@sub_service_request.nil? or sub_service_request == @sub_service_request)
          = ssr_fields.fields_for :subsidy do |subsidy_fields|
            %tr.subsidy-item
              - direct_cost_total = sub_service_request.direct_cost_total
              - pi_contribution = subsidy.pi_contribution
              - organization = sub_service_request.organization
              %td{:class => "core_#{sub_service_request.id}"}= "#{ssr_institution(organization)} -- #{ssr_provider(organization)} -- #{ssr_program_core(organization)}"
              %td{:class => "estimated_cost_#{sub_service_request.id}", :'data-cost' => direct_cost_total}= currency_converter(direct_cost_total)
              %td
                = ssr_fields.hidden_field :id
                = subsidy_fields.hidden_field :id
                = subsidy_fields.text_field :pi_contribution, :value => (Service.cents_to_dollars(subsidy.pi_contribution.to_s) if not subsidy.pi_contribution.blank?), :"data-id" => subsidy.sub_service_request_id, :"data-max_dollar" => organization.subsidy_map.max_dollar_cap, :"data-max_percent" => organization.subsidy_map.max_percentage, :class => "pi-contribution ssr_#{sub_service_request.id}", :disabled => (subsidy.overridden or (direct_cost_total == 0.0)) ? true : false
              %td{:class => "requested_funding_#{sub_service_request.id}"}= display_requested_funding direct_cost_total, pi_contribution
              %td{:class => "subsidy_percent_#{sub_service_request.id}"}= "#{calculate_subsidy_percentage(direct_cost_total, pi_contribution)}%"
  %br
  .additional-funding
    = t("subsidy_page.request_additional")
    = link_to "sctr.musc.edu", "https://sctr.musc.edu/", :confirm => t("subsidy_page.additional_confirm")
  #submit_error{:style => "display: none"}
    .message


