-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.panel.panel-default#authorized-users-panel
  .panel-heading
    %h4.panel-title
      = t(:dashboard)[:protocols][:authorized_users][:header]
  .panel-body
    .bootstrap-table-dropdown-overflow
      #associated-users-custom-toolbar
        %button.btn.btn-success#new-associated-user-button{ class: permission_to_edit ? "" : "disabled", data: { protocol_id: protocol.id, permission: permission_to_edit.to_s } }
          = t(:dashboard)[:protocols][:authorized_users][:add_user]
      %table#associated-users-table{ data: { toggle: 'table', search: 'true', 'show-columns' => 'true', 'show-refresh' => 'true', 'show-toggle' => 'true', url: dashboard_associated_users_path(format: :json, protocol_id: protocol.id), striped: 'true', toolbar: '#associated-users-custom-toolbar' } }
        %thead.primary-header
          %tr
            %th{ data: { field: 'name', align: 'left', sortable: 'true' } }
              = t(:dashboard)[:protocols][:authorized_users][:name]
            %th{ data: { field: 'role', align: 'left', sortable: 'true' } }
              = t(:dashboard)[:protocols][:authorized_users][:role]
            %th{ data: { field: 'email', align: 'left', sortable: 'false' } }
              = t(:dashboard)[:protocols][:authorized_users][:email]
            %th{ data: { field: 'phone', align: 'left', sortable: 'false' } }
              = t(:dashboard)[:protocols][:authorized_users][:phone]
            %th{ data: { field: 'proxy_rights', align: 'left', sortable: 'true' } }
              = t(:dashboard)[:protocols][:authorized_users][:rights]
            %th{ data: { field: 'edit', align: 'center', sortable: 'false' } }
              = t(:actions)[:edit]
            %th{ data: { field: 'delete', align: 'center', sortable: 'false' } }
              = t(:actions)[:delete]
