-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
.modal-dialog
  .modal-content
    .modal-header
      %button.close{ type: 'button', data: { dismiss: 'modal' } }
        %span{ aria: { hidden: 'true' } } &times;
      %h4.text-center#modal-title
        = header_text
    .modal-body
      #modal_errors
      .row
        .col-lg-12
          .text-center
            %label
              = "#{identity.display_name}"
            %a.btn.btn-xs.btn-danger.glyphicon.glyphicon-remove#new-associated-user-button{ href: "javascript:void(0);", data: { protocol_id: protocol.id, permission: 'true' } }
      %div#protocol_role_data{ data: { pr_id: identity.id, pr_name: identity.full_name, pi_id: current_pi.id, pi_name: current_pi.full_name }}
      = form_for [:dashboard, project_role], url: project_role.new_record? ? dashboard_associated_users_path : dashboard_associated_user_path(project_role), remote: true, html: { class: "protocol_role_form" } do |form|
        = form.hidden_field :identity_id
        = form.hidden_field :protocol_id
        .row
          .col-lg-12
            = form.fields_for :identity do |identity_form|
              .form-group.row.role_dependent.commons_name.do-not-display
                = identity_form.label :era_commons_name, t(:dashboard)[:authorized_users][:era], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.text_field :era_commons_name, class: 'form-control'

              .form-group.row
                = identity_form.label :credentials, t(:dashboard)[:authorized_users][:credentials], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.select :credentials, options_for_select(USER_CREDENTIALS, identity.credentials), { include_blank: t(:dashboard)[:authorized_users][:credentials_prompt] }, class: 'form-control selectpicker'

              .form-group.row.credentials_dependent.other.do-not-display
                = identity_form.label :credentials_other, t(:dashboard)[:authorized_users][:credentials_specify], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.text_field :credentials_other, class: 'form-control'

              .form-group.row
                = identity_form.label :institution, t(:dashboard)[:authorized_users][:institution], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.select :institution, options_for_select((INSTITUTIONS.sort), identity.institution), { include_blank: t(:dashboard)[:authorized_users][:institution_prompt] }, class: 'form-control selectpicker'

              .form-group.row
                = identity_form.label :college, t(:dashboard)[:authorized_users][:college], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.select :college, options_for_select(COLLEGES, identity.college), { include_blank: t(:dashboard)[:authorized_users][:college_prompt] }, class: 'form-control selectpicker'

              .form-group.row
                = identity_form.label :department, t(:dashboard)[:authorized_users][:department], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.select :department, options_for_select(DEPARTMENTS, identity.department), { include_blank: t(:dashboard)[:authorized_users][:department_prompt] }, class: 'form-control selectpicker'

              .form-group.row
                =identity_form.label :phone, t(:dashboard)[:authorized_users][:phone], class: 'col-lg-3 control-label'
                .col-lg-9
                  =identity_form.text_field :phone, class: 'form-control'

              .form-group.row.role_dependent.subspecialty.do-not-display
                = identity_form.label :subspecialty, t(:dashboard)[:authorized_users][:subspecialty], class: 'col-lg-3 control-label'
                .col-lg-9
                  = identity_form.select :subspecialty, options_for_select((SUBSPECIALTIES.sort), identity.subspecialty), { include_blank: t(:dashboard)[:authorized_users][:subspecialty_prompt] }, class: 'form-control selectpicker'

            .form-group.row
              = form.label :role, t(:dashboard)[:authorized_users][:role], class: 'col-lg-3 control-label'
              .col-lg-9
                = form.select :role, options_for_select(USER_ROLES, form.object.role), { include_blank: t(:dashboard)[:authorized_users][:role_prompt] }, class: 'form-control selectpicker'

            .form-group.row.role_dependent.other.do-not-display
              = form.label :role_other, t(:dashboard)[:authorized_users][:role_specify], class: 'col-lg-3 control-label'
              .col-lg-9
                = form.text_field :role_other, class: 'form-control'
            - if USE_EPIC && protocol != nil && protocol.selected_for_epic
              .form-group.row
                = form.label :epic_access, t(:dashboard)[:authorized_users][:epic_access], class: 'col-lg-3 control-label'
                .col-lg-9
                  %label.checkbox-inline
                    No
                  = form.radio_button :epic_access, false, class: 'epic_access'
                  %label.checkbox-inline
                    Yes
                  = form.radio_button :epic_access, true, class: 'epic_access'

            .form-group.row
              - disable = (form.object.role == 'pi' || form.object.role == 'primary-pi')
              = form.label :rights, t(:dashboard)[:authorized_users][:rights][:header], class: 'col-lg-3 control-label'
              .col-lg-9
                .radio
                  %label
                    = form.radio_button :project_rights, "none", disabled: disable
                    %span
                      = t(:dashboard)[:authorized_users][:rights][:none]
                .radio
                  %label
                    = form.radio_button :project_rights, "view", disabled: disable
                    %span
                      = t(:dashboard)[:authorized_users][:rights][:view]
                .radio
                  %label
                    = form.radio_button :project_rights, "request", disabled: disable
                    %span
                      = t(:dashboard)[:authorized_users][:rights][:request]
                .radio
                  %label
                    = form.radio_button :project_rights, "approve", disabled: disable
                    %span
                      = t(:dashboard)[:authorized_users][:rights][:approve]

    .modal-footer
      .center-block
        %button.btn.btn-default#cancel_protocol_rights_button{ type: 'button' }
          = t(:actions)[:close]
        %button.btn.btn-primary#save_protocol_rights_button
          = t(:actions)[:save]
