.user-information-body.ui-corner-bottom
  %p
    = @user.display_name
    |
    = @user.email

= link_to portal_notifications_path, :class => "notifications-link" do
  = image_tag @user.unread_notification_count(@user) >= 1 ? 'portal/notification_white.png' : 'portal/unreadnotification_white.png', :class => 'left'
  .notifications-text.left
    = pluralize(@user.unread_notification_count(@user), t(:protocol_information)[:note_count])
.clear
