:javascript
  $(document).ready( function() {
    Sparc.protocol.ready();
    Sparc.associated_users.ready();
  });

.dashboard-view
  = render 'user_information'
  %p.dash-instructions
  = t(:protocol_information)[:message1]
  %br
  %br
  = t(:protocol_information)[:message2]
  %br
  %br
  %input#search_box.search_protocols{:placeholder => 'Type here to search...', :style => "display:none;"}
  .loading_protocol.ui-corner-all{:style => "border: 1px solid black; padding: 3px; width: 200px; margin: 30px auto; text-align: center"}
    = t(:protocol_information)[:loading]
    %br
    = image_tag 'portal/spinner.gif'
  .search_protocols_div
  #protocol-accordion{:style => 'margin-top:15px;'}

.add-associated-user-dialog
  .user-search-container
    = label_tag 'user_search', 'Search for a user:'
    = text_field_tag 'user_search'
    = image_tag('portal/spinner.gif', :style => "display:none; vertical-align:middle;", :id => 'search-spinner')
  #add-user-form
    =render :partial => "portal/associated_users/new", :locals => {:protocol => @protocol, :protocol_role => ProjectRole.new, :identity => Identity.new}

.edit-associated-user-dialog
.view-sub-service-request-dialog
.permissions-dialog
  = t(:protocol_information)[:rights1]
  %b
    %span.text
      = t(:protocol_information)[:edit]
  = t(:protocol_information)[:rights2]


%input.default_protocol{:type => 'hidden', :value => params.try(:[], :default_protocol) || ''}

:javascript
  $(document).ready(function(){
    var source = "/portal/associated_users/search"
    selected_option = ''
    $('input#user_search').autocomplete({
      source: source,
      minLength: 3,
      search: function(event, ui) {$('#search-spinner').show()},
      open: function(event, ui) {$('#search-spinner').hide()},
      select: function(event, ui) {
        selected_option = ui.item.label
        $.ajax({
          method: 'get',
          url: "/portal/associated_users/new",
          data: {user_id: ui.item.value, protocol_id: $('#add-user-form #protocol_id').val()},
          success: function() {
          }
        })
      },
      close: function() {
        $('input#user_search').autocomplete('disable')
        $('input#user_search').val(selected_option)
        $('input#user_search').autocomplete('enable')
      }
    });
  });
