-# Copyright © 2011 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

:javascript
  $(document).ready( function() {
    Sparc.protocol.ready();
    Sparc.associated_users.ready();
  });

.new_notification_dialog

.dashboard-view
  = render 'user_information'
  %p.dash-instructions= t(:protocol_information)[:message1]
  %p.dash-instructions= t(:protocol_information)[:message2]
  %br

  %input#search_box.search_protocols{:placeholder => 'Search...', :style => "display:none;"}
  = link_to root_path do
    = image_tag 'portal/create_new_request.png', :class => 'portal_create_new_request'
  .loading_protocol.ui-corner-all{:style => "border: 1px solid black; padding: 3px; width: 200px; margin: 30px auto; text-align: center"}
    = t(:protocol_information)[:loading]
    %br
    = image_tag 'portal/spinner.gif'
  .search_protocols_div
  #protocol-accordion{:style => 'margin-top:15px;'}

.add-associated-user-dialog
  .user-search-container
    = text_field_tag 'user_search', nil, placeholder: "Search For A User"
    = image_tag('portal/spinner.gif', :style => "display:none; vertical-align:middle;", :id => 'search-spinner')
  #add-user-form
    =render :partial => "portal/associated_users/new", :locals => {:protocol => @protocol, :protocol_role => ProjectRole.new, :identity => Identity.new}
  .clear

.edit-associated-user-dialog
.view-sub-service-request-dialog
.view-full-calendar-dialog
.permissions-dialog
  = t(:protocol_information)[:rights1]
  %b
    %span.text
      = t(:protocol_information)[:edit]
  = t(:protocol_information)[:rights2]


%input.default_protocol{:type => 'hidden', :value => params.try(:[], :default_protocol) || ''}

:javascript
  $(document).ready(function(){
    var source = "/portal/associated_users/search"
    selected_option = ''
    $('input#user_search').autocomplete({
      source: source,
      minLength: 3,
      search: function(event, ui) {$('#search-spinner').show()},
      open: function(event, ui) {$('#search-spinner').hide()},
      select: function(event, ui) {
        selected_option = ui.item.label
        $.ajax({
          method: 'get',
          url: "/portal/associated_users/new",
          data: {user_id: ui.item.value, protocol_id: $('#add-user-form #protocol_id').val()},
          success: function() {
            Sparc.associated_users.showEpicRights($('.epic_access:checked:visible').val());
          }
        })
      },
      close: function() {
        $('input#user_search').autocomplete('disable')
        $('input#user_search').val(selected_option)
        $('input#user_search').autocomplete('enable')
      }
    });
  });
