-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

%table#billings_list
  %thead
    %tr
      %th.type Type
      %th.created_on Created on
      %th.actions Actions
  %tbody
    - @sub_service_request.cover_letters.each do |cover_letter|
      %tr{ class: cycle('even', 'odd') }
        %td.type Cover Letter
        %td.created_on= cover_letter.updated_at.to_s(:short)
        %td.actions
          = link_to 'Download', study_tracker_sub_service_request_cover_letter_path(@sub_service_request, cover_letter, format: 'pdf')
          = link_to 'Edit', edit_study_tracker_sub_service_request_cover_letter_path(@sub_service_request, cover_letter)

    - @sub_service_request.reports.where(:report_type => 'research_project_summary').each do |research_project_summary_report|
      %tr{ class: cycle('even', 'odd') }
        %td.type Project Summary Report
        %td.created_on= research_project_summary_report.xlsx_updated_at.to_s(:short)
        %td.action
          = link_to 'Download', research_project_summary_report.xlsx.url, id: "report_#{research_project_summary_report.id}"
%p.actions
  = link_to "New cover letter", new_study_tracker_sub_service_request_cover_letter_path(@sub_service_request), :id => 'new_cover_letter'
  = link_to "Project summary report", research_project_summary_report_path(@sub_service_request, format: 'xlsx'), :id => 'research_project_summary_report_in_cwf'

#research_project_summary_report_date_range{:title => "Select a date range"}
  Start
  %br
  = text_field_tag :rps_start_date
  %br
  %br

  End
  %br
  = text_field_tag :rps_end_date
  %br
  %br

  = submit_tag "Continue", :id => :rps_continue
