%table#billings_list
  %thead.ui-widget-header
    %tr
      %th.type Type
      %th.created_on Created on
      %th.actions Actions
  %tbody
    - @sub_service_request.cover_letters.each do |cover_letter|
      %tr{ class: cycle('even', 'odd') }
        %td.type Cover Letter
        %td.created_on= cover_letter.updated_at.to_s(:short)
        %td.actions
          = link_to image_tag('pdficon_small.png') + ' Download', study_tracker_sub_service_request_cover_letter_path(@sub_service_request, cover_letter, format: 'pdf'), class: "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", style: "padding:0.45em 1em 0.45em 0.45em;"
          = link_to 'Edit', edit_study_tracker_sub_service_request_cover_letter_path(@sub_service_request, cover_letter), class: "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", style: "padding:0.45em 1em 0.45em 0.45em;"

    - @sub_service_request.reports.where(:report_type => 'research_project_summary').each do |research_project_summary_report|
      %tr{ class: cycle('even', 'odd') }
        %td.type Research Project Summary Report 
        %td.created_on= research_project_summary_report.xlsx_updated_at.to_s(:short)
        %td.action
          = link_to image_tag('icon-excel-small.gif') + ' Download', research_project_summary_report.xlsx.url, id: "report_#{research_project_summary_report.id}", class: "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only", style: "padding:0.45em 1em 0.45em 0.45em;"
%p.actions
  = link_to "New cover letter", new_study_tracker_sub_service_request_cover_letter_path(@sub_service_request), :class => "ui-button ui-state-default ui-button-text-only", style: "padding:0.45em 1em;"
  = link_to "Research project summary report", research_project_summary_report_path(@sub_service_request), :class => "ui-button ui-state-default ui-button-text-only", style: "padding:0.45em 1em;"
