= nested_form_for @sub_service_request, :url => study_tracker_sub_service_request_path do |f|

  - if @sub_service_request.errors.any?
    #error_explanation
      %h2
        = pluralize(@sub_service_request.errors.count, "error")
        prohibited these payments from being saved:
      %ul
        - @sub_service_request.errors.full_messages.each do |msg|
          %li= msg
  %table#payments_list
    %thead.ui-widget-header
      %tr
        %th.date_submitted= t(:study_tracker)[:payments][:submitted]
        %th.amount_invoiced= t(:study_tracker)[:payments][:amt_invoiced]
        %th.amount_received= t(:study_tracker)[:payments][:amt_received]
        %th.date_received= t(:study_tracker)[:payments][:date_received]
        %th.payment_method= t(:study_tracker)[:payments][:pay_method]
        %th.details= t(:study_tracker)[:payments][:details]
        %th.documents= t(:study_tracker)[:payments][:documents]
        %th.remove
    %tbody
      = f.fields_for :payments, wrapper: false, builder: SparcFormBuilder do |payment_form|
        %tr.fields
          %td.date_submitted= payment_form.datepicker :formatted_date_submitted, size: 10, dateFormat: "m/dd/yy"
          %td.amount_invoiced= payment_form.currency_text_field :amount_invoiced, size: 6
          %td.amount_received= payment_form.currency_text_field :amount_received, size: 6
          %td.date_received= payment_form.datepicker :formatted_date_received, size: 10, dateFormat: "m/dd/yy"
          %td.payment_method= payment_form.select :payment_method, Payment::PAYMENT_METHOD_OPTIONS, prompt: t(:study_tracker)[:payments][:prompt]
          %td.details= payment_form.text_area :details, cols: 20, rows: 2
          %td.documents
            = payment_form.fields_for :uploads, html: { multipart: true } do |upload_form|
              - if upload_form.object.new_record?
                = upload_form.file_field :file
              - else 
                .file_attachment
                  = link_to upload_form.object.file.original_filename, upload_form.object.file.url, class: "filename", target: "_blank"
                  = upload_form.link_to_remove "Remove", confirm: "Are you sure you want to delete this document?", class: "uploads"
            = payment_form.link_to_add "Add document", :uploads, class: "uploads"
          %td.remove= payment_form.link_to_remove "Remove", confirm: "Are you sure you want to delete this payment?", class: "payments"
  %p= f.link_to_add t(:study_tracker)[:payments][:add], :payments, data: { target: '#payments_list tbody' }, class: "payments"
  %p.buttons= t(:study_tracker)[:save], class: 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover ui-state-active'
