- if !(@sub_service_request.one_time_fee_line_items.length >= 1)
  .blank_requests
    = t(:fulfillments)[:services][:no_visits][:no_requests]
- else
  = nested_form_for @sub_service_request, :url => study_tracker_sub_service_request_path do |f|
    #one_time_fee_table
      %table
        %thead
          %tr
            %th= t(:fulfillments)[:services][:no_visits][:selected]
            %th= t(:fulfillments)[:services][:no_visits][:number]
            %th= t(:fulfillments)[:services][:no_visits][:received]
            %th= t(:fulfillments)[:services][:no_visits][:in_process]
            %th= t(:fulfillments)[:services][:no_visits][:complete]
        %tbody
          = f.fields_for :line_items, @sub_service_request.one_time_fee_line_items, wrapper: false do |otf_form|
            %tr.fields
              %td.otf_service_select= otf_form.object.service.name
              %td.otf_text_field= otf_form.text_field :quantity
              %td= otf_form.object.try(:created_at).try(:strftime, '%D')
              %td= otf_form.datepicker :in_process_date, size: 10, dateFormat: "yy/mm/dd"
              %td= otf_form.datepicker :complete_date, size: 10, dateFormat: "yy/mm/dd"
    %p.buttons= f.submit t(:study_tracker)[:save], class: 'ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-state-hover ui-state-active'