= javascript_include_tag 'service_calendar'
= javascript_include_tag 'service_calendar_logic'
//%h4= t(:fulfillments)[:services][:visits][:header]
#per_patient_per_visit_table{:style => "margin: 20px 0 0;"}
  #service_calendar
    %ul
      %li= link_to t(:calendar_page)[:tabs][:template], table_service_request_service_calendars_path(@service_request, :tab => "template", :study_tracker => true, :portal => true) , :id => 'template_tab'
      %li= link_to t(:calendar_page)[:tabs][:billing], table_service_request_service_calendars_path(@service_request, :tab => "billing_strategy", :study_tracker => true, :portal => true), :id => 'billing_strategy_tab'
      %li= link_to t(:calendar_page)[:tabs][:quantity], table_service_request_service_calendars_path(@service_request, :tab => "quantity", :study_tracker => true, :portal => true), :id => 'quantity_tab'
