-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

#subjects
  %br
  %input.search-all-subjects{:type => 'text', :placeholder => "Search Subjects"}
  %br

  = nested_form_for @protocol, :url => study_tracker_protocol_path(@protocol) do |f|
    - search_names = []
    - search_mrns = []
    = hidden_field_tag :sub_service_request_id, @sub_service_request.id
    / = instructions_for 'subjects'
    - if @service_request.errors.any?
      #error_explanation
        %h2
          = pluralize(@service_request.errors.count, "error")
          prohibited these subjects from being saved:
        %ul
          - @service_request.errors.full_messages.each do |msg|
            %li= msg
    = f.fields_for :arms do |arm_form|
      .arm_container{:id => "arm_#{arm_form.object.id}"}
        %h3= arm_form.object.name
        %table.study_tracker_table{:id => "subjects_list_#{arm_form.object.id}"}
          %thead
            %tr
              %th &nbsp;
              %th.subject_name= t(:study_tracker)[:subject_tracker][:name]
              %th.subject_mrn= t(:study_tracker)[:subject_tracker][:mrn]
              %th.subject_id= t(:study_tracker)[:subject_tracker][:id]
              %th.subject_dob= t(:study_tracker)[:subject_tracker][:dob]
              %th.subject_gender= t(:study_tracker)[:subject_tracker][:gender]
              %th.subject_ethnicity= t(:study_tracker)[:subject_tracker][:ethnicity]
          %tbody
            = arm_form.fields_for :subjects, wrapper: false do |subject_form|
              - search_names << {:value => subject_form.try(:object).try(:name), :id => pretty_tag(subject_form.try(:object).try(:name))}
              - search_mrns << {:value => subject_form.try(:object).try(:mrn), :id => subject_form.try(:object).try(:mrn)}
              %tr{:class => "fields subject #{subject_form.try(:object).try(:mrn)} #{pretty_tag(subject_form.try(:object).try(:name))} subject_id_#{subject_form.try(:object).try(:id)}"}
                %td.remove
                  - if subject_form.object.calendar
                    %a{:href => study_tracker_sub_service_request_calendar_path(@sub_service_request, subject_form.object.calendar), :style => "margin:0px;", :title => t(:study_tracker)[:subject_tracker][:schedule]}
                      = image_tag 'calendar_edit.png', :id => "schedule_#{subject_form.object.id}"
                    %a{:href => cwf_subject_report_path(@sub_service_request.id, :arm => arm_form.object.id, :subject => subject_form.object.id, :format => :xlsx), :style => "margin:0px;", :title => t(:study_tracker)[:subject_tracker][:report]}
                      = image_tag 'icon-excel-small.gif'
                  - if !subject_has_completed_appointment?(subject_form.object)
                    = subject_form.link_to_remove image_tag('cancel.png'), confirm: t(:study_tracker)[:subject_tracker][:confirm], title: t(:study_tracker)[:subject_tracker][:delete]
                  - else
                    = image_tag 'cancel.png', :class => 'cwf_subject_delete'
                %td.subject_name.text-center= subject_form.text_field :name, size: 18, id: "subject_#{subject_form.try(:object).try(:id)}_name"
                %td.subject_mrn.text-center= subject_form.text_field :mrn, size: 10, id: "subject_#{subject_form.try(:object).try(:id)}_mrn"
                %td.subject_id.text-center= subject_form.text_field :external_subject_id, size: 8, id: "subject_#{subject_form.try(:object).try(:id)}_id"
                %td.subject_dob.text-center= subject_form.datepicker :dob, size: 13, dateFormat: "yy-mm-dd", changeYear: true, changeMonth: true, yearRange: "-100:"
                %td.subject_gender.text-center= subject_form.select :gender, options_for_select(SUBJECT_GENDERS, subject_form.try(:object).try(:gender)), :include_blank => "--Gender--", id: "subject_#{subject_form.try(:object).try(:id)}_gender"
                %td.subject_ethnicity.text-center= subject_form.select :ethnicity, options_for_select(SUBJECT_ETHNICITIES, subject_form.try(:object).try(:ethnicity)), :include_blank => "--Race--", id: "subject_#{subject_form.try(:object).try(:id)}_ethnicity"
        %p= arm_form.link_to_add t(:study_tracker)[:subject_tracker][:add], :subjects, data: { target: "#subjects_list_#{arm_form.object.id} tbody" }, :id => "subject_tracker_add"
    %p{:style => "text-align:center;"}= f.submit t(:study_tracker)[:save], :id => "subject_tracker_save"

    %input.values_test{:value => (search_names + search_mrns).uniq.to_json, :type => 'hidden'}




-#, id: "subject_#{subject_form.try(:object).try(:id)}_dob"
