#subjects
  = nested_form_for @service_request, :url => study_tracker_service_request_path(@service_request) do |f|
    = hidden_field_tag :sub_service_request_id, @sub_service_request.id
    / = instructions_for 'subjects'
    - if @service_request.errors.any?
      #error_explanation
        %h2
          = pluralize(@service_request.errors.count, "error")
          prohibited these subjects from being saved:
        %ul
          - @service_request.errors.full_messages.each do |msg|
            %li= msg
    = f.fields_for :arms do |arm_form|
      .arm_container{:style => "padding:10px 5px;"}
        %h3= arm_form.object.name
        %table.service_calendar{:id => "subjects_list_#{arm_form.object.id}"}
          %thead.ui-widget-header
            %tr
              %th.subject_name{:style => "padding:6px 8px;"} Subject Name
              %th.subject_mrn MRN
              %th.subject_id ID
              %th.subject_dob Date of Birth
              %th.subject_gender Gender
              %th.subject_ethnicity Ethnicity
              %th &nbsp;
          %tbody
            = arm_form.fields_for :subjects, wrapper: false do |subject_form|
              %tr.fields{:class => "subject_id_#{subject_form.try(:object).try(:id)}"}
                %td.subject_name= subject_form.text_field :name, size: 18
                %td.subject_mrn= subject_form.text_field :mrn, size: 18
                %td.subject_id= subject_form.text_field :external_subject_id, size: 10
                %td.subject_dob= subject_form.text_field :dob, size: 18
                %td.subject_gender= subject_form.select :gender, options_for_select(["Male", "Female", "Owl"], subject_form.try(:object).try(:gender))
                %td.subject_ethnicity= subject_form.text_field :ethnicity, size: 18
                %td.remove
                  %a{:href => "nothin", :class => "ui-button ui-state-default ui-button-text-only", :style => "margin:0px;"}
                    %span.ui-button-text Calendar
                  = subject_form.link_to_remove "Delete", confirm: "Are you sure you want to delete this payment?", :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;"
        %p= arm_form.link_to_add "Add a subject", :subjects, data: { target: "#subjects_list_#{arm_form.object.id} tbody" }, :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;"
    %p{:style => "text-align:center;"}= f.submit "Save", :class => "ui-button ui-state-default ui-button-text-only", :style => "padding:0.45em 1em;"
