#subjects
  = nested_form_for @service_request, :url => study_tracker_service_request_path(@service_request) do |f|
    = hidden_field_tag :sub_service_request_id, @sub_service_request.id
    / = instructions_for 'subjects'
    - if @service_request.errors.any?
      #error_explanation
        %h2
          = pluralize(@service_request.errors.count, "error")
          prohibited these subjects from being saved:
        %ul
          - @service_request.errors.full_messages.each do |msg|
            %li= msg
    .arm_container
      = f.fields_for :arms, wrapper: false do |arm_form|
        %table#subjects_list
          %thead
            %tr
              %th.subject_name Subject Name
              %th.subject_mrn MRN
              %th.subject_id Subject ID
              %th.subject_dob Date of Birth
              %th.subject_gender Gender
              %th.subject_ethnicity Ethnicity
              %th.subject_arm Arm
              %th &nbsp;
          %tbody
            = arm_form.fields_for :subjects, wrapper: false do |subject_form|
              %tr{:class => "subject_id_#{subject_form.try(:object).try(:id)}"}
                %td.subject_name= subject_form.text_field :name
                %td.subject_mrn= subject_form.text_field :mrn
                %td.subject_id= subject_form.try(:object).try(:id)
                %td.subject_dob= subject_form.text_field :dob
                %td.subject_gender= subject_form.text_field :gender
                %td.subject_ethnicity= subject_form.text_field :ethnicity
                %td.subject_arm= arm_form.object.name
                %td
    %p= f.submit "Save"
