-# Copyright © 2011-2016 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

= javascript_include_tag 'jquery.qtip.min'

.admin-right-dashboard
  .user-information-body
    %p
      = @user.full_name
      |
      = @user.email
    .admin-buttons
      = link_to "Back to Clinical Work Fulfillment", study_tracker_root_path, :class => "cwf_return_link"

#information
  #wrapper
    %table#ssr_info
      %thead
        %tr
          %th= t(:admin_dashboard)[:id]
          %th= t(:admin_dashboard)[:pi]
          %th= t(:admin_dashboard)[:requester]
          %th= t(:admin_dashboard)[:short_title]
          %th= t(:admin_dashboard)[:export]
      %tbody
        %tr
          %td
            = "#{@protocol.id}-#{@sub_service_request.ssr_id}"
          %td= @protocol.try(:principal_investigators).try(:first).try(:display_name)
          %td= @sub_service_request.try(:service_request).try(:service_requester).try(:display_name)
          %td= @protocol.try(:short_title)
          %td= link_to t(:admin_dashboard)[:export_link], service_request_path(@sub_service_request.service_request, :format => :xlsx), :class => "export_to_excel_button"
        %tr
          %th= t(:admin_dashboard)[:routing]
          %td
            = text_field_tag "sub_service_request[#{@sub_service_request.id}][routing]", @sub_service_request.routing, :id => 'ssr_routing', :"data-ssr_id" => @sub_service_request.id
            = link_to t(:study_tracker)[:save], "javascript:void();", :id => 'ssr_save'
            %span.routing_message.icon
          %th= t(:admin_dashboard)[:billing_business]
          %td{:colspan => 2}
            = text_field_tag "protocol[#{@protocol.id}][billing_business_manager_static_email]", @protocol.billing_business_manager_email, :id => "protocol_billing_business_manager_static_email", :"data-protocol_id" => @protocol.id
            = link_to t(:study_tracker)[:save], "javascript:void();", :id => 'protocol_billing_business_manager_static_email_save'
            %span.billing_business_message.icon

#study_tracker_tabs.plain_class
  %ul
    %li= link_to t(:study_tracker)[:dashboard][:tabs][:study_schedule], "#study_schedule", :class => 'study_schedule-tab'
    %li= link_to t(:study_tracker)[:dashboard][:tabs][:subject_tracker], "#subject_tracker", :class => 'subject_tracker-tab'
    %li= link_to t(:study_tracker)[:dashboard][:tabs][:study_level_charges], "#study_level_charges", :class => 'study_level_charges-tab'
    %li= link_to t(:study_tracker)[:dashboard][:tabs][:payments], "#payments", :class => 'payments-tab'
    %li= link_to t(:study_tracker)[:dashboard][:tabs][:billing], "#billing", :class => 'billing-tab', :id => 'billing-tab'
    - if @user.admin_organizations({:su_only => true}).include? @sub_service_request.organization
      %li= link_to t(:study_tracker)[:dashboard][:tabs][:audit_reporting], '#audit_reporting'

  #study_schedule
    = render :partial => 'study_schedule'
  #subject_tracker
    = render :partial => 'subject_tracker'
  #study_level_charges
    = render :partial => 'study_level_charges'
  #payments
    = render 'payments'
  #billing
    = render 'billing'
  - if @user.admin_organizations({:su_only => true}).include? @sub_service_request.organization
    #audit_reporting
      = render 'audit_reporting'
