= javascript_include_tag 'reporting'
%br
#reporting_container
  #report_selection
    %h2= t(:reports)[:intro]

    %br
    %br
    = link_to t(:reports)[:defined_reports], 'javascript:void(0);', :class => "reporting_button", :id => "defined_report_link"
    %br
    %br
    %br
    = link_to t(:reports)[:custom_report], 'javascript:void(0);', :class => "reporting_button", :id => "custom_report_link"

  #defined_reports
    #defined_reports_step_1
      #defined_reports_description= t(:reports)[:defined_reports_desc]
      %br
      = form_tag setup_reports_path, :method => :get, :remote => true do
        = select_tag "report", options_for_select($canned_reports.map{|x| [x.constantize.title, x]})
        %br
        %br
        = submit_tag t(:reports)[:proceed] 
        %br
        %br
    #defined_reports_step_2

  #custom_report
