-# Copyright © 2011-2019 MUSC Foundation for Research Development~
-# All rights reserved.~

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:~

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.~

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following~
-# disclaimer in the documentation and/or other materials provided with the distribution.~

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products~
-# derived from this software without specific prior written permission.~

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,~
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT~
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL~
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS~
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR~
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.~

.card#fundingsList
  .card-header.bg-primary.text-white
    %h3.mb-0
      = t('funding.index.header')

  #fundingsTableToolbar
  %table#fundings_table{ data: { toggle: 'table', url: funding_services_path(format: :json), search: 'true', pagination: 'true', page_size: '20', sort_name: 'created', sort_order: 'desc', toolbar: '#fundingsTableToolbar' } }
    %thead.bg-light
      %tr
        %th{ data: { class: 'title', field: "title", align: "left", sortable: 'true' } }
          = t(:funding)[:index][:table][:headers][:title]
        %th{ class: 'program', data: { field: "program", align: "left", sortable: 'true' } }
          = t(:funding)[:index][:table][:headers][:program]
        %th{ class: 'created', data: { field: "created", align: "left", sortable: 'true' , sorter: "dateSorter"  } }
          = t(:funding)[:index][:table][:headers][:created]
        %th{ class: 'action', data: { field: "action", align: "center" } }
          = t(:funding)[:index][:table][:headers][:action]