.nav-item.dropdown.news
  = link_to 'javascript:void(0)', class: 'nav-link dropdown-toggle', id: 'newsDropdown', role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
    = icon('far', 'newspaper fa-2x')
  .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'newsDropdown' } }
    .dropdown-header.d-flex.text-secondary
      %h5.m-0<
        = icon('far', 'newspaper fa-lg mr-2')
        = t('layout.navigation.news.header')
    .dropdown-divider
    - if @news.empty?
      .dropdown-item
        = t('layout.navigation.news.none')
    - else
      - @news.each do |article|
        = link_to article[:link], target: :blank, class: 'dropdown-item text-primary' do
          %h6.m-0<
            = article[:title]
            %br
            %small.text-muted
              = article[:date]
