-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

!!!
%html
  %head
    %title
      = t(:proper)[:header]
    = csrf_meta_tags
    %meta{ charset: 'utf8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag asset_path('favicon.ico')
    = render 'layouts/i18n-js'
  %body.bg-light
    - unless Rails.env.production?
      %h4.alert.alert-danger.rounded-0.text-center.m-0{ role: 'alert' }
        = Rails.env.capitalize
    = render 'layouts/header', location: @location || 'proper'
    = render 'layouts/navbar'
    = yield(:sub_header) if content_for(:sub_header)
    .container-fluid#contentContainer
      - if @protocol
        = hidden_field_tag :protocol_id, @protocol.id, disabled: true
      - if @service_request
        = hidden_field_tag :srid, @service_request.id, disabled: true
      - if @sub_service_request
        = hidden_field_tag :ssrid, @sub_service_request.id, disabled: true
      - unless content_for?(:flash)
        = render 'layouts/flash'
      = content_for?(:content) ? yield(:content) : yield
    = render 'layouts/footer'
    = render 'layouts/back_to_top'
    = render 'layouts/modal'
