!!! 1.1
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t 'application_title'
    = stylesheet_link_tag 'application', '960', 'jquery-ui', :media => 'all'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    // add the service_request_id for easy access to it
    = hidden_field_tag(:service_request_id, @service_request.id) if @service_request
    // load spinner and cancel images so they are cached
    = image_tag 'spinner.gif', :style => 'display:none'
    = image_tag 'cancel.png', :style => 'display:none'
    #container.container
      #header
        #org_logo
          %a{:href => HEADER_LINK_1}
            = image_tag '/assets/org_logo_197x57.png', :alt => 'org_logo'
        #department_title
          %a{:href => HEADER_LINK_2}
            = image_tag "/assets/department_name_460x60.gif", :alt => "department_logo"
        #institution_logo
          %a{:href => HEADER_LINK_3, :target => '_blank'}
            = image_tag '/assets/institution_logo_136x86.gif', :alt => 'institution_logo'
      #welcome_msg= show_welcome_message(current_user)
      #title
        #sub_service_request_header= show_friendly_ssr_id(@sub_service_request) if @sub_service_request
        %h1= t 'application_title' 
      #content.container_12
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        = yield
      = render :partial => 'shared/ask_a_question'
      = render :partial => 'shared/piwik_tracking' if Rails.env == 'production'
