!!! 1.1
%html{"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t 'application_title'
    = stylesheet_link_tag 'application', '960', 'jquery-ui', :media => 'all'
    /[if IE]
      = stylesheet_link_tag 'ie'
    /[if gt IE 7]
      = stylesheet_link_tag 'ie8_plus'
    /[if lte IE 8]
      = stylesheet_link_tag 'ie8_less'
    /[if IE 9]
      = stylesheet_link_tag 'ie9'
      
    = javascript_include_tag "application"
    = javascript_include_tag "feedback"
    = csrf_meta_tags
  %body
    // add the service_request_id for easy access to it
    = hidden_field_tag(:service_request_id, @service_request.id) if @service_request
    // load spinner and cancel images so they are cached
    = image_tag 'spinner.gif', :style => 'display:none'
    = image_tag 'cancel.png', :style => 'display:none'

    #container.container
      #processing_request.ui-corner-all{:style => 'display:none'}
        %br
        = t(:cm_index)[:processing]
        %br
        = image_tag 'spinner.gif'

      #header
        #org_logo
          %a{:href => HEADER_LINK_1}
            = image_tag '/assets/org_logo_197x57.png', :alt => 'org_logo'
        #department_title
          %a{:href => HEADER_LINK_2}
            = image_tag "/assets/department_name_460x60.gif", :alt => "department_logo"
        #institution_logo
          %a{:href => HEADER_LINK_3, :target => '_blank'}
            = image_tag '/assets/institution_logo_136x86.gif', :alt => 'institution_logo'
      #welcome_msg
        .flash
          - flash.each do |name, msg|
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
        .welcome= show_welcome_message(current_user)
      / #title
      / %h1= t 'application_title'
      #sparc_logo_header
        = image_tag('sparc_request_header.jpg')
        #right_header
          %span#sub_service_request_header
            &nbsp;
            = show_friendly_ssr_id(@sub_service_request) if @sub_service_request
      #content.container_12
        = yield
      .clear
      #footer
        .container_12
          = mail_to 'hundc@musc.edu', "Sign Up For the SPARC Request Listserv", :subject => 'SPARC Request Listserv'
          |
          = link_to "SPARC Request Blog", "http://sparcrequestblog.com/", :target => "_blank"
          |
          = link_to "SCTR", "http://sctr.musc.edu", :target => "_blank"
          |
          = link_to "SPARC Request Home", "http://academicdepartments.musc.edu/sctr/sparc_request", :target => "_blank"
      = render :partial => 'shared/piwik_tracking' if Rails.env == 'production'
