-# Copyright © 2011-2019 MUSC Foundation for Research Development
-# All rights reserved.

-# Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

-# 1. Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.

-# 2. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following
-# disclaimer in the documentation and/or other materials provided with the distribution.

-# 3. Neither the name of the copyright holder nor the names of its contributors may be used to endorse or promote products
-# derived from this software without specific prior written permission.

-# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
-# BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
-# SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
-# DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
-# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR
-# TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

- sub_service_requests = service_request.cart_sub_service_requests

.col-12.col-lg-3.pl-lg-0#cart
  .card
    .card-header.bg-primary.text-white.justify-content-between
      %h3.mb-0<
        = icon('fas', 'shopping-cart mr-2')
        = t('proper.cart.header')
    .card-header.p-0.cart-toggles-container
      %nav.nav.d-flex.w-100{ role: 'tablist' }
        = link_to t('proper.cart.tabs.active.header'), '#activeServices', class: 'btn btn-lg btn-link bg-white rounded-0 w-50 cart-toggle active', role: 'tab', data: { toggle: 'tab' }
        = link_to t('proper.cart.tabs.complete.header'), '#completedServices', class: 'btn btn-lg btn-link bg-white rounded-0 w-50 cart-toggle', role: 'tab', data: { toggle: 'tab' }
    .card-body.p-0
      .tab-content
        .tab-pane.fade.show.active.cart-services#activeServices{ role: 'tabpanel' }
          - if sub_service_requests[:active].any?
            = render 'service_requests/cart/cart_sub_service_requests', service_request: service_request, sub_service_requests: sub_service_requests[:active], tab: 'active'
          - else
            %h5.alert.alert-danger.text-center.rounded-0.mb-0
              = t('proper.cart.tabs.active.message')
        .tab-pane.fade.cart-services#completedServices{ role: 'tabpanel' }
          - if sub_service_requests[:complete].any?
            = render 'service_requests/cart/cart_sub_service_requests', service_request: service_request, sub_service_requests: sub_service_requests[:complete], tab: 'complete'
          - else
            %h5.alert.alert-danger.text-center.rounded-0.mb-0
              = t('proper.cart.tabs.complete.message')
